<div class="container-fluid sub-container" id="customers">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/step-loader.gif"/></div>
    <div class="row h-100">
        <div id="sub-header-top">
            <div class="col-12 d-flex inner">
                <div class="col-lg-6 col-md-6 col-sm-12 first d-flex"><span>Manage Customers</span></div>
                <div class="col-lg-6 col-md-6 col-sm-12 second">
                    <mat-form-field class=" bottom-border-field export mt-2">
                    <mat-label>Export</mat-label>
                        <mat-select (selectionChange)="fnExportCustomer($event.value);">
                        <mat-option value="all">All</mat-option>
                        <mat-option value="selected">Selected</mat-option>
                        </mat-select>
                  </mat-form-field>
                  <button (click)="ImportFileUpload()" mat-button appearance="fill" class="import">Import</button>  
                    <button (click)="fnAddNewCustomer()" mat-button appearance="fill" class="blue-btn mt-2">Add Customer</button>
                </div>
               
            </div>
        </div>
        <mat-drawer-container class="w-100">
            <mat-drawer mode="side" opened id="Customer-list" class="pl-0 pr-0" style="width:300px">
                <div class="leftarrow-icon">
                    <mat-icon aria-hidden="false" class="customer-drawer-leftarrow">arrow_back</mat-icon>
                </div>
                <mat-form-field appearance="outline" class="my-2 all-customer-list col-lg-12 col-12 col-md-12">
                    <mat-label>All Customers</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option value="option1">Option 1</mat-option>
                      <mat-option value="option2">Option 2</mat-option>
                      <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                  </mat-form-field>  
                 
                  <div class="searchbox col-lg-12 col-12 col-md-12">
                    <form class="serch_input-appoint">							
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback verticalLine"></span>
                            <input type="text" class="form-control searchbox_appointment " placeholder="Name, Area, Tag">
                        </div>												
                    </form>
                  </div> 
                <div *ngFor="let allCustomers of allCustomers; let i=index" class="d-flex devider-slim pb-2 m-2">
                    <mat-checkbox (change)="fnAddCustomerId($event.checked, allCustomers.id)" class="customer-checkbox"></mat-checkbox>
                    <div (click)="fnSelectCustomer(allCustomers.id)" class="customer-name-width pointer"><div class="customer-name text-uppercase">{{allCustomers.initials}}</div></div>
                    <div (click)="fnSelectCustomer(allCustomers.id)" class="customer-details pointer">
                        <h6>{{allCustomers.fullname}}</h6>
                        <p>{{allCustomers.email}}</p>
                    </div>       
                </div>  
            </mat-drawer>
        
            <mat-drawer-content class="pl-0 pr-0" style="margin-left: 300px;">
                <div *ngIf="newCustomer" id="Add-New-Customer" class="pl-0 pr-0">
                    <mat-card class="mb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <h6>Add New Customer</h6>
                            </div>     
                        </div>   
                        <form [formGroup]="createNewCustomer"> 
                        <div class="row"> 
                            <div class="col-lg-4 col-12 col-md-4">
                                <div class="w-100 d-flex justify-content-center" >
                                    <div class="d-flex profile-img-wrap" (click)="customerImage()">
                                        <img class="add-staff mx-auto"  src="/assets/images/admin/Layer-3.png">
                                        <div class="camera-alt"><i class="material-icons">
                                            camera_alt
                                            </i></div>
                                    </div>
                                    <!-- <div class="d-flex customer-profile-background profile-img-wrap">
                                        <img src="/assets/images/admin/picture.png" class=" mx-auto profile-image">
                                        <div class="camera-alt"><i class="material-icons">
                                            camera_alt
                                            </i></div>
                                    </div> -->
                                </div>
                                <div class="mt-3 text-center">
                                    <button mat-button type="file" appearance="fill" class="profile-uploadbtn">Upload Image</button>
                                </div>
                                <div class="mt-3 text-center">
                                    <button mat-button appearance="fill" class="profile-removebtn mb-2">Remove</button>
                                </div>
                            </div>
                            <div class="col-lg-8 col-12 col-md-8"> 
                                <div class="row">     
                                <div  class="col-lg-12 col-12 col-md-12 bottom-border-field">              
                                    <mat-form-field>
                                        <mat-label>Full Name</mat-label>
                                        <mat-icon class="mr-4" matPrefix>person</mat-icon>
                                        <input matInput formControlName="cus_fullname" placeholder="Enter Your First Name">  
                                    </mat-form-field>  
                                    <span class="error-wrap" *ngIf="createNewCustomer.get('cus_fullname').dirty || createNewCustomer.get('cus_fullname').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_fullname').hasError('required')" class="error">Full Name Is required</small></span>   
                                </div>                       
                                <div class="col-lg-6 col-12 col-md-6 bottom-border-field">     
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <mat-icon class="mr-4" matPrefix>email</mat-icon>
                                        <input matInput formControlName="cus_email" placeholder="Enter Your Email">  
                                    </mat-form-field>  
                                    <span class="error-wrap" *ngIf="createNewCustomer.get('cus_email').dirty || createNewCustomer.get('cus_email').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_email').hasError('required')" class="error">Email Is required</small><small *ngIf="createNewCustomer.get('cus_email').hasError('pattern')" class="error">Invalid Email Address</small><small *ngIf="createNewCustomer.get('cus_email').hasError('isEmailUnique')" class="error">Email address already exist</small></span>  
                            </div>     
                            <div class="col-lg-6 col-12 col-md-6 bottom-border-field">                     
                                <mat-form-field>
                                    <mat-label>Contact Number</mat-label>
                                    <mat-icon class="mr-4" matPrefix>call</mat-icon>
                                    <input matInput formControlName="cus_phone" placeholder="Enter Your number">  
                                </mat-form-field> 
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_phone').dirty || createNewCustomer.get('cus_phone').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_phone').hasError('required')" class="error">Contact Number Is required</small><small *ngIf="createNewCustomer.get('cus_phone').hasError('pattern')" class="error">Contact Number Should in numbers</small><small *ngIf="createNewCustomer.get('cus_phone').hasError('minLength') || createNewCustomer.get('cus_phone').hasError('maxLength')" class="error">Contact Number Should only 10 digits</small></span>       
                            </div>     
                            <div class="col-lg-6 col-12 col-md-6 bottom-border-field"> 
                                <mat-form-field>
                                    <mat-label>Office Phone Number</mat-label>
                                    <mat-icon class="mr-4" matPrefix>format_list_numbered</mat-icon>
                                    <input matInput formControlName="cus_officenumber" placeholder="Enter Your number">  
                                </mat-form-field>  
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_officenumber').dirty || createNewCustomer.get('cus_officenumber').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_officenumber').hasError('pattern')" class="error">Office Phone Should in numbers</small><small *ngIf="createNewCustomer.get('cus_officenumber').hasError('minLength') || createNewCustomer.get('cus_officenumber').hasError('maxLength')" class="error">Office Phone Should only 10 digits</small></span>
                            </div>     
                            <div class="col-lg-6 col-12 col-md-6 bottom-border-field">                            
                                <mat-form-field>
                                    <mat-label>Home Phone Number</mat-label>
                                    <mat-icon class="mr-4" matPrefix>home</mat-icon>
                                    <input matInput formControlName="cus_homenumber" placeholder="Enter Your number">  
                                </mat-form-field>  
                               
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_homenumber').dirty || createNewCustomer.get('cus_homenumber').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_homenumber').hasError('pattern')" class="error">Home Phone Should in numbers</small><small *ngIf="createNewCustomer.get('cus_homenumber').hasError('minLength') || createNewCustomer.get('cus_homenumber').hasError('maxLength')" class="error">Home Phone Should only 10 digits</small></span>
                            </div>     
                            <div class="col-lg-12 col-12 col-md-12 bottom-border-field">    
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <mat-icon class="mr-4" matPrefix>location_on</mat-icon>
                                    <input matInput formControlName="cus_address" placeholder="Enter Your address">  
                                </mat-form-field>  
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_address').dirty || createNewCustomer.get('cus_address').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_address').hasError('required')" class="error">Address Is required</small></span>
                            </div>     
                            <div class="col-lg-4 col-12 col-md-4 bottom-border-field">  
                                <mat-form-field>
                                    <mat-label>State</mat-label>                   
                                    <input matInput formControlName="cus_state" placeholder="">  
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_state').dirty || createNewCustomer.get('cus_state').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_state').hasError('required')" class="error">State Is required</small></span>
                            </div>     
                            <div class="col-lg-4 col-12 col-md-4 bottom-border-field"> 
                                <mat-form-field>
                                    <mat-label>City</mat-label>                    
                                    <input matInput formControlName="cus_city" placeholder="">  
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_city').dirty || createNewCustomer.get('cus_city').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_city').hasError('required')" class="error">City Is required</small></span>
                            </div>     
                            <div class="col-lg-4 col-12 col-md-4 bottom-border-field"> 
                                <mat-form-field >
                                    <mat-label>Zip</mat-label>                   
                                    <input matInput formControlName="cus_zip" placeholder="">  
                                </mat-form-field> 
                                <span class="error-wrap" *ngIf="createNewCustomer.get('cus_zip').dirty || createNewCustomer.get('cus_zip').touched || formSubmitclicked"><small *ngIf="createNewCustomer.get('cus_zip').hasError('required')" class="error">Zipcode Is required</small><small *ngIf="createNewCustomer.get('cus_zip').hasError('pattern')" class="error">Zipcode Should in numbers</small></span> 
                            </div>  
                            <input type="hidden" formControlName="customer_id"> 
                            </div>   
                            </div> 
                        </div>
                        <div class="row">
                            <div class="devider-slim my-3 w-100"></div> 
                            <div class="action-btn">
                                <div class="mx-2">
                                    <button (click)="fnCancelNewCustomer()" mat-button appearance="fill" class="customer-cancel-btn">Cancel</button>
                                </div>
                                <div class="mx-2">
                                    <button mat-button type="submit" appearance="fill" (click)="fnCreateCustomerSubmit()" class="customer-save-btn">Save</button>
                                </div>  
                            </div>    
                        </div>
                        </form>
                    </mat-card>
                </div>
        
                <div *ngIf="fullDetailsOfCustomer && customersDetails != null" id="Customer-Listing" class="pl-0 pr-0">
                    <mat-card class="mb-0">
                        <div class="d-flex m-2 align-items-center">
                            <div class="customerProfile-width">
                                <img class="w-100 h-100 rounded-circle" src="{{customerPersonalDetails.image}}">
                            </div>
                            <div class="customerName-width">
                                <h6>{{customerPersonalDetails.fullname}}</h6>
                                <p>{{customerPersonalDetails.email}}</p>
                            </div>
                            <div class="customer-btn">
                                <div class="mx-2">                                
                                    <button mat-button appearance="fill" class="customer-edit-btn text-center pl-0" (click)="editCustomer(customerPersonalDetails.id)"><mat-icon class="">edit</mat-icon>Edit</button>
                                </div>
                                <div class="mx-2">
                                    <button mat-button appearance="fill" class="customer-delete-btn" (click)="fnDeleteCustomer(customerPersonalDetails.id)"><mat-icon class="">delete</mat-icon> Delete</button>
                                </div> 
                            </div>
                        </div>
                        <mat-tab-group>
                            <mat-tab id="Details" label="Details">
                               <div class="d-flex my-3">
                                   <div class="mobileNo-width">
                                       <h6>Mobile</h6>
                                       <p>{{customerPersonalDetails.phone}}</p>
                                   </div>
                                   <div class="officeNo-width">
                                    <h6>Office</h6>
                                    <p>{{customerPersonalDetails.phone_office}}</p>
                                </div>
                                <div class="homeNo-width">
                                    <h6>Home</h6>
                                    <p>{{customerPersonalDetails.phone_home}}</p>
                                </div>
                               </div>
                               <div class="devider-slim"></div> 
                               <div class="my-3">
                                    <div>
                                        <h6>Address</h6>
                                        <p>{{customerPersonalDetails.address}}</p>
                                    </div>
                                </div>
                                <div class="devider-slim"></div> 
                                <div class="d-flex my-3">
                                    <div class="tag-container">
                                        <div class="d-flex">
                                            <h6 class="mr-2">Tags</h6>
                                            <mat-icon (click)="fnAddNewTag('TagInput')" class="add-tag-icon pointer">add_circle</mat-icon>                                      
                                        </div>
                                        <mat-form-field class="w-100 bottom-border-field">
                                            <mat-chip-list #chipList aria-label="Tag selection">
                                              <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">{{tag}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                              </mat-chip>
                                              <input #TagInput [disabled]="(!addNewTag)" placeholder="New tags.."
                                                     [matChipInputFor]="chipList"
                                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                     [matChipInputAddOnBlur]="addOnBlur"
                                                     (matChipInputTokenEnd)="add($event)">
                                            </mat-chip-list>
                                        </mat-form-field>
                                    </div>
                                    <div class="tag-save">
                                        <button (click)="fnSaveTags(customerPersonalDetails.id)" mat-button appearance="fill" class="save-btn"><i class="material-icons">save</i></button>
                                    </div>
                                </div>
                            <div class="devider-slim"></div> 
                            <div class="d-flex my-3">
                                <div class="registration">
                                    <h6>Registration</h6>

                                    
                                    <p>{{customerPersonalDetails.created_at}} Created By {{customerPersonalDetails.created_by}}</p>
                                </div>
                                <div class="lastBookedAppoint">
                                 <h6>LAST BOOKED APPOINTMENT </h6>
                                 <p>18 Sep 2019, 02:25 pm</p>
                             </div>
                             <div class="lastBookedService">
                                 <h6>LAST BOOKED SERVICE</h6>
                                 <p>Hair Cut (Salon)</p>
                             </div>
                            </div>
                            <div class="devider-slim"></div> 
                            </mat-tab>
                            <mat-tab id="Appointments" label="Appointments">
                                <div class="d-flex">
                                    <button (click)="newCustomerAppointment()" class="Add-Appointment my-2" mat-button>Add Appointment</button>
                                </div>
                                <div class="devider-slim"></div> 
                                <div *ngIf="customerAppoint != ''" class="Customer-appointment-table">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Staff</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let customerAppoint of customerAppoint; let i=index" class="devider-slim">
                                            <td scope="row">{{customerAppoint.booking_date}}</td>
                                            <td>{{customerAppoint.booking_time}}</td>
                                            <td>{{customerAppoint.service.service_name}}</td>
                                            <td>{{customerAppoint.staff.firstname}} {{customerAppoint.staff.lastname}}</td>
                                            <td>$.{{customerAppoint.total_cost}}</td>
                                            <td>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'P'">Waiting For Confirmation</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'AC'">Confirm</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'RSA'">Rescheduled By Admin</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'RSS'">Rescheduled By Staff</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'RSC'">Rescheduled By Customer</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'R'">Rejected</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'OW'">On The Way</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'WS'">Work Started</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'ITR'">Interrupted</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'CO'">Completed</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint.order_status == 'CC'">Cancelled By Customer</p>
                                                <p class="text-capitalize" *ngIf="customerAppoint
                                                .order_status == 'C'">Cancelled</p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                                <div *ngIf="customerAppoint == ''" class="Customer-appointment-table">
                                    <h2 class="text-center py-3">No Appointments Available</h2>
                                </div>
                            </mat-tab>
                            <mat-tab label="Notes"> 
                                <div class="d-flex my-3">
                                    <h6 class="notes">Notes</h6> 
                                    <div class="d-flex ml-auto">
                                        <button (click)="newAddNote(customerPersonalDetails.id)" class="Add-Note-btn"  mat-button>Add Note</button>
                                    </div>
                                </div>
                                <div *ngIf="customerNotes == ''" class="addNotes">
                                    <div class="Add-notes-background d-flex justify-content-center flex-wrap align-items-center">
                                        <div class="d-flex justify-content-center flex-wrap">
                                            <div>
                                                <mat-icon aria-hidden="false" class="addnote-icon w-auto h-auto" aria-label="note-add-icon">note_add</mat-icon>
                                            </div>
                                            <div class="text-center w-100" (click)="newAddNote(customerPersonalDetails.id)">
                                                <a class="addnote-link"><mat-icon aria-hidden="false" aria-label="note-add icon">add</mat-icon>Add Notes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex"  *ngIf="customerNotes != ''">
                                    <div *ngFor="let customerNotes of customerNotes; let i=index" class=" col-lg-4">
                                        <mat-card class="NoteMatcard">
                                            <div class="d-flex">
                                                <h6>{{customerNotes.note_subject}}</h6>
                                                <div class="d-flex ml-auto">
                                                    <mat-icon (click)="newAddNote(customerPersonalDetails.id,i)" class="add-note-subject-icon" aria-hidden="false">edit</mat-icon>
                                                    <mat-icon class="add-note-subject-icon ml-2" aria-hidden="false">delete</mat-icon>
                                                </div>
                                            </div>
                                            <div class="py-3">
                                                <p>{{customerNotes.note_decreption}}</p>
                                            </div>
                                            <div class="d-flex">
                                                <div class=" d-flex ml-auto">
                                                    <p class="" >{{customerNotes.created_at}}</p>
                                                </div>
                                            </div>
                                        </mat-card>
                                    </div>                              
                                </div>
                            </mat-tab>
                            <mat-tab label="Payments">
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Service</th>
                                        <th scope="col">Mode</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td scope="row">25 Oct 2019</td>
                                        <td>08:15 am</td>
                                        <td>Repainting</td>
                                        <td>Cash</td>
                                        <td>$.2680.00</td>
                                        <td>paid</td>
                                        <td class="">
                                            <mat-icon class=" ml-2" aria-hidden="false">picture_as_pdf</mat-icon>
                                            <mat-icon class=" ml-2" aria-hidden="false">print</mat-icon>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td scope="row">---</td>
                                        <td>---</td>
                                        <td>Repainting</td>
                                        <td>---</td>
                                        <td>$.3000.00</td>
                                        <td>pending</td>
                                        <td class="">
                                            <mat-icon class=" ml-2" aria-hidden="false">picture_as_pdf</mat-icon>
                                            <mat-icon class=" ml-2" aria-hidden="false">print</mat-icon>
                                        </td>
                                      </tr>
                                      <tr class="border-bottom">
                                        <td scope="row">25 Oct 2019</td>
                                        <td>08:15 am</td>
                                        <td>Repainting</td>
                                        <td>Online</td>
                                        <td>$.4500.00</td>
                                        <td>paid</td>
                                        <td>
                                            <mat-icon class=" ml-2" aria-hidden="false">picture_as_pdf</mat-icon>
                                            <mat-icon class=" ml-2" aria-hidden="false">print</mat-icon>
                                        </td>
                                      </tr>                                      
                                    </tbody>
                                  </table>  
                                  
                                <!-- <div *ngIf="customerNotes == null" class="">
                                    <h2 class="text-center py-3">No Notes Available</h2>
                                </div> -->
                                  <!--  payment 2nd module  --> 
                                  <div class="">
                                    <div class="row mx-0">
                                        
                                        <div class="col-lg-8 col-md-8 col-12 col-sm-12">
                                            <h6 class="pb-4 Customer-payment">Payment</h6>
                                            <div class="searchbox col-lg-6 col-12 col-md-6 pb-2">
                                                <h6>Amount</h6>
                                                <div class="form-group has-search">
                                                    <span class="fa fa-search form-control-feedback"></span>
                                                    <input type="text" class="form-control" placeholder="3000.00">
                                                </div> 
                                            </div>
                                            <div class="searchbox col-lg-6 col-12 col-md-6  pb-2">
                                                <h6>Discount</h6>
                                                    <div class="form-group has-search ">
                                                        <span class="fa fa-search form-control-feedback"></span>
                                                        <input type="text" class="form-control" placeholder="Enter Discount">
                                                    </div> 
                                                </div>
                                            <div class=" pb-3 col-lg-6 col-12 col-md-6">
                                                <h6 for="comment">Type</h6>
                                                <div class="form-check-inline ">
                                                    <label class="form-check-label">
                                                      <input type="radio" class="form-check-input" name="optradio">Cash
                                                    </label>
                                                </div>
                                                  <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                      <input type="radio" class="form-check-input" name="optradio">Online
                                                    </label>
                                                  </div>
                                            </div>
                                            <div>
                                                <div class="form-group col-lg-6 col-12 col-md-6">
                                                    <h6 for="comment">Note</h6>
                                                    <textarea class="form-control" rows="3" id="comment" placeholder="Enter Payment Note"></textarea>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                                            <div class="main-border">
                                                <div class="p-3">
                                                    <div>
                                                        <h6 class="mb-0">25 Oct 2019</h6>
                                                        <p class="small-font">Booked On:01 sep 2019 @ 12:07 pm</p>
                                                    </div>
                                                    <div class="pt-2">
                                                        <p class="small-font">Service </p>
                                                        <h6>Repainting,<small>(wall painting)</small></h6>
                                                    </div>
                                                    <div class="pt-2">
                                                        <p class="small-font">Time</p>
                                                        <h6>08:15 am - 08:50 am <small>(35 min)</small></h6>
                                                    </div>
                                                    <div class="d-flex pt-2">
                                                        <div class="OrderBy-width">
                                                            <p class="small-font">Order By</p>
                                                            <h6>Admin</h6>
                                                        </div>
                                                        <div class="Status-width">
                                                            <p class="small-font">Status</p>
                                                            <h6>Pending</h6>
                                                        </div>
                                                        <div class="Staff-width">
                                                            <p class="small-font">Staff</p>
                                                            <h6>----</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="subtotal p-3">
                                                    <h6 class="pb-1 ">Sub Total $.</h6>
                                                    <h6 class="pb-1">Tax (18%) $.</h6>
                                                    <h6 class="mb-0">Discount $.</h6>
                                                </div>
                                                <div class="Total p-3">
                                                    <h6 class="">total $.</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="devider-slim"></div> 
                                        <div class="action-btn my-3">
                                            <div class="mx-2">
                                                <button mat-button appearance="fill" class="customer-cancel-btn">Cancel</button>
                                            </div>
                                            <div class="mx-2">
                                                <button (click)="newPaymentNote()" mat-button appearance="fill" class="customer-pay-btn">Pay</button>
                                            </div>  
                                        </div> 
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Review">
                                <div *ngIf="customerReviews != ''">
                                <div *ngFor="let customerReviews of customerReviews; let i=index" class="devider-slim pb-2 my-2">
                                    <div class="d-flex">
                                        <div class="d-flex statick-rating w-100" *ngIf="customerReviews.rating != null">
                                            <div class="star-rating">
                                              <input type="radio" [checked]="customerReviews.rating == 5" id="5-stars_{{customerReviews.id}}" name="rating_{{customerReviews.id}}" value="5" />
                                              <label for="5-stars_{{customerReviews.id}}" class="star">&#9733;</label>
                                              <input type="radio" [checked]="customerReviews.rating == 4"  id="4-stars_{{customerReviews.id}}" name="rating_{{customerReviews.id}}" value="4" />
                                              <label for="4-stars_{{customerReviews.id}}" class="star">&#9733;</label>
                                              <input type="radio" [checked]="customerReviews.rating == 3" id="3-stars_{{customerReviews.id}}" name="rating_{{customerReviews.id}}" value="3" />
                                              <label for="3-stars_{{customerReviews.id}}" class="star">&#9733;</label>
                                              <input type="radio" [checked]="customerReviews.rating == 2" id="2-stars_{{customerReviews.id}}" name="rating_{{customerReviews.id}}" value="2" />
                                              <label for="2-stars_{{customerReviews.id}}" class="star">&#9733;</label>
                                              <input type="radio" [checked]="customerReviews.rating == 1" id="1-star_{{customerReviews.id}}" name="rating_{{customerReviews.id}}" value="1" />
                                              <label for="1-star_{{customerReviews.id}}" class="star">&#9733;</label>
                                            </div>   
                                          </div>
                                        <div class="py-2 ml-auto">
                                            <button mat-button appearance="fill" class="view-btn" (click)="viewReviewDetail()"><mat-icon aria-hidden="false">visibility</mat-icon>View</button>
                                        </div>
                                    </div>
                                    <div>
                                        <h6>{{customerReviews.rating_title}}</h6>
                                        <p>{{customerReviews.review}}</p>
                                    </div>
                                </div>
                                </div>
                                <div *ngIf="customerReviews == ''" class="">
                                    <h2 class="text-center py-3">No Reviews Available</h2>
                                </div>
                            </mat-tab>
                          </mat-tab-group>
                    </mat-card>
                </div>
        

            </mat-drawer-content>
          </mat-drawer-container>

    </div>
</div>
