// .max-width-94{
//     max-width: 94%;
//     margin: 0 auto;
// }
.example-container{
    .devider-slim{
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    #Customer-list{
        background-color: #f2f2f2;
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
            padding: 10px 0 10px 10px;
        }
        ::ng-deep  .mat-form-field-infix {
            border-top: unset;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper{
            transform: inherit;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
            background-color: white;
            border-radius: 5px;
        }
        .leftarrow-icon{
            // margin-left: auto;
            display: flex;
            .customer-drawer-leftarrow{
                padding: 4px 8px;
                height: auto;
                width: auto;
                text-align: center;
                background-color: #dedede;
                 margin-left: auto;
            }
        }
        
        .all-customer-list{
            // width: 60%;
        }
        .all-action-list{
            // width: 60%;
        }
        p{
            margin-bottom: 0px;
        }
        h6{
            margin-bottom: 0px;;
        }
        .searchbox{
            // width: 60%;  
            .serch_input-appoint{           
                height: 39px; 
                padding-top: 3px; 
                .has-search .form-control {
                    padding-left: 2.375rem;
                    }
                    .has-search .form-control-feedback {
                        position: absolute;
                        z-index: 2;
                        display: block;
                        width: 2.375rem;
                        height: 1rem;
                        line-height: 2rem;
                        text-align: center;
                        pointer-events: none;
                        color: black;
                        .has-search .form-control-feedback .verticalLine{
                            &:after {
                                content: "";
                                position: absolute;
                                top: 58%;
                                right: 0;
                                width: 1px;
                                height: 100%;
                                background: #f2f2f2;
                            }
                        } 
                    }
                    ::placeholder {         
                        font-size: 12px;
                    }                        
                    .searchbox_appointment{
                        border-radius: 20px;
                        height: 33px;
                        background-color: #f2f2f2;
                    }          
            }                   
        }
        .customer-checkbox{
            line-height: 3;
            width: 7%;
        }
        .customer-name-width{
            width: 13%;
            margin-right: .5rem!important;
            .customer-name{
                background-color:#00c6ff;
                border-radius: 50%;
                padding: 10px;          
                width: 45px;
                height: 45px;
                text-align: center;
            }
        }        
        .customer-details{
            width: 80%;
        }
    }
    #Add-New-Customer{
        .customer-profile-background{
            background-color: #e8e8e8;
            padding: 30px;
            width: 110px;
            height: 110px;
            border-radius: 80px;
            .profile-image{
                width: 50px;
                height: 50px;
            }
        }
        .profile-uploadbtn{
            width: 165px;
            height: 51px;
            border-radius: 4px;
            background-color: #f87812;
            border: 2px solid #f87812;
            color: white;
        }
        .profile-removebtn{
            width:167px;
            height: 51px;
            border-radius: 4px;
            background-color: #bcbcbc;
            border: 2px solid #bcbcbc;
            color: white;
        }
        .customer-cancel-btn{
            width: 100px;
            height: 39px;
            border-radius: 7px;
            background-color: #dddddd;
        }
        .customer-save-btn{
            width: 109px;
            height: 39px;
            border-radius: 7px;
            background-color: #1173f4;
        }
        
        .action-btn{
            margin-left: auto;
            display: flex;
        }
    }
}


#Customer-Listing{
    .devider-slim{
        width: 100%;
        border-bottom: 1px solid #ccc;
    }
    p{
        margin-bottom: 0px;
    }
    .mat-icon{
        color: blue;
        font-size: 23px;
        line-height: 0.8;
    }
    .customerProfile-width{
        width: 15%;
    }
    .customerName-width{
        width: 60%;
    }
    .customer-btn{
        margin-left: auto;
        display: flex;
        .customer-edit-btn{
            width: 103px;
            height: 41px;
            border-radius: 21px;
            background-color: #1173f4;
            color: white;
        }
        .customer-delete-btn{
            width: 129px;
            height: 41px;
            border-radius: 21px;
            background-color: #c5c5c5;
        }
    }
    .mobileNo-width{
        width: 20%;
    }
    .officeNo-width{
        width: 20%;
    }
    .homeNo-width{
        width: 60%;
    }
    .registration{
        width: 27%;
    }
    .lastBookedAppoint{
        width: 35%;
    }
    .lastBookedService{
        width: 38%;
    }
   
}

