<div class="content-main work-space-main" id="my-work-space">
    <div (click)="fnUploadDashBG()" class="dash-ng-image-upload">
        <img src="../../../assets/images/images-interface-symbol.png" />
    </div>
    <div class="bg-image" [ngStyle]="{'background-image':'url(' + dashBGImage+ ')'}"></div>
    <div class="loader-main" *ngIf="isLoader">
        <img src="../../../assets/images/sc-loader.svg" /></div>
    <div class="container">
        <!-- <div class=" col-lg-3 col-md-12 col-sm-12 text-white">&nbsp;  </div> -->
        <div class="justify-content-center timeframe-main offset-lg-3 col-lg-6 col-md-12 col-sm-12 text-white">
            <div class="d-flex  cal-icon-main">
                <h1 class="">Today</h1>
                <div class="beside-icon">
                    <img mat-card-avatar class="customer-profile-img text-center mr-2" src="../../assets/images/Icon-awesome-calendar-alt.svg">
                    <h4 class="">{{todayDate}}</h4>
                </div>
            </div>

            <div class="work-service-bg-main">
                <div *ngIf="todayAppointmentData != ''" class="service-background">
                    <div *ngFor="let todayAppointmentData of todayAppointmentData; let i=index" class="customer-background single-booking pb-2 left-time-main" [ngClass]="{'active':activeBooking === i}" (click)="fnBookingActive(i)">
                        <span>{{todayAppointmentData.booking_time}}</span>
                        <div class="pl-3 pt-3">
                            <p class="mb-0 work-space-font" *ngIf="todayAppointmentData.timeToService >= 0">In {{todayAppointmentData.timeToService}} hours</p>
                            <p class="mb-0 work-space-font" *ngIf="todayAppointmentData.timeToService < 0">Service Time Gone</p>
                            <h5>{{todayAppointmentData.service.service_name}}</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2 icon-color-wrap" aria-hidden="true"></i>
                                <p class="work-space-font custom-font-weight">{{todayAppointmentData.booking_time}}</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2 icon-color-wrap" aria-hidden="true"></i>
                                <p class="work-space-font custom-font-weight ">{{todayAppointmentData.customer.fullname}}</p>
                            </div>
                            <div class="money">
                                <!-- <p class="work-space-font ">$ {{todayAppointmentData.total_cost}}</p> -->
                                <p class="work-space-font custom-font-weight" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ todayAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</p>
                                <p class="work-space-font custom-font-weight" *ngIf="currencySymbolPosition=='right'">{{ todayAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}</p>
                            </div>
                        </div>
                        <div class="pl-3 c-name-main">
                            <div class="d-flex align-items-center">
                                <div class="customer-profile-width">
                                    <p class="customer-name-profile">{{todayAppointmentData.customer.customerShortName}}</p>
                                </div>
                                <div class="customer-name-width">
                                    <p class="mb-0 work-space-font custom-font-weight pl-2">{{todayAppointmentData.customer.fullname}}</p>
                                    <p class="work-space-font pl-2">{{todayAppointmentData.customer.phone}}</p>
                                </div>
                            </div>
                            <div class="pr-3 Details-button-width">
                                <button mat-button *ngIf="todayAppointmentData.order_status == 'CNF'" class="Details-button" (click)="changeBookingStatus(todayAppointmentData.id, 'AC')">Accept</button>
                                <button mat-button *ngIf="todayAppointmentData.order_status == 'CNF'" class="Details-button" (click)="changeBookingStatus(todayAppointmentData.id, 'R')">Reject</button>
                                <button mat-button class="Details-button" (click)="todayAppointmentDetail(i)">Details</button>
                            </div>
                        </div>
                        <div class="line ml-1 mr-1" style="background-color:#ffffff0f;"></div>
                    </div>
                </div>
                <div *ngIf="todayAppointmentData == ''" class="service-background">
                    <h2 class="text-center my-2">No Booking Today</h2>
                </div>

            </div>
        </div>
    </div>
</div>