@import "variables";
#my-work-space {
    position: relative;
    .bg-image {
        background-image: url("/assets/images/backgrounds/my_work_space_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    .dash-ng-image-upload {
        position: fixed;
        left: 40px;
        bottom: 20px;
        width: 40px;
        height: auto;
        z-index: 99;
        cursor: pointer;
    }
    .timeframe-main {
        // padding-left: 50px;
    }
    .work-space-font {
        font-size: 12px;
    }
    .custom-font-weight{
        font-weight: 600;
    }
    .icon-size {
        font-size: 1.5rem;
    }
    .Time {
        width: 25%;
    }
    .customer-name {
        width: 58%;
    }
    .money {
        width: 15%;
    }
    .service-background {
        // background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
        // background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
        // background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
        // border-radius: 10px 10px;
        padding: 19px 19px 14px 19px;
        /*border-radius: 10px 10px;
        border: 20px solid #ffffff6e;*/
        border-radius: 0px;
        background-color: #b9c1c1cf;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .line {
            background-color: #ffffff52;
            height: 1px;
            margin: 10px 0;
        }
    }
}

.work-space-main {
    .container {
        display: flex;
        .justify-content-center {
            .cal-icon-main {
                margin-top: 125px;
                background-color: #eaf7f6;
                align-items: center;
                padding: 15px 17px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                h1 {
                    font-weight: 500;
                    padding-bottom: 0px;
                    text-align: left;
                    font-size: 21px;
                    color: #000;
                    margin-bottom: 0px;
                }
                .beside-icon {
                    display: flex;
                    width: 189px;
                    align-items: center;
                    h4 {
                        margin-bottom: 0;
                        color: #000;
                        font-weight: 500;
                        font-size: 18px;
                        margin-bottom: 0px;
                    }
                    img {
                        height: 24px;
                        width: 24px;
                        margin-top: 0px;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
.work-service-bg-main{
    .icon-color-wrap{
        color: #00a89b;
    }
}
.left-time-main {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        border: 0.5px solid #000000c2;
        left: -9%;
        top: 23%;
        height: 70%;
        opacity: 0.5;
    }
    span {
        position: absolute;
        left: -12%;
        font-size: 11px;
        top: 14px;
        color: #000;
        font-weight: 600;
    }
}

.single-booking {
    cursor: pointer;
    margin-left: 60px;
    color: #000;
    &.active {
        .c-name-main {
            display: flex !important;
        }
        &.customer-background {
            // background-color: rgba(4, 57, 127, 0.584);
            border-bottom: 0;
            border-radius: 4px 4px;
            background-color: #ffda53;
            color: #000;
            margin-left: 60px;
            .customer-profile-width {
                .customer-name-profile {
                    background-color: white;
                    border-radius: 50%;
                    /*width: 10%;*/
                    padding: 10px;
                    // color: #79b2fd;
                    color: #000;
                    text-align: center;
                    font-weight: 600;
                }
            }
            .customer-name-width {
            }
            .Details-button-width {
                display: block;
                margin-left: auto;
                .Details-button {
                    background: #f04589;
                    border-radius: 3px;
                    /*padding: 0px 24px;*/
                    color: white;
                    line-height: 2;
                    margin: 4px;
                    // border: 1px solid white;
                    padding: 0 16px;
                }
            }
        }
    }
    .c-name-main {
        display: none !important;
    }
}

::ng-deep .tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #eee;
    width: 350px;
}

::ng-deep .booking-detail-main {
    .compdetailfs {
        font-size: $fs-14;
    }
    .customer-profile-img {
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background-color: #f04589;
        color: white;
        text-align: center;
        padding: 14px;
        line-height: 1.5;
        display: block;
        margin: 10px;
    }
    .staffaddress {
        font-size: 13px;
        .bluephone {
            color: #1172f4;
        }
        .bluemap {
            color: #1172f4;
        }
    }
    .customer-name {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 645px) and (orientation: portrait) {
    .customer-name {
        width: 100% !important;
    }
    .money {
        width: 100% !important;
    }
    .Time {
        width: 100% !important;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .work-space-main {
        .container {
            .service-background {
                .c-name-main {
                    display: flex !important;
                    flex-direction: column;
                    .d-flex {
                        width: 100%;
                    }
                    .Details-button-width {
                        width: 100%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .work-space-main {
        .container {
            display: unset;
            .justify-content-center {
                .cal-icon-main {
                    margin-top: 10px !important;
                }
            }
        }
    }
}

/*Image Upload*/

::ng-deep .file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    .image-upload-wrap {
        margin-top: 20px;
        border: 2px dashed #03a9f4;
        position: relative;
        padding: 30px 0;
        .fileuploadinput {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
            margin-top: -30px;
        }
    }
    .drag-text {
        text-align: center;
        h6 {
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .imgbtn {
        margin: 15px auto;
        display: table;
        padding: 8px 16px;
        border-radius: 50px;
    }
}

.profile-img-wrap {
    border-radius: 100%;
    height: 120px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
    &:hover .camera-alt {
        transition: 0.3s all;
        display: flex;
    }
    .customer-profile-img {
        width: 100%;
        height: 100%;
    }
    .camera-alt {
        display: none;
        position: absolute;
        top: 0;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: #00000070;
        justify-content: center;
        align-items: center;
        i {
            font-size: 45px;
            width: auto;
            color: #ffffff;
        }
    }
}

::ng-deep .upload-preview-img {
    max-width: 200px;
    margin: 0 auto;
    display: table;
}

/* Image Upload Dialog */

::ng-deep .modal-info {
    margin: 0 !important;
    .modal-bcolor-primary {
        background-color: #d9f0fe;
        // padding-bottom: 0px;
        .header-margins {
            padding: 0;
        }
    }
    ::ng-deep .modal-body {
        .work-content {
            text-align: center;
            padding-left: 10px;
            .form-control {
                padding-bottom: 11px;
                padding-top: 11px;
                height: 31px;
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
}
