#my-work-space {
  background-image: url("../../../assets/images/backgrounds/my_work_space_bg.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120%;
  background-position: 60% 7%;
}

#my-work-space .timeframe-main {
  padding-left: 50px;
}

#my-work-space .work-space-font {
  font-size: 12px;
}

#my-work-space .icon-size {
  font-size: 1.5rem;
}

#my-work-space .Time {
  width: 25%;
}

#my-work-space .customer-name {
  width: 58%;
}

#my-work-space .money {
  width: 15%;
}

#my-work-space .service-background {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(20%, rgba(255, 255, 255, 0.2)), color-stop(30%, rgba(255, 255, 255, 0.1)), color-stop(35%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.1) 30%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px 10px;
  padding: 19px 19px 14px 19px;
  /*border-radius: 10px 10px;
        border: 20px solid #ffffff6e;*/
}

#my-work-space .service-background .customer-background {
  background-color: #04397f95;
  /*border: 16px solid #6a77d38a;*/
  border-bottom: 0;
  border-radius: 10px 10px;
}

#my-work-space .service-background .customer-background .customer-profile-width .customer-name-profile {
  background-color: white;
  border-radius: 50%;
  /*width: 10%;*/
  padding: 10px;
  color: #79b2fd;
  text-align: center;
}

#my-work-space .service-background .customer-background .Details-button-width {
  display: block;
  margin-left: auto;
}

#my-work-space .service-background .customer-background .Details-button-width .Details-button {
  background: none;
  border-radius: 50px 50px;
  /*padding: 0px 24px;*/
  color: white;
  line-height: 2;
  margin: 4px;
  border: 1px solid white;
}

#my-work-space .service-background .line {
  background-color: #ffffff52;
  height: 1px;
}

.work-space-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-space-main .container .justify-content-center .cal-icon-main {
  margin-top: 80px;
}

.work-space-main .container .justify-content-center .cal-icon-main img {
  height: 40px;
  width: 40px;
  margin-top: 8px;
  border-radius: 0;
}

.work-space-main .container .justify-content-center .cal-icon-main .beside-icon h4 {
  margin-bottom: 0;
  color: #fff;
  font-weight: normal;
}

.work-space-main .container .justify-content-center .cal-icon-main .beside-icon h1 {
  font-weight: normal;
  padding-bottom: 20px;
}

.left-time-main {
  position: relative;
}

.left-time-main:before {
  content: "";
  position: absolute;
  border: 0.5px solid #fff;
  left: -8%;
  top: 5%;
  height: 90%;
  opacity: 0.2;
}

.left-time-main span {
  position: absolute;
  left: -12%;
  font-size: 11px;
  top: -11px;
}

@media only screen and (max-width: 645px) and (orientation: portrait) {
  .customer-name {
    width: 100% !important;
  }
  .money {
    width: 100% !important;
  }
  .Time {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .work-space-main .container .service-background .c-name-main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-space-main .container .service-background .c-name-main .d-flex {
    width: 100%;
  }
  .work-space-main .container .service-background .c-name-main .Details-button-width {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .work-space-main .container {
    display: unset;
  }
  .work-space-main .container .justify-content-center .cal-icon-main {
    margin-top: 10px !important;
  }
}
/*# sourceMappingURL=my-work-space.component.css.map */