<div class="content-main work-space-main" id="my-work-space">
    <div class="container">
        <!-- <div class=" col-lg-3 col-md-12 col-sm-12 text-white">&nbsp;  </div> -->
        <div class="justify-content-center timeframe-main offset-lg-3 col-lg-6 col-md-12 col-sm-12 text-white">
            <div class="d-flex flex-wrap text-white cal-icon-main">
                <img mat-card-avatar class="customer-profile-img text-center mr-2" src="../../assets/images/calendar-work-space.png">
                <div class="beside-icon">
                	<h4 class="">11 SEP 2019</h4>
                	<h1 class="">Today</h1>
                </div>	
            </div>

            <div class="work-service-bg-main">
                <div class="service-background">
                    <div class="customer-background pb-2 left-time-main">
                        <span>12:00pm</span>
                        <div class="pl-3 pt-3">
                            <p class="mb-0 work-space-font">16 hours ago</p>
                            <h5>Sample Service</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font">12:00 pm</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font ">Customer Name</p>
                            </div>
                            <div class="money">
                                <p class="work-space-font ">$.500.00</p>
                            </div>
                        </div>
                        <div class="pl-3 d-flex c-name-main">
                            <div class="d-flex">
                                <div class="customer-profile-width">
                                    <p class="customer-name-profile">CN</p>
                                </div>
                                <div class="customer-name-width">
                                    <p class="mb-0 work-space-font pl-3">Customer Name</p>
                                    <p class="work-space-font pl-3">9874563210</p>
                                </div>
                            </div>
                            <div class="pr-4 Details-button-width">
                                <button mat-button class="Details-button">Details</button>
                            </div>
                        </div>
                        <div class="line ml-1 mr-1" style="background-color:#ffffff0f;"></div>
                    </div>
                    <div class="left-time-main">
                        <span>03:00pm</span>
                        <div class="pl-3 pt-2">
                            <p class="mb-0 work-space-font ">12 hours ago</p>
                            <h5>Sample Service</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font">12:00 pm</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font ">Customer Name</p>
                            </div>
                            <div class="money">
                                <p class="work-space-font ">$.500.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="line mb-1"></div>
                    <div class="left-time-main">
                        <span>04:30pm</span>
                        <div class="pl-3 pt-2">
                            <p class="mb-0 work-space-font">10 hours ago</p>
                            <h5>Sample Service</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font">12:00 pm</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font ">Customer Name</p>
                            </div>
                            <div class="money">
                                <p class="work-space-font ">$.500.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="left-time-main">
                        <span>04:30pm</span>
                        <div class="pl-3 pt-2">
                            <p class="mb-0 work-space-font">10 hours ago</p>
                            <h5>Sample Service</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font">12:00 pm</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font ">Customer Name</p>
                            </div>
                            <div class="money">
                                <p class="work-space-font ">$.500.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="left-time-main">
                        <span>04:30pm</span>
                        <div class="pl-3 pt-2">
                            <p class="mb-0 work-space-font">10 hours ago</p>
                            <h5>Sample Service</h5>
                        </div>
                        <div class="d-flex flex-wrap pl-3">
                            <div class="d-flex Time">
                                <i class="fa fa-clock-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font">12:00 pm</p>
                            </div>
                            <div class="d-flex customer-name">
                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
                                <p class="work-space-font ">Customer Name</p>
                            </div>
                            <div class="money">
                                <p class="work-space-font ">$.500.00</p>
                            </div>
                        </div>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>
</div>