
<div id="Main">
    <div class="container-fluid pl-0 custom-padding-wrap">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0 left-img-wrap">
                <div class="left-col-image-wrap">
                    <img src="../../assets/images/login-banner.svg" class="img-fluid w-100" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 pl-0 custom-wrap-center right-content-col">
                <div class="right-col-wrap">
                    <div class="logo-wrap">
                        <img src="../../assets/images/logo-black.svg" alt="logo">
                    </div>
                    <div class="heading-text-wrap">
                        <h4>Welcome to Schedulic!</h4>
                        <p>Already have an account?<a (click)="login()">Sign in</a></p>
                    </div>
                    <div class="form-field-main">
                        <form [formGroup]="resetPasswordForm" >
                            <div class="input-group-meta mb-4">
                                <label>Password</label>
                                <input formControlName="NewPassword" placeholder="Enter Password" [type]="hide ? 'password' : 'text'"
                                    class="ng-untouched input-wrap ng-pristine ng-invalid">
                                <span class="placeholder_icon valid-sign">
                                    <mat-icon class="pointer" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </span>
                                <span class="error-wrap" *ngIf="resetPasswordForm.get('NewPassword').dirty || resetPasswordForm.get('NewPassword').touched"><small *ngIf="resetPasswordForm.get('NewPassword').hasError('required')" class="error">Password is required.</small><small *ngIf="resetPasswordForm.get('NewPassword').hasError('minlength') || resetPasswordForm.get('NewPassword').hasError('maxlength')" class="error">Password should  minimum 8 maximum 12 characters.</small></span>
                            </div>
                            <div class="input-group-meta mb-4">
                                <label>Confirm Password</label>
                                <input formControlName="ReNewPassword" placeholder="Confirm password" [type]="hide1 ? 'password' : 'text'"
                                    class="ng-untouched input-wrap ng-pristine ng-invalid">
                                <span class="placeholder_icon valid-sign">
                                    <mat-icon class="pointer" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </span>
                                <span class="error-wrap" *ngIf="resetPasswordForm.get('ReNewPassword').dirty || resetPasswordForm.get('ReNewPassword').touched">
                                    <small *ngIf="resetPasswordForm.get('ReNewPassword').hasError('required') && resetPasswordForm.hasError('notSame')" class="error text-left">Confirm password is required.</small>
                                    <small *ngIf="!resetPasswordForm.get('ReNewPassword').hasError('required') && resetPasswordForm.hasError('notSame')" class="error text-left">Passwords do not match.</small>
                                </span>
                            </div>
                            <div class="sign-btn">
                                <button mat-button color="primary" (click)="fnSubmitResetPassword()">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="copyright-text">
                        <p>© Copyright 2021 Schedulic. A Product of Weberr Technologies Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>