<div fxLayout="row wrap" fxLayoutGap="2%" *ngIf="!dataLoaded" fxLayoutAlign="center center" class="full-height">
      <mat-spinner [diameter]="50"></mat-spinner>
      <span>Fetching data...</span>
</div>

<div *ngIf="dataLoaded" fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="login-screen"> 
  <div fxFlex="40" fxFlex.lt-md="40" fxFlex.lt-sm="90" class="card-wrap">
    <mat-card class="example-card login-card p-0">
      <!-- <mat-card-header>
        <mat-card-title>Welcome!</mat-card-title>
        <mat-card-subtitle>Please log in to get started.</mat-card-subtitle>
      </mat-card-header> -->

      <mat-card-content class="login-container">
        <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center" id="login-form" class="left-side p-4 ">
          <form [formGroup]="loginForm" class="w-75">  
            <div class="page-icon">
              <img src="assets/images/reset-pwd.png" />
            </div>      
            <mat-card-title>
              <h2 class="text-center text-white">Reset Your Password</h2>
            </mat-card-title>

            <div class="input-wrap my-3">
              <input type="password" formControlName="NewPassword" placeholder="Enter New Password" class="common-input form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <!-- <div mat-icon-button matSuffix  class="icon-cust-pass">
                <mat-icon  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div> -->
              <!-- <small *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </small> -->
            </div>
            <div class="input-wrap my-3">
              <input type="password" formControlName="ReNewPassword" placeholder="Re-Enter New Password" class="common-input form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <!-- <div mat-icon-button matSuffix  class="icon-cust-pass">
                <mat-icon  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div> -->
              <!-- <small *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </small> -->
            </div>
            <div class="input-wrap my-3 text-center">
              <button type="submit" color="primary" [disabled]="loading" (click)="onSubmit()" class="common-btn text-white w-75 buttion-but" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  Reset Password
              </button>
            </div> 
          </form>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>         
        
         