<div fxLayout="row wrap" fxLayoutGap="2%" *ngIf="!dataLoaded" fxLayoutAlign="center center" class="full-height">
    <mat-spinner [diameter]="50"></mat-spinner>
    <span>Fetching data...</span>
</div>

<div *ngIf="dataLoaded" fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="login-screen">
    <div fxFlex="50" fxFlex.lt-md="50" fxFlex.lt-sm="90" class="card-wrap">
        <mat-card class="example-card login-card p-0">
            <!-- <mat-card-header>
        <mat-card-title>Welcome!</mat-card-title>
        <mat-card-subtitle>Please log in to get started.</mat-card-subtitle>
      </mat-card-header> -->

            <mat-card-content class="login-container">
                <div fxFlex="100" fxFlex.lt-sm="100" fxLayoutAlign="center center" id="login-form" class="left-side p-4 ">
                    <form [formGroup]="resetPasswordForm" class="w-75">
                        <div class="page-icon">
                            <img src="assets/images/reset-pwd.png" />
                        </div>
                        <mat-card-title>
                            <h2 class="text-center text-white ff-trebuchet">Reset Your Password</h2>
                        </mat-card-title>

                        <div class="input-wrap my-3">
                            <input type="password" formControlName="NewPassword" placeholder="Enter New Password" class="common-input form-control" />
                            <span class="error-wrap" *ngIf="resetPasswordForm.get('NewPassword').dirty || resetPasswordForm.get('NewPassword').touched || formSubmitclicked"><small *ngIf="resetPasswordForm.get('NewPassword').hasError('required')" class="error text-center">Password is required</small></span>
                        </div>
                        <div class="input-wrap my-3">
                            <input type="password" formControlName="ReNewPassword" placeholder="Re-Enter New Password" class="common-input form-control" />
                            <span class="error-wrap" *ngIf="resetPasswordForm.get('ReNewPassword').dirty || resetPasswordForm.get('ReNewPassword').touched || formSubmitclicked"><small *ngIf="resetPasswordForm.get('ReNewPassword').hasError('required')" class="error text-center">Confirm password is required.</small></span>
                        </div>
                        <span class="error-wrap"><small *ngIf="resetPasswordForm.hasError('notSame')" class="error text-center">Passwords do not match.</small></span>
                        <div class="input-wrap my-3 text-center">
                            <button type="submit" color="primary" [disabled]="loading" (click)="fnSubmitResetPassword()" class="common-btn text-white w-75 buttion-but">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  Reset Password
              </button>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>