.main-card-container{
    p{
        font-size: 14px;
        color: #565657;
        font-weight: 400;
    }
}
.selected-plan {
    background-color: #eaf7f6;
    color: #000;
    pointer-events: none;
    .selected-plan-btn {
        background-color: #fff;
        color: #00A89B;
    }
    
}
.bg-wrap{
    background-color: #eaf7f6;
    padding: 15px;
    border-radius: 4px;
    .plan-name{
        font-weight: 600!important;
        padding: 3px 0px 15px 0px!important;
    }
}
.paln-business-staff .row{
    flex-direction: column;
    .custom-col-wrap{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        span{
            margin-left: 5px;
            color: #565657;
            font-size: 15px;
            font-weight: 500;
        }
        p{
            color: #565657;
            font-weight: 500!important;
            font-size: 15px;
        }
    }
}
.subscribe-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 3px 0px 3px!important;
    .subscribe-btn-wrap{
        background-color: #f04589;
    }
    .selected-plan-btn{
        background-color: #ffe482;
        color: #222;
        padding: 0px 40px;
    }
    .plan-cost{
        font-size: 14px;
        i{
            font-size: 16px;
            color: #000;
            margin-left: -20px;
        }
        .cost{
            font-size: 16px;
            font-weight: 600;
        }
        .months-wrap{
            color: #777;
        }
    }
}
.current-plan-detail {
    display: flex;
    justify-content: space-between;
    background-color: #fff4ca;
    box-shadow: unset!important;
    margin-bottom: 0px!important;
    h3 {
        text-align: left;
        margin-bottom: 0px;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #777;
        font-weight: 500;
        span {
            font-weight: 600;
            color: #000;
        }
    }
    .date-wrap-detail{
        display: flex;
    }
    label {
        text-align: left;
        width: 100%;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        color: #777;
        font-weight: 500;
        span {
            font-weight: 600;
            color: #000;
        }
    }
    .action-btn {
        display: flex;
        .cancel-btn {
            color: #fff;
            margin-left: auto;
            background-color: #ff5a5a;
        }
    }
}