<mat-drawer-content id="billing" class="ml-0">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/sc-loader.svg" /></div>
    <div class="left-side-menu setting-menu" [ngClass]="{ 'short-menu': settingSideMenuToggle === true }">
        <div class="leftarrow-icon d-flex align-items-center">
            <h6 class="mb-0">Resource Management</h6>
            <span (click)="fnSettingMenuToggleSmall()" *ngIf="!settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer material-icons-outlined">arrow_circle_left</span>
            <span (click)="fnSettingMenuToggleLarge()" *ngIf="settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer material-icons-outlined">arrow_circle_right</span>
        </div>
        <div routerLink="/admin/settings-resource" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/service.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/service-active.svg" />
            </div>
            <p>Services</p>
        </div>
        <div routerLink="/admin/settings-resource/staff" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/staff.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/staff-active.svg" />
            </div>
            <p>Staff</p>
        </div>
        <div routerLink="/admin/settings-resource/business-hours" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-hours.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-hours-active.svg" />
            </div>
            <p>Business Hours</p>
        </div>
        <div routerLink="/admin/settings-resource/postalcode" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/postal-code.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/postal-code-active.svg" />
            </div>
            <p>Postal Codes</p>
        </div>
        <h6 class="pt-3">Account</h6>
        <div routerLink="/admin/settings-account/company-details" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-detail.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-detail-active.svg" />
            </div>
            <p>Business Details</p>
        </div>
        <h6 class="pt-3">Payment</h6>
        <div routerLink="/admin/settings-payment/billing" class="d-flex setting-menu-item setting-menu-active">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/billing.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/billing-active.svg" />
            </div>
            <p>Billing</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-gateway" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/payment-gateway.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/payment-gateway-active.svg" />
            </div>
            <p>Payment Gateway</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/payment-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/payment-rules-active.svg" />
            </div>
            <p>Payment Rules</p>
        </div>
        <h6 class="pt-3">General Setting</h6>
        <div routerLink="/admin/settings-general/appearance" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/appearance.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/appearance-active.svg" />
            </div>
            <p>Appearance</p>
        </div>
        <div routerLink="/admin/settings-general/booking-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/booking-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/booking-rules-active.svg" />
            </div>
            <p>Booking Rules</p>
        </div>
        <div routerLink="/admin/settings-general/alert-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/alert-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/alert-rules-active.svg" />
            </div>
            <p>Alert Rules</p>
        </div>
    </div>
    <div class="setting-right-side-content without-footer" [ngClass]="{ 'short-content-area': settingSideMenuToggle === true }">
        <div class="main-card-container mb-0 py-4 px-4">
            <h5 class="page-title">Subscription Plans</h5>
            <p class="page-des">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <mat-card *ngIf="currentUser.plan" class="current-plan-detail row mx-0">
                <h3>Current Plan :
                    <span>{{currentUser.plan.plan_name}}</span>
                </h3>
                <div class="col-12 col-md-6 date-wrap-detail">
                    <label>Start Date : <span>{{currentUser.currentPlan.start_date}}</span></label>
                    <label>End Date : <span>{{currentUser.currentPlan.end_date}}</span></label>
                </div>
                <div class="action-btn">
                    <button mat-button class="cancel-btn" (click)="fnCancelPlane();">Cancel Subscription</button>
                </div>
            </mat-card>
            <div class=" plan-content ">
                <div class="row">
                    <div class="col-4 p-3 text-center" *ngFor="let planList of planList; let i=index;">
                        <div class=" bg-wrap" [ngClass]="{'selected-plan':planList.selected === true}">
                            <div class="plan-name py-2 text-center text-capitalize font-weight-bold">
                                {{planList.plan_name}}
                            </div>
                            <hr class="m-0">
                            <!-- <hr class="m-0"> -->
                            <div class="paln-business-staff pt-3">
                                <div class="row">
                                    <div class="col-12 custom-col-wrap">
                                        <!-- <i class="fa fa-briefcase pr-2"></i><span>Business</span> -->
                                        <span>Business</span>
                                        <p *ngIf="planList.business_limit" class="font-weight-bold">{{planList.business_limit}}</p>
                                        <p *ngIf="!planList.business_limit" class="font-weight-bold">--</p>
                                    </div>
                                    <div class="col-12 custom-col-wrap">
                                        <!-- <i class="fa fa-id-card pr-2"></i> <span>Staff</span> -->
                                        <span>Staff</span>
                                        <p *ngIf="planList.staff_limit" class="font-weight-bold">{{planList.staff_limit}}</p>
                                        <p *ngIf="!planList.staff_limit" class="font-weight-bold">--</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="m-0"> -->
                            <div class="paln-business-staff ">
                                <div class="row">
                                    <div class="col-12 custom-col-wrap">
                                        <!-- <i class="fa fa-users pr-2"></i> <span>Customers</span> -->
                                        <span>Customers</span>
                                        <p *ngIf="planList.customer_limit" class="font-weight-bold">{{planList.customer_limit}}</p>
                                        <p *ngIf="!planList.customer_limit" class="font-weight-bold">--</p>
                                    </div>
                                    <div class="col-12 custom-col-wrap">
                                        <!-- <i class="fa fa-bookmark pr-2"></i> <span>Services</span> -->
                                        <span>Services</span>
                                        <p *ngIf="planList.service_limit" class="font-weight-bold">{{planList.service_limit}}</p>
                                        <p *ngIf="!planList.service_limit" class="font-weight-bold">--</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0">
                            <div class="subscribe-btn text-center py-3">
                                <div class="plan-cost py-2 text-center">
                                    <i class="fa  fa-usd pr-1"></i> <span class="cost pr-2">{{planList.amount}}/-</span><br><span class="months-wrap">per {{planList.interval}}</span>
                                </div>
                                <button *ngIf="planList.selected == true" mat-flat-button class="selected-plan-btn">Selected</button>
                                <button *ngIf="planList.selected == false && selectedPlanCode" (click)="fnChangePlan(planList.plan_id)" mat-flat-button class="subscribe-btn-wrap" color="primary">Subscribe Now</button>
                                <button *ngIf="planList.selected == false && !selectedPlanCode" (click)="fnActivatePlan(planList.plan_id)" mat-flat-button class="subscribe-btn-wrap" color="primary">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-drawer-content>