<mat-drawer-content id="paymentgateway" class="ml-0">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/sc-loader.svg" /></div>
    <div class="left-side-menu setting-menu" [ngClass]="{ 'short-menu': settingSideMenuToggle === true }">
        <div class="leftarrow-icon d-flex">
            <mat-icon (click)="fnSettingMenuToggleSmall()" *ngIf="!settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer">arrow_back</mat-icon>
            <mat-icon (click)="fnSettingMenuToggleLarge()" *ngIf="settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer">arrow_forward</mat-icon>
        </div>
        <h6>Resource Management</h6>
        <div routerLink="/admin/settings-resource" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/service.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/service-color.png" />
            </div>
            <p>Services</p>
        </div>
        <div routerLink="/admin/settings-resource/staff" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/staff.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/staff-color.png" />
            </div>
            <p>Staff</p>
        </div>
        <div routerLink="/admin/settings-resource/business-hours" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-hours.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-hours-color.png" />
            </div>
            <p>Business Hours</p>
        </div>
        <div routerLink="/admin/settings-resource/postalcode" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/postalcode.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/postalcode-color.png" />
            </div>
            <p>Postal Codes</p>
        </div>
        <h6 class="pt-3">Account</h6>
        <div routerLink="/admin/settings-account/company-details" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/companydetails.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/companydetails-color.png" />
            </div>
            <p>Business Details</p>
        </div>
        <h6 class="pt-3">Payment</h6>
        <div routerLink="/admin/settings-payment/billing" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/billing.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/billing-color.png" />
            </div>
            <p>Billing</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-gateway" class="d-flex setting-menu-item setting-menu-active">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/paymentgateway.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/paymentgateway-color.png" />
            </div>
            <p>Payment Gateway</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/paymentrules.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/paymentrules-color.png" />
            </div>
            <p>Payment Rules</p>
        </div>
        <h6 class="pt-3">General Setting</h6>
        <div routerLink="/admin/settings-general/appearance" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/appearance.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/appearance-color.png" />
            </div>
            <p>Appearance</p>
        </div>
        <div routerLink="/admin/settings-general/booking-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/bookingrules.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/bookingrules-color.png" />
            </div>
            <p>Booking Rules</p>
        </div>
        <div routerLink="/admin/settings-general/alert-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/alert.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/alert-color.png" />
            </div>
            <p>Alert Rules</p>
        </div>
    </div>
    <div class="setting-right-side-content without-footer" [ngClass]="{ 'short-content-area': settingSideMenuToggle === true }">
        <div class="payment-gateways">
            <h5>Payment Gateways</h5>
            <div class="row mx-0">
                <div *ngFor="let gateway of gatewayList; let i=index;" class="col-md-6 col-sm-12">
                    <form #gatewayFrom="ngForm" (submit)="onSubmitPaymentGateway(gatewayFrom,gateway.gateway_type,gateway.is_default?gateway.is_default:0,gateway.payment_code ? gateway.payment_code : '' )">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="row w-100 align-items-center no-gutters justify-content-between">
                                            <div class="col-6">
                                                <div class="w-100"><img src="/assets/images/payement-gateways/{{gateway.gateway_type}}.png" class="img-fluid d-block payment-image"></div>
                                                <p class="mb-0 mt-2 gm-font-14 text-left text-muted">{{gateway?.name}} </p>
                                            </div>
                                            <div class="col-6 align-items-center no-gutters row">
                                                <div class="col-12">
                                                    <div class="pull-right mb-3" *ngIf="gateway.payment_code">
                                                        <mat-slide-toggle class="" [checked]="gateway.status == 'active'" (change)="ChangePaymentStatus(gateway.payment_code,gateway.gateway_type,$event.checked)"></mat-slide-toggle>
                                                    </div>
                                                </div>
                                                <div class="col-12 no-gutters row justify-content-end">
                                                    <div class="" *ngIf="gateway.payment_code">
                                                        <button type="button" class="btn make-default-btn px-4 gm-font-12" [ngClass]="gateway.is_default? 'btn-kc-yellow' : 'border-0 gm-btn-kc-yellow'" [disabled]="gateway.is_default" (click)="SetDefault(gateway.payment_code,gateway.gateway_type)">{{gateway.is_default?"Default":"Make As Default"}}</button>
                                                    </div>
                                                    <div class="ml-3 align-items-center payment-expand-icon d-flex gm-acc-icon gm-lightblue-bg justify-content-center" id="kc-acc-icon-{{gateway.gateway_type}}"><svg viewBox="0 0 448 512" width="15px" height="15px" class="svg-inline--fa fa-chevron-right fa-w-8 fa-2x"><path fill="#2A4797" d="M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z" class=""></path></svg></div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="top-border">
            
                                    <div *ngFor="let field of gateway.field" class="d-flex pt-3 pb-1 common-filed-center">
                                        <label for="{{field.fieldname}}" class="col-sm-4 col-form-label col-form-label-sm payment-label">{{field.label}}</label>
                                            <div class="form-group col-sm-8">
                                                <input id="{{field.fieldname}}" name="{{field.fieldname}}" [(ngModel)]="field.value" class="form-control">
                                            </div>
                                    </div>
            
                                    <div class="d-flex flex-wrap mt-3 common-filed-center">
                                        <label class="">Test Mode</label>
                                        <mat-slide-toggle matTooltip="{{gateway.testMode?'Make Inactive':'Make Active'}}" name="testMode" [checked]="gateway.testMode == 1"  [(ngModel)]="gateway.testMode" class="ml-auto"></mat-slide-toggle>
                                    </div>
                                    <div class="">
                                        <button type="submit"  mat-flat-button class="float-right save-btn my-3 btn">Save</button>
                                    </div>
            
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <!-- <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="d-flex">
                                            <div>
                                                <img src="/assets/images/payement-gateways/{{gateway.gateway_type}}.png" class="payment-image">
                                            </div>
                                            <div class="payment-toggle-btn">
                                                <mat-slide-toggle class="payment-gateway-toggle-btn" class="payment-gateway-toggle-btn" [checked]="paypalStatus" (change)="fnPaypalStatus($event.checked)" class=""></mat-slide-toggle>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="mb-0 pt-2">{{gateway?.name}}</p>
                                        </div>

                                    </mat-panel-title>
                                    <mat-panel-description>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div class="top-border">
                                    <form [formGroup]="paypal" class="example-form payment-gateway-form ml-auto">
                                        <div class="d-flex flex-wrap">
                                            <label class="payment-label">Client Id</label>
                                            <mat-form-field class="example-full-width bottom-border-field">
                                                <input formControlName="clientId" matInput placeholder="" value="">
                                            </mat-form-field>
                                            <span class="w-100 error-wrap" *ngIf="paypal.get('clientId').dirty || paypal.get('clientId').touched">
                                            <small *ngIf="paypal.get('clientId').hasError('required')" class="error">Client Id is required.</small>
                                        </span>
                                        </div>
                                        <div class="d-flex flex-wrap">
                                        <label class="payment-label">API Username</label>
                                        <mat-form-field class="example-full-width bottom-border-field">
                                            <input formControlName="apiUsername" matInput placeholder="" value="">
                                        </mat-form-field>
                                        <span class="w-100 error-wrap" *ngIf="paypal.get('apiUsername').dirty || paypal.get('apiUsername').touched">
                                            <small *ngIf="paypal.get('apiUsername').hasError('required')" class="error">API username is required</small>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <label class="payment-label">API Password</label>
                                        <mat-form-field class="example-full-width bottom-border-field">
                                            <input formControlName="apiPassword" class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                        <span class="w-100 error-wrap" *ngIf="paypal.get('apiPassword').dirty || paypal.get('apiPassword').touched">
                                            <small *ngIf="paypal.get('apiPassword').hasError('required')" class="error">API password is required</small>
                                        </span>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <label class="payment-label">Signature</label>
                                        <mat-form-field class="example-full-width bottom-border-field">
                                            <input formControlName="signature" matInput placeholder="" value="">
                                        </mat-form-field>
                                        <span class="w-100 error-wrap" *ngIf="paypal.get('signature').dirty || paypal.get('signature').touched">
                                            <small *ngIf="paypal.get('signature').hasError('required')" class="error">Signature is required</small>
                                        </span>
                                    </div> -->
                                        <!-- <div class="d-flex flex-wrap">
                                        <label class="">Paypal guest payment</label>
                                        <mat-slide-toggle *ngIf="paypalSettingValue" [checked]="paypalSettingValue.paypal_guest_payment" (change)="fnPaypalGuest($event.checked)" class="ml-auto"></mat-slide-toggle>
                                    </div> 
                                        <div class="d-flex flex-wrap mt-3">
                                            <label class="payment-label">Test Mode</label>
                                            <mat-slide-toggle [checked]="paypalTestStatus" (change)="fnPaypalTest($event.checked)" class="ml-auto"></mat-slide-toggle>
                                        </div>
                                        <div class="">
                                            <button mat-button class="float-right save-btn my-3" (click)="fnSubmitPaypal()">Save</button>
                                        </div>

                                    </form>
                                </div>

                            </mat-expansion-panel>
                        </mat-accordion> -->
                <!-- <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/stripe.png" class="payment-image">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class="payment-gateway-toggle-btn" [checked]="stripeStatus" (change)="fnStripeStatus($event.checked)" class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">Stripe Payment Form</p>
                                </div>

                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="top-border">
                            <form [formGroup]="stripe" class="example-form payment-gateway-form ml-auto">
                                <div class="d-flex flex-wrap">
                                    <label class="payment-label">Secret Key</label>
                                    <mat-form-field class="example-full-width bottom-border-field">
                                        <input formControlName="secretKey" matInput placeholder="" value="">
                                    </mat-form-field>
                                    <span class="w-100 error-wrap" *ngIf="stripe.get('secretKey').dirty || stripe.get('secretKey').touched">
                                    <small *ngIf="stripe.get('secretKey').hasError('required')" class="error">Secret key is required.</small>
                                </span>
                                </div>
                                <div class="d-flex flex-wrap">
                                    <label class="payment-label">Publishable Key</label>
                                    <mat-form-field class="example-full-width bottom-border-field">
                                        <input formControlName="publishableKey" class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                    <span class="w-100 error-wrap" *ngIf="stripe.get('publishableKey').dirty || stripe.get('publishableKey').touched">
                                    <small *ngIf="stripe.get('publishableKey').hasError('required')" class="error">Publishable key is required.</small>
                                </span>
                                </div>
                                <div class="">
                                    <button mat-button class="float-right save-btn my-3" (click)="fnSubmitStripe()">Save</button>
                                </div>
                            </form>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion> -->
                    </form>
                </div>
                
            </div>

        </div>

    </div>
</mat-drawer-content>