<div class="loader-main" *ngIf="isLoader">
    <img src="../../../assets/images/step-loader.gif" /></div>
<div class="content-main" *ngIf="!paymentScreen">
    <mat-tab-group (selectedIndexChange)="fnTabValue($event)" mat-align-tabs="start">
        <mat-tab label="My Appointment" class="appointmentlabel">
            <div *ngIf="appointmentData != ''" class="bookings-details-main">
                <div *ngFor="let appointmentData of appointmentData; let i = index" class="col-sm-6 col-md-6 col-lg-4 single-booking float-left">
                    <mat-card class="col card mt-3 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-lg-6 col-sm-3 col-md-6">
                                    <label class="d-block font-weight-bold">Date & Time</label>
                                    <p>{{appointmentData.booking_dateForLabel}}</p>
                                    <p>{{appointmentData.booking_timeForLabel}}</p>
                                </div>
                                <div class="col-6 col-sm-3 col-md-6 col-lg-6 text-right">
                                    <label class="font-weight-bold">Status</label>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'P'">Waiting For Confirmation</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'AC'">Accepted</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'OW'">On The Way</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'RSA'">Rescheduled By Admin</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'RSS'">Rescheduled By Staff</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'RSC'">Rescheduled</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'R'">Rejected</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'CNF'">Confirm</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.order_status == 'OW'">On the Way</p>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="appointmentData.service != null" class="col-6 col-sm-3 col-md-6 col-lg-8">
                                    <label class="font-weight-bold">Service</label>
                                    <p>{{appointmentData.service.service_name}}</p>
                                    <p>Duration:{{appointmentData.service.service_time}}</p>
                                    <label class="font-weight-bold">Amount</label>
                                    <!-- <p>$ {{appointmentData.service.service_cost}}</p> -->
                                    <p *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ appointmentData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</p>
                                    <p *ngIf="currencySymbolPosition=='right'">{{ appointmentData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}</p>
                                    <label class="font-weight-bold">Staff</label>
                                    <p *ngIf="appointmentData.staff_id == null">Not Assigned</p>
                                    <p class="text-capitalize" *ngIf="appointmentData.staff_id != null && appointmentData.staff != null">{{appointmentData.staff.firstname}} {{appointmentData.staff.lastname}}</p>

                                </div>
                                <div class="col-6 col-sm-3 col-md-6 col-lg-4 buttons pt-4">
                                    <button mat-button class="d-block details-btn" (click)="MyAppointmentDetails(i)">Details</button>
                                    <button mat-button class="d-block reschedule-btn" (click)="rescheduleAppointment(i)" *ngIf="appointmentData.bookingDateTime && minReschedulingTime && minReschedulingTime.getTime()<appointmentData.bookingDateTime.getTime()">Reschedule</button>
                                    <button mat-button class="d-block cancel-btn" (click)="cancelAppo(appointmentData.id)" *ngIf="cancellationBufferTime && appointmentData.bookingDateTime && cancellationBufferTime.getTime()<appointmentData.bookingDateTime.getTime()">Cancel</button>
                                    <button mat-button *ngIf="appointmentData.payment && appointmentData.payment.payment_status == 'unpaid'" (click)="payAppoint(i)" class="d-block pay-btn">Pay</button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="appointmentData == ''" class="bookings-details-main">
                <h2 class="text-center my-3">NO Data Found</h2>
            </div>
        </mat-tab>
        <mat-tab label="Cancel Appointment">
            <div *ngIf="cancelAppointmentData != ''" class="bookings-details-main">
                <div *ngFor="let cancelAppointmentData of cancelAppointmentData; let i = index" class="col-sm-6 col-md-6 col-lg-4 single-booking float-left">
                    <mat-card class="col card mt-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-lg-6 col-sm-3 col-md-6">
                                    <label class="d-block font-weight-bold">Date & Time</label>
                                    <p>{{cancelAppointmentData.booking_dateForLabel}},</p>
                                    <p>{{cancelAppointmentData.booking_timeForLabel}}</p>
                                </div>
                                <div class="col-6 col-sm-3 col-md-6 col-lg-6 text-right">
                                    <label class="font-weight-bold">Status</label>
                                    <p>Canceled</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-3 col-md-6 col-lg-8">
                                    <label class="font-weight-bold">Service</label>
                                    <p>{{cancelAppointmentData.service.service_name}}</p>
                                    <p>Duration:{{cancelAppointmentData.service.service_time}}</p>

                                    <label class="font-weight-bold">Amount</label>
                                    <!-- <p>$ {{cancelAppointmentData.total_cost}}</p> -->
                                    <p *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ cancelAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</p>
                                    <p *ngIf="currencySymbolPosition=='right'">{{ cancelAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}</p>

                                    <label class="font-weight-bold">Staff</label>
                                    <p *ngIf="cancelAppointmentData.staff_id == null">Not Assigned</p>
                                    <p class="text-capitalize" *ngIf="cancelAppointmentData.staff_id != null && cancelAppointmentData.staff != null">{{cancelAppointmentData.staff.firstname}} {{cancelAppointmentData.staff.lastname}}</p>
                                </div>
                                <div class="col-6 col-sm-3 col-md-6 col-lg-4 buttons">
                                    <button mat-button class="d-block details-btn" (click)="details_dialog(i)">Details</button>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <div *ngIf="cancelAppointmentData == ''" class="bookings-details-main">
                <h2 class="text-center my-3">NO Data Found</h2>
            </div>
        </mat-tab>


        <mat-tab label="Complete Appointment">
            <div *ngIf="completedAppointmentData != ''" class="bookings-details-main">
                <div *ngFor="let completedAppointmentData of completedAppointmentData; let i = index" class="col-sm-6 col-md-6 col-lg-4 single-booking float-left">
                    <mat-card class="col card mt-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-lg-6 col-sm-3 col-md-6">
                                    <label class="d-block font-weight-bold">Date & Time</label>
                                    <p>{{completedAppointmentData.booking_dateForLabel}},</p>
                                    <p>{{completedAppointmentData.booking_timeForLabel}}</p>
                                </div>
                                <div class="col-6 col-sm-3 col-md-6 col-lg-6 text-right">
                                    <label class="font-weight-bold">Status</label>
                                    <p>Completed</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-3 col-md-6 col-lg-8">
                                    <label class="font-weight-bold">Service</label>
                                    <p *ngIf="completedAppointmentData.service != ''">{{completedAppointmentData.service.service_name}}</p>
                                    <p *ngIf="completedAppointmentData.service != ''">Duration:{{completedAppointmentData.service.service_time}}</p>

                                    <label class="font-weight-bold">Amount</label>
                                    <!-- <p>$ {{completedAppointmentData.total_cost}}</p> -->
                                    <p *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ completedAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</p>
                                    <p *ngIf="currencySymbolPosition=='right'">{{ completedAppointmentData.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}</p>

                                    <label class="font-weight-bold">Staff</label>
                                    <p *ngIf="completedAppointmentData.staff_id == null">Not Assigned</p>
                                    <p class="text-capitalize" *ngIf="completedAppointmentData.staff_id != null && completedAppointmentData.staff != null">{{completedAppointmentData.staff.firstname}} {{completedAppointmentData.staff.lastname}}</p>
                                </div>

                                <div class="col-6 col-sm-3 col-md-6 col-lg-4 buttons">
                                    <button mat-button class="d-block details-btn" (click)="complete_details_dialog(i)">Details</button>
                                    <button mat-button class="d-block invoice-light-btn" (click)="invoice(i)">Invoice</button>
                                    <div class="" *ngIf="completedAppointmentData.rating == null && isCustomerAllowedForRatingStaff">
                                        <button mat-button class="d-block rate-btn" (click)="ratenow(completedAppointmentData.id)" id="">Rate Now</button>
                                    </div>
                                    <div class="d-flex statick-rating w-100" *ngIf="completedAppointmentData.rating != null">
                                        <div class="star-rating">
                                            <input type="radio" [checked]="completedAppointmentData.rating.rating == 5" id="5-stars_{{completedAppointmentData.id}}" name="rating_{{completedAppointmentData.id}}" value="5" />
                                            <label for="5-stars_{{completedAppointmentData.id}}" class="star">&#9733;</label>
                                            <input type="radio" [checked]="completedAppointmentData.rating.rating == 4" id="4-stars_{{completedAppointmentData.id}}" name="rating_{{completedAppointmentData.id}}" value="4" />
                                            <label for="4-stars_{{completedAppointmentData.id}}" class="star">&#9733;</label>
                                            <input type="radio" [checked]="completedAppointmentData.rating.rating == 3" id="3-stars_{{completedAppointmentData.id}}" name="rating_{{completedAppointmentData.id}}" value="3" />
                                            <label for="3-stars_{{completedAppointmentData.id}}" class="star">&#9733;</label>
                                            <input type="radio" [checked]="completedAppointmentData.rating.rating == 2" id="2-stars_{{completedAppointmentData.id}}" name="rating_{{completedAppointmentData.id}}" value="2" />
                                            <label for="2-stars_{{completedAppointmentData.id}}" class="star">&#9733;</label>
                                            <input type="radio" [checked]="completedAppointmentData.rating.rating == 1" id="1-star_{{completedAppointmentData.id}}" name="rating_{{completedAppointmentData.id}}" value="1" />
                                            <label for="1-star_{{completedAppointmentData.id}}" class="star">&#9733;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>

            <div *ngIf="completedAppointmentData == ''" class="bookings-details-main">
                <h2 class="text-center my-3">NO Data Found</h2>
            </div>
        </mat-tab>
    </mat-tab-group>
    <form class="form-inline" id="search_container_userappo">
        <div class="search-input-container">
            <i class="fa fa-search before-search"></i>
            <input class="form-control searchbox_userappo" name="searchKeyword" [(ngModel)]="search.keyword" (keyup)="customerSearchAppointment($event)" type="text" placeholder="Search Appointment">
        </div>
        <button type="button" class="btn btn-primary btnappoint_userappo" (click)="frontBooking()">Add Appointment</button>

    </form>
</div>
<div class="content-main d-flex justify-content-center flex-wrap" *ngIf="paymentScreen">
    <div class="col-12 my-2">
        <button mat-button (click)="fnBackToPayment()" class="payment-bk-btn"><i class="fa fa-chevron-left"></i> Back</button>
    </div>
    <div id="payment_method" class="col-6 p-0">

        <mat-card-title class="px-4 mx-4 pt-3 ">
            <div class="col-lg-12 col-sm-12 col-12 top-title px-0 float-left">
                Payment Method
            </div>
        </mat-card-title>
        <mat-card-content class="py-2 px-4 mt-0 mb-2">
            <mat-radio-group>

                <mat-radio-button *ngIf="stripeStatus" [checked]="paymentMethod == 'Stripe'" (change)="fnPaymentMethod('Stripe')" class="col-12  p-3 w-auto credit-payment single-pay payment-radio  mb-0" value="pay2">Credit Card
                    <img src="../../assets/icons/card-images.png" class="payment-gtw-icon cash-payment" />
                </mat-radio-button>
                <div *ngIf="creditcardform">
                    <form [formGroup]="cardForm" class="field-list mx-0 row credit-card-form ">
                        <div class="col-12 left-side mb-3 col-lg-6">
                            <div class="col-12 mb-4">
                                <label>Card Holder Name</label>
                                <input formControlName="cardHolderName" class="common-input" type="text" />
                                <span class="error-wrap" *ngIf="cardForm.get('cardHolderName').dirty || cardForm.get('cardHolderName').touched"><small *ngIf="cardForm.get('cardHolderName').hasError('required')" class="error">Card holder name is required</small></span>
                            </div>
                            <div class="col-12 mb-4">
                                <label>Card Number</label>
                                <input formControlName="cardNumber" class="common-input" type="text" />
                                <span class="error-wrap" *ngIf="cardForm.get('cardNumber').dirty || cardForm.get('cardNumber').touched"><small *ngIf="cardForm.get('cardNumber').hasError('required')" class="error">Card number is required</small>
                                    <!-- <small *ngIf="cardForm.get('cardNumber').hasError('pattern)" class="error">Card Number should Numeric</small> -->
                                </span>
                            </div>

                            <div class="col-6 float-left">
                                <label>Expiry Date</label>
                                <div class="col-6 float-left mb-4 p-0">
                                    <label>Month</label>
                                    <input formControlName="expiryMonth" class="common-input" type="text" />
                                    <span class="error-wrap" *ngIf="cardForm.get('expiryMonth').dirty || cardForm.get('expiryMonth').touched"><small *ngIf="cardForm.get('expiryMonth').hasError('required')" class="error">Expiry month is required</small><small *ngIf="cardForm.get('expiryMonth').hasError('pattern')" class="error">Expiry month should numeric</small></span>
                                </div>
                                <div class="col-6 float-left mb-4 p-0">
                                    <label>Year</label>
                                    <input formControlName="expiryYear" class="common-input" type="text" />
                                    <span class="error-wrap" *ngIf="cardForm.get('expiryYear').dirty || cardForm.get('expiryYear').touched"><small *ngIf="cardForm.get('expiryYear').hasError('required')" class="error">Expiry year is required</small><small *ngIf="cardForm.get('expiryYear').hasError('pattern')" class="error">Expiry year should numeric</small></span>
                                </div>
                            </div>
                            <div class="col-6 float-left mb-4">
                                <label class="invisible">CVV Code</label>
                                <label class="mt-2">CVV Code</label>
                                <input formControlName="cvvCode" class="common-input" type="password" />
                                <span class="error-wrap" *ngIf="cardForm.get('cvvCode').dirty || cardForm.get('cvvCode').touched"><small *ngIf="cardForm.get('cvvCode').hasError('required')" class="error">CVV code is required</small></span>
                            </div>
                        </div>
                        <div class="col-12 right-side col-lg-6">
                            <img src="../../assets/icons/credit-card.png" />
                        </div>
                    </form>
                </div>

                <!-- <mat-radio-button *ngIf="paypalStatus" [checked]="paymentMethod == 'Paypal'" (change)="fnPaymentMethod('Paypal')" class="col-12 w-auto mt-4 mx-4 p-4 credit-payment single-pay payment-radio px-3 mb-0" value="pay2">Paypal
                    <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal" class="payment-gtw-icon cash-payment" />
                </mat-radio-button>
                <div *ngIf="showPaypalButtons" class="field-list mx-4 row credit-card-form ">
                    <div class="col-12 left-side col-lg-6">
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    </div>
                    <div class="col-12 right-side col-lg-6">
                        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_200x51.png" alt="PayPal" />
                    </div>
                </div> -->

                <mat-radio-button *ngIf="payUmoneyStatus" [checked]="paymentMethod == 'PayUMoney'" (change)="fnPaymentMethod('PayUMoney')" class="col-12 w-auto mt-4 p-4 credit-payment single-pay payment-radio px-3 mb-0" value="pay2">PayUMoney
                    <!-- <img src="../../assets/icons/card-images.png" class="payment-gtw-icon cash-payment" /> -->
                    <img src="../../assets/images/payumoney-logo.png" alt="payUMoney" class="payment-gtw-icon cash-payment payumoney-logo-width" />
                    <!-- <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal"  class="payment-gtw-icon cash-payment"/> -->
                </mat-radio-button>

            </mat-radio-group>

            <div class="bottom-ctn-btn">
                <button *ngIf="paymentMethod != '' && paymentMethod != 'Paypal'" (click)="fnPayNow()" mat-button class="round-btn continue-btn proceed">Pay Now</button>
            </div>


        </mat-card-content>

    </div>
</div>