<div class="loader-main"><img src="../../../assets/images/step-loader.gif" /></div>
<mat-drawer-container class="main-container left-admin-menu">
    <mat-drawer mode="side" opened>
        <mat-list-item role="listitem" class="matlist pointer menuitem logo">
            <div class="logo"><img src="/assets/images/admin/admin-logo-orange.png">Kalpit</div>
        </mat-list-item>
    </mat-drawer>
    <mat-drawer-content class="main-admin-drawer new-seetings-menu">
        <router-outlet #outlet="outlet"></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>