@import "variables";
#services {
    margin-left: 0;
}

.service-action-btn {
    margin-left: auto;
    display: flex;
}

.service-cancel-btn {
    width: 100px;
    height: 39px;
    border-radius: 7px;
    background-color: #a1a1a1;
    color: white;
}

.service-create-btn {
    width: 109px;
    height: 39px;
    border-radius: 7px;
    background-color: #f04589;
    color: white;
}

.main-subcategory-content {
    margin: 20px;
    .add-subcategory-card {
        background-color: #eaf7f6;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 15px;
        height: 150px;
        .left-img-box {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d2f3f1;
        }
        .title-head {
            width: calc(100% - 350px);
            padding: 5px 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            h5 {
                color: #0e0e0e;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
            }
            p {
                color: #565657;
                font-size: 13px;
                font-weight: 400;
            }
        }
        .btn-container {
            width: 200px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.content {
    font-size: 14px;
    padding: 0;
    margin: 1%;
}

.service-profile-image {
    width: 100%;
    height: 100%;
    //border-radius: 50px;
}

.salon-edit-btn {
    background-color: #e9e3e3;
    border-radius: 3px;
    border: none;
}

.salon-cancel-btn {
    background-color: #e9e3e3;
    border-radius: 3px;
    border: none;
}

.salon-icon {
    padding: 5px;
}

.public-button {
    border-radius: 50px 50px;
    color: #00a838;
    line-height: 1.5;
    border: 1px solid #00a838;
    font-size: 12px;
    margin-left: 10px;
    background-color: rgba(0, 168, 56, 0.11);
}
.private-button {
    border-radius: 50px 50px;
    color: #ff5757;
    line-height: 1.5;
    border: 1px solid #ff5757;
    font-size: 12px;
    margin-left: 10px;
    background-color: rgba(255, 87, 87, 0.11);
}

.icon-img {
    opacity: 40%;
}

.addservice-btn {
    border-radius: 26px;
    background-color: #1173f4;
    color: white;
    z-index: 10;
    height: 35px;
}

.service-listing {
    .drageble-list {
        .final-list {
            display: flex;
        }
    }
    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    .cdk-drag-placeholder {
        opacity: 0;
    }
    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .drageble-list.cdk-drop-list-dragging .drageble-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    .handler {
        cursor: move;
    }
    .main-heading-content {
        padding: 15px;
    }
    &.for_category {
        .drageble-list {
            height: calc(100vh - 302px);
            .final-list {
                display: flex;
            }
        }
    }
    &.for_subcategory {
        .drageble-list {
            height: calc(100vh - 307px);
            .final-list {
                display: flex;
            }
        }
    }
}
.for_subcategory {
    .drageble-list {
        .final-list {
            display: flex;
        }
    }
}
::ng-deep .category-list .mat-expansion-panel-body {
    margin-left: 25px;
    padding-bottom: 0px;
    position: relative;
    &::before {
        content: "";
        border-left: 1px solid #00a89b;
        height: calc(100% - 49px);
        position: absolute;
        width: auto;
        left: 0;
    }
}

::ng-deep .mat-checkbox {
    color: blue;
}

::ng-deep .mat-checkbox-layout {
    margin-bottom: 0px;
}

::ng-deep .category-sidebar {
    padding: 20px 10px 10px 10px;
    position: fixed;
    top: 64px;
    height: calc(100vh - 64px);
    ::ng-deep .mat-drawer-inner-container {
        overflow: scroll;
    }
    .category-list {
        .category-main {
            background-color: transparent;
            box-shadow: unset;
            .category-title-head {
                transition: all 0.3s;
                padding: 0;
                position: relative;
                border-radius: 5px;
                height: 40px !important;
                background-color: #eaf7f6;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                transition: all 0.3s;
                padding: 5px 10px;
                &:hover {
                    background-color: #eaf7f6;
                }
                &.mat-expanded{
                    .mat-expansion-indicator{
                        &:after{
                            margin-top: -3px;
                            margin-left: -2px;
                        }
                    }
                }
                .mat-content {
                    .mat-expansion-panel-header-title {
                        color: #0e0e0e;
                        font-weight: 500;
                        font-size: 14px;
                        p{
                            width: 165px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .mat-expansion-indicator {
                    width: 25px;
                    height: 25px;
                    background-color: rgb(0, 168, 155);
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:after {
                        color: #fff;
                        margin-top: -3px;
                    }
                }
            }
        }
        &.mat-accordion {
            .mat-expansion-panel-body {
                padding-right: 0 !important;
                .sub-category-title-head {
                    border-radius: 5px;
                    height: 40px !important;
                    background-color: #f1f1f1;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    position: relative;
                    cursor: pointer;
                    transition: all 0.3s;
                    padding: 5px 10px;
                    &::before {
                        content: "";
                        width: 25px;
                        height: 1px;
                        background-color: #00a89b;
                        left: -24px;
                        top: 50%;
                        position: absolute;
                    }
                    &.active {
                        background-color: #eaf7f6;
                    }
                    .sub-category-title {
                        color: #0e0e0e;
                        font-weight: 500;
                        font-size: 14px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &::before {
                    content: '';
                    border-left: 1px solid #00A89B;
                    height: calc(100% - 28px);
                    width: auto;
                }
            }
        }
    }
    .single-box {
        border-radius: 5px;
        height: 40px !important;
        background-color: #eaf7f6;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        padding: 5px 10px;
        p {
            color: #0e0e0e;
            font-weight: 500;
            font-size: 15px;
        }
        &::before {
            content: "";
            width: 25px;
            height: 1px;
            background-color: #ccc;
            left: -25px;
            top: 50%;
            position: absolute;
        }
    }
}
.cdk-drag-handle {
    font-size: 18px;
}

.service-dlt-btn {
    margin-left: auto;
    display: flex;
    margin-right: 15px;
}

/* Image Upload Dialog */

::ng-deep .modal-info {
    margin: 0 !important;
    .modal-bcolor-primary {
        background-color: #d9f0fe;
        .header-margins {
            padding: 0;
        }
    }
    ::ng-deep .modal-body {
        .work-content {
            text-align: center;
            padding-left: 10px;
            .form-control {
                padding-bottom: 11px;
                padding-top: 11px;
                height: 31px;
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
}

/*Image Upload*/

::ng-deep .file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    .image-upload-wrap {
        margin-top: 20px;
        border: 2px dashed #03a9f4;
        position: relative;
        padding: 30px 0;
        .fileuploadinput {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
            margin-top: -30px;
        }
    }
    .drag-text {
        text-align: center;
        h6 {
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
        }
    }
    .imgbtn {
        margin: 15px auto;
        display: table;
        padding: 8px 16px;
        border-radius: 50px;
    }
}
.justify-contents-space-between{
    justify-content: space-between;
}
::ng-deep .upload-preview-img {
    max-width: 200px;
    margin: 0 auto;
    display: table;
}

.wrap-column {
    word-break: break-word;
}

.bg-white {
    background-color: #fff;
}

.prefix-icon-select {
    position: absolute;
    left: -20px;
}

.unit-info {
    position: absolute;
    right: -10px;
}

::ng-deep .mat-slide-toggle-content {
    padding-right: 15px;
}

textarea {
    min-height: 80px;
}

#services {
    .setting-right-side-content {
        .create-new-page {
            .service-action-card {
                padding: 16px;
                position: fixed;
                bottom: 0;
                z-index: 9;
                width: calc(100% - 590px);
                margin: 0;
                box-shadow: 0 3px 17px rgb(0 168 155 / 25%), 0 4px 5px 0 rgb(0 168 155 / 25%) !important;
                right: 0;
                transition: all 0.4s;
                .service-action-btn {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &.short-content-area {
            .create-new-page {
                .service-action-card {
                    width: calc(100% - 340px);
                }
            }
        }
    }
}

.service-top-bar {
    border-bottom: 1px solid #ccc;
    height: 110px;
}

.filter-feild {
    margin-left: 15px;
    position: relative;
    :before {
        content: "\f0b0";
        position: absolute;
        color: #4f4f4f;
        font-size: 22px;
        font-family: FontAwesome;
        left: -25px;
        bottom: -2px;
    }
}

.action-feild {
    margin-left: 15px;
    position: relative;
    :before {
        content: "\f044";
        position: absolute;
        color: #4f4f4f;
        font-size: 22px;
        font-family: FontAwesome;
        left: -25px;
        bottom: -2px;
    }
}

.align-item-start {
    align-items: flex-start;
}

::ng-deep .staff-list {
    .mat-checkbox-layout {
        .mat-checkbox-label {
            width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.service-subtype {
    .plain-text {
        font-size: 14px;
    }
}

.service-subtype {
    &.online {
        ::ng-deep .single-platform {
            border: 1px solid #ccc;
            border-radius: 3px;
            width: 150px;
            display: flex;
            align-items: center;
            cursor: pointer;
            float: left;
            height: 60px;
            margin-right: 10px;
            margin-bottom: 5px;
            img {
                padding: 5px 10px;
                width: 100%;
            }
            .mat-radio-label {
                margin: 0;
            }
            .mat-radio-container {
                left: 10px;
            }
        }
    }
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: none !important;
}

mat-drawer-content {
    // height: auto;
    overflow: hidden !important;
}

#create_new_service {
    height: calc(100vh - 135px);
    overflow-y: scroll;
    // margin-top: 65px;
}

.no-category-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 68px);
    .first-banner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }
    }
}

.category-create-page {
    padding-left: 30px;
    .left-image-upload {
        width: 150px;
        margin-right: 20px;
        .profile-img-wrap {
            width: 150px;
            height: 150px;
            background-color: #eaf7f6;
            justify-content: center;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            cursor: pointer;
            .default-img {
                width: 40px;
            }
            .service-profile-image {
                // width: 100%;
                // height: 100%;
            }
        }
    }
    .right-form {
        width: calc(100% - 150px);
    }
}

::ng-deep .service-statustoggle {
    .mat-slide-toggle-label {
        .mat-slide-toggle-bar {
            order: 1;
            margin-left: 10px;
        }
    }
    .single-toggle {
        background-color: #eaf7f6;
        padding: 6px 10px;
        height: auto;
        margin-right: 10px;
        border-radius: 0.25rem;
        label {
            margin-bottom: 0;
            .mat-slide-toggle-content {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.top-category-bar {
    padding: 10px 20px;
    height: 130px;
    display: flex;
    align-items: center;
    width: 100%;
    .profile-img-wrap {
        width: 100px;
        height: 100px;
        background-color: #eaf7f6;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        cursor: pointer;
        .default-img {
            width: 40px;
        }
        .service-profile-image {
            // width: 100%;
            // height: 100%;
        }
    }
    .title-tag {
        margin: 10px 0;
        h5 {
            color: #0e0e0e;
            font-size: 20px;
            font-weight: 500;
        }
    }
}

::ng-deep .add-service-staff-list {
    background-color: #eaf7f6;
    border-left: 1px solid #00a89b;
    padding-top: 2em;
    h6 {
        font-size: 16px;
        color: #0e0e0e;
    }
    .searchbox {
        .search_input-staff {
            height: 39px;
            padding-top: 3px;
            .has-search .form-control {
                padding-left: 2.375rem;
            }
            .has-search .form-control-feedback {
                position: absolute;
                z-index: 2;
                display: block;
                line-height: 2.6rem;
                pointer-events: none;
                color: #0e0e0e;
                text-align: center;
                width: 2.375rem;
                font-size: 25px;
            }
            .searchbox_staff {
                border-bottom: 1px solid #0e0e0e !important;
                border: 0;
                background-color: transparent;
                border-radius: 0;
                color: #0e0e0e;
                &::placeholder {
                    font-size: 12px;
                    color: #0e0e0e;
                }
            }
        }
    }
    .select_staff_list {
        padding-top: 20px;
        padding-left: 30px;
        .single-staff {
            padding-bottom: 5px;
            mat-checkbox {
                color: #0e0e0e;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}
.top-actions{
    width: 100px;
    .form-control-transparent{
        background-color: transparent;
        padding: 12px 6px;
        font-size: 13px;
        line-height: 0.8;
        height: 34px;
        border: 1px solid rgba(86, 86, 87, 0.5);
        border-radius: 4px;
    }
}

::ng-deep .category-img-button.mat-button[disabled][disabled]{
    opacity: 0.6;
    color: #fff;
}
.no-cat-service-data{
    height: calc(100vh - 252px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.input-group-text{
    .currency-symbol{
        padding-right: 12px;
        font-size: 14px;
    }
}