<div  class="container-fluid sub-container">
<div id="admin-book-appointment">		
	<div class="row">
		<mat-card class="mt-4 mb-4" *ngIf="revenue != null && revenue != undefined">
			<div class="col-lg-2 col-md-4 col-6 flex-align-center">
				<h6 class="category">Category</h6>
				<p class="font-gray pt-1 mb-0">All Services</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6  left-border flex-align-center">
				<div class="d-flex">
					<i class="fa fa-calendar calender-icon calender-date pr-2" aria-hidden="true"></i>
					<p class="category font-blue pt-0">09 sep 2019</p>
				</div>					
				<h6 class="font-blue pl-4 mb-0">Today</h6>
			</div>
			<div class="col-lg-2 col-md-4 col-6  flex-align-center left-border">
				<h6 class="font-blue mb-0">{{revenue.appointments}}</h6>
				<p class="font-blue mb-0">Appointments</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">{{revenue.confirmRevenue}}.00</h6>
				<p class="font-blue mb-0">Confirmed Revenue </p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">${{revenue.projectedRevenue}}.00</h6>
				<p class="font-blue mb-0">Projected Revenue</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">${{revenue.totalEstimate}}.00</h6>
				<p class="font-blue mb-0">Total Estimated</p>
			</div>	
		</mat-card>
	</div>
</div>

<div class="" id="category">		
	<div class="row flex-content-center">
			<mat-card class="col-lg-3 col-12 col-md-6 border-8 p-0">
				<div>
					<ul>
					<li class="bottom-border plr-25">
						<p class="title-main">Category</p>
					</li>
					<li class="bottom-border plr-25" (click)="fnOnClickCategory('all')">
						<p class="title-main">All Services<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25" *ngFor="let category of categories" (click)="fnOnClickCategory(category.id)">
						<p class="title-main">{{category.category_title}}<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					</ul>								
				</div>
			</mat-card>
			<mat-card class="col-lg-5 col-12 col-md-6 border-8 p-0">
				<div>
					<div class="d-flex bottom-border align-items-center">
						<div class="appointment pl-2">
							<p class="title-main">Appointment</p>
						</div>	
						<form class="serch_input-appoint">							
							<div class="form-group has-search">
							    <span class="fa fa-search form-control-feedback"></span>
							    <input type="text" class="form-control searchbox_appointment" placeholder="Service, Staff, Customer">
							  </div>												
						</form>
						<div class="filter-btn-appoint">
							<!-- <button class="btn-secondary filter-btn" mat-button><i class="material-icons mr-1">filter_list_alt</i>Filter</button> -->
						 <mat-form-field appearance="outline" class="my-2 all-customer-list col-lg-12 col-12 col-md-12">
                  <mat-label class="">Filter</mat-label>
                  <mat-select [(value)]="selected" (selectionChange)="fnOnClickStatus($event)">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="P">Pending</mat-option>
                    <mat-option value="AC">Accepted</mat-option>
                    <mat-option value="OW">On The Way</mat-option>
                    <mat-option value="WS">Work Started</mat-option>
                    <mat-option value="RSA">Rescheduled By Admin</mat-option>
                    <mat-option value="RSS">Rescheduled By Staff</mat-option>
                    <mat-option value="RSC">Rescheduled By Client</mat-option>
                    <mat-option value="ITR">Intrupted</mat-option>
                    <mat-option value="C">Cancelled</mat-option>
                    <mat-option value="CC">Cancelled by Client</mat-option>
                    <mat-option value="R">Rejected</mat-option>
                    <mat-option value="CO">Completed</mat-option>
                  </mat-select>
                </mat-form-field>
						</div>
					</div>
				</div>
					
				<div class="content-main work-space-main" id="my-work-space">
		       		<div class="justify-content-center timeframe-main ">
		            <div class="work-service-bg-main">
		                <div class="service-background pt-4"> 
		                    <div class="left-time-main" *ngFor="let appointment of appointments;let i=index" (click)="fnOnClickAppointment(i)">
		                        <span class="font-blue left-font">{{appointment.booking_time}}</span>
		                        <div class="pl-3">
		                            <p class="mb-0 work-space-font">in 8 hours ago</p>
		                            <h5>{{appointment.service.service_name}} <small class="work-space-font">(Salon)</small></h5>
		                        </div>
		                        <div class="d-flex flex-wrap pl-3 mb-4">
		                            <div class="d-flex Time">
		                            	<i class="fa fa-clock-o  pr-2" aria-hidden="true"></i>	
		                                <p class="work-space-font pt-0">{{appointment.booking_time}}</p>
		                            </div>
		                            <div class="d-flex customer-name">
		                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">{{appointment.customer.fullname}}</p>
		                            </div>
		                            <div class="d-flex service-person">
		                                <i class="fa fa-briefcase pr-2 " aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">{{appointment.staff.username}}</p>
		                            </div>
		                            <div class="money">
		                                <p class="work-space-font pt-0 ">$ {{appointment.total_cost}}</p>
		                            </div>
		                        </div>
		                         <div class="line ml-1 mr-1"></div>
		                    </div>
	                	</div>
		            </div>
		        	</div>
				</div>
			</mat-card>
			<mat-card class="col-lg-3 col-12 col-md-6 border-8 p-0" *ngIf="appointments.length>0">
				<div id="Appoinment-Details">
					<div class="plr-25 bottom-border">
				        <p class="fs-1rem title-main">Appoinment Details</p>
				    </div>
				    <div class="pt-2 pb-2 d-flex bottom-border pl-3 pr-3">
				       <label class="greenfont pt-2"><i class="fa fa-repeat repeat pr-1"></i>Reschedule</label>
				       <label class="fontred  pt-2 pl-2"><i class="fa fa-times-circle-o pr-1"></i>Cancel</label>
				       <button mat-button type="button" class="d-block btn-primary float-right acceptbtn" (click)="myworkspaceAccept()">Accept</button>
			      	</div>
				  	 <div class="background pl-4 pb-2 border-right-blue position-relative">
				        <div class="">
				          <h6 class="mb-0 pt-2">{{appointmentDetails.booking_date}}</h6>
				          <p class="text-gray pt-0 mb-0">Booked On:{{appointmentDetails.created_at}}</p>
				        </div>
				        <div>
				          <h6 class="mb-0 pt-2">{{appointmentDetails.service_name}}(Salon) : $.{{appointmentDetails.total_cost}}.00</h6>
				          <p class="text-gray pt-0 mb-0">(Tax : $.50.00)</p>
				        </div>
				        <div>
				          <p class="text-gray  mb-0 pt-2">Time</p>
				          <h6 class="pt-0 mb-0">{{appointmentDetails.booking_time}} - {{appointmentDetails.booking_time_to}} ({{appointmentDetails.service_time}})</h6>
				        </div>        
				        <div class="d-flex">
				          <div class="appoint-orderBY">
				            <p class="text-gray mb-0 pt-2">Order By</p>
				            <h6 class="pt-0 mb-0 text-capitalize">{{appointmentDetails.order_by}}</h6>
				          </div>
				           <div class="appoint-Status">
				            <p class="text-gray mb-0 pt-2">Status</p>
				            <h6 class="pt-0 mb-0">{{appointmentDetails.order_status}}</h6>
				          </div>
				           <div class="appoint-staff">
					          <p class="text-gray mb-0 pt-2">Staff</p>
					          <h6 class="pt-0 mb-0 text-capitalize">{{appointmentDetails.staffName}}</h6>
				        	</div>
				        </div>       
				      </div>

				      <div class="pl-4 d-flex pt-3">
				        <div class="">
				          <div class="icon-background">SP</div>
				        </div>
				        <div class="pl-2">
				          <h6 class="mb-0 pt-0">{{appointmentDetails.customerName}}</h6>
				          <p class="text-gray pt-0 mb-0">{{appointmentDetails.customerEmail}}</p>
				        </div>
				      </div>
				      <div class="d-flex pl-4 pt-2">
				        <i class="fa fa-phone Appoinment-icon"></i>
				        <p class="pl-3 pt-0 mb-0">{{appointmentDetails.customerPhone}}</p>
				      </div>
				      <div class="pl-4 d-flex pt-2">
						<img class="map-icon" src="../../assets/images/admin/map.png" />
				        <h6 class="pl-3 pt-0 mb-0">{{appointmentDetails.customerAddress}}</h6>
				      </div>
				      <div  class="pl-4 pt-2 bottom-border">
				      	<h6>Note<i class="fa fa-plus-circle pl-2 note-icon" aria-hidden="true"></i></h6>
				      </div>

				</div>
			</mat-card>
	</div>
	
</div>
</div>



	