<div class="max-width-97 pl-0 pr-0" id="admin-book-appointment">		
	<div class="row">
		<mat-card class="mt-4 mb-4">
			<div class="col-lg-2 col-md-4 col-6 flex-align-center">
				<h6 class="category">Category</h6>
				<p class="font-gray pt-1 mb-0">All Services</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6  left-border flex-align-center">
				<div class="d-flex">
					<i class="fa fa-calendar calender-icon calender-date pr-2" aria-hidden="true"></i>
					<p class="category font-blue pt-0">09 sep 2019</p>
				</div>					
				<h6 class="font-blue pl-4 mb-0">Today</h6>
			</div>
			<div class="col-lg-2 col-md-4 col-6  flex-align-center left-border">
				<h6 class="font-blue mb-0">15</h6>
				<p class="font-blue mb-0">Appoitments</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">$1600.00</h6>
				<p class="font-blue mb-0">Confirmed Revenue </p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">$200.00</h6>
				<p class="font-blue mb-0">Projected Revenue</p>
			</div>
			<div class="col-lg-2 col-md-4 col-6 flex-align-center left-border">
				<h6 class="font-blue mb-0">$1800.00</h6>
				<p class="font-blue mb-0">Total Estimated</p>
			</div>	
		</mat-card>
	</div>
</div>

<div class="max-width-97" id="category">		
	<div class="row flex-content-center">
			<mat-card class="col-lg-3 col-12 col-md-6 border-8 p-0">
				<div>
					<ul>
					<li class="bottom-border plr-25">
						<p><b>Category</b></p>
					</li>
					<li class="bottom-border plr-25">
						<p>All Services<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25">
						<p>Salon<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25">
						<p>Home Cleaning<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25">
						<p>Pest Control<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25">
						<p>Appliances<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="bottom-border plr-25">
						<p>Plumbing<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>
					<li class="">
						<p>Electrical<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
					</li>	
					</ul>								
				</div>
			</mat-card>
			<mat-card class="col-lg-5 col-12 col-md-6 border-8 p-0">
				<div>
					<div class="d-flex bottom-border">
						<div class="appointment pl-2">
							<p><b>Appointment</b></p>
						</div>	
						<form class="serch_input-appoint">							
							<div class="form-group has-search">
							    <span class="fa fa-search form-control-feedback"></span>
							    <input type="text" class="form-control searchbox_appointment" placeholder="Service Staff,Customer">
							  </div>												
						</form>
						<div class="filter-btn-appoint">
							<button class="btn-secondary" mat-button><i class="material-icons">filter_list_alt</i>Filter</button>
							<!-- <button type="button" class="btn btn-outline-secondary mr-2" placement="left"
							ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on left">
					  Popover on left
					</button> -->
						</div>
					</div>
				</div>
					
				<div class="content-main work-space-main" id="my-work-space">
		       		<div class="justify-content-center timeframe-main ">
		            <div class="work-service-bg-main">
		                <div class="service-background pt-4"> 
		                    <div class="left-time-main ">
		                        <span class="font-blue">12:00pm</span>
		                        <div class="pl-3">
		                            <p class="mb-0 work-space-font">in 8 hours ago</p>
		                            <h5>Foot Massage <small class="work-space-font">(Salon)</small></h5>
		                        </div>
		                        <div class="d-flex flex-wrap pl-3">
		                            <div class="d-flex Time">
		                            	<i class="fa fa-clock-o  pr-2" aria-hidden="true"></i>	
		                                <p class="work-space-font pt-0">12:00 pm</p>
		                            </div>
		                            <div class="d-flex customer-name">
		                                <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">Customer Name</p>
		                            </div>
		                            <div class="d-flex service-person">
		                                <i class="fa fa-briefcase pr-2 " aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">Parth Jain</p>
		                            </div>
		                            <div class="money">
		                                <p class="work-space-font pt-0 ">$.500.00</p>
		                            </div>
		                        </div>
		                         <div class="line ml-1 mr-1"></div>
		                    </div>

		                    <div class="left-time-main">
		                        <span class="font-blue">12:00pm</span>
		                        <div class="pl-3 pt-2">
		                            <p class="mb-0 work-space-font ">in 5 hours ago</p>
		                            <h5>Cleaning <small class="work-space-font">(Home Cleaning)</small></h5>
		                        </div>
		                        <div class="d-flex flex-wrap pl-3">
		                            <div class="d-flex Time">
		                                <i class="fa fa-clock-o  pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0">12:00 pm</p>
		                            </div>
		                            <div class="d-flex customer-name">
		                                <i class="fa fa-user-o  pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0">Customer Name</p>
		                            </div>
		                            <div class="d-flex service-person">
		                                <i class="fa fa-briefcase pr-2 " aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">Parth Jain</p>
		                            </div>
		                            <div class="money">
		                                <p class="work-space-font pt-0">$.500.00</p>
		                            </div>                             
		                        </div>
		                        <div class="line ml-1 mr-1" ></div>
		                    </div>     

		                    <div class="left-time-main">
		                        <span class="font-blue">12:00pm</span>
		                        <div class="pl-3 pt-2">
		                            <p class="mb-0 work-space-font">in 8 hours ago</p>
		                            <h5>Foot Massage <small class="work-space-font">(Salon)</small></h5>
		                        </div>
		                        <div class="d-flex flex-wrap pl-3">
		                            <div class="d-flex Time">
		                                <i class="fa fa-clock-o  pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0">12:00 pm</p>
		                            </div>
		                            <div class="d-flex customer-name">
		                                <i class="fa fa-user-o  pr-2" aria-hidden="true"></i>
		                                <p class="work-space-font pt-0">Customer Name</p>
		                            </div>
		                            <div class="d-flex service-person">
		                                <i class="fa fa-briefcase pr-2 " aria-hidden="true"></i>
		                                <p class="work-space-font pt-0 ">Parth Jain</p>
		                            </div>
		                            <div class="money">
		                                <p class="work-space-font pt-0">$.500.00</p>
		                            </div>
		                        </div>
		                        <div class="line ml-1 mr-1" ></div>
		                    </div> 

	                	</div>
		            </div>
		        	</div>
				</div>
			</mat-card>
			<mat-card class="col-lg-3 col-12 col-md-6 border-8 p-0">
				<div id="Appoinment-Details">
					<div class="plr-25 bottom-border">
				        <p class="fs-1rem"><b>Appoinment Details</b></p>
				    </div>
				    <div class="pt-2 pb-2 d-flex bottom-border pl-3 pr-3">
				       <label class="greenfont pt-2"><i class="fa fa-repeat repeat pr-1"></i>Reschedule</label>
				       <label class="fontred  pt-2 pl-2"><i class="fa fa-times-circle-o pr-1"></i>Cancel</label>
				       <button mat-button type="button" class="d-block btn-primary float-right acceptbtn" (click)="myworkspaceAccept()">Accept</button>
			      	</div>
				  	 <div class="background pl-4 pb-2">
				        <div class="">
				          <h6 class="mb-0 pt-2">09 Sep 2019</h6>
				          <p class="text-gray pt-0 mb-0">Booked On:01 sep 2019 @ 12:07 pm</p>
				        </div>
				        <div>
				          <h6 class="mb-0 pt-2">Hair Cut(Salon) : $.200.00</h6>
				          <p class="text-gray pt-0 mb-0">(Tax : $.50.00)</p>
				        </div>
				        <div>
				          <p class="text-gray  mb-0 pt-2">Time</p>
				          <h6 class="pt-0 mb-0">12:00 am - 01:00 am (1 hr)</h6>
				        </div>        
				        <div class="d-flex">
				          <div class="appoint-orderBY">
				            <p class="text-gray mb-0 pt-2">Order By</p>
				            <h6 class="pt-0 mb-0">Admin</h6>
				          </div>
				           <div class="appoint-Status">
				            <p class="text-gray mb-0 pt-2">Status</p>
				            <h6 class="pt-0 mb-0">Pending</h6>
				          </div>
				           <div class="appoint-staff">
					          <p class="text-gray mb-0 pt-2">Staff</p>
					          <h6 class="pt-0 mb-0">Path Jain</h6>
				        	</div>
				        </div>       
				      </div>

				      <div class="pl-4 d-flex pt-3">
				        <div class="">
				          <div class="icon-background">SP</div>
				        </div>
				        <div class="pl-2">
				          <h6 class="mb-0 pt-0">Shab Patel</h6>
				          <p class="text-gray pt-0 mb-0">shabpatel02@gmail.com</p>
				        </div>
				      </div>
				      <div class="d-flex pl-4 pt-2">
				        <i class="fa fa-phone Appoinment-icon"></i>
				        <p class="pl-3 pt-0 mb-0">9876543210</p>
				      </div>
				      <div class="pl-4 d-flex pt-2">
				        <i class="fa fa-map-marker Appoinment-icon" aria-hidden="true"></i>
				        <h6 class="pl-3 pt-0 mb-0">A-23,Preeti Tower,180 Feet Road,Near IDBI Bank,Bhyandar(west).Mumbai-40010</h6>
				      </div>
				      <div  class="pl-4 pt-2 bottom-border">
				      	<h6>Note<i class="fa fa-plus-circle pl-2 note-icon" aria-hidden="true"></i></h6>
				      </div>

				</div>
			</mat-card>
	</div>
	
</div>



	