/*______[1]Main-Head____________*/
#admin-book-appointment {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#admin-book-appointment .row {
  width: 100%;
}

#admin-book-appointment .row mat-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#admin-book-appointment .row mat-card .flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#admin-book-appointment .flex-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#admin-book-appointment .category {
  margin-bottom: 0px;
}

#admin-book-appointment .font-blue {
  color: #0089ff;
}

#admin-book-appointment .font-gray {
  color: #848484;
}

#admin-book-appointment .left-border {
  border-left: 1px solid #dedede;
}

#admin-book-appointment .calender-icon {
  color: #0089ff;
  margin-top: 11px;
  /*font-weight: bold;*/
}

@media only screen and (min-device-width: 360px) and (max-device-width: 825px) and (orientation: landscape) {
  .align-center {
    padding-left: 0 !important;
    text-align: center;
  }
  .calender-date {
    padding-left: 72px;
  }
}

/*___________[2]Category_________*/
#category .mat-card {
  margin: 0px 18px;
}

#category .bottom-border {
  border-bottom: 1px solid #dedede;
}

#category .plr-25 {
  padding: 0px 25px;
}

#category li {
  list-style: none;
  padding: 0px 25px;
}

#category ul {
  padding-left: 0px;
}

#category p {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#category i {
  margin-left: auto;
}

#category .has-search .form-control {
  padding-left: 2.375rem;
}

#category .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: black;
}

#category .searchbox_appointment {
  border-radius: 20px;
}

#category .appointment {
  width: 25%;
}

#category .serch_input-appoint {
  width: 60%;
  height: 39px;
  padding-top: 10px;
}

#category .filter-btn-appoint {
  width: 20%;
  padding-top: 10px;
  margin-left: 20px;
}

/*_____________[3]Appointment____________________ */
#my-work-space {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120%;
  background-position: 60% 7%;
}

#my-work-space .timeframe-main {
  padding-left: 50px;
}

#my-work-space .font-blue {
  color: #0089ff;
}

#my-work-space .work-space-font {
  font-size: 12px;
}

#my-work-space .icon-size {
  font-size: 1.5rem;
}

#my-work-space .Time {
  width: 22%;
}

#my-work-space .customer-name {
  width: 33%;
}

#my-work-space .service-person {
  width: 25%;
}

#my-work-space .money {
  width: 20%;
}

#my-work-space .service-background .customer-background {
  /*border: 16px solid #6a77d38a;*/
  border-bottom: 0;
}

#my-work-space .service-background .customer-background .customer-profile-width .customer-name-profile {
  background-color: white;
  border-radius: 50%;
  /*width: 10%;*/
  padding: 10px;
  color: #79b2fd;
  text-align: center;
}

#my-work-space .service-background .customer-background .Details-button-width {
  display: block;
  margin-left: auto;
}

#my-work-space .service-background .customer-background .Details-button-width .Details-button {
  background: none;
  border-radius: 50px 50px;
  /*padding: 0px 24px;*/
  color: white;
  line-height: 2;
  margin: 4px;
  border: 1px solid white;
}

#my-work-space .service-background .line {
  background-color: #dedede;
  height: 1px;
}

.work-space-main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-space-main .container .justify-content-center .cal-icon-main {
  margin-top: 80px;
}

.work-space-main .container .justify-content-center .cal-icon-main img {
  height: 40px;
  width: 40px;
  margin-top: 8px;
  border-radius: 0;
}

.work-space-main .container .justify-content-center .cal-icon-main .beside-icon h4 {
  margin-bottom: 0;
  color: #fff;
  font-weight: normal;
}

.work-space-main .container .justify-content-center .cal-icon-main .beside-icon h1 {
  font-weight: normal;
  padding-bottom: 20px;
}

.left-time-main {
  position: relative;
}

.left-time-main:before {
  content: "";
  position: absolute;
  border: 0.5px solid #625555;
  left: -5%;
  top: 12%;
  height: 87%;
  opacity: 0.2;
}

.left-time-main span {
  position: absolute;
  left: -8%;
  font-size: 11px;
  top: 0;
}

@media only screen and (max-width: 645px) and (orientation: portrait) {
  .customer-name {
    width: 100% !important;
  }
  .money {
    width: 100% !important;
  }
  .Time {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .work-space-main .container .service-background .c-name-main {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work-space-main .container .service-background .c-name-main .d-flex {
    width: 100%;
  }
  .work-space-main .container .service-background .c-name-main .Details-button-width {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .work-space-main .container {
    display: unset;
  }
  .work-space-main .container .justify-content-center .cal-icon-main {
    margin-top: 10px !important;
  }
}

/*_____________[3] Appointment____________________ */
#Appoinment-Details .fs-1rem {
  font-size: 1rem;
}

#Appoinment-Details .fontred {
  color: red;
  font-size: 12px;
  width: 32%;
}

#Appoinment-Details h6 {
  font-size: 13px;
}

#Appoinment-Details p {
  font-size: 12px;
}

#Appoinment-Details .greenfont {
  color: green;
  font-size: 12px;
  width: 32%;
}

#Appoinment-Details .acceptbtn {
  border-radius: 50px;
  font-size: 12px;
  line-height: 1;
  width: 40%;
  height: 30px;
}

#Appoinment-Details .text-gray {
  color: gray;
  font-size: 12px;
}

#Appoinment-Details .background {
  background-color: #eafafc;
}

#Appoinment-Details .background .appoint-orderBY {
  width: 35%;
}

#Appoinment-Details .background .appoint-Status {
  width: 35%;
}

#Appoinment-Details .background .appoint-staff {
  width: 30%;
}

#Appoinment-Details .icon-background {
  background-color: #1e88e5;
  border-radius: 50%;
  padding: 13px;
  /* width: 5%;*/
  margin: 0;
  line-height: 0.4;
  text-align: center;
  height: 0%;
}

#Appoinment-Details .Appoinment-icon {
  color: #1e88e5;
}

#Appoinment-Details .person-name {
  text-align: center;
  padding-top: 0;
  padding: 5px 0px 5px 0;
}

#Appoinment-Details .note-icon {
  color: #1172f4;
}

/*<!-- Appointment popup(Hair Cut)[1] -->*/
::ng-deep #Appointment-pop-up {
  /* color: white;*/
  background-color: #487ffd;
}

::ng-deep #Appointment-pop-up .Time {
  width: 22%;
}

::ng-deep #Appointment-pop-up .customer-name {
  width: 33%;
}

::ng-deep #Appointment-pop-up .service-person {
  width: 25%;
}

::ng-deep #Appointment-pop-up .money {
  width: 20%;
}

::ng-deep #Appointment-pop-up .Reschedulebtn {
  border: 1px solid white;
  border-radius: 50px;
  font-size: 12px;
  line-height: 2;
  color: white;
  padding: 0px 22px;
}

::ng-deep #Appointment-pop-up .accept-btn {
  background-color: white;
  color: #487ffd;
}

::ng-deep #Appointment-pop-up .reschedulebtn-width {
  width: 22%;
}

::ng-deep #Appointment-pop-up .cancelbtn-width {
  width: 60%;
}

::ng-deep #Appointment-pop-up .acceptbtn-width {
  width: 18%;
}
/*# sourceMappingURL=my-work-space.component.css.map */