@import "variables";
#services {
    margin-left: 0;
}

.wrapcontent {
    display: flex;
    margin-bottom: 20px;
}

.hours {
    background-color: #ededed;
    height: 29px;
    width: 80px;
    padding: 5px 0 5px 8px;
}

.closed-braek-btn {
    width: 100px;
    height: 34px;
    border-radius: 50px;
    background-color: #949494;
    color: white;
}


::ng-deep .big-single-btn {
    height: auto;
    background-color: #ffe482;
    color: #0e0e0e;
    font-weight: 500;
    font-size: 14px;
    .mat-button-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        i {
            font-size: 40px;
            width: 100%;
            text-align: center;
        }
    }
}

.blank-time-off {
    justify-content: center;
    display: flex;
    height: 80vh;
    align-items: center;
}

.bussiness-save-btn {
    width: 137px;
    height: 37px;
    border-radius: 7px;
    background-color: #1173f4;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.working-hour-list.cdk-drop-list-dragging .working-hour-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.handler {
    cursor: move;
}

.main-working-hours-content {
    margin: 30px;
}

//Break
.main-breaks-content {
    margin: 30px;
    .breaks-wrapcontent {
        display: flex;
        margin-bottom: 20px;
        .breaks-hours {
            background-color: #ededed;
            height: 29px;
            width: 80px;
            padding: 5px 0 5px 8px;
        }
    }
    .closed-btn {
        background-color: #ededed;
        height: 29px;
        width: 80px;
        padding: 5px 0 5px 8px;
    }
}

.breaks-hours-box {
    padding: 10px 10px;
    //border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.breaks-hour-box {
    padding: 5px 10px;
    //border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    &.header-background {
        background-color: #f7f7f7;
    }
    .check-icon-background {
        background-color: #737373;
        border-radius: 100%;
        padding: 0px 4px;
        // width: 31px;
        // height: 31px;
        // border-radius: 16px;
        // background-color: #1173f4;
    }
    .staff-details-width {
        width: 50px;
        height: 50px;
        border-radius: 34px;
        background-color: #11acf4;
    }
}

.dropdown-width {
    width: 30%;
}


.time-off-button {
    width: 120px;
    height: 37px;
    border-radius: 26px;
    background-color: #a8ceff;
    padding-left: 0;
    padding-right: 8px;
    color: #378af6;
}

.calendar-background {
    background-color: #e8f2fe;
    padding: 13px;
    width: 50px;
    height: 50px;
    border-radius: 36px;
    .staff-calendar-image {
        height: 24px;
        width: 24px;
    }
}

.remove-button {
    width: 142px;
    height: 37px;
    border-radius: 26px;
    background-color: #ff0000;
}

.blue-font {
    color: #1173f4;
}

.bottom-border {
    border-bottom: 1px solid #dbdbdb;
    padding: 16px 0px;
}

.bottom-border-last {
    border-bottom: none;
    padding: 16px 0px;
}

.delete-box {
    font-size: 20px;
    color: #FF5757;
}

.save-box {
    font-size: 20px;
    color: #00A89B;
}

.save-btn {
    width: 120px;
    height: 37px;
    border-radius: 26px;
    background-color: #a8ceff;
    color: #1173f4;
}

.cancel-btn {
    width: 120px;
    height: 37px;
    border-radius: 26px;
    background-color: #cecece;
    color: #2a2a2a;
    margin-right: 10px;
}

::ng-deep textarea.mat-input-element {
    min-height: 80px !important;
}



.setting-right-side-content {
    .footer-save-container {
        position: fixed;
        bottom: 0;
        width: calc(100% - 300px);
        margin: 0;
        right: 0;
        box-shadow: 0 3px 17px rgb(0 168 155 / 25%), 0 4px 5px 0 rgb(0 168 155 / 25%) !important;
        transition: all 0.4s;
        .company-action-btn {
            justify-content: flex-end;
        }
    }
    &.short-content-area {
        .footer-save-container {
            width: calc(100% - 150px);
        }
    }
}

.business-cancel-btn {
    width: 128px;
    height: 37px;
    border-radius: 5px;
    margin-right: 7px;
    background-color: #A1A1A1;
    color: #fff;
    margin-left: auto;
}
.company-save-btn {
    width: 109px;
    height: 39px;
    border-radius: 5px;
    background-color: #F04589;
    color: white;
}

::ng-deep .common-tab-group{
    .mat-tab-header{
        background-color: #ffe4816b;
        padding: 0px 30px;
        .mat-ink-bar{
            height: 5px;
            border-radius: 40px;
        }
        .mat-tab-label{
            padding: 0 10px;
            width: 130px !important;
            opacity: 1;
            &.mat-tab-label-active{
                opacity: 1;
                .mat-tab-label-content{
                    color: #0E0E0E;
                }
            }
            .mat-tab-label-content{
                color: #565657;
            }
        }
    }
}

::ng-deep .main-working-hours-content{
    .working-hours-list{
        width: 100%;
        max-width: 850px;
        .working-hour-box{
            background-color: #EAF7F6;
            padding: 10px;
            align-items: flex-start;
            font-size: 16px;
            color: #565657 !important;
            font-weight: 500;
            margin-bottom: 10px;
            border-radius: 5px;
            .day-name{
                font-size: 14px;
            }
        
        }
    }
}
.apply-all-btn{
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: #00A89B;
    font-weight: 500;
    font-size: 14px;
}

.hrs-drpdwn{
    align-items: center;
    .common-input{
        margin-bottom: 0;
        .form-control{
            background-color: #fff;
            width: 150px;
            // padding: 12px;
            height: 40px;
        }
    }
    .to-center{
        width: 50px;
        text-align: center;
        margin: auto 0;
    }
}
 ::ng-deep .main-breaks-content{
     .breaks-list{
        width: 100%;
        max-width: 700px;
        .break-box{
            background-color: #EAF7F6;
            padding: 10px;
            align-items: flex-start;
            font-size: 16px;
            color: #565657 !important;
            font-weight: 500;
            margin-bottom: 10px;
            border-radius: 5px;
            // align-items: center;
            .add-braek-btn {
                width: 100px;
                height: 34px;
                border-radius: 5px;
                background-color: #F04589;
                color: white;
                &.braek-closed {
                    background-color: #e74033;
                }
            }
            .breaktime-slot-main{
                margin-bottom: 10px;
            }
            .day-name{
                font-size: 14px;
            }
        }

     }
 }
 .close-text{
     font-size: 14px;
 }
 ::ng-deep .holiday-table{
    margin: 30px;
    .time-of-box{
        background-color: #EAF7F6;
        padding: 10px 15px;
        align-items: center;
        font-size: 16px;
        color: #565657 !important;
        font-weight: 500;
        margin-bottom: 10px;
        border-radius: 5px;
        .toggle-btn{
            margin: 0 20px;
        }
        .delete-box{
            margin: 0 20px;
        }
        .td-date{
            font-size: 14px;
        }
    }
    .holiday-list{
        .time-of-box{
            padding: 25px 15px;
        }
    }
 }