<div class="container-fluid sub-container" id="staff">
    <div class="row h-100">
        <mat-drawer-container class="example-container">
            <mat-drawer mode="side" opened style="width:300px">
                <div class="leftarrow-icon">
                    <mat-icon aria-hidden="false" class="customer-drawer-leftarrow">arrow_back</mat-icon>
                </div>
                <h6>Resource Management</h6>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">star_outline</mat-icon>
                    <p>Services</p>
                </div>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">group</mat-icon>
                    <p>Staff</p>
                </div>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">access_time</mat-icon>
                    <p>Business Hours</p>
                </div>
                <h6 class="pt-3">Account</h6>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">person</mat-icon>
                    <p>My Profile</p>
                </div>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">apartment</mat-icon>
                    <p>Company Details</p>
                </div>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">language</mat-icon>
                    <p>Localization</p>
                </div>
                <h6 class="pt-3">Payment</h6>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">payment</mat-icon>
                    <p>Payment Gateway</p>
                </div>
                <div class="d-flex">
                    <i class="fa fa-credit-card payment-icon" aria-hidden="true"></i>
                    <p>Payment Rules</p>
                </div>
                <h6 class="pt-3">General Setting</h6>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">warning</mat-icon>
                    <p>Booking Rules</p>
                </div>
                <div class="d-flex">
                    <mat-icon aria-hidden="false">contact_mail</mat-icon>
                    <p>Alert Rules</p>
                </div>
            </mat-drawer>
            <mat-drawer-content>
                <mat-card class="mb-0">
                    <form >
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12  border-right">
                        <h6>Add Staff</h6>
                        <div class="d-flex">
                            <img class="add-staff mx-auto"  src="/assets/images/admin/Layer-3.png">
                        </div>
                        <mat-form-field class="bottom-border-field">
                            <mat-label>Name</mat-label>
                            <mat-icon class="mr-4" matPrefix>person</mat-icon>
                            <input matInput placeholder="Enter Your First Name">  
                        </mat-form-field> 
                        <mat-form-field class="bottom-border-field">
                            <mat-label>Mobile</mat-label>
                            <mat-icon class="mr-4" matPrefix>call</mat-icon>
                            <input matInput placeholder="Enter Your number">  
                        </mat-form-field> 
                        <mat-form-field class="bottom-border-field">
                            <mat-label>Email</mat-label>
                            <mat-icon class="mr-4" matPrefix>email</mat-icon>
                            <input matInput placeholder="Enter Your Email">  
                        </mat-form-field> 
                        <mat-form-field class="bottom-border-field">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Enter Your address">  
                        </mat-form-field> 
                        <mat-form-field class="bottom-border-field">
                            <mat-label>Description</mat-label>
                            <textarea matInput
                                        cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize"
                                        cdkAutosizeMinRows="1"
                                        cdkAutosizeMaxRows="7"></textarea>
                        </mat-form-field> 
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 text-center border-right">
                        <div class="upload-document-top-margin">
                            <div class="d-flex">
                                <h6>Upload Documents</h6>
                                <i class="fa fa-question-circle uploaddocument-icon" aria-hidden="true"></i>
                            </div>
                            <div class="upload-files">
                                <mat-icon aria-hidden="false" class="uploadfile-icon">cloud_upload</mat-icon>
                                <p>.PDF .JPG .PNG .DOC</p>
                                <p>Drag & drop your files here</p>
                                <div>
                                    <button mat-button class="upload-btn">Upload Files</button>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="pan-card file-border d-flex">
                                    <mat-icon aria-hidden="false" class="pr-1">insert_drive_file</mat-icon>
                                    <p class="pr-1 mb-0">PAN card.pdf</p>
                                    <mat-icon aria-hidden="false">cancel</mat-icon>
                                </div>
                                <div class="adhar-card file-border d-flex">
                                    <mat-icon aria-hidden="false" class="pr-1">insert_drive_file</mat-icon>
                                    <p class="pr-1 mb-0">Adhar card.jpg</p>
                                    <mat-icon aria-hidden="false">cancel</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12t">
                        <!-- <mat-card> -->
                            <div class="d-flex pb-3">
                                <button mat-button class="staff-delete-btn">
                                    <mat-icon class="pr-2">delete_outline</mat-icon>Delete</button>
                            </div>
                            <div class="border p-3">
                                <h6>Select Service for staff</h6>
                                <mat-form-field class="pb-3 bottom-border-field">
                                <mat-label>Outline form field</mat-label>
                                <input matInput placeholder="Category,Subcategory,Service">
                                <mat-icon matPrefix>search</mat-icon>
                                </mat-form-field>
                                <mat-accordion>
                                    <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <mat-checkbox>Salon</mat-checkbox> 
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                        <div>
                                            <mat-checkbox>Service Name</mat-checkbox> 
                                        </div>
                                        <mat-checkbox>Service Name</mat-checkbox> 
                                        <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                            <mat-checkbox>Category Name</mat-checkbox> 
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                            <mat-checkbox>Service Name</mat-checkbox> 
                                            <mat-checkbox>Service Name</mat-checkbox> 
                                        </mat-expansion-panel>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <mat-checkbox>Hair</mat-checkbox> 
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                        <div>
                                            <mat-checkbox>Hair Color</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Hair Cut</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Hair Spa</mat-checkbox> 
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <mat-checkbox>Home Cleaning</mat-checkbox> 
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                        <div>
                                            <mat-checkbox>Floor Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Kitchen Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Sofa Cleaning</mat-checkbox> 
                                        </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <mat-checkbox>Plumbing</mat-checkbox> 
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="mat-sub-expansion">
                                        <div>
                                            <mat-checkbox>Floor Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Kitchen Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Sofa Cleaning</mat-checkbox> 
                                        </div>
                                    </div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                        <mat-checkbox>Pest Control</mat-checkbox> 
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                        <div>
                                            <mat-checkbox>Floor Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Kitchen Cleaning</mat-checkbox> 
                                        </div>
                                        <div>
                                            <mat-checkbox>Sofa Cleaning</mat-checkbox> 
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        <!-- </mat-card> -->
                    </div>
                </div>
            </form>
            </mat-card>
            <mat-card class="">
                <div class="d-flex py-2">
                    <button mat-button class="staff-cancel-btn">Cancel</button>
                    <button mat-button class="staff-save-btn ml-2">Save</button>
                </div>
            </mat-card>
            <mat-card>
                <div class="row p-3">
                    <div class="d-flex mb-1">
                        <h5>Staff</h5>
                        <div>
                            <button mat-button class="staff-add-btn pl-0"> <mat-icon aria-hidden="false">add</mat-icon>Add Staff</button>
                        </div>
                    </div>
                    <p>Staff/team members are required to deliver services to your customers. you can define rights/permissions, and the services they can perform.</p>
                    <div class="d-flex mb-3">
                        <mat-form-field class="dropdown bottom-border-field mt-0">
                            <mat-label>Status</mat-label>
                            <mat-select>
                              <mat-option>None</mat-option>
                              <mat-option value="All">All</mat-option>
                              <mat-option value="Active">Active</mat-option>
                              <mat-option value="Inactive">Inactive</mat-option>
                              <mat-option value="Scheduled">Scheduled</mat-option>
                              <mat-option value="Expired">Expired</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="searchbox mr-2">
                            <form class="search_input-staff">							
                                <div class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback verticalLine"></span>
                                    <input type="text" class="form-control searchbox_staff " placeholder="Search Coupon">
                                </div>												
                            </form>
                          </div>
                    </div>
                    
                        <!-- <table  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Last name</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>zxcv</td>
                                <td>sdfg</td>
                                <td>sdfg</td>
                              </tr>
                            </tbody>
                        </table> -->
                  
                    <div class="" id="">
                        <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border hover">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Visibility</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    <p>Meet Shah</p>
                                </td>
                                <td>
                                    <p>meet.shah199@gmail.com</p>
                                </td>
                                <td> 
                                  <p>9819824470</p>
                                </td>
                                <td> 
                                  <p>Public</p>
                                </td>
                                <td>
                                  <mat-slide-toggle>Slide me!</mat-slide-toggle>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </mat-card>
            <mat-card>
                <div class="d-flex">
                    <div>
                        <img  class="staff-profile-width" src="/assets/images/admin/Layer9.png">
                    </div>
                    <div class="">
                        <div class="d-flex">
                            <h6>Naznin Paul</h6>
                            <div class="d-flex">
                                <mat-icon aria-hidden="false" class="review-star">star</mat-icon>
                                <mat-icon aria-hidden="false" class="review-star">star</mat-icon>
                                <mat-icon aria-hidden="false" class="review-star">star</mat-icon>
                                <mat-icon aria-hidden="false" class="review-star">star</mat-icon>
                                <mat-icon aria-hidden="false" class="review-star">star</mat-icon>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex">
                                <mat-icon aria-hidden="false">email</mat-icon>
                                <p>naazninp04@gmail.com</p>
                            </div>
                            <div class="d-flex">
                                <mat-icon aria-hidden="false">call</mat-icon>
                                <p>9820420420</p>
                            </div>
                        </div>
                    </div>
                    <div class="staff-btn">
                        <div class="mx-2">                                
                            <button mat-button appearance="fill" class="staff-edit-btn text-center pl-0"><mat-icon class="">edit</mat-icon>Edit</button>
                        </div>
                        <div class="mx-2">
                            <button mat-button appearance="fill" class="staff-delete-btn" ><mat-icon class="">delete</mat-icon> Delete</button>
                        </div> 
                    </div>
                </div>
            </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>