<mat-sidenav-container class="tp-notification-container">
    <mat-sidenav mode="side" opened>
        <div class="modal-dialog-container mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Appointment Details</h5>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>

                <div class="modal-body modal-bcolor">

                    <p class="mb-0 font-weight-bold"> {{booking_dateForLabel}}</p>
                    <p>Booked On: {{created_atForLabel}}</p>

                    <p class="mb-0">Service</p>
                    <p class="font-weight-bold">{{myAppoDetailData.service.service_name}}($ {{myAppoDetailData.service.service_cost}})</p>
                    <p class="mb-0">Time</p>
                    <p class="font-weight-bold">{{booking_timeForLabel}} - {{booking_time_to}} ({{myAppoDetailData.service.service_time}} Min)</p>

                    <div class="d-flex">

                        <div class="pl-0">
                            <p class="mb-0">Order By</p>
                            <p class="font-weight-bold text-capitalize">{{myAppoDetailData.order_by}}</p>
                        </div>
                        <div class="pl-5">
                            <p class="mb-0">Status</p>

                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'P'">Waiting For Confirmation</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'AC'">Confirm</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'OW'">On The Way</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'RSA'">Rescheduled By Admin</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'RSS'">Rescheduled By Staff</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'RSC'">Rescheduled</p>
                            <p class="font-weight-bold text-capitalize" *ngIf="myAppoDetailData.order_status == 'CO'">Completed</p>
                            <p class="font-weight-bold text-capitalize mb-0" *ngIf="myAppoDetailData.order_status == 'GL'">Getting Late</p>
                            <p class="mb-0" *ngIf="myAppoDetailData.gl_time && myAppoDetailData.gl_time != '' && myAppoDetailData.order_status == 'GL'">Late Time : {{myAppoDetailData.gl_time}} Min</p>
                        </div>

                    </div>
                    <div>
                        <p class="mb-0">Staff</p>
                        <p class="mb-0 font-weight-bold" *ngIf="myAppoDetailData.staff_id == null">Not Assigned</p>
                        <div class="" *ngIf="myAppoDetailData.staff_id != null">
                            <p class="mb-0 font-weight-bold text-capitalize">{{myAppoDetailData.staff.firstname}} {{myAppoDetailData.staff.lastname}}</p>
                            <p class="mb-0">Phone NO:{{myAppoDetailData.staff.phone}}</p>
                        </div>
                    </div>
                </div>
                <mat-card class="card-body-marginn booking-detail-main mb-0">
                    <h6 class="text-left mb-3">Booking Details</h6>
                    <div class="row align-items-center">
                        <p class="customer-profile-img">SP</p>
                        <div class="customer-name pr-3">
                            <p class="font-weight-bold mb-0">{{myAppoDetailData.customer.fullname}}</p>
                            <p class="address-fontsize mb-0">{{myAppoDetailData.customer.email}}</p>
                        </div>

                    </div>
                    <p class=" address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>{{myAppoDetailData.customer.phone}}</p>
                    <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>{{myAppoDetailData.customer.address}}</p>
                    <p class="pl-4 address-fontsize">{{myAppoDetailData.customer.city}}, {{myAppoDetailData.customer.state}}, {{myAppoDetailData.customer.zip}}</p>
                </mat-card>

            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>