<div class="modal-dialog modal-notify modal-info" role="document" id="re-athentication-dialog">
    <div class="modal-content ">
        <div class="modal-header modal-bcolor-primary">
            <!-- <h5 class="heading lead  work-content mb-0">Logout</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>
        <div class="modal-body pb-0 text-center">
            <form [formGroup]="reAuthenticationForm">
                <div class="form-row">
                    <p>Enter Your Password</p>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="input-group form-group">
                            <input (keyup)="fnEnterKeyPress($event)" class="form-control" matInput type="password" formControlName="user_password" placeholder="Enter Your Password">
                            <span class="error-wrap" *ngIf="reAuthenticationForm.get('user_password').dirty || reAuthenticationForm.get('user_password').touched"><small *ngIf="reAuthenticationForm.get('user_password').hasError('required')" class="error">Password is required.</small>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="my-4">
                <button (click)="submit()" type="submit" mat-button class="submit-btn mr-2">Submit</button>
            </div>
        </div>
    </div>
</div>