<div fxLayout="row wrap">
	<div>
		<h1>Select Session </h1>
	</div>
<!-- 	<span flex></span>
	<div >x</div> -->
</div>
<div mat-dialog-content>
	  <mat-card-content>
	    <div fxLayout="row wrap" fxLayoutGap="3%">
	      <div fxFlex="100">
	        <form [formGroup]="selectSessionFormGroup" class="full-width">
	          <mat-radio-group aria-label="Select an option" formControlName="session" class="sessionRadioGroup">
             <!-- <mat-radio-button *ngIf="isAdminUser()" value="null-All Sessions" [checked]="selectedSessionId == 'null'" class="sessionRadioButton">All Sessions</mat-radio-button> -->
              <mat-radio-button *ngFor="let item of sessionData" value="{{item.id}}-{{item.session_name}}" [checked]="selectedSessionId == item.id" class="sessionRadioButton">{{item.session_name}}</mat-radio-button>
            </mat-radio-group>
          </form>
	      </div>
	    </div>
	  </mat-card-content>
</div>
<div fxLayout="row wrap" *ngIf="!sessionData && !isAdminUser()">
	<span flex>There are no sessions linked to this account.</span>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="closeModal()" >Cancel</button>
  <button mat-stroked-button color="primary"  (click)="saveData()" cdkFocusInitial *ngIf="(sessionData != null && sessionData != undefined) || isAdminUser()">Save</button>
</div>