<div class="" role="document">
    <div class="step-loader" *ngIf="isLoader">
        <img src="../../assets/loading-spinner.gif" />
    </div>
    <div id="datetime_select" class="main-step step_5 p-0 h-100 popup-date-time">
        <div class="row ml-0 mr-0 main-datetime-selection h-100">
            <div class="col-12 col-lg-6 col-sm-12 datepicker-main">
                <div class="ngbpicker">
                    <div class="ngb-dp-header customepickheader">
                        <div class="ngb-dp-month-name ng-star-inserted">Pick date & time</div>
                    </div>
                    <ngb-datepicker [startDate]="today" [minDate]="minDate" [maxDate]="maxDate" [markDisabled]="isDisabled" (dateSelect)="onDateSelect($event)" [displayMonths]="displayMonths" [navigation]="navigation" today={true} class='' #dp [(ngModel)]="model" (navigate)="date= $event.next"></ngb-datepicker>
                </div>

            </div>
            <div class="col-12 col-lg-6 col-sm-12 timeslot-main">
                <button mat-fab color="" class="top-back-btn float-right" (click)="onNoClick()">
                    <i class="material-icons" color="">close</i>
                </button>
                <h3 class="selected-date">{{selecteddateForLabel != '' ? selecteddateForLabel : ''}}</h3>
                <div *ngIf="timeSlotArr.length == 0">
                    No slots available
                </div>
                <div class="slot-list" *ngIf="timeSlotArr.length>0">
                    <div class="timing" *ngFor="let timeSlot of timeSlotArr; let i= index">
                        <label *ngIf="timeSlotArrForLabel[i]">
                            <input name="timeslot" type="radio" />
                            <div *ngIf="staffOnFrontValue" (click)="fnSelectTimeSlot(timeSlot,i)" class="single-slot"
                                [mdePopoverTriggerFor]="selectstaff2"
                                mdePopoverTriggerOn="click"
                                #popoverTrigger="mdePopoverTrigger">{{timeSlotArrForLabel[i]}}</div>
                            <div *ngIf="!staffOnFrontValue" (click)="fnSelectTimeSlot(timeSlot,i)" class="single-slot"
                                >{{timeSlotArrForLabel[i]}}</div>
                        </label>
                        <mde-popover #selectstaff2="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                            <mat-card class="staff-select-box p-0" style="width: 200px">
                                <mat-card-content class="py-2 px-3 mt-0">
                                    <div class="row">
                                        <div class="col staff-selection">
                                            <mat-radio-group *ngIf="!isStaffAvailable" aria-label="Select Staff">
                                                <mat-radio-button [checked]="serviceCartArr[currentSelectedService]
                                                &&
                                                serviceCartArr[currentSelectedService].assignedStaff==null" (change)="fnSelectStaff(null,i)" value="">Any Staff
                                                </mat-radio-button>
                                            </mat-radio-group>
                                            <mat-radio-group aria-label="Select Staff" *ngIf="isStaffAvailable">
                                                <mat-radio-button (change)="fnSelectStaff(null,i)" value="">Any Staff
                                                </mat-radio-button>
                                                <mat-radio-button *ngFor="let staff of availableStaff" (change)="fnSelectStaff(staff.id,i)" class="text-capitalize" value="{{staff.id}}">{{staff.name}}</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </mde-popover>
                    </div>
                    <div class="timing" *ngIf="timeSlotArr.length==0">
                        No Time Slots Available
                    </div>


                </div>
                <div class="next-action">
                    <button mat-button class="round-btn confirm-btn" (click)="fnClosePopup()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>