<div fxLayout="row wrap" fxLayoutGap="2%" *ngIf="!dataLoaded" fxLayoutAlign="center center" class="full-height">
      <mat-spinner [diameter]="50"></mat-spinner>
      <span>Fetching data...</span>
</div>

<div *ngIf="isIE" fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="login-screen">
  <div fxFlex="50" fxFlex.lt-md="50" fxFlex.lt-sm="90" class="ie-notice">
    <h1>YOUR BROWSER IS NOT SUPPORTED</h1>
    <h2>Please use a newer browser like Google Chrome, Microsoft Edge, Firefox etc.</h2>
  </div>
</div>

<div *ngIf="hideLoginForm && !isIE" fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="login-screen"> 
  <div class="card-wrap col-lg-7 col-md-7 col-sm-9 col-xs-11">
    <mat-card class="example-card login-card p-0">
      <mat-card-content class="login-container row">
        <div fxLayoutAlign="center center" id="login-form" class="left-side p-2 col-lg-6 col-md-6 col-sm-12 col-12 float-left  h-100">
          <form [formGroup]="loginForm" class="w-75">        
            <mat-card-title>
              <h2 class="text-center">Log In</h2>
              <p class="text-center text-dark">to your account</p>
            </mat-card-title>
            <div class="input-wrap my-3">
              <input type="text" formControlName="email" placeholder="Email" class="common-input form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <span class="error-wrap" *ngIf="loginForm.get('email').dirty || loginForm.get('email').touched || formSubmitclicked"><small *ngIf="loginForm.get('email').hasError('required')" class="error">Email Is required</small></span>
            </div>

            <div class="input-wrap my-3">
              <input type="password" formControlName="password" placeholder="Password" class="common-input form-control" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div mat-icon-button matSuffix  class="icon-cust-pass">
                <mat-icon  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </div>
              <span class="error-wrap" *ngIf="loginForm.get('password').dirty || loginForm.get('password').touched || formSubmitclicked"><small *ngIf="loginForm.get('password').hasError('required')" class="error">Password Is required</small></span>
            </div>
            <div class="input-wrap my-3">
              <button type="submit" color="primary" [disabled]="loading" (click)="onSubmit()" class="common-btn text-white w-100 buttion-but" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  Login
              </button>
            </div> 
            <div class="input-wrap my-3">
              <!-- <button type="button" color="primary" [disabled]="loading" (click)="signInWithGoogle()" class="common-btn text-white w-100 buttion-but" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  Sign In With Google
              </button>
              <button type="button" color="primary" [disabled]="loading" (click)="signInWithFB()" class="common-btn text-white w-100 buttion-but" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  Sign In With Facebook
              </button>
              <button type="button" color="primary" [disabled]="loading" (click)="signOut()" class="common-btn text-white w-100 buttion-but" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
                  signOut from Google
              </button> -->
              <!-- <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button> -->
            </div> 
        <!-- Traslate -->
          <div class="forgot-wrap text-center"> 
            <a class="help forgot-pwd" (click)="forgotPassword()">Forgot Password</a>
          </div>
            <p class="error" *ngIf="error">{{error}}</p>
          </form>
        </div>
      <div class="or-option">or</div>
      <div fxLayoutAlign="center center" id="login-with-social" class="right-side p-2 col-lg-6 col-md-6 col-sm-12 col-12  float-left h-100">
        <div class="w-75 login-with-social">      
          <mat-card-title>
            <h2 class="text-center text-white">Sign In</h2>
            <p class="text-center text-white">With one of your social <br/> account</p>
          </mat-card-title>
          <div class="social-btns" fxLayoutalign="center center">
            <a class="btn social-login facebook" (click)="signInWithFB()"><i class="fa fa-facebook-f"></i></a>
            <a class="btn social-login google_plus" (click)="signInWithGoogle()"><i class="fa fa-google-plus"></i></a>
          </div>
          <div class="create-account">
            <p>Don't have account?</p>
            <a class="create-acc-link" routerLink="attendees-registration">Create Account</a>
          </div>
        </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>         
        
         