#booking-rules {
    // p{
    //     color: #a0a0a0;
    // }
    .bottom-line {
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .matcard-space {
        padding: 30px;
    }
    .example-full-width {
        width: 66%;
    }
    .staff-reset-btn {
        width: 120px;
        height: 37px;
        border-radius: 26px;
        background-color: #a8ceff;
        color: #1173f4;
    }
}