#booking-rules{
    .bottom-line{
        border-bottom: solid 1px #ccc;
        width: 100%;
    }
    .matcard-space{
        padding: 30px;
    }
    .example-full-width{
        width: 66%;
    }
}
