<div class="content-main">
    <mat-tab-group  mat-align-tabs="start">
        <mat-tab label="Pending">
            <div class="pendingnotes d-flex">
                <p class="mb-0">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum
                    generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder" >
                    <label class="mb-0 pendingdate">December 13</label>
                    <p style="text-align: right;font-size: 16px;">Wednesday</p>
                </div>

                <div class="" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">06:00</label>
                    <p style="text-align: right;">PM</p>
                </div>

            </div>
            <div class="col-12" >
                <mat-card class="table-background">
                  <div class="">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="">
                                <div class="main-table-head" fxLayout="row">
                                    <div class="" fxFlex="20">Services</div>
                                    <div class="" fxFlex="25">Customer</div>
                                    <div class="" fxFlex="25">Staff</div>
                                    <div class="" fxFlex="10">Amount</div>
                                    <div class="" fxFlex="10">Date</div>
                                    <div class="" fxFlex="10">Time</div>
                                </div>
                                <div class="content" class="example-list">
                                    <div *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="example-box">
                                        <div class="" fxFlex="20">
                                          <p class="mb-0">{{pendingAppointments.service.service_name}}</p>
                                        </div>
                                        <div class=" " fxFlex="25">
                                          <p class="mb-0">{{pendingAppointments.customer.fullname}}</p>
                                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer.phone}}</p>
                                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer.email}}</p>
                                        </div>
                                        <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                                          <p class="mb-0">Raj Kumar</p>
                                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:1234567890</p>
                                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:rajkumar@gmail.com</p>
                                        </div>
                                        <div *ngIf="pendingAppointments.staff == null" class="" fxFlex="25">
                                          <p class="mb-0">Not Assigned</p>
                                        
                                        </div>
                                        <div class="" fxFlex="10">
                                          {{pendingAppointments.total_cost}}
                                        </div>
                                        <div class="" fxFlex="10">
                                          {{pendingAppointments.booking_date}}
                                        </div>
                                        <div class="" fxFlex="10">
                                          {{pendingAppointments.booking_time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div> 
                </div>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab label="Not Assigned" class="notassignedlabel">
            <div class="pendingnotes d-flex">
                <p class="mb-0">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum
                    generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder" >
                    <label class="mb-0 pendingdate" >December 13</label>
                    <p style="text-align: right;font-size: 18px;">Wednesday</p>
                </div>

                <div class="" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">06:00</label>
                    <p style="text-align: right;">PM</p>
                </div>

            </div>
            <div class="col-12" >
              <div class="">
                <div class="main-table-head" fxLayout="row">
                    <div class="" fxFlex="20">Services</div>
                    <div class="" fxFlex="25">Customer</div>
                    <div class="" fxFlex="25">Staff</div>
                    <div class="" fxFlex="10">Amount</div>
                    <div class="" fxFlex="10">Date</div>
                    <div class="" fxFlex="10">Time</div>
                </div>
                <div class="content" class="example-list">
                    <div *ngFor="let notAssignedAppointments of notAssignedAppointments; let i=index" class="example-box">
                        <div class="" fxFlex="20">
                          <p class="mb-0">{{notAssignedAppointments.service.service_name}}</p>
                        </div>
                        <div class=" " fxFlex="25">
                          <p class="mb-0">{{notAssignedAppointments.customer.fullname}}</p>
                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{notAssignedAppointments.customer.phone}}</p>
                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{notAssignedAppointments.customer.email}}</p>
                        </div>
                        <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                          <p class="mb-0">Raj Kumar</p>
                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:1234567890</p>
                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:rajkumar@gmail.com</p>
                        </div>
                        <div *ngIf="notAssignedAppointments.staff == null" class="" fxFlex="25">
                          <p class="mb-0">Not Assigned</p>
                        </div>
                        <div class="" fxFlex="10">
                          {{notAssignedAppointments.total_cost}}
                        </div>
                        <div class="" fxFlex="10">
                          {{notAssignedAppointments.booking_date}}
                        </div>
                        <div class="" fxFlex="10">
                          {{notAssignedAppointments.booking_time}}
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </mat-tab>
        <div class="pendingnotes d-flex">
            <p class="mb-0">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum
                generator,Lorem Ipsum,giving information on its origins.</p>
            <div class="col-2 pendingborder" >
                <label class="mb-0 pendingdate" >December 13</label>
                <p style="text-align: right;font-size: 18px;">Wednesday</p>
            </div>

            <div class="" style="margin: 0 20px 0 20px;">
                <label class="mb-0 pendingdate">06:00</label>
                <p style="text-align: right;">PM</p>
            </div>

        </div>
        <div class="col-12" >
          <div class="">
            <div class="main-table-head" fxLayout="row">
                <div class="" fxFlex="20">Services</div>
                <div class="" fxFlex="25">Customer</div>
                <div class="" fxFlex="25">Staff</div>
                <div class="" fxFlex="10">Amount</div>
                <div class="" fxFlex="10">Date</div>
                <div class="" fxFlex="10">Time</div>
            </div>
            <div class="content" class="example-list">
                <div *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="example-box">
                    <div class="" fxFlex="20">
                      <p class="mb-0">{{pendingAppointments.service.service_name}}</p>
                    </div>
                    <div class=" " fxFlex="25">
                      <p class="mb-0">{{pendingAppointments.customer.fullname}}</p>
                      <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer.phone}}</p>
                      <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer.email}}</p>
                    </div>
                    <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                      <p class="mb-0">Raj Kumar</p>
                      <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:1234567890</p>
                      <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:rajkumar@gmail.com</p>
                    </div>
                    <div *ngIf="pendingAppointments.staff == null" class="" fxFlex="25">
                      <p class="mb-0">Not Assigned</p>
                    
                    </div>
                    <div class="" fxFlex="10">
                      {{pendingAppointments.total_cost}}
                    </div>
                    <div class="" fxFlex="10">
                      {{pendingAppointments.booking_date}}
                    </div>
                    <div class="" fxFlex="10">
                      {{pendingAppointments.booking_time}}
                    </div>
                </div>
            </div>
        </div>
        </div>

        <mat-tab label="On The Way" class="onthewaylabel">
            <div class="pendingnotes d-flex">
                <p class="mb-0">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum
                    generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder" >
                    <label class="mb-0 pendingdate" style="text-align: right;">December 13</label>
                    <p style="text-align: right;font-size: 18px;">Wednesday</p>
                </div>

                <div class="" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">06:00</label>
                    <p style="text-align: right;">PM</p>
                </div>

            </div>
            <div class="col-12" >
              <div class="">
                <div class="main-table-head" fxLayout="row">
                    <div class="" fxFlex="20">Services</div>
                    <div class="" fxFlex="25">Customer</div>
                    <div class="" fxFlex="25">Staff</div>
                    <div class="" fxFlex="10">Amount</div>
                    <div class="" fxFlex="10">Date</div>
                    <div class="" fxFlex="10">Time</div>
                </div>
                <div class="content" *ngIf="onTheWayAppointments != 'no booking found'" class="example-list">
                    <div *ngFor="let onTheWayAppointments of onTheWayAppointments; let i=index" class="example-box">
                        <div class="" fxFlex="20">
                          <p class="mb-0">{{onTheWayAppointments.service.service_name}}</p>
                        </div>
                        <div class=" " fxFlex="25">
                          <p class="mb-0">{{onTheWayAppointments.customer.fullname}}</p>
                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{onTheWayAppointments.customer.phone}}</p>
                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{onTheWayAppointments.customer.email}}</p>
                        </div>
                        <div *ngIf="onTheWayAppointments.staff != null" class="" fxFlex="25">
                          <p class="mb-0">Raj Kumar</p>
                          <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:1234567890</p>
                          <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:rajkumar@gmail.com</p>
                        </div>
                        <div *ngIf="onTheWayAppointments.staff == null" class="" fxFlex="25">
                          <p class="mb-0">Not Assigned</p>
                        </div>
                        <div class="" fxFlex="10">
                          {{onTheWayAppointments.total_cost}}
                        </div>
                        <div class="" fxFlex="10">
                          {{onTheWayAppointments.booking_date}}
                        </div>
                        <div class="" fxFlex="10">
                          {{onTheWayAppointments.booking_time}}
                        </div>
                    </div>
                </div>
                <div class="content" *ngIf="onTheWayAppointments == 'no booking found'" class="example-list">
                  {{onTheWayAppointments}}
                </div>
            </div>
            </div>

        </mat-tab>
        
        <mat-tab label="Work Started" class="workstartedlabel">
            <div class="pendingnotes d-flex">
                <p class="mb-0">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum
                    generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder">
                    <label class="mb-0 pendingdate" style="text-align: right;">December 13</label>
                    <p style="text-align: right;font-size: 18px;">Wednesday</p>
                </div>

                <div class="" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">07:15</label>
                    <p style="text-align: right;">PM</p>
                </div>

            </div>
            <div class="" >
                <mat-card>
                  <div class="">
                    <div class="main-table-head" fxLayout="row">
                        <div class="" fxFlex="20">Services</div>
                        <div class="" fxFlex="25">Customer</div>
                        <div class="" fxFlex="25">Staff</div>
                        <div class="" fxFlex="10">Amount</div>
                        <div class="" fxFlex="10">Date</div>
                        <div class="" fxFlex="10">Time</div>
                    </div>
                    <div class="content" class="example-list">
                        <div *ngFor="let workStartedAppointments of workStartedAppointments; let i=index" class="example-box">
                            <div class="" fxFlex="20">
                              <p class="mb-0">{{workStartedAppointments.service.service_name}}</p>
                            </div>
                            <div class=" " fxFlex="25">
                              <p class="mb-0">{{workStartedAppointments.customer.fullname}}</p>
                              <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{workStartedAppointments.customer.phone}}</p>
                              <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{workStartedAppointments.customer.email}}</p>
                            </div>
                            <div *ngIf="workStartedAppointments.staff != null" class="" fxFlex="25">
                              <p class="mb-0">Raj Kumar</p>
                              <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:1234567890</p>
                              <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:rajkumar@gmail.com</p>
                            </div>
                            <div *ngIf="workStartedAppointments.staff == null" class="" fxFlex="25">
                              <p class="mb-0">Not Assigned</p>
                            </div>
                            <div class="" fxFlex="10">
                              {{workStartedAppointments.total_cost}}
                            </div>
                            <div class="" fxFlex="10">
                              {{workStartedAppointments.booking_date}}
                            </div>
                            <div class="" fxFlex="10">
                              {{workStartedAppointments.booking_time}}
                            </div>
                        </div>
                    </div>
                </div>
                    </mat-card>
            </div>

        </mat-tab>
    </mat-tab-group>
    <!-- <div class="modal-dialog mt-0 mb-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Details</h5>
              <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="appodetails">
            <label class="greenfont"><i class="fa fa-repeat repeat"></i>Reschedule</label>
            <label class="fontred"><i class="fa fa-times-circle-o circle"></i>Cancel</label>
      
             <button mat-button type="button" class="d-block btn-primary float-right paybtn">Confirm</button>
          </div>
      
          <div class="modal-body modal-bcolor">
            <p class="mb-0 font-weight-bold">13 Dec 2019</p>
            <p>Booked On: 01 Nov 2019 @ 12:07 pm</p>
      
            <p class="mb-0">Service</p>
            <p class="font-weight-bold">Services , Category ($.3,000.00)</p>
            <p class="mb-0">Time</p>
            <p class="font-weight-bold">08:15 am-09:00 am(45 min)</p>
           
            <div class="d-flex">
            
              <div class="pl-0">
              <p class="mb-0">Order By</p>
              <p class="font-weight-bold">Customer</p>
            </div>
            <div class="pl-5">  
              <p class="mb-0">Status</p>
              <p class="font-weight-bold">Accepted</p>
            </div>
          
          </div>
          <div>
            <p class="mb-0">Staff</p>
            <p class="mb-0 font-weight-bold">Pooja Chakerbarti</p>
            <p class="mb-0">Phone NO:9876543210</p>
          </div>
           </div>    
           <mat-card class="card-body-marginn booking-detail-main mb-0">
             <h6 class="text-left mb-3">Booking Details</h6>
             <div class="row align-items-center">
              <p class="customer-profile-img">SP</p>
              <div class="customer-name pr-3">
                <p class="font-weight-bold mb-0">Shab Patel</p>
                <p class="address-fontsize mb-0">shabpatel02@gmail.com</p>
              </div>
      
            </div>
              <p class=" address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>9876543210</p>
              <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>A-23,Preeti Tower,180 Feet Road,Near IDBI</p>
              <p class="pl-4 address-fontsize">Bank,Bhyandar(west).Mumbai-40010</p>
              <p>Appointment Notes</p>
              <textarea class="form-control mb-2" placeholder="Note here"></textarea>
          </mat-card>
            
          </div>
        </div> -->
</div>


