<div class="content-main" id="live_appointments">
    <mat-tab-group [(selectedIndex)]="selectedtab" (selectedTabChange)="onTabChanged($event)" mat-align-tabs="start" class="main-tab-grp">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons">dashboard</span>
            </ng-template>
        </mat-tab>
        <mat-tab label="In Store">
            <ng-template mat-tab-label>
                <span class="material-icons">store</span> In Store
            </ng-template>
            <div class="in-store-tabs" [ngClass]="{'service-tab': inStoreTabName == 'service','waiting-tab': inStoreTabName == 'waiting'}">
                <div class="sub-header">
                    <div class="top-tabs">
                        <label [ngClass]="{'active': inStoreTabName == 'service'}" (click)="fnChangeSubTab('service')" class="signle-tab">Service</label>
                        <label [ngClass]="{'active': inStoreTabName == 'waiting'}" (click)="fnChangeSubTab('waiting')" class="signle-tab">Waiting</label>
                    </div>
                    <div class="seach-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="today-time-function">
                        <div class="pendingborder appoint-head">
                            <label class="mb-0 pendingdate">{{todayDate}}</label>
                            <p class="appoint-day">{{todayDays}}</p>
                        </div>

                        <div class="appoint-head">
                            <label class="mb-0 pendingdate">{{todayTime}}</label>
                            <p class="appoint-time-zone">{{todayPeriod}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="inStoreTabName == 'service'" class="service-container">
                    <div class="left-side-booking">
                        <div class="row mx-0">
                            <mat-card id="all-category-list" class="col-3 border-8 p-0">
                                <ul>
                                    <li class="bottom-border plr-25">
                                        <p class="category-lable">Category</p>
                                    </li>
                                    <li class="bottom-border plr-25 pointer active">
                                        <p class="title-main" (click)="fngetService('')">All Services<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>

                                    <li class="bottom-border plr-25 pointer" *ngFor="let val of CategoryList; let i=index">
                                        <p class="title-main" (click)="fngetService(val.id)">{{val.category_title}}<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>

                                </ul>
                            </mat-card>
                            <div class="service-list-main col-5 my-3">
                                <div class="row mx-0">
                                    <div class="col-6 col-lg-4 px-2" *ngFor="let val of ServiceList; let i=index">
                                        <label class="signle-service" (click)="fngetStaff(val.id,i)">
                                             <input class="d-none" type="radio" name="service" id="service-{{i}}">
                                             <div class="service-label">
                                                  <p>{{val.service_name}}</p>
                                                  <span>₹{{val.service_cost}}</span>
                                             </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 pr-0">
                                <div class="select-staff-container">
                                    <div class="head">
                                        <h3>Staff</h3>
                                        <mat-form-field class="bottom-border-field filter mt-2">
                                            <mat-label>Filter</mat-label>
                                            <mat-select (selectionChange)="fnFilterStaff($event.value)">
                                                <mat-option value="all">All</mat-option>
                                                <mat-option value="ideal">Ideal</mat-option>
                                                <mat-option value="working">Working</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="single-staff" *ngFor="let val of StaffList; let i=index">
                                        <div class="left-side">
                                            <label>{{val.name}}</label>
                                            <p>{{val.status}}</p>
                                            <span class="time">From 6.30 pm</span>
                                        </div>
                                        <div class="right-side">
                                            <p>Free At</p>
                                            <span class="time">7.30 pm</span>
                                            <button mat-button class="assign-btn" (click)="fnAssignStaff(val.id,i)">Assign</button>
                                        </div>
                                    </div>

                                    <div class="single-staff" *ngIf="StaffList.length==0">
                                        <p>Staff not available</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="inStoreTabName == 'waiting'" class="waiting-container">
                    <div class="row mx-0 my-2">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 single-booking float-left">
                            <mat-card class="card">
                                <div class="row mx-0 ">
                                    <div class="col-6">
                                        <label class="single-value">
                                        <p class="title">Waiting No.</p>
                                        <p class="value">1</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Customer</p>
                                        <p class="value">Jay Soni</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Customer</p>
                                        <p class="value">Jay Soni</p>
                                    </label>
                                    </div>
                                    <div class="col-6 right-side">
                                        <label class="single-value">
                                        <p class="title">Time</p>
                                        <p class="value">07:00 pm</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Order ID</p>
                                        <p class="value">123456789</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Work Start At</p>
                                        <p class="value">07:30 pm</p>
                                    </label>
                                    </div>
                                    <div class="col-12 service-list-head px-0">
                                        <div class="w-50 float-left title text-left">
                                            Service
                                        </div>
                                        <div class="w-50 float-left title text-right">
                                            QTY.
                                        </div>
                                    </div>
                                    <div class="col-12 service-list px-0">
                                        <div class="w-50 float-left title text-left">
                                            Gold <span>(Hair Color)</span>
                                        </div>
                                        <div class="w-50 float-left title text-right">
                                            1
                                        </div>
                                    </div>
                                    <div class="col-12 action-list px-0">
                                        <div class="w-50 float-left text-left">
                                            <button mat-button class="cancel-btn">Cancel</button>
                                        </div>
                                        <div class="w-50 float-left text-right right-side">
                                            <mat-icon>sticky_note_2</mat-icon>
                                            <img src="/assets/images/admin/stopwatch.png">
                                            <span class="timing"><small class="title">mm:ss</small>05:46</span>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="inStoreTabName == 'service'" class="right-cart-container">
                <div class="cart-head">
                    <h3>New Order</h3>
                </div>
                <div class="customer-container">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="cutomer-form-body">
                                <p>Please Enter Customer Details</p>
                                <form [formGroup]="newCustomer">
                                    <div class="row mb-3">
                                        <div class="col-lg-12 col-12 col-md-12 bottom-border-field m-0">
                                            <mat-form-field>
                                                <mat-label>Email</mat-label>
                                                <input matInput formControlName="cus_email" placeholder="Enter email address">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_email').dirty || newCustomer.get('cus_email').touched">
                                                <small *ngIf="newCustomer.get('cus_email').hasError('required')" class="error">Email is required.</small>
                                                <small *ngIf="newCustomer.get('cus_email').hasError('pattern')" class="error">Enter valid email address.</small>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 col-12 col-md-6 bottom-border-field">
                                            <mat-form-field>
                                                <mat-label>Mobile</mat-label>
                                                <input matInput formControlName="cus_mobile" placeholder="Enter mobile no.">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_mobile').dirty || newCustomer.get('cus_mobile').touched">
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('required') || (newCustomer.get('cus_mobile').hasError('required') && newCustomer.get('cus_mobile').hasError('minlength') || newCustomer.get('cus_mobile').hasError('maxlength'))" class="error">Mobile number is  required.</small>
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('minlength') || newCustomer.get('cus_mobile').hasError('maxlength')" class="error">Mobile number should be minimum 6 or maximum 15 digits.</small>
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('pattern')" class="error">Mobile number should be numbers only.</small>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 col-12 col-md-6 bottom-border-field">
                                            <mat-form-field>
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="cus_name" placeholder="Enter name">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_name').dirty || newCustomer.get('cus_name').touched || formSubmitclicked"><small *ngIf="newCustomer.get('cus_name').hasError('required')" class="error">Fullname is required.</small></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="cart-items">
                    <div class="item-header" fxLayout="row">
                        <div class="" fxFlex="10"></div>
                        <div class="" fxFlex="40">
                            Services
                        </div>
                        <div class="" fxFlex="35">QTY.</div>
                        <div class="" fxFlex="15">Price</div>
                    </div>
                    <div class="item-list">

                        <div class="item" *ngFor="let val of cartArr; let i=index">
                            <div class="" fxFlex="10"><button mat-icon-button class="close-btn" (click)="fnDeleteItem(i)"> <mat-icon>close</mat-icon></button></div>
                            <div class="service-name" fxFlex="45">
                                <label>{{val.service_name}} 
                                    <!-- <span>(Hair Color)</span> -->
                                </label>
                                <label class="staff-name">Staff : {{val.StaffName}}</label>
                            </div>
                            <div class="" fxFlex="35">
                                <div class="qty-counter">
                                    <button mat-fab class="action-btn qty-minus" (click)="fncartUpdate('minus',i)">-</button>
                                    <input type="text" class="qty_value" id="servicecount_1" value="{{val.count}}" readonly/>
                                    <button mat-fab class="action-btn qty-minus" (click)="fncartUpdate('plus',i)">+</button>
                                </div>
                            </div>
                            <div class="" fxFlex="15">₹{{val.totalCost}}</div>
                        </div>
                        <!-- 
                        <div class="item">
                            <div class="" fxFlex="10"><button mat-icon-button class="close-btn"> <mat-icon>close</mat-icon></button></div>
                            <div class="service-name" fxFlex="45">
                                <label>Black <span>(Hair Color)</span></label>
                                <label class="staff-name">Staff : Meet shah</label>
                            </div>
                            <div class="" fxFlex="35">
                                <div class="qty-counter">
                                    <button mat-fab class="action-btn qty-minus">-</button>
                                    <input type="text" class="qty_value" id="servicecount_1" value="2" readonly/>
                                    <button mat-fab class="action-btn qty-minus">+</button>
                                </div>
                            </div>
                            <div class="" fxFlex="15">$40</div>
                        </div> -->

                        <div class="item subtotal">
                            <div class="service-name" fxFlex="70">
                                <label>Subtotal : ₹ {{totalCost}}</label>
                            </div>
                            <div class="" fxFlex="30">Tax : ₹ 0</div>
                        </div>
                    </div>
                    <div class="cart-footer">
                        <div class="add-note">
                            <p (click)="fnAddNote()" class="title">Add Note</p>
                        </div>
                        <div class="total">
                            <p fxFlex="50" class="title text-left">Total</p>
                            <p fxFlex="50" class="amount text-right mb-0">₹ {{totalCost}}</p>
                        </div>
                        <div class="footer-action">
                            <button class="save-btn" (click)="fnPaymentMode()" mat-button>Save & Print</button>
                            <button class="save-btn" (click)="fnPaymentMode()" mat-button>Save & Ebill</button>
                            <button class="place-btn" mat-button (click)="fnplaceOrder()">Place</button>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons">watch_later</span> Pending
            </ng-template>
            <div class="pendingnotes d-flex">
                <label class="tab-label">Pending</label>
                <div class="single-search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="10">Order From</div>
                                <div class="" fxFlex="20">Customer</div>
                                <div class="" fxFlex="20">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" class="appointment-live-list">
                                <div (click)="fnOpenDetails(i)" *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" fxFlex="20">
                                        <p class="mb-0"><span class="service-name">{{pendingAppointments.service?pendingAppointments.service.service_name:''}}</span>(Hair Color)
                                            <small class="d-block">Order Id: {{pendingAppointments.id}}</small>
                                        </p>
                                    </div>
                                    <div class="" fxFlex="10">
                                        <p class="mb-0">{{pendingAppointments.order_from}}</p>
                                    </div>
                                    <div class=" " fxFlex="20">
                                        <p class="mb-0">{{pendingAppointments.customer?pendingAppointments.customer.fullname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer?pendingAppointments.customer.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer?pendingAppointments.customer.email:''}}</p>
                                    </div>
                                    <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="20">
                                        <p class="mb-0">{{pendingAppointments.staff?pendingAppointments.staff.firstname+' '+pendingAppointments.staff.lastname :''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.staff?pendingAppointments.staff.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.staff?pendingAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="pendingAppointments.order_status == 'P'" class="" fxFlex="20">
                                        <p class="mb-0">Pending</p>

                                    </div>
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </div>
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{pendingAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{pendingAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table_pagination" *ngIf="pendingAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_pending==1?'pointernone':''}} " (click)="navigateTo_pending(first_page_url_pending)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_pending(prev_page_url_pending)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_pending == i+1}" *ngFor="let pagenumber of arrayOne_pending(last_page_pending); let i = index;" (click)="navigateToPageNumber_pending(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_pending(next_page_url_pending)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_pending(last_page_pending).length==current_page_pending?'pointernone':''}} " (click)="navigateTo_pending(last_page_url_pending)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- <div class="pendingnotes d-flex">
            <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
            <div class="col-2 pendingborder appoint-head">
                <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
            </div>

            <div class="appoint-head" style="margin: 0 20px 0 20px;">
                <label class="mb-0 pendingdate">{{todayTime}}</label>
                <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
            </div>
        </div>
        <div class="col-12">
            <div class="">
                <div class="main-table-head" fxLayout="row">
                    <div class="" fxFlex="20">Services</div>
                    <div class="" fxFlex="25">Customer</div>
                    <div class="" fxFlex="25">Staff</div>
                    <div class="" fxFlex="10">Amount</div>
                    <div class="" fxFlex="10">Date</div>
                    <div class="" fxFlex="10">Time</div>
                </div>
                <div class="content" class="appointment-live-list">
                    <div *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="appointment-live-list-details ">
                        <div class="" fxFlex="20">
                            <p class="mb-0">{{pendingAppointments.service?pendingAppointments.service.service_name:''}}</p>
                        </div>
                        <div class=" " fxFlex="25">
                            <p class="mb-0">{{pendingAppointments.customer?pendingAppointments.customer.fullname:''}}</p>
                            <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer?pendingAppointments.customer.phone:''}}</p>
                            <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer?pendingAppointments.customer.email:''}}</p>
                        </div>
                        <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                            <p class="mb-0">{{pendingAppointments.staff ? pendingAppointments.staff.firstname+' '+pendingAppointments.staff.lastname : ''}}</p>
                            <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No: {{pendingAppointments.staff?pendingAppointments.staff.phone:''}}</p>
                            <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email: {{pendingAppointments.staff?pendingAppointments.staff.email:''}}</p>
                        </div>
                        <div *ngIf="pendingAppointments.staff == null" class="" fxFlex="25">
                            <p class="mb-0">Not Assigned</p>

                        </div>
                        <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                        </div>
                        <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                        </div>
                        <div class="" fxFlex="10">
                            {{pendingAppointments.booking_date}}
                        </div>
                        <div class="" fxFlex="10">
                            {{pendingAppointments.booking_time}}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <mat-tab class="onthewaylabel">
            <ng-template mat-tab-label>
                <i class="fa fa-motorcycle" aria-hidden="true"></i> Out Door
            </ng-template>
            <div class="pendingnotes d-flex">
                <label class="tab-label">Work Started</label>
                <div class="single-search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>
            </div>
            <div class="out-door-container">
                <div class="left-container">
                    <div class="search-container">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search by Order ID">
                    </div>
                    <div class="order-listing">
                        <div class="single-order">
                            <label class="order-id">Order ID : 1234567890 <small>#1</small></label>
                            <div class="location-container">
                                <div class="pickup-point">
                                    <img src="/assets/images/admin/delivery.png">
                                    <p>Delivery Boy Live Location</p>
                                </div>
                                <div class="drop-point">
                                    <mat-icon>location_on</mat-icon>
                                    <p>Digfeer Road, Mogadishu, Somalia, Lorem</p>
                                </div>
                            </div>
                            <div class="action-btn">
                                <button (click)="fnOpenOnTheWayDetails()" mat-button class="detail-btn">Appointment Details</button>
                                <button mat-button class="ws-btn">Work Started</button>
                            </div>
                        </div>
                        <div class="single-order">
                            <label class="order-id">Order ID : 1234567890 <small>#1</small></label>
                            <div class="location-container">
                                <!-- <div class="pickup-point">
                                    <img src="/assets/images/admin/delivery.png">
                                    <p>Delivery Boy Live Location</p>
                                </div> -->
                                <div class="drop-point">
                                    <mat-icon>location_on</mat-icon>
                                    <p>Digfeer Road, Mogadishu, Somalia, Lorem</p>
                                </div>
                            </div>
                            <div class="action-btn">
                                <button (click)="fnOpenOnTheWayDetails()" mat-button class="detail-btn">Appointment Details</button>
                                <button mat-button class="otw-btn">On The Way</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>

        <mat-tab class="workstartedlabel">
            <ng-template mat-tab-label>
                <span class="material-icons">work</span> Work Started
            </ng-template>
            <div class="pendingnotes d-flex">
                <label class="tab-label">Work Started</label>
                <div class="single-search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="10">Order From</div>
                                <div class="" fxFlex="20">Customer</div>
                                <div class="" fxFlex="20">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" class="appointment-live-list">
                                <div (click)="fnOpenWorkStartedDetails(i)" *ngFor="let workStartedAppointments of workStartedAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" *ngIf="workStartedAppointments.service" fxFlex="20">
                                        <p class="mb-0">{{workStartedAppointments.service.service_name}}</p>
                                    </div>
                                    <div class="" fxFlex="10">
                                        <p class="mb-0">{{workStartedAppointments.order_from}}</p>
                                    </div>
                                    <div class="" *ngIf="workStartedAppointments.customer" fxFlex="20">
                                        <p class="mb-0">{{workStartedAppointments.customer.fullname}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{workStartedAppointments.customer.phone}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{workStartedAppointments.customer.email}}</p>
                                    </div>
                                    <div *ngIf="workStartedAppointments.staff != null" class="" fxFlex="20">
                                        <p class="mb-0">{{workStartedAppointments.staff.firstname}} {{workStartedAppointments.staff.lastname}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{workStartedAppointments.staff.phone?workStartedAppointments.staff.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{workStartedAppointments.staff.email?workStartedAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="workStartedAppointments.staff == null" class="" fxFlex="20">
                                        <p class="mb-0">Not Assigned</p>
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.total_cost}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table_pagination" *ngIf="workStartedAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_workstart==1?'pointernone':'' }}" (click)="navigateTo_workstart(first_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_workstart(prev_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_workstart == i+1}" *ngFor="let pagenumber of arrayOne_workstart(last_page_workstart); let i = index;" (click)="navigateToPageNumber_workstart(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_workstart(next_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_workstart(last_page_workstart).length==current_page_workstart?'pointernone':''}}" (click)="navigateTo_workstart(last_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </mat-tab>
        <mat-tab class="pendingbillingtab">
            <ng-template mat-tab-label>
                <img *ngIf="!pendingBillTab" src="/assets/images/admin/receipt.png">
                <img *ngIf="pendingBillTab" src="/assets/images/admin/receipt-blue.png"> Pending Billing
            </ng-template>
            <div></div>
        </mat-tab>
    </mat-tab-group>
</div>