<div class="content-main" id="live_appointments">
    <mat-tab-group mat-align-tabs="start" class="main-tab-grp">
        <mat-tab label="In Store">
            <ng-template mat-tab-label>
                <span class="material-icons">store</span> In Store
            </ng-template>
            <div class="in-store-tabs" [ngClass]="{'service-tab': inStoreTabName == 'service','waiting-tab': inStoreTabName == 'waiting'}">
                <div class="sub-header">
                    <div class="top-tabs">
                        <label [ngClass]="{'active': inStoreTabName == 'service'}" (click)="fnChangeSubTab('service')" class="signle-tab">Service</label>
                        <label [ngClass]="{'active': inStoreTabName == 'waiting'}" (click)="fnChangeSubTab('waiting')" class="signle-tab">Waiting</label>
                    </div>
                    <div class="seach-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="today-time-function">
                        <div class="pendingborder appoint-head">
                            <label class="mb-0 pendingdate">{{todayDate}}</label>
                            <p class="appoint-day">{{todayDays}}</p>
                        </div>

                        <div class="appoint-head">
                            <label class="mb-0 pendingdate">{{todayTime}}</label>
                            <p class="appoint-time-zone">{{todayPeriod}}</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="inStoreTabName == 'service'" class="service-container">
                    <div class="left-side-booking">
                        <div class="row mx-0">
                            <mat-card id="all-category-list" class="col-3 border-8 p-0">
                                <ul>
                                    <li class="bottom-border plr-25">
                                        <p class="category-lable">Category</p>
                                    </li>
                                    <li class="bottom-border plr-25 pointer active">
                                        <p class="title-main">All Services<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>
                                    <li class="bottom-border plr-25 pointer">
                                        <p class="title-main">Hair Color<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>
                                    <li class="bottom-border plr-25 pointer">
                                        <p class="title-main">Hair Color<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>
                                    <li class="bottom-border plr-25 pointer">
                                        <p class="title-main">Hair Color<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
                                    </li>
                                </ul>
                            </mat-card>
                            <div class="service-list-main col-5 my-3">
                                <div class="row mx-0">
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-1">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-2">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-3">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-4">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-5">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                    <div class="col-6 col-lg-4 px-2">
                                        <label class="signle-service">
                                                <input class="d-none" type="radio" name="service" id="service-6">
                                                <div class="service-label">
                                                    <p>Gold</p>
                                                    <span>$50</span>
                                                </div>
                                            </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 pr-0">
                                <div class="select-staff-container">
                                    <div class="head">
                                        <h3>Staff</h3>
                                        <mat-form-field class="bottom-border-field filter mt-2">
                                            <mat-label>Filter</mat-label>
                                            <mat-select (selectionChange)="fnFilterStaff($event.value)">
                                                <mat-option value="all">All</mat-option>
                                                <mat-option value="ideal">Ideal</mat-option>
                                                <mat-option value="working">Working</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="single-staff">
                                        <div class="left-side">
                                            <label>Meet Shah</label>
                                            <p>Ideal</p>
                                            <span class="time">From 6.30 pm</span>
                                        </div>
                                        <div class="right-side">
                                            <p>Free At</p>
                                            <span class="time">7.30 pm</span>
                                            <button mat-button class="assign-btn">Assign</button>
                                        </div>
                                    </div>
                                    <div class="single-staff">
                                        <div class="left-side">
                                            <label>Meet Shah</label>
                                            <p>Ideal</p>
                                            <span class="time">From 6.30 pm</span>
                                        </div>
                                        <div class="right-side">
                                            <p>Free At</p>
                                            <span class="time">7.30 pm</span>
                                            <button mat-button class="assign-btn">Assign</button>
                                        </div>
                                    </div>
                                    <div class="single-staff">
                                        <div class="left-side">
                                            <label>Meet Shah</label>
                                            <p>Ideal</p>
                                            <span class="time">From 6.30 pm</span>
                                        </div>
                                        <div class="right-side">
                                            <p>Free At</p>
                                            <span class="time">7.30 pm</span>
                                            <button mat-button class="assign-btn">Assign</button>
                                        </div>
                                    </div>
                                    <div class="single-staff">
                                        <div class="left-side">
                                            <label>Meet Shah</label>
                                            <p>Ideal</p>
                                            <span class="time">From 6.30 pm</span>
                                        </div>
                                        <div class="right-side">
                                            <p>Free At</p>
                                            <span class="time">7.30 pm</span>
                                            <button mat-button class="assign-btn">Assign</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="inStoreTabName == 'waiting'" class="waiting-container">
                    <div class="row mx-0 my-2">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 single-booking float-left">
                            <mat-card class="card">
                                <div class="row mx-0 ">
                                    <div class="col-6">
                                        <label class="single-value">
                                        <p class="title">Waiting No.</p>
                                        <p class="value">1</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Customer</p>
                                        <p class="value">Jay Soni</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Customer</p>
                                        <p class="value">Jay Soni</p>
                                    </label>
                                    </div>
                                    <div class="col-6 right-side">
                                        <label class="single-value">
                                        <p class="title">Time</p>
                                        <p class="value">07:00 pm</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Order ID</p>
                                        <p class="value">123456789</p>
                                    </label>
                                        <label class="single-value">
                                        <p class="title">Work Start At</p>
                                        <p class="value">07:30 pm</p>
                                    </label>
                                    </div>
                                    <div class="col-12 service-list-head px-0">
                                        <div class="w-50 title text-left">
                                            Service
                                        </div>
                                        <div class="w-50 title text-right">
                                            QTY.
                                        </div>
                                    </div>
                                    <div class="col-12 service-list px-0">
                                        <div class="w-50 title text-left">
                                            Gold <span>(Hair Color)</span>
                                        </div>
                                        <div class="w-50 title text-right">
                                            1
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
            <div *ngIf="inStoreTabName == 'service'" class="right-cart-container">
                <div class="cart-head">
                    <h3>New Order</h3>
                </div>
                <div class="customer-container">
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="cutomer-form-body">
                                <p>Please Enter Customer Details</p>
                                <form [formGroup]="newCustomer">
                                    <div class="row mb-3">
                                        <div class="col-lg-12 col-12 col-md-12 bottom-border-field m-0">
                                            <mat-form-field>
                                                <mat-label>Email</mat-label>
                                                <input matInput formControlName="cus_email" placeholder="Enter email address">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_email').dirty || newCustomer.get('cus_email').touched">
                                                <small *ngIf="newCustomer.get('cus_email').hasError('required')" class="error">Email is required.</small>
                                                <small *ngIf="newCustomer.get('cus_email').hasError('pattern')" class="error">Enter valid email address.</small>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 col-12 col-md-6 bottom-border-field">
                                            <mat-form-field>
                                                <mat-label>Mobile</mat-label>
                                                <input matInput formControlName="cus_mobile" placeholder="Enter mobile no.">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_mobile').dirty || newCustomer.get('cus_mobile').touched">
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('required') || (newCustomer.get('cus_mobile').hasError('required') && newCustomer.get('cus_mobile').hasError('minlength') || newCustomer.get('cus_mobile').hasError('maxlength'))" class="error">Mobile number is  required.</small>
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('minlength') || newCustomer.get('cus_mobile').hasError('maxlength')" class="error">Mobile number should be minimum 6 or maximum 15 digits.</small>
                                                <small *ngIf="newCustomer.get('cus_mobile').hasError('pattern')" class="error">Mobile number should be numbers only.</small>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 col-12 col-md-6 bottom-border-field">
                                            <mat-form-field>
                                                <mat-label>Name</mat-label>
                                                <input matInput formControlName="cus_name" placeholder="Enter name">
                                            </mat-form-field>
                                            <span class="error-wrap" *ngIf="newCustomer.get('cus_name').dirty || newCustomer.get('cus_name').touched || formSubmitclicked"><small *ngIf="newCustomer.get('cus_name').hasError('required')" class="error">Fullname is required.</small></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <div class="cart-items">
                    <div class="item-header" fxLayout="row">
                        <div class="" fxFlex="10"></div>
                        <div class="" fxFlex="40">
                            Services
                        </div>
                        <div class="" fxFlex="35">QTY.</div>
                        <div class="" fxFlex="15">Price</div>
                    </div>
                    <div class="item-list">
                        <div class="item">
                            <div class="" fxFlex="10"><button mat-icon-button class="close-btn"> <mat-icon>close</mat-icon></button></div>
                            <div class="service-name" fxFlex="45">
                                <label>Gold <span>(Hair Color)</span></label>
                                <label class="staff-name">Staff : Meet shah</label>
                            </div>
                            <div class="" fxFlex="35">
                                <div class="qty-counter">
                                    <button mat-fab class="action-btn qty-minus">-</button>
                                    <input type="text" class="qty_value" id="servicecount_1" value="2" readonly/>
                                    <button mat-fab class="action-btn qty-minus">+</button>
                                </div>
                            </div>
                            <div class="" fxFlex="15">$40</div>
                        </div>
                        <div class="item">
                            <div class="" fxFlex="10"><button mat-icon-button class="close-btn"> <mat-icon>close</mat-icon></button></div>
                            <div class="service-name" fxFlex="45">
                                <label>Black <span>(Hair Color)</span></label>
                                <label class="staff-name">Staff : Meet shah</label>
                            </div>
                            <div class="" fxFlex="35">
                                <div class="qty-counter">
                                    <button mat-fab class="action-btn qty-minus">-</button>
                                    <input type="text" class="qty_value" id="servicecount_1" value="2" readonly/>
                                    <button mat-fab class="action-btn qty-minus">+</button>
                                </div>
                            </div>
                            <div class="" fxFlex="15">$40</div>
                        </div>
                        <div class="item subtotal">
                            <div class="service-name" fxFlex="70">
                                <label>Subtotal : $ 100</label>
                            </div>
                            <div class="" fxFlex="30">Tax : $ 10</div>
                        </div>
                    </div>
                    <div class="cart-footer">
                        <div class="add-note">
                            <p class="title">Add Note</p>
                        </div>
                        <div class="total">
                            <p fxFlex="50" class="title text-left">Total</p>
                            <p fxFlex="50" class="amount text-right mb-0">$ 110</p>
                        </div>
                        <div class="footer-action">
                            <button class="save-btn" mat-button>Save & Print</button>
                            <button class="save-btn" mat-button>Save & Ebill</button>
                            <button class="place-btn" mat-button>Place</button>
                        </div>
                    </div>

                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="material-icons">watch_later</span> Pending
            </ng-template>
            <div class="pendingnotes d-flex">
                <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>
            </div>
            <div class="col-12 p-0">
                <mat-card class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="25">Customer</div>
                                <div class="" fxFlex="25">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" class="appointment-live-list">
                                <div (click)="fnOpenDetails(i)" *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" fxFlex="20">
                                        <p class="mb-0">{{pendingAppointments.service?pendingAppointments.service.service_name:''}}</p>
                                    </div>
                                    <div class=" " fxFlex="25">
                                        <p class="mb-0">{{pendingAppointments.customer?pendingAppointments.customer.fullname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer?pendingAppointments.customer.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer?pendingAppointments.customer.email:''}}</p>
                                    </div>
                                    <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                                        <p class="mb-0">{{pendingAppointments.staff?pendingAppointments.staff.firstname+' '+pendingAppointments.staff.lastname :''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.staff?pendingAppointments.staff.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.staff?pendingAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="pendingAppointments.status == 'P'" class="" fxFlex="25">
                                        <p class="mb-0">Pending</p>

                                    </div>
                                    <!-- <div class="" fxFlex="10">
                                          {{pendingAppointments.total_cost}}
                                        </div> -->
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </div>
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{pendingAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{pendingAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table_pagination" *ngIf="pendingAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_pending==1?'pointernone':''}} " (click)="navigateTo_pending(first_page_url_pending)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_pending(prev_page_url_pending)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_pending == i+1}" *ngFor="let pagenumber of arrayOne_pending(last_page_pending); let i = index;" (click)="navigateToPageNumber_pending(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_pending(next_page_url_pending)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_pending(last_page_pending).length==current_page_pending?'pointernone':''}} " (click)="navigateTo_pending(last_page_url_pending)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </mat-card>
            </div>
        </mat-tab>

        <mat-tab class="notassignedlabel">
            <ng-template mat-tab-label>
                <span class="material-icons">assignment_ind</span> Not Assigned
            </ng-template>
            <div class="pendingnotes d-flex">
                <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>
            </div>
            <div class="col-12">
                <mat-card class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="25">Customer</div>
                                <div class="" fxFlex="25">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" class="appointment-live-list">
                                <div (click)="fnOpenNotAssignedDetails(i)" *ngFor="let notAssignedAppointments of notAssignedAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" fxFlex="20">
                                        <p class="mb-0">{{notAssignedAppointments.service?notAssignedAppointments.service.service_name:''}}</p>
                                    </div>
                                    <div class="" fxFlex="25">
                                        <p class="mb-0">{{notAssignedAppointments.customer?notAssignedAppointments.customer.fullname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{notAssignedAppointments.customer?notAssignedAppointments.customer.phone:''}}</p>
                                        <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{notAssignedAppointments.customer?notAssignedAppointments.customer.email:''}}</p>
                                    </div>
                                    <div *ngIf="notAssignedAppointments.staff != null" class="" fxFlex="25">
                                        <p class="mb-0">{{notAssignedAppointments.staff?notAssignedAppointments.staff.firstname+' '+notAssignedAppointments.staff.lastname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No: {{notAssignedAppointments.staff?notAssignedAppointments.staff.phone:''}}</p>
                                        <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email: {{notAssignedAppointments.staff?notAssignedAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="notAssignedAppointments.staff == null && notAssignedAppointments.staff_id == null" class="" fxFlex="25">
                                        <p class="mb-0">Not Assigned</p>
                                    </div>
                                    <div *ngIf="notAssignedAppointments.staff == null && notAssignedAppointments.staff_id != null" class="" fxFlex="25">
                                        <p class="mb-0">Request Sent To Staff</p>
                                    </div>
                                    <!-- <div class="" fxFlex="10">
                          {{notAssignedAppointments.total_cost}}
                        </div> -->
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ notAssignedAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </div>
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ notAssignedAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{notAssignedAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{notAssignedAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table_pagination" *ngIf="notAssignedAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_notassign==1?'pointernone':'' }}" (click)="navigateTo_notassign(first_page_url_notassign)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_notassign(prev_page_url_notassign)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_notassign == i+1}" *ngFor="let pagenumber of arrayOne_notassign(last_page_notassign); let i = index;" (click)="navigateToPageNumber_notassign(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_notassign(next_page_url_notassign)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_notassign(last_page_notassign).length==current_page_notassign?'pointernone':''}}" (click)="navigateTo_notassign(last_page_url_notassign)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </mat-card>
            </div>
        </mat-tab>
        <div class="pendingnotes d-flex">
            <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
            <div class="col-2 pendingborder appoint-head">
                <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
            </div>

            <div class="appoint-head" style="margin: 0 20px 0 20px;">
                <label class="mb-0 pendingdate">{{todayTime}}</label>
                <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
            </div>
        </div>
        <div class="col-12">
            <div class="">
                <div class="main-table-head" fxLayout="row">
                    <div class="" fxFlex="20">Services</div>
                    <div class="" fxFlex="25">Customer</div>
                    <div class="" fxFlex="25">Staff</div>
                    <div class="" fxFlex="10">Amount</div>
                    <div class="" fxFlex="10">Date</div>
                    <div class="" fxFlex="10">Time</div>
                </div>
                <div class="content" class="appointment-live-list">
                    <div *ngFor="let pendingAppointments of pendingAppointments; let i=index" class="appointment-live-list-details ">
                        <div class="" fxFlex="20">
                            <p class="mb-0">{{pendingAppointments.service?pendingAppointments.service.service_name:''}}</p>
                        </div>
                        <div class=" " fxFlex="25">
                            <p class="mb-0">{{pendingAppointments.customer?pendingAppointments.customer.fullname:''}}</p>
                            <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{pendingAppointments.customer?pendingAppointments.customer.phone:''}}</p>
                            <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{pendingAppointments.customer?pendingAppointments.customer.email:''}}</p>
                        </div>
                        <div *ngIf="pendingAppointments.staff != null" class="" fxFlex="25">
                            <p class="mb-0">{{pendingAppointments.staff ? pendingAppointments.staff.firstname+' '+pendingAppointments.staff.lastname : ''}}</p>
                            <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No: {{pendingAppointments.staff?pendingAppointments.staff.phone:''}}</p>
                            <p><i class="fa fa-envelope-o mr-2 bluephone"></i>Email: {{pendingAppointments.staff?pendingAppointments.staff.email:''}}</p>
                        </div>
                        <div *ngIf="pendingAppointments.staff == null" class="" fxFlex="25">
                            <p class="mb-0">Not Assigned</p>

                        </div>
                        <!-- <div class="" fxFlex="10">
                      {{pendingAppointments.total_cost}}
                    </div> -->
                        <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                        </div>
                        <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ pendingAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                        </div>
                        <div class="" fxFlex="10">
                            {{pendingAppointments.booking_date}}
                        </div>
                        <div class="" fxFlex="10">
                            {{pendingAppointments.booking_time}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <mat-tab class="onthewaylabel">
            <ng-template mat-tab-label>
                <i class="fa fa-motorcycle" aria-hidden="true"></i> Out Door
            </ng-template>
            <div class="pendingnotes d-flex">
                <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>

            </div>
            <div class="col-12">
                <mat-card class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="25">Customer</div>
                                <div class="" fxFlex="25">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" *ngIf="onTheWayAppointments != 'no booking found'" class="appointment-live-list">
                                <div (click)="fnOpenOnTheWayDetails(i)" *ngFor="let onTheWayAppointments of onTheWayAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" fxFlex="20">
                                        <p class="mb-0">{{onTheWayAppointments.service?onTheWayAppointments.service.service_name:''}}</p>
                                    </div>
                                    <div class=" " fxFlex="25">
                                        <p class="mb-0">{{onTheWayAppointments.customer?onTheWayAppointments.customer.fullname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{onTheWayAppointments.customer?onTheWayAppointments.customer.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{onTheWayAppointments.customer?onTheWayAppointments.customer.email:''}}</p>
                                    </div>
                                    <div *ngIf="onTheWayAppointments.staff != null" class="" fxFlex="25">
                                        <p class="mb-0">{{onTheWayAppointments.staff?onTheWayAppointments.staff.firstname:''}} {{onTheWayAppointments.staff?onTheWayAppointments.staff.lastname:''}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{onTheWayAppointments.staff?onTheWayAppointments.staff.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{onTheWayAppointments.staff?onTheWayAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="onTheWayAppointments.staff == null" class="" fxFlex="25">
                                        <p class="mb-0">Not Assigned</p>
                                    </div>
                                    <!-- 
                        <div class="" fxFlex="10">
                          {{onTheWayAppointments.total_cost}}
                        </div> -->
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='left'">{{currencySymbol| currencySymbol:'wide'}} {{ onTheWayAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </div>
                                    <div class="" fxFlex="10" *ngIf="currencySymbolPosition=='right'">{{ onTheWayAppointments.total_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{onTheWayAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{onTheWayAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table_pagination" *ngIf="onTheWayAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_ontheway==1?'pointernone':'' }}" (click)="navigateTo_ontheway(first_page_url_ontheway)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_ontheway(prev_page_url_ontheway)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_ontheway == i+1}" *ngFor="let pagenumber of arrayOne_ontheway(last_page_ontheway); let i = index;" (click)="navigateToPageNumber_ontheway(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_ontheway(next_page_url_ontheway)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_ontheway(last_page_ontheway).length==current_page_ontheway?'pointernone':''}}" (click)="navigateTo_ontheway(last_page_url_ontheway)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="content" *ngIf="onTheWayAppointments == 'no booking found'" class="appointment-live-list text-center p-5 no-found">
                            {{onTheWayAppointments}}
                        </div>
                    </div>
                </mat-card>
            </div>

        </mat-tab>

        <mat-tab class="workstartedlabel">
            <ng-template mat-tab-label>
                <span class="material-icons">work</span> Work Started
            </ng-template>
            <div class="pendingnotes d-flex">
                <p class="mb-0 appoint-head">Reference site about Lorem Ipsum,giving information on its origins,as well as a random Lipsum generator,Lorem Ipsum,giving information on its origins.</p>
                <div class="col-2 pendingborder appoint-head">
                    <label class="mb-0 pendingdate" style="text-align: right;">{{todayDate}}</label>
                    <p class="appoint-day" style="text-align: right;font-size: 18px;">{{todayDays}}</p>
                </div>

                <div class="appoint-head" style="margin: 0 20px 0 20px;">
                    <label class="mb-0 pendingdate">{{todayTime}}</label>
                    <p class="appoint-time-zone" style="text-align: right;">{{todayPeriod}}</p>
                </div>

            </div>
            <div class="col-12">
                <mat-card class="table-background">
                    <div class="Pending-table">
                        <div class="main-table-content main-cust-table-content">
                            <div class="main-table-head" fxLayout="row">
                                <div class="" fxFlex="20">Services</div>
                                <div class="" fxFlex="25">Customer</div>
                                <div class="" fxFlex="25">Staff</div>
                                <div class="" fxFlex="10">Amount</div>
                                <div class="" fxFlex="10">Date</div>
                                <div class="" fxFlex="10">Time</div>
                            </div>
                            <div class="content" class="appointment-live-list">
                                <div (click)="fnOpenWorkStartedDetails(i)" *ngFor="let workStartedAppointments of workStartedAppointments; let i=index" class="appointment-live-list-details">
                                    <div class="" *ngIf="workStartedAppointments.service" fxFlex="20">
                                        <p class="mb-0">{{workStartedAppointments.service.service_name}}</p>
                                    </div>
                                    <div class="" *ngIf="workStartedAppointments.customer" fxFlex="25">
                                        <p class="mb-0">{{workStartedAppointments.customer.fullname}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{workStartedAppointments.customer.phone}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{workStartedAppointments.customer.email}}</p>
                                    </div>
                                    <div *ngIf="workStartedAppointments.staff != null" class="" fxFlex="25">
                                        <p class="mb-0">{{workStartedAppointments.staff.firstname}} {{workStartedAppointments.staff.lastname}}</p>
                                        <p class="mb-0"><i class="fa fa-phone mr-2 bluephone"></i>Phone No:{{workStartedAppointments.staff.phone?workStartedAppointments.staff.phone:''}}</p>
                                        <p class="mb-0"><i class="fa fa-envelope-o mr-2 bluephone"></i>Email:{{workStartedAppointments.staff.email?workStartedAppointments.staff.email:''}}</p>
                                    </div>
                                    <div *ngIf="workStartedAppointments.staff == null" class="" fxFlex="25">
                                        <p class="mb-0">Not Assigned</p>
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.total_cost}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.booking_date}}
                                    </div>
                                    <div class="" fxFlex="10">
                                        {{workStartedAppointments.booking_time}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table_pagination" *ngIf="workStartedAppointments != ''">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item {{current_page_workstart==1?'pointernone':'' }}" (click)="navigateTo_workstart(first_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" (click)="navigateTo_workstart(prev_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item" [ngClass]="{'active':current_page_workstart == i+1}" *ngFor="let pagenumber of arrayOne_workstart(last_page_workstart); let i = index;" (click)="navigateToPageNumber_workstart(i+1)"><a class="page-link">{{i+1}}</a></li>
                                    <li class="page-item" (click)="navigateTo_workstart(next_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                    <li class="page-item {{arrayOne_workstart(last_page_workstart).length==current_page_workstart?'pointernone':''}}" (click)="navigateTo_workstart(last_page_url_workstart)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </mat-card>
            </div>

        </mat-tab>
    </mat-tab-group>
    <!-- <div class="modal-dialog mt-0 mb-0" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Details</h5>
              <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="appodetails">
            <label class="greenfont"><i class="fa fa-repeat repeat"></i>Reschedule</label>
            <label class="fontred"><i class="fa fa-times-circle-o circle"></i>Cancel</label>
      
             <button mat-button type="button" class="d-block btn-primary float-right paybtn">Confirm</button>
          </div>
      
          <div class="modal-body modal-bcolor">
            <p class="mb-0 font-weight-bold">13 Dec 2019</p>
            <p>Booked On: 01 Nov 2019 @ 12:07 pm</p>
      
            <p class="mb-0">Service</p>
            <p class="font-weight-bold">Services , Category ($.3,000.00)</p>
            <p class="mb-0">Time</p>
            <p class="font-weight-bold">08:15 am-09:00 am(45 min)</p>
           
            <div class="d-flex">
            
              <div class="pl-0">
              <p class="mb-0">Order By</p>
              <p class="font-weight-bold">Customer</p>
            </div>
            <div class="pl-5">  
              <p class="mb-0">Status</p>
              <p class="font-weight-bold">Accepted</p>
            </div>
          
          </div>
          <div>
            <p class="mb-0">Staff</p>
            <p class="mb-0 font-weight-bold">Pooja Chakerbarti</p>
            <p class="mb-0">Phone NO:9876543210</p>
          </div>
           </div>    
           <mat-card class="card-body-marginn booking-detail-main mb-0">
             <h6 class="text-left mb-3">Booking Details</h6>
             <div class="row align-items-center">
              <p class="customer-profile-img">SP</p>
              <div class="customer-name pr-3">
                <p class="font-weight-bold mb-0">Shab Patel</p>
                <p class="address-fontsize mb-0">shabpatel02@gmail.com</p>
              </div>
      
            </div>
              <p class=" address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>9876543210</p>
              <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>A-23,Preeti Tower,180 Feet Road,Near IDBI</p>
              <p class="pl-4 address-fontsize">Bank,Bhyandar(west).Mumbai-40010</p>
              <p>Appointment Notes</p>
              <textarea class="form-control mb-2" placeholder="Note here"></textarea>
          </mat-card>
            
          </div>
        </div> -->
</div>