<mat-drawer-container class="w-100">
  <mat-drawer-content>
    <mat-tab-group>
      <mat-tab label="Working Hours">
        <div class="main-working-hours-content">
          <div class="d-flex mb-3">
            <p class="mt-4">Time Zone</p>
            <mat-form-field class=" bottom-border-field col-6">
              <mat-label></mat-label>
              <mat-select (selectionChange)="fnChangeTimeZone($event)" [(value)]="selectedTimeZone">
                <mat-option value="{{timeZone.zoneName}}" *ngFor="let timeZone of timeZoneList">{{timeZone.zoneName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="">
            <div class="Customer-appointment-table">
              <div class="main-table-content main-cust-table-content">
                <div class="">
                  <div class="heads main-heading-content working-hour-box header-background " fxLayout="row">
                    <div class="" fxFlex="10"></div>
                    <div class="" fxFlex="10"></div>
                    <div class="" fxFlex="30"></div>
                    <div class="" fxFlex="30"></div>
                    <div class="" fxFlex="20"></div>
                  </div>
                  <div class="content" class="example-list">
                    <form [formGroup]="formSetWorkingHours">
                      <div  class=" working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="mondayToggle" (change)="fnChangeToggle($event,'Monday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Monday</div>
                        <div class="" fxFlex="30" *ngIf="mondayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="mondayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Monday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="mondayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Monday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="mondayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!mondayOn">Closed for Business</div>
                        <div class="blue-font pointer mt-3" fxFlex="30"><p (click)="fnApplyToAll()" *ngIf="mondayOn" > Apply to all </p></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="tuesdayToggle" (change)="fnChangeToggle($event,'Tuesday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Tuesday</div>
                        <div class="" fxFlex="30" *ngIf="tuesdayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="tuesdayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Tuesday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="tuesdayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Tuesday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="tuesdayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!tuesdayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="wednesdayToggle" (change)="fnChangeToggle($event,'Wednesday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Wednesday</div>
                        <div class="" fxFlex="30" *ngIf="wednesdayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="wednesdayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Wednesday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="wednesdayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Wednesday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="wednesdayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!wednesdayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="thursdayToggle" (change)="fnChangeToggle($event,'Thursday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Thursday</div>
                        <div class="" fxFlex="30" *ngIf="thursdayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="thursdayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Thursday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="thursdayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Thursday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="thursdayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!thursdayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="fridayToggle" (change)="fnChangeToggle($event,'Friday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Friday</div>
                        <div class="" fxFlex="30" *ngIf="fridayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="fridayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Friday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="fridayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Friday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="fridayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!fridayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="saturdayToggle" (change)="fnChangeToggle($event,'Saturday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Saturday</div>
                        <div class="" fxFlex="30" *ngIf="saturdayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="saturdayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Saturday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="saturdayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Saturday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="saturdayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!saturdayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <div  class="working-hour-box">
                        <div class="" fxFlex="10">
                          <mat-slide-toggle formControlName="sundayToggle" (change)="fnChangeToggle($event,'Sunday')"></mat-slide-toggle>
                        </div>
                        <div class="" fxFlex="10">Sunday</div>
                        <div class="" fxFlex="30" *ngIf="sundayOn">
                          <div class="d-flex">
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="sundayStartTime" (selectionChange)="fnOnChangeStartTimeWorkingHour($event,'Sunday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                            <div class="to-center">to</div>
                            <mat-form-field class="bottom-border-field workinghour-dropdown">
                              <mat-label></mat-label>
                              <mat-select formControlName="sundayEndTime" (selectionChange)="fnOnChangeEndTimeWorkingHour($event,'Sunday')">
                              <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="sundayWorkingHourStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="" *ngIf="!sundayOn">Closed for Business</div>
                        <div class="blue-font" fxFlex="30"></div>
                      </div>
                      <button mat-button class="save-btn my-3" (click)="fnCreateWorkingHours()">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Breaks">
        <div class="">
          <div class="Customer-appointment-table">
            <div class="main-table-content main-cust-table-content">
              <div class="">
                <div class="heads main-heading-content breaks-hour-box header-background " fxLayout="row">
                  <div class="" fxFlex="10"></div>
                  <div class="" fxFlex="5"></div>
                  <div class="" fxFlex="15"></div>
                  <div class="" fxFlex="30"></div>
                  <!-- <div class="" fxFlex="10"></div>
                    <div class="" fxFlex="20"></div> -->
                  <div class="" fxFlex="5"></div>
                  <div class="" fxFlex="30"></div>
                </div>
                <div class="content" class="example-list">
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Monday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="mondayOn" (click)="fnShowAddBreakForm('Monday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!mondayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="mondayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '1'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showMondayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeMonday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Monday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeMonday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Monday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="mondayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Monday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!mondayOn" fxFlex="35"></div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Tuesday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="tuesdayOn" (click)="fnShowAddBreakForm('Tuesday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!tuesdayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="tuesdayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '2'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showTuesdayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeTuesday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Tuesday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeTuesday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Tuesday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="tuesdayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Tuesday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!tuesdayOn" fxFlex="35">Day Off</div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Wednesday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="wednesdayOn" (click)="fnShowAddBreakForm('Wednesday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!wednesdayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="wednesdayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '3'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showWednesdayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeWednesday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Wednesday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeWednesday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Wednesday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="wednesdayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Wednesday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!wednesdayOn" fxFlex="35">Day Off</div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Thursday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="thursdayOn" (click)="fnShowAddBreakForm('Thursday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!thursdayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="thursdayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '4'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showThursdayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeThursday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Thursday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeThursday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Thursday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="thursdayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Thursday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!thursdayOn" fxFlex="35">Day Off</div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Friday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="fridayOn" (click)="fnShowAddBreakForm('Friday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!fridayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="fridayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '5'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showFridayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeFriday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Friday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeFriday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Friday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="fridayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Friday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!fridayOn" fxFlex="35">Day Off</div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Saturday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="saturdayOn" (click)="fnShowAddBreakForm('Saturday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!saturdayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="saturdayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '6'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showSaturdayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeSaturday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Saturday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeSaturday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Saturday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="saturdayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Saturday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!saturdayOn" fxFlex="35">Day Off</div>
                  </div>
                  <div  class="example-box my-2">
                    <div class="" fxFlex="5">
                      <!-- <mat-slide-toggle></mat-slide-toggle> -->
                    </div>
                    <div class="" fxFlex="10">Sunday</div>
                    <div class="" fxFlex="15"><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="sundayOn" (click)="fnShowAddBreakForm('Sunday')">Add Break</button><button mat-button appearance="fill" class="Add-braek-btn ml-2 mr-2" *ngIf="!sundayOn">Closed</button></div>
                    <div fxFlex="35" *ngIf="sundayOn">
                      <div *ngFor="let breakTime of breakTimeList">
                        <div class="d-flex" *ngIf="breakTime.week_day_id == '0'">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_start_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="breakTime.break_end_time" [disabled]="true">
                            <mat-option *ngFor="let timeSlot of timeSlotList" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-trash-o delete-box" (click)="fnDeleteBreak(breakTime.id)"></i></div>
                        </div>
                      </div>
                      <div *ngIf="showSundayAddForm">
                        <div class="d-flex">
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedStartTimeSunday" (selectionChange)="fnOnChangeStartTimeBreak($event,'Sunday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="to-center">to</div>
                          <mat-form-field class="bottom-border-field workinghour-dropdown">
                            <mat-label></mat-label>
                            <mat-select [(value)]="selectedEndTimeSunday" (selectionChange)="fnOnChangeEndTimeBreak($event,'Sunday')">
                            <mat-option *ngFor="let timeSlot of timeSlotList; let i=index;" value="{{timeSlot.long}}" [disabled]="sundayBreakStartTimeIndex >= i">{{timeSlot.short}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div class="pointer d-flex align-items-center ml-3"><i class="fa fa-save delete-box" (click)="fnAddBreak('Sunday')"></i></div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!sundayOn" fxFlex="35">Day Off</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Time Off">
        <div class="Time-off-table">
          <div class="main-table-content main-time-off-table-content">
            <div class="">
              <div class="heads main-heading-content time-of-box "  fxLayout="row">
                <div class="" fxFlex="6"></div>
                <div class="" fxFlex="54"></div>
                <div class="" fxFlex="10"></div>
                <div class="" fxFlex="5"></div>
                <div class="" fxFlex="15">
                  <button mat-button appearance="fill" (click)="addTimeOff()" class="time-off-btn ml-2 mr-2"><i class="material-icons mr-2">add</i>Time Off</button>
                </div>
              </div>
              <div class="content" class="example-list" cdkDropList>
                <div  class="time-of-box" cdkDrag fxLayout="row" *ngFor="let timeOff of timeOffList">
                  <div class="" fxFlex="7">
                    <div class="calendar-background">
                      <img src="/assets/images/admin/calendar-3.png" class="staff-calendar-image">
                    </div>
                  </div>
                  <div class="mt-2" fxFlex="73">
                    <p class="mb-0">{{timeOff.start_date}} - {{timeOff.end_date}}</p>
                    <p class="blue-font">{{timeOff.description}}</p>
                  </div>
                  <div class="" fxFlex="15">
                    <mat-slide-toggle (change)="fnChangeTimeOffStatus($event,timeOff.id)" [checked]="timeOff.status == 'E'?true:false"></mat-slide-toggle>
                  </div>
                  <div class="pointer d-flex align-items-center ml-3" fxFlex="5" (click)="fnDeleteTimeOff(timeOff.id)"><i class="fa fa-trash-o delete-box"></i></div>
                  <div class="" fxFlex="10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>