
            <mat-drawer-content id="paymentgateway" class="ml-0">
                <mat-card class="payment-gateways">
                    <h5>Payment Gateways</h5>
                    <div class="row mx-0">
                        <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="d-flex">
                                        <div>
                                            <img src="/assets/images/admin/paypal.png" class="payment-image">
                                        </div>
                                        <div class="payment-toggle-btn">
                                            <mat-slide-toggle class=""></mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0 pt-2">Paypal Express Checkout</p>
                                    </div>
                                    
                                </mat-panel-title>
                                <mat-panel-description>
                                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            
                            <div class="top-border">
                                <div class="d-flex">
                                    <label class="payment-label">API Username</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">API Password</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Signature</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="">Paypal guest payment</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                                <div class="d-flex mt-3">
                                    <label class="">Text Mode</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                            </div>
                            
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="d-flex">
                                        <div>
                                            <img src="/assets/images/admin/authorize.png" class="payment-image">
                                        </div>
                                        <div class="payment-toggle-btn">
                                            <mat-slide-toggle class=""></mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0 pt-2">Authorize.Net Payment Form</p>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            
                            <div class="top-border">
                                <div class="d-flex">
                                    <label class="payment-label">API Login ID</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Transaction Key</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="">Sandbox Mode</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                            </div>
                            
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                <div class="row mx-0">
                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/stripe.png" class="payment-image">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">Stripe Payment Form</p>
                                </div>
                                
                            </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Secret Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Publishable Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/checkout.png" class="payment-image">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">2Checkout Payment Form</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Publishable Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Private key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Seller ID</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="">Test Mode</label>
                                <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="row mx-0">
                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/payumoney.png" class="payment-image">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">PayU Money</p>
                                </div>
                                
                            </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Merchant Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Salt Key<</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/banktransfer.png" class="payment-image">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">Add Your Bank To Transfer</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                            <div class="top-border">
                                <div class="d-flex">
                                    <label class="payment-label">Bank Name</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Account Name</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Account Number</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Branch Code</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">IFSC Code</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Bank Desription</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                            <textarea matInput placeholder=""></textarea>
                                        </mat-form-field>
                                    </form>
                                </div>  
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <mat-card class="w-100  align-items-center d-flex ml-auto">
                    <div class="action-btn">
                        <div class="mx-2">
                            <button mat-button appearance="fill" class="payment-cancel-btn">Cancel</button>
                        </div>
                        <div class="mx-2">
                            <button mat-button appearance="fill" class="payment-save-btn">Save</button>
                        </div>  
                    </div> 
                </mat-card>   
            </mat-card>

                
            </mat-drawer-content>
        
