@import "variables";


.main-getting-content{
    margin: 30px;
}

.appearance-save-btn{
    width: 100px;
    height: 39px;
    margin: 30px;
    background-color: #1173f4;
    color: white;
}
.card-content{

    margin: 30px;
}