#appointment{
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
        padding: 10px 0 10px 10px;
    }
    ::ng-deep  .mat-form-field-infix {
        border-top: unset;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper{
        transform: inherit;
    }
    &.max-width-94{
        max-width: 94%;
        margin: 0 auto;
    }
    p{
        margin-bottom: 0px;
    }
    .appointment-header{
        background-color: #d9f0fe;
        // width: 100%;   
        .header-content{
            height: 39px;
                .appoint-daily{
                    width: 28%;
                }
                .appoint-service{
                    width: 40%;
                }
                .appoint-action{
                    width: 32%;
                }
                .header-date{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .date-btn{
                        background: none;
                        border: none;
                    }
                    .date-icon{
                        color: #1c7af4;
                        font-size: 30px;
                    }
                    .date-para{
                        line-height: 2.5;
                        color: #1c7af4;
                    }
                }
                .searchbox{
                    width: 59%;  
                    .serch_input-appoint{           
                        height: 39px; 
                        padding-top: 3px; 
                        .has-search .form-control {
                            padding-left: 2.375rem;
                            }
                            .has-search .form-control-feedback {
                                position: absolute;
                                z-index: 2;
                                display: block;
                                width: 2.375rem;
                                height: 1rem;
                                line-height: 2rem;
                                text-align: center;
                                pointer-events: none;
                                color: black;
                                .verticalLine{
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 58%;
                                        right: 0;
                                        width: 1px;
                                        height: 100%;
                                        background: #dfc0c0;
                                }
                                } 
                            }
                            ::placeholder {         
                                font-size: 12px;
                            }                        
                            .searchbox_appointment{
                                border-radius: 20px;
                                height: 34px;
                            }          
                    }                   
                }
                .addAppointment-head-btn{
                    background-color: #1172f4;
                    border-radius: 20px 20px;
                    border: none;
                    padding: 7px 11px;
                    color: white;
                    font-size: 12px;
                }
        }  
    }
    #Appointment-dataTable{

        .appointment-edit-btn{
            background-color: #fabb88;
            border-radius: 3px;
            border: none;
        }
        .appointment-confirm-btn{
            background-color: #89b9f9;
            border-radius: 3px;
            border: none;
        }
        .appointment-cancel-btn{
            background-color:#e9e3e3;
            border-radius: 3px;
            border: none;
        }
        .appointment-icon{
            padding: 5px;
        }
        
    } 
}