<mat-drawer-content id="settings-my-profile" class="ml-0">
    <mat-card class="m-0 my-profile h-100">
        <div class="row">
            <div class="col-lg-12">
                <h6>My Profile</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-6 col-md-4  main-account-my-profile">
                <div class="ml-3 justify-content-center d-flex">
                    <!-- <div class="account-my-profile-background mr-3 mt-5">
                        <img src="/assets/images/admin/Layer6.png" class="my-profile-image">
                    </div> -->
                    <div class="profile-img-wrap" (click)="myProfleImage()">
                        <img *ngIf="myProfileImageUrl != ''" mat-card-avatar class="account-profile-image" src="{{myProfileImageUrl}}">
                        <img *ngIf="!myProfileImageUrl && 
                        profileDetails && profileDetails.image" mat-card-avatar class="account-profile-image" src="{{profileDetails.image}}">
                        <img *ngIf="profileDetails && !profileDetails.image" mat-card-avatar class="account-profile-image" src="/assets/images/admin/picture.png">
                        <div class="camera-alt"><i class="material-icons">camera_alt</i></div>
                    </div>
                </div>
                <div class="">
                    <form [formGroup]="settingMyProfile">
                        <div class="mt-3 text-center">
                            <mat-form-field class=" bottom-border-field">
                                <mat-icon class="mr-4" matPrefix>person</mat-icon>
                                <input maxlength="8" formControlName="first_name" matInput placeholder="First Name">
                            </mat-form-field>
                            <span class="error-wrap d-flex" *ngIf="settingMyProfile.get('first_name').dirty || settingMyProfile.get('first_name').touched">
                        <small *ngIf="settingMyProfile.get('first_name').hasError('required')" class="error">Firstname is required.</small>
                        <small *ngIf="settingMyProfile.get('first_name').hasError('maxlength')" class="error">First Name maximum 8 character.</small>
                        
                        </span>
                        </div>

                        <div class="mt-2 text-center">
                            <mat-form-field class=" bottom-border-field">
                                <mat-icon class="mr-4" matPrefix>person</mat-icon>
                                <input maxlength="8" formControlName="last_name" matInput placeholder="Last Name">
                            </mat-form-field>
                            <span class="error-wrap d-flex" *ngIf="settingMyProfile.get('last_name').dirty || settingMyProfile.get('last_name').touched">
                        <small *ngIf="settingMyProfile.get('last_name').hasError('required')" class="error">Lastname is required.</small>
                        <small *ngIf="settingMyProfile.get('last_name').hasError('maxlength')" class="error">Last Name maximum 8 character.</small>
                        
                        </span>
                        </div>

                        <div class="mt-2 text-center pointer-none">
                            <mat-form-field class="bottom-border-field">
                                <mat-icon class="mr-4" matPrefix>mail</mat-icon>
                                <input formControlName="email" matInput placeholder="Email">
                            </mat-form-field>
                            <span class="error-wrap d-flex" *ngIf="settingMyProfile.get('email').dirty || settingMyProfile.get('email').touched">
                            <small *ngIf="settingMyProfile.get('email').hasError('required')" class="error">Email is required.</small>
                            <small *ngIf="settingMyProfile.get('email').hasError('pattern')" class="error">Email is invalid.</small>
                        </span>
                        </div>

                        <div class="mt-2 text-center mb-3">
                            <mat-form-field class=" bottom-border-field">
                                <mat-icon class="mr-4" matPrefix>phone</mat-icon>
                                <input formControlName="mobile" matInput placeholder="Mobile">
                            </mat-form-field>
                            <span class="error-wrap d-flex" *ngIf="settingMyProfile.get('mobile').dirty || settingMyProfile.get('mobile').touched">
                            <small *ngIf="settingMyProfile.get('mobile').hasError('required')" class="error">Mobile number is required.</small>
                            <small *ngIf="settingMyProfile.get('mobile').hasError('pattern')" class="error">Mobile number is invalid.</small>
                            <small *ngIf="settingMyProfile.get('mobile').hasError('minlength') || settingMyProfile.get('mobile').hasError('maxlength')" class="error">Mobile number should be 6 to 15 digit.</small>
                        </span>
                        </div>

                        <div class="action-btn">
                            <button mat-button type="submit" (click)="fnSubmitMyProfile()" class="profile-save-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="change-password-container col-6">
               
                <form [formGroup]="changePwd" class="with-validation">
                    <div class="row mx-0 mt-4">
                        <div class="col-12 mb-3">
                            <!-- <label for="old-pwd" class="">Old Password</label>
                            <div class="input-with-icon">
                                <input  [type]="hide1 ? 'text' : 'password'" class="form-control" formControlName="oldPassword">
                                <mat-icon class="hide-show-pswd pointer" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </div> -->
                            <mat-form-field class="form-group  bottom-border-field">
                                <mat-label>Old Password</mat-label>
                                <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="oldPassword">
                                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="changePwd.get('oldPassword').touched || changePwd.get('oldPassword').dirty">
                                <small *ngIf="changePwd.get('oldPassword').hasError('required')" class="error">Old password is required.</small>
                            </span>
                        </div>
                        <div class="col-12 mb-3">
                            <!-- <label for="new-pwd" class="">New Password</label>
                            <div class="input-with-icon">
                                <input  [type]="hide2 ? 'text' : 'password'" class="form-control" formControlName="newPassword">
                                <mat-icon class="hide-show-pswd pointer" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </div> -->
                            <mat-form-field class="form-group  bottom-border-field">
                                <mat-label>New Password</mat-label>
                                <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword">
                                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="changePwd.get('newPassword').touched || changePwd.get('newPassword').dirty">
                                <small *ngIf="changePwd.get('newPassword').hasError('required')" class="error">New Password is required.</small>
                                <small *ngIf="changePwd.get('newPassword').hasError('minlength')" class="error">New Password should be minimum 8 character.</small>
                            </span>
                        </div>
                        <div class="col-12 mb-3">
                            <!-- <label for="new-pwd" class="">Confirm New Password</label>
                            <input type="password" formControlName="ReNewPassword" placeholder="Re-Enter New Password" class="common-input form-control" /> -->
                            <mat-form-field class="form-group  bottom-border-field">
                                <mat-label>Confirm New Password</mat-label>
                                <input type="password"  matInput formControlName="ReNewPassword" value="" placeholder="Re-Enter New Password">
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="changePwd.get('ReNewPassword').dirty || changePwd.get('ReNewPassword').touched">
                                <small *ngIf="changePwd.get('ReNewPassword').hasError('required') || (changePwd.get('ReNewPassword').hasError('required') && changePwd.hasError('notSame'))" class="error text-left">Confirm password is required.</small>
                                <small *ngIf="!changePwd.get('ReNewPassword').hasError('required') && changePwd.hasError('notSame')" class="error text-left">Passwords do not match.</small>
                            </span>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="d-block">
                                <button mat-flat-button class=" px-3 d-block ml-auto mr-2 bg-primary text-light" (click)="fnChangePassword()">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
        
            </div>
        </div>
    </mat-card>
</mat-drawer-content>