<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
        <div class="modal-header modal-bcolor-primary">
            <p class="heading lead mb-0 work-content">Imports Service</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <div class="text-center">
                    <a href="../../../assets/csv/services.csv" download style="display:inline-block;background-color: #e74488;border: none;color: white;padding: 8px 15px;cursor: pointer;font-size: 16px;"><i class="fa fa-download"></i> 
                        Demo csv download
                    </a>
                </div>
                <div class="file-upload ">
                    <div class="image-upload-wrap">
                        <input class="fileuploadinput" (change)="handleFileInput($event.target.files)" type='file' id="file" />
                        <div class="drag-text">
                            <h6 *ngIf="!fileToUpload">Drag and drop CSV files here </h6>
                            <p *ngIf="fileToUpload">{{fileToUpload.name}} </p>
                        </div>
                    </div>
                    <button mat-button [disabled]="!fileToUpload" class="category-img-button sc-pink-btn d-flex mx-auto justify-content-center mt-3" (click)="fileupload()">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>