<mat-sidenav-container class="tp-container view-review-dialog">
    <mat-sidenav class="w-100" mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Appointment Details</h5>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <div class="modal-body modal-bcolor">
                    <p class="mb-0 font-weight-bold">{{detailsData.booking_date}}</p>
                    <p class="small-font">Booked On: {{detailsData.created_at}}</p>
                    <p class="mb-0 small-font">Service</p>
                    <p class="font-weight-bold">{{detailsData.service.service_name}} ($.{{detailsData.service.service_cost}})</p>
                    <p class="mb-0 small-font">Time</p>
                    <p class="font-weight-bold">{{detailsData.booking_time}} ({{detailsData.service_time}})</p>
                    <div class="d-flex">
                        <div class="pl-0">
                            <p class="mb-0 small-font">Order By</p>
                            <p class="font-weight-bold text-capitalize">{{detailsData.order_by}}</p>
                        </div>
                        <div class="pl-5">
                            <p class="mb-0 small-font">Status</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'P'">Waiting For Confirmation</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'AC'">Confirm</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSA'">Rescheduled By Admin</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSS'">Rescheduled</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSC'">Rescheduled By Customer</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'R'">Rejected</p>
                            <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'CO'">Confirm</p>
                        </div>
                    </div>
                </div>

                <div class="card-body-marginn booking-detail-main pl-3 mt-2 mb-0">
                    <h6 class="text-left mb-0 font-weight-bold">Customer Details</h6>
                    <div class="row mx-0 align-items-center">
                        <p class="customer-profile-img text-uppercase">{{customerShortName}}</p>
                        <div class="customer-name pr-3 address-fontsize">
                            <p class="mb-0 address-fontsize">{{detailsData.customer.fullname}}</p>
                            <p class="small-font mb-0 address-fontsize">{{detailsData.customer.email}}</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <mat-icon aria-hidden="false" class="call-icon bluephone">call</mat-icon>
                        <p class="mb-0 text-left">{{detailsData.customer.phone}}</p>
                    </div>

                </div>
                <div class="booking-detail-main pl-3 mt-2">
                    <p class="font-weight-bold mb-0">Review</p>
                    <div class="d-flex star-icon ">
                        <div class="d-flex statick-rating w-100" *ngIf="reviewData.rating != null">

                            <div class="star-rating">
                                <input type="radio" [checked]="reviewData.rating == 5" id="5-stars_{{reviewData.order_id}}" name="rating_{{reviewData.order_id}}" value="5" />
                                <label for="5-stars_{{reviewData.order_id}}">&#9733;</label>
                                <input type="radio" [checked]="reviewData.rating == 4" id="4-stars_{{reviewData.order_id}}" name="rating_{{reviewData.order_id}}" value="4" />
                                <label for="4-stars_{{reviewData.order_id}}">&#9733;</label>
                                <input type="radio" [checked]="reviewData.rating == 3" id="3-stars_{{reviewData.order_id}}" name="rating_{{reviewData.order_id}}" value="3" />
                                <label for="3-stars_{{reviewData.order_id}}">&#9733;</label>
                                <input type="radio" [checked]="reviewData.rating == 2" id="2-stars_{{reviewData.order_id}}" name="rating_{{reviewData.order_id}}" value="2" />
                                <label for="2-stars_{{reviewData.order_id}}">&#9733;</label>
                                <input type="radio" [checked]="reviewData.rating == 1" id="1-star_{{detailsData.order_id}}" name="rating_{{detailsData.order_id}}" value="1" />
                                <label for="1-star_{{reviewData.order_id}}">&#9733;</label>
                            </div>
                        </div>

                    </div>
                    <div>
                        <h6>{{reviewData.rating_title}}</h6>
                        <p class="small-font">{{reviewData.review}}</p>
                    </div>
                </div>

            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>