
<mat-drawer-container class="main-container">
  <mat-drawer-content>
      <main fxLayout="column" fxLayoutGap="0">
       <mat-toolbar [ngClass]="{'admin_top_bar': isAdminUser() && !isBusiness()}" color="primary" class="toolbar menu-comman" *ngIf="isLogin() && !isFront()">
          <mat-toolbar-row *ngIf="isCustomerUser()">
            <div class="logo"><a><img src="/assets/img/logo.png"></a></div> 
            <div class="logo"><a class='logo-link'><i class="fa fa-shopping-bag mr-3 shoppingbagsize" aria-hidden="true"></i>My Appointments</a></div>
              <span class="f13">
                <button  mat-stroked-button class="bellborder bell-color ml-3" (click)="openNotificationDialog()">
                <i mat-list-icon class="fa fa-bell-o" aria-hidden="true"></i>
                </button> 

                <mat-button-toggle class="toggleborder" (click)="drawer.toggle()">
                  <i class="fa fa-bars toggle-color" aria-hidden="true"></i>
                </mat-button-toggle>

              </span> 
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="isStaffUser()">
            <div class="logo"><a><img src="/assets/img/logo.png"></a></div> 
            <div class="logo"><a class='logo-link'><i class="fa fa-shopping-bag mr-3 shoppingbagsize" aria-hidden="true"></i>My Appointments</a></div>


              <span class="example-fill-remaining-space">
              </span>
              <span class="f13">

             <mat-slide-toggle class="slidetoggle">Availability</mat-slide-toggle> 


                <button  mat-stroked-button class="bellborder bell-color ml-3" (click)="openNotificationDialog()">
                <i mat-list-icon class="fa fa-bell-o" aria-hidden="true"></i>
                </button> 

                <mat-button-toggle class="toggleborder" (click)="drawer.toggle()">
                  <i class="fa fa-bars toggle-color" aria-hidden="true"></i>
                </mat-button-toggle>

              </span> 
          </mat-toolbar-row>
          <mat-toolbar-row *ngIf="isAdminUser()">
            <!-- <div class="logo"><a><img src="/assets/img/logo.png"></a></div>  -->
            <div class="logo"><a class='logo-link'><i class="fa fa-shopping-bag mr-3 shoppingbagsize" aria-hidden="true"></i>My Appointments</a></div>
              <span class="example-fill-remaining-space">
                <div class="selected-business-btn-main">
                  <button mat-button color="primary" class="text-capitalize" *ngIf="isBusinessSelected() && !isBusiness()">Business : {{selectedBusinessName}}</button>
                </div>
              </span>
              <span class="f13">
                <button mat-button color="primary"  (click)="MyBusinessNav()">My Businesses</button>
                <button  mat-stroked-button class="bellborder bell-color ml-3" (click)="openNotificationDialog()">
                <i mat-list-icon class="fa fa-bell-o" aria-hidden="true"></i>
                </button> 

                <mat-button-toggle class="toggleborder" (click)="drawer.toggle()">
                  <i class="fa fa-bars toggle-color" aria-hidden="true"></i>
                </mat-button-toggle>

              </span> 
          </mat-toolbar-row>
      </mat-toolbar>
      <div class="bottom_header" *ngIf="!isLogin() && !isFront()" fxFlex="100">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <div class="bottom_header" *ngIf="isFront()" fxFlex="100">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <div class="bottom_header" *ngIf="isCustomerUser() && !isFront()" fxFlex="100">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <div class="bottom_header" *ngIf="isStaffUser() && !isFront()" fxFlex="100">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <div class="bottom_header" *ngIf="isAdminUser() && !isFront()" fxFlex="100">
        <mat-drawer-container class="main-container left-admin-menu">
          <mat-drawer class="main_admin_menu" *ngIf="!isBusiness()" mode="side" opened>
            <div class="top_admin_menu">
              <mat-list-item role="listitem"  class="matlist pointer menuitem logo">
                <div class="logo"><img src="/assets/images/admin/admin-logo-orange.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" class="add">
                <div class="add common-menu"><img src="/assets/images/admin/add.png"></div>
              </mat-list-item> 
              <mat-list-item role="listitem" (click)="myWorkSpaceNav()">
                <div class="common-menu"><img src="/assets/images/admin/admin-menu-bag.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" >
                <div class="common-menu" (click)="MyAppointmentNav()"><img src="/assets/images/admin/admin-menu-calendar.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" >
                <div class="common-menu" (click)="MyCustomerNav()"><img src="/assets/images/admin/admin-menu-user.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" >
                <div class="common-menu" (click)="MyReportsNav()"><img src="/assets/images/admin/admin-menu-statistics.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" >
                <div class="common-menu" (click)="MyDiscountCouponNav()"><img src="/assets/images/admin/admin-menu-megaphone.png"></div>
              </mat-list-item>
            </div>
            <div class="bottom_admin_menu">
              <mat-list-item role="listitem" >
                <div class="common-menu"><img src="/assets/images/admin/admin-menu-settings.png"></div>
              </mat-list-item>
              <mat-list-item role="listitem" >
                <div class="common-menu"><img src="/assets/images/admin/admin-menu-user-2.png"></div>
              </mat-list-item>
            </div>
          </mat-drawer>
          <mat-drawer-content class="main-admin-drawer">
            <router-outlet #outlet="outlet"></router-outlet>
          </mat-drawer-content>
        </mat-drawer-container>
        
      </div>
    </main>
    <!-- right drawer menu code -->
  </mat-drawer-content>
    <mat-drawer #drawer position="end" >
      <mat-list role="list" *ngIf="isCustomerUser()">
        <mat-menu></mat-menu>
        <mat-list-item role="listitem" (click)="drawer.toggle()" (click)="UserProfile('./user-profile')" class="matlist pointer menuitem">
            <img class="customer-profile-img ml-2 mr-2 mb-2" src="/assets/img/avatar-rihan.jpg"><p class="font-weight-bold mt-2 p-1">Userxyzee</p>
        </mat-list-item>
   
        <mat-list-item role="listitem"  (click)="UserAppointment('./user-appointment')" 
            (click)="drawer.toggle()">
          <button mat-menu-item class="menuitem"><i mat-list-icon   class="fa fa-calendar mr-3"></i>My Appointmets</button>
        </mat-list-item>

        <mat-list-item role="listitem" >
          <button mat-menu-item (click)="logout(); drawer.toggle();" class="menuitem">
            <i mat-list-icon class="fa fa-sign-out mr-3 menuitem"></i>Logout</button>
        </mat-list-item>

      </mat-list>
      <mat-list role="list" *ngIf="isStaffUser()">
        <mat-menu></mat-menu>
        <mat-list-item role="listitem" (click)="drawer.toggle()" (click)=" StaffProfile('./staff-profile')" class="matlist pointer menuitem">
            <img class="customer-profile-img ml-2 mr-2 mb-2" src="/assets/img/avatar-rihan.jpg"><p class="font-weight-bold mt-2 p-1">Userxyzee</p>
        </mat-list-item>
         <mat-list-item role="listitem"  (click)="WorkSpace('./my-work-space')" (click)="drawer.toggle()">
          <button mat-menu-item  class="menuitem">
            <i mat-list-icon class="fa fa-briefcase mr-3"></i>My Work Space</button>
        </mat-list-item> 
       
        <mat-list-item role="listitem" (click)="StaffAppointment('./staff-appointment')" (click)="drawer.toggle()">
          <button mat-menu-item class="menuitem"><i mat-list-icon   class="fa fa-calendar mr-3"></i>My Appointmets</button>
        </mat-list-item>

        <mat-list-item role="listitem" (click)="WorkProfile('./work-profile')" (click)="drawer.toggle()">
          <button mat-menu-item class="menuitem"><i mat-list-icon class="material-icons mr-3">people_alt</i>Work Profile</button>
        </mat-list-item> 

        <mat-list-item role="listitem" >
          <button mat-menu-item (click)="logout(); drawer.toggle();" class="menuitem">
            <i mat-list-icon class="fa fa-sign-out mr-3 menuitem"></i>Logout</button>
        </mat-list-item>

      </mat-list>
      <mat-list role="list" *ngIf="isAdminUser()">
        <mat-menu></mat-menu>
        <mat-list-item role="listitem" (click)="drawer.toggle()" (click)="MyProfile('./my-profile')" class="matlist pointer menuitem">
            <img class="customer-profile-img ml-2 mr-2 mb-2" src="/assets/img/avatar-rihan.jpg"><p class="font-weight-bold mt-2 p-1">Userxyzee</p>
        </mat-list-item>
   
        <!-- <mat-list-item role="listitem" (click)="UserAppointment('./userappointments')" 
            (click)="drawer.toggle()">
          <button mat-menu-item (click)="drawer.toggle()" class="menuitem">
            <i mat-list-icon class="fa fa-briefcase mr-3"></i>My Work Space</button>
        </mat-list-item> -->
       
        <mat-list-item role="listitem"  (click)="myWorkSpaceNav()" 
            (click)="drawer.toggle()">
          <button mat-menu-item class="menuitem"><i mat-list-icon  class="fa fa-calendar mr-3"></i>My Appointmets</button>
        </mat-list-item>

       <!--  <mat-list-item role="listitem"  (click)="WorkProfile('./work-profile')" 
            (click)="drawer.toggle()">
          <button mat-menu-item (click)="drawer.toggle()" class="menuitem"><i mat-list-icon    class="material-icons mr-3">people_alt</i>Work Profile</button>
        </mat-list-item> -->

        <mat-list-item role="listitem" >
          <button mat-menu-item (click)="logout(); drawer.toggle();" class="menuitem">
            <i mat-list-icon class="fa fa-sign-out mr-3 menuitem"></i>Logout</button>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
</mat-drawer-container>


