@import "variables";
.logo {
    height: 100%;
    display: inline-block;
    object-fit: contain;
    padding: 0 1%;
    padding-top: 0.9rem;
}

.menu-comman {
    margin-bottom: 0px;
    position: fixed;
    background-color: #fff;
    z-index: 2;
}

.create-user {
    margin-left: 2rem;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.main-container {
    width: 100%;
    height: 100%;
}

.selected-business-btn-main {
    display: table;
    margin: 0 auto;
    label {
        color: #565657;
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 500;
        span {
            color: #0e0e0e;
        }
    }
}

// Add Menu Css

/*Appoinment Menu Css*/

.menu-heading {
    margin-top: 30px;
}

.iconwidth {
    margin-left: 1rem;
}

.customer-profile-img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    border: 2px solid #feaa4b;
}

.pointer {
    cursor: pointer;
}

/*Main Menu toggle css*/

mat-drawer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-list-icon {
    color: $iconcolors;
}
.menuitem {
    padding: 0px 103px 0px 15px;
    font-weight: 600;
    &:hover {
        background-color: #ffda53;
    }
}
.menuitem {
    &.active {
        background-color: #ffda53;
    }
}
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    padding: 0px !important;
}

/*Css For Toggle Bar*/

.toggleborder {
    border: 0;
    img {
        width: 26px;
    }
}

.toolbar {
    a {
        &:hover {
            color: #232324;
        }
    }
}

/*---------------------*/

.is-active {
    background: rgba(0, 0, 0, 0.08);
}

.is-active mat-icon {
    color: $second;
}

.app-name {
    margin-right: 3%;
}

.admin-menu,
.logout {
    margin-left: 1rem;
}

@media screen and (max-width: 767px) {
    .f13 {
        font-size: 10px;
    }
    .btn-menu-top {
        margin-left: 0px !important;
        padding: 0px;
        min-width: 40px;
    }
    .logo {
        padding-top: 8px;
        // max-height: 35px;
    }
    .logo img {
        width: 25px;
        object-fit: contain;
    }
    // .admin-menu {
    //     /*display: none !important;*/
    // }
    .logout {
        margin-left: 0.5rem;
        padding: 0px;
    }
    .mat-toolbar-row,
    .mat-toolbar-single-row {
        padding: 0 2px;
    }
    .logo-link {
        color: #232324;
        font-size: 1rem;
        padding: 0 6px;
    }
}

::ng-deep .mat-toolbar {
    .mat-button-toggle-checked {
        background-color: transparent;
    }
}

/*Slide Toggle*/

.slidetoggle {
    color: black;
    font-size: $fs-16;
    align-content: left;
}

/*----------*/

.settings-menu {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.mat-list-base {
    padding: 0;
}

input {
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus {
    box-shadow: 2px 2px 8px #00000070 !important;
}

input:focus {
    outline: 0 !important;
}

.round-btn {
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
}

/*---Notification----*/

.bellborder {
    border: 0;
}

.bell-color {
    color: #4d72a4;
    font-size: $fs-20;
}

/*---Notification Dialog Container---*/

::ng-deep .tp-notification-container {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    background: #eee;
}

::ng-deep .x-small {
    font-size: $fs-12;
}

::ng-deep .fontsize-md {
    font-size: $fs-14;
}

::ng-deep .fontred {
    font-size: $fs-14;
    color: red;
}

::ng-deep .greenfont {
    font-size: $fs-14;
    color: green;
}

::ng-deep .bluefont {
    font-size: $fs-14;
    // color: blue;
    color: #00a89b;
}

::ng-deep .orangefont {
    font-size: $fs-14;
    color: #eb7c2b;
}

::ng-deep .material-icons {
    font-size: $fs-16;
}

::ng-deep .modal-dialog-container {
    width: 300px;
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
        0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    background-color: #fff;
}

::ng-deep .left-admin-menu {
    .main_admin_menu {
        width: 90px;
        filter: drop-shadow(1.5px 2.598px 1.5px rgba(2, 2, 2, 0.09));
        background-color: #00a89b;
        height: 100vh;
        z-index: 9999;
        position: fixed;
        .mat-drawer-inner-container {
            mat-list-item {
                display: flex;
                justify-content: center;
                transition: all 0.3s;
                cursor: pointer;
                width: 60px;
                height: 60px;
                border-radius: 5px;
                margin-bottom: 5px !important;
                margin: 0 auto;
                &.logo {
                    margin-bottom: 30px !important;
                    opacity: 1;
                    img {
                        width: 40px;
                        opacity: 1;
                    }
                    &:hover {
                        .mat-list-item-content {
                            background-color: transparent;
                        }
                    }
                }
                img {
                    width: 28px;
                    opacity: 0.8;
                }
                .mat-list-item-content {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    border-radius: 5px;
                    align-items: center;
                }
                .common-menu {
                    padding: 10px;
                    margin: 10px 0;
                    &.add {
                        background-color: #ccedeb;
                        border-radius: 100%;
                        height: 30px;
                        text-align: center;
                        width: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 25px;
                        }
                    }
                }
                &:hover {
                    .mat-list-item-content {
                        background-color: rgba(0, 119, 110, 0.61);
                    }
                }
                &.active {
                    .mat-list-item-content {
                        background-color: rgba(0, 119, 110, 0.61);
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    &mat-drawer-content {
        margin-left: 96px !important;
    }
}
.add-popover {
    background-color: #ffffff;
    border-radius: 5px;
    .add-content {
        padding: 15px;
        box-shadow: 0 3px 25px rgb(0 168 155 / 45%);
        border-radius: 5px;
        .add-new {
            padding: 0px 15px 7px;
            font-size: 16px;
            color: #0e0e0e;
            border-bottom: 1px solid rgba(112, 112, 112, 0.24);
        }
    }
    .admin-add-menu {
        margin-top: 10px;
        margin-bottom: 0;
        mat-list-item {
            padding: 6px 10px;
            cursor: pointer;
            display: flex;
            .common-menu {
                font-size: 14px;
                img {
                    width: 28px;
                    height: 22px;
                }
            }
            &:hover {
                background-color: #eaf7f6;
                color: #00a89b;
            }
        }
    }
}

.setting-menu {
    background-color: #fbfbfb;
    width: 250px;
    position: fixed;
    top: 70px;
    height: 100vh;
    .setting-menu-item {
        cursor: pointer;
        padding: 10px 20px;
        align-items: center;
        transition: all 0.3s;
        p {
            margin: 0;
            font-weight: 500;
        }
        .menu-icon {
            margin-right: 10px;
            display: block;
            height: 28px;
            width: 28px;
            img {
                width: 100%;
                position: relative;
            }
            .colored {
                top: -20px;
                opacity: 0;
                display: none;
            }
        }
        &:hover {
            background-color: #ddeafd;
            color: #1273f6;
            .menu-icon {
                .normal {
                    top: -20px;
                    opacity: 0;
                    display: none;
                }
                .colored {
                    top: 0px;
                    opacity: 1;
                    display: block;
                }
            }
        }
        &.setting-menu-active {
            background-color: #ddeafd;
            color: #1273f6;
            .menu-icon {
                .normal {
                    top: -20px;
                    opacity: 0;
                    display: none;
                }
                .colored {
                    top: 0px;
                    opacity: 1;
                    display: block;
                }
            }
        }
    }
    h6 {
        font-size: 16px;
        font-weight: 600;
        padding-left: 15px;
    }
}

.admin_top_bar {
    width: calc(100% - 90px);
    left: 90px;
}

.main-admin-drawer {
    ::ng-deep app-my-work-space {
        width: 100%;
    }
    ::ng-deep app-appointment {
        width: 100%;
    }
    ::ng-deep app-customers {
        width: 100%;
    }
    ::ng-deep app-reports {
        width: 100%;
    }
    ::ng-deep app-discount-coupon {
        width: 100%;
    }
    ::ng-deep app-appointment-live {
        width: 100%;
    }
    ::ng-deep settings-services {
        width: 100%;
    }
    ::ng-deep app-payments {
        width: 100%;
    }
    ::ng-deep app-paymentgateway {
        width: 100%;
    }
    ::ng-deep app-paymentrules {
        width: 100%;
    }
    ::ng-deep app-bookingrules {
        width: 100%;
    }
    ::ng-deep app-appearance {
        width: 100%;
    }
    ::ng-deep app-company-details {
        width: 100%;
    }
    ::ng-deep app-settings-my-profile {
        width: 100%;
    }
    ::ng-deep app-business-hours {
        width: 100%;
    }
    ::ng-deep app-postalcodes {
        width: 100%;
    }
    ::ng-deep app-alertsettings {
        width: 100%;
    }
    ::ng-deep app-support {
        width: 100%;
    }
    ::ng-deep app-staff {
        width: 100%;
    }
    ::ng-deep app-admins {
        width: 100%;
    }
    ::ng-deep app-my-subscriptions {
        width: 100%;
    }
    ::ng-deep app-my-transactions {
        width: 100%;
    }
    ::ng-deep app-my-profile {
        width: 100%;
    }
    ::ng-deep app-subscription {
        width: 100%;
    }
    ::ng-deep app-my-business {
        height: 100%;
        width: 100%;
    }
    ::ng-deep app-billing {
        width: 100%;
    }
}

// star ratting
::ng-deep .star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: center;
    padding: 0 0.2em;
    text-align: center;
    width: auto;
    input {
        display: none;
    }
    label {
        color: #ccc;
        cursor: pointer;
        font-size: 70px;
        padding: 5px;
        padding-left: 1px;
    }
    input[type="radio"]:checked ~ label {
        color: #f90;
    }
}

::ng-deep .statick-rating {
    pointer-events: none;
    .star-rating {
        label {
            font-size: 20px;
        }
    }
}

.top_admin_menu {
    height: calc(100vh - 136px);
    overflow-y: scroll;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
}

.bottom_admin_menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-head {
    display: inline-flex;
    align-items: center;
    p {
        font-size: 16px;
        color: #0e0e0e;
        font-weight: 500;
    }
}

// -------Logout Dialogbox css-----
::ng-deep #logout-dialog {
    .yes-btn {
        width: 130px;
        height: 37px;
        border-radius: 29px;
        background-color: #f04589;
        color: white;
    }
    .cancel-btn {
        width: 130px;
        height: 37px;
        border-radius: 29px;
        background-color: #9b9b9b;
        color: white;
    }
}

// -------Authentication Dialogbox css-----
::ng-deep #re-athentication-dialog {
    .submit-btn {
        width: 130px;
        height: 37px;
        border-radius: 29px;
        background-color: #f04589;
        color: white;
    }
}

::ng-deep .booking-detail-main {
    .customer-profile-img {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        background-color: #f04589;
        color: white;
        text-align: center;
        padding: 14px;
        line-height: 2;
        display: block;
        margin: 10px;
    }
    .customer-name {
        width: calc(100% - 80px);
    }
    .address-fontsize {
        font-size: 13px;
        .bluephone {
            color: #00a89b;
        }
        .bluemap {
            color: #00a89b;
        }
    }
}

.setting-menu-active {
    background-color: #ddeafd;
    color: #1273f6;
}

.main-container-top,
.main-content-top {
    overflow: visible;
    overflow-x: hidden;
}

.notification-btn {
    position: relative;
    .count {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #e74033;
        border-radius: 100%;
        color: #fff;
        font-size: 10px;
        text-align: center;
        line-height: 2.3;
        right: 10px;
        top: -2px;
    }
}

.pointernone {
    pointer-events: none;
}

::ng-deep .common-blue-btn {
    border-radius: 5px;
    font-size: 13px;
    background: #f04589 0% 0% no-repeat padding-box;
    width: 105px;
    color: #fff;
    height: 35px;
}

::ng-deep mat-toolbar-row {
    box-shadow: 0px 3px 30px rgb(255 119 0 / 18%);
    .logo {
        display: flex !important;
        align-items: center;
        padding: 0 !important;
        .logo-image {
            img {
                height: 30px;
                margin-right: 20px;
            }
        }
        .logo-link {
            color: #0e0e0e;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
        }
    }
}

::ng-deep .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
        overflow: auto;
    }
}

::ng-deep .staff-dash.statick-rating .star-rating label {
    font-size: 16px;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
}
::ng-deep mat-toolbar {
    .admin-header {
        position: relative;
        padding: 0 20px;
        .page-head {
            label {
                color: #0e0e0e;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 0;
                // margin-left: 15px;
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .logout-btn {
            display: flex;
            justify-content: flex-end;
        }
        .getting-started-window-wrap {
            transition: all 0.5s;
            .getting-started-label {
                position: fixed;
                background-color: #fff;
                color: #000;
                left: calc(50% - 80px);
                top: 64px;
                padding: 8px 10px;
                width: 210px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                border-radius: 0 0 10px 10px;
                box-shadow: 0px 5px 8px rgb(0 168 155 / 27%);
                z-index: -1;
                cursor: pointer;
                transition: all 0.5s;
                label {
                    margin-bottom: 0;
                    color: #00a89b;
                    text-decoration: underline;
                    font-weight: 500;
                    font-size: 16px;
                    cursor: pointer;
                }
                span {
                    font-size: 24px;
                    color: #f04589;
                }
                img {
                    -webkit-animation-name: spaceboots;
                    -webkit-animation-duration: 1s;
                    -webkit-transform-origin: 50% 50%;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-timing-function: linear;
                    width: 24px;
                }
                &.opened {
                    bottom: 0;
                    top: unset;
                    border-radius: 10px 10px 0px 0px;
                    box-shadow: 0px -2px 8px rgba(0, 168, 155, 0.27);
                    transition: all 0.5s;
                }
            }
            .window-screen {
                height: 0;
                transition: all 0.5s;
                display: none;
                mdb-carousel {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .carousel {
                        display: flex;
                        justify-content: center;
                        height: 80%;
                        width: 100%;
                        [class*="carousel-control-"] {
                            opacity: 1;
                            .sr-only {
                                width: auto;
                                height: auto;
                                color: #00a89b;
                                clip: unset;
                            }
                            .carousel-control-prev-icon {
                                background-image: url("/assets/images/icons/iconmonstr-arrow-left-thin.svg");
                                width: 1.4rem;
                                position: relative;
                                left: -55px;
                            }
                            .carousel-control-next-icon {
                                background-image: url("/assets/images/icons/iconmonstr-arrow-right-thin.svg");
                                width: 1.4rem;
                                position: relative;
                                right: -40px;
                            }
                        }
                    }
                    .carousel-indicators {
                        display: none;
                    }
                    .carousel-inner {
                        max-width: 900px;
                        background-color: #fcf4ce;
                        border-radius: 10px;
                        height: 100%;
                        .signle-item {
                            height: 100%;
                            .left-side {
                                padding: 2em 1em 2em 2em;
                                border-right: solid 1px rgba(0, 168, 155, 0.23);
                                display: flex;
                                align-items: center;
                                .progress-content {
                                    width: 100%;
                                }
                                h3 {
                                    color: #0e0e0e;
                                    font-size: 20px;
                                    font-weight: 600;
                                    text-align: left;
                                }
                                mat-progress-bar {
                                    margin: 1em 0;
                                    border-radius: 5px;
                                    height: 6px;
                                    margin-bottom: 6px;
                                    .mat-progress-bar-buffer {
                                        background: #ffffff !important;
                                    }
                                }
                                .progress-count {
                                    color: #565657;
                                    font-size: 13px;
                                }
                                .steps {
                                    padding-left: 0;
                                    list-style: none;
                                    margin: 2.5em 0;
                                    position: relative;
                                    li {
                                        margin-bottom: 1.5em;
                                        color: #0e0e0e;
                                        display: flex;
                                        align-items: center;
                                        font-size: 14px;
                                        flex-wrap: wrap;
                                        position: relative;
                                        padding-left: 30px;
                                        width: 100%;
                                        word-break: break-all;
                                        font-weight: 500;
                                        &.active {
                                            color: #00a89b;
                                        }
                                        &.checked {
                                            &:before {
                                                content: "\e876";
                                                background-color: #00a89b;
                                                color: #ffffff;
                                                font-family: "Material Icons Outlined";
                                                display: flex;
                                                align-items: center;
                                                justify-content: center;
                                                font-size: 14px;
                                            }
                                            &:after {
                                                border-color: #00a89b !important;
                                                border-style: solid !important;
                                            }
                                        }
                                        &:before {
                                            content: "";
                                            font-size: 24px;
                                            color: #00a89b;
                                            background-color: #fff;
                                            border-radius: 100%;
                                            width: 20px;
                                            height: 20px;
                                            display: inline-block;
                                            line-height: 22px;
                                            border: 1px solid #00a89b;
                                            position: absolute;
                                            left: 0;
                                        }
                                        &:after {
                                            content: "";
                                            height: 1.8em;
                                            width: 1px;
                                            position: absolute;
                                            left: 9px;
                                            border: 1px dashed #565657 !important;
                                            border: 0;
                                            top: 22px;
                                        }
                                        &:last-child {
                                            &:after {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .right-side {
                                padding: 0;
                                .step-content {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    flex-wrap: wrap;
                                    flex-direction: column;
                                    h4 {
                                        color: #0e0e0e;
                                        font-weight: 500;
                                        font-size: 16px;
                                    }
                                    p {
                                        color: #565657;
                                        font-size: 12px;
                                        margin-bottom: 10px;
                                    }
                                    label {
                                        color: #0e0e0e;
                                        font-size: 13px;
                                        width: 100%;
                                        font-weight: 500;
                                        text-align: center;
                                        white-space: break-spaces;
                                    }
                                    button {
                                        margin-top: 1em;
                                    }
                                    .skip-btn {
                                        color: #565657;
                                        margin-top: 6px;
                                        cursor: pointer;
                                    }
                                    .skip-btn-side {
                                        margin-top: 20px;
                                        margin-left: 20px;
                                        color: #565657;
                                        cursor: pointer;
                                    }
                                    .ver-sec {
                                        height: 50%;
                                        width: 100%;
                                        display: flex;
                                        align-items: flex-start;
                                        padding: 2em 2em 2em 1em;
                                        &:first-child {
                                            border-bottom: 1px solid rgba(0, 168, 155, 0.23);
                                        }
                                        img {
                                            width: 100px;
                                            margin-right: 2em;
                                        }
                                        .contents {
                                            width: calc(100% - 2em);
                                            text-align: left;
                                            display: flex;
                                            flex-wrap: wrap;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.opened {
                    height: calc(100vh - 64px);
                    position: fixed;
                    top: 64px;
                    display: block;
                    width: calc(100% - 90px);
                    left: 90px;
                    background-color: #fff;
                    z-index: -1;
                    transition: all 0.5s;
                }
            }
        }
        .live-btn {
            min-width: auto !important;
            height: 36px;
        }
    }
}
.notification-svg {
    width: 22px;
}
@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 0px) rotate(0deg);
    }
    // 10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    // 30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% {
        -webkit-transform: translate(1px, 0px) rotate(1deg);
    }
    // 50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% {
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
    }
    // 70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% {
        -webkit-transform: translate(-1px, 0px) rotate(1deg);
    }
    // 90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% {
        -webkit-transform: translate(1px, 0px) rotate(-1deg);
    }
}
.logout-svg {
    width: 24px;
}
.business_logo {
    img {
        height: 30px;
    }
}

::ng-deep .mde-popover-direction-arrow {
    left: -16px !important;
    top: 26px !important;
    transform: rotate(-90deg);
    border-width: 0px 11px 11px !important;
}
