<div class="content-main">
<mat-tab-group mat-align-tabs="start" >
  <mat-tab label="Services">  
    <div class="staff-work-profile work-profile-category">
      <div class="single-booking">
		<div *ngFor="let serviceData of serviceData; let i = index" class="col-sm-3 col-lg-3 col-md-6 profile-single-slot float-left">
			<mat-card class="card">
			<div class="card-body-content mt-3">       
				<img mat-card-avatar class="customer-profile-img text-center mb-1" src="{{serviceData.service_image}}">
				<p class="text-center">{{serviceData.service_name}}</p>		
			</div>
			</mat-card>
		</div>
	</div>
  	</div>
	</mat-tab>

	<mat-tab label="Postal Codes"> 
  	<div class="staff-work-profile">
      <div class="col-sm-3 col-lg-3 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
		          		<i class="fa fa-map-marker"></i>
							</div>
							<label>Kandivali</label>
						</div>
						<div class="wrapcontent1">
							<p class="mb-0">Postal Code</p>
							<p class="wrapcontent1">400101</p>  
						</div>
        	</div>
      	</mat-card>
    </div>
	</div> 
</mat-tab>

	<mat-tab label="Working Hours">  
    <div class="staff-work-profile work-prfile-w-hours">
      <div *ngFor="let workingHours of workingHours; let i = index" class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
					<div class="map">
						<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
					</div>
					<label>{{dayName}}</label>
				</div>
				<div class="wrapcontent">
					<div class="hours">
						<p>{{workingHours.day_start_time}}</p> 
					</div>						
					<label>to</label>
					<div class="hours">
						<p>{{workingHours.day_end_time}}</p> 
					</div>
				</div>
        	</div>
      	</mat-card>
    </div>
</div>
</mat-tab>

<mat-tab label="Breaks">  
     <div class="staff-work-profile work-prfile-breaks">
      <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Monday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>8.00 am</p> 
							</div>
							
							<label>to</label>
							<div class="hours">
								<p> 6.00 am</p> 
							</div>
						</div>
        	</div>
      	</mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
        <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Tuesday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>8.00 am</p> 
							</div>
							
							<label>to</label>
							<div class="hours">
								<p> 6.00 am</p> 
							</div>
						</div>
        	</div>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
           <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Wednesday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>8.00 am</p> 
							</div>
							
							<label>to</label>
							<div class="hours">
								<p> 6.00 am</p> 
							</div>
						</div>
        	</div>
       </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
         <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Thursday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>8.00 am</p> 
							</div>
							
							<label>to</label>
							<div class="hours">
								<p> 6.00 am</p> 
							</div>
						</div>
        	</div>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
         <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Friday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>8.00 am</p> 
							</div>
							
							<label>to</label>
							<div class="hours">
								<p> 6.00 am</p> 
							</div>
						</div>
        	</div>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
        <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Saturday</label>
						</div>
						<div  class="wrapcontent">
							<div class="hours">
								<p>Day Off</p> 
							</div>
							
							<label></label>
							<div class="">
								<p></p> 
							</div>
						</div>
        	</div>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
      <mat-card class="card">
         <div class="card-body-workinghour mt-3">
          	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
							</div>
							<label>Sunday</label>
						</div>
						<div  class="wrapcontent1">
							<div class="hours">
								<p>Day Off</p> 
							</div>
							
							<label></label>
							<div class="">
								<p></p> 
							</div>
						</div>
        	</div>
      </mat-card>
    </div>
</div>

</mat-tab>

<mat-tab label="Time Off">  
	<div class="staff-work-profile work-profile-time-off">
      <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/time-off.png">
							</div>
							<label>Ganesh Chaturthi</label>
						</div>
						<div  class="wrapcontent1">
								<p>28 Aug 2019 to 1 sep 2019</p>	
						</div>
        	</div>
      	</mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/time-off.png">
							</div>
							<label>Dussehra</label>
						</div>
						<div class="wrapcontent1">
								<p>2 Oct 2019</p>	
						</div>
        	</div>
      	</mat-card>
    </div>

    <div class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
					<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/time-off.png">
							</div>
							<label>Christmas</label>
						</div>
						<div class="wrapcontent1">
								<p>25th Dec 2019</p>	
						</div>
        	</div>
      	</mat-card>
    </div>
  </div>
</mat-tab>
</mat-tab-group>
</div>