<div class="content-main">
<mat-tab-group mat-align-tabs="start" >
  <mat-tab label="Services">  
    <div class="staff-work-profile work-profile-category">
      <div *ngIf="serviceData != ''" class="single-booking">
		<div *ngFor="let serviceData of serviceData; let i = index" class="col-sm-3 col-lg-3 col-md-6 profile-single-slot float-left">
			<mat-card class="card">
			<div class="card-body-content mt-3">       
				<img mat-card-avatar class="customer-profile-img text-center mb-1" src="{{serviceData.service_image}}">
				<p class="text-center">{{serviceData.service_name}}</p>		
			</div>
			</mat-card>
		</div>
	</div> 
	<div *ngIf="serviceData == ''" class="single-booking">
		<h2 class="text-center my-3">No Service Found</h2>
	</div>
  	</div>
	</mat-tab>

	<mat-tab label="Postal Codes"> 
  	<div class="staff-work-profile">
      <div class="col-sm-3 col-lg-3 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent">
		          <div class="map">
		          		<i class="fa fa-map-marker"></i>
							</div>
							<label>Kandivali</label>
						</div>
						<div class="wrapcontent1">
							<p class="mb-0">Postal Code</p>
							<p class="wrapcontent1">400101</p>  
						</div>
        	</div>
      	</mat-card>
    </div>
	</div> 
</mat-tab>
<mat-tab label="Working Hours">  
    <div *ngIf="workingHours != ''" class="staff-work-profile work-prfile-w-hours">
      <div *ngFor="let workingHours of workingHours; let i = index" class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
        <mat-card class="card">
          <div class="card-body-workinghour mt-3">
	         	<div class="wrapcontent w-100">
					<div class="map">
						<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
					</div>
					<label>{{workingHours.week_day_name}}</label>
				</div>
				<div class="wrapcontent">
					<div class="hours">
						<p>{{workingHours.day_start_time}}</p> 
					</div>						
					<label>to</label>
					<div class="hours">
						<p>{{workingHours.day_end_time}}</p> 
					</div>
				</div>
        	</div>
      	</mat-card>
    </div>
</div>
<div *ngIf="workingHours == ''" class="staff-work-profile work-prfile-w-hours">
	<h2 class="text-center my-3">No Working Hours Found</h2>
</div>
</mat-tab>

<mat-tab label="Breaks">  
	<div *ngIf="breakHours != ''" class="staff-work-profile work-prfile-breaks">
		<div *ngFor="let breakHours of breakHours; let i = index" class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
			<mat-card class="card">
				<div class="card-body-workinghour mt-3">
					<div class="wrapcontent w-100">
						<div class="map">
							<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
						</div>
						<label>{{breakHours.week_day_name}}</label>
					</div>
					<div  class="wrapcontent">
						<div class="hours">
							<p>{{breakHours.break_start_time}}</p> 
						</div>
						<label>to</label>
						<div class="hours">
							<p> {{breakHours.break_end_time}}</p> 
						</div>
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<div *ngIf="offDays != ''" class="staff-work-profile work-prfile-breaks">
		<div *ngFor="let offDays of offDays; let i = index" class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
			<mat-card class="card">
				<div class="card-body-workinghour mt-3">
					<div class="wrapcontent w-100">
						<div class="map">
							<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/calendar.png">
						</div>
						<label>{{offDays.week_day_name}}</label>
					</div>
					<div  class="wrapcontent">
						<div class="hours">
							<p>Day Off</p> 
						</div>
						
					</div>
				</div>
			</mat-card>
		</div>
	</div>
	<div *ngIf="breakHours == '' && offDays == ''" class="staff-work-profile work-prfile-breaks">
		<h2>No Break Found</h2>
	</div>
</mat-tab>

<mat-tab label="Time Off">  
	<div *ngIf="holidayData != ''" class="staff-work-profile work-profile-time-off">
		<div *ngFor="let holidayData of holidayData; let i=index" class="col-lg-3 col-sm-12 col-md-6 profile-single-slot float-left">
			<mat-card class="card">
				<div class="card-body-workinghour mt-3">
					<div class="wrapcontent">
						<div class="map">
							<img mat-card-avatar class="customer-profile-img text-center" src="/assets/images/time-off.png">
						</div>
						<label>{{holidayData.description}}</label>
					</div>
					<div  class="wrapcontent1">
						<p>{{holidayData.start_date}} to {{holidayData.end_date}}</p>	
					</div>
				</div>
			</mat-card>
		</div>
	  </div>
	  <div *ngIf="holidayData == ''" class="staff-work-profile work-profile-time-off">
		  <h2 class="text-center my-2">No Holiday Found</h2>
	  </div>
</mat-tab>
</mat-tab-group>
</div>