/* for tab color */
/*for button color*/
/*for font-family*/
/*slide header */
@import url(c:\Kalpit\Galaxy Projects\goappointment-new\src\styling\my-customer.css);
html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif !important;
  color: #333;
}

body {
  margin: 0;
}

content {
  padding-bottom: 50px;
}

a {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.text-left {
  text-align: left;
}

:host {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mat-card {
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 1rem;
  background-color: #fff;
}

.mat-card .mat-card-header {
  margin-top: 1rem !important;
}

.mat-card .mat-card-avatar {
  border-radius: 0;
}

.mat-card .mat-card-title {
  margin-bottom: 0 !important;
  margin-top: .3rem !important;
}

.mat-card p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.mat-card h2 {
  margin-bottom: 0rem;
}

.mat-card h4 {
  margin-bottom: 1rem;
}

.mat-card .mat-card-content {
  margin-top: 1.5rem;
}

.ie-notice {
  background: #fff;
  border: solid thin #333;
  padding: 40px 20px 20px 20px;
}

app-question-answer, app-question-select, app-root, app-login, app-reporting {
  height: 100%;
}

.toolbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.hide {
  display: none !important;
}

.full-height {
  height: 100vh;
}

.spacer {
  margin: 2rem 0;
}

.mat-divider {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.error-size {
  font-size: 75%;
}

.inline-delete {
  float: right;
}

.white {
  color: #fff;
}

.mat-radio-button {
  display: inline-block;
  margin: 0rem 1rem 2rem 0;
}

.proof-table {
  width: 50%;
  margin: 0 auto;
}

.proof-row {
  padding: 1rem;
  border-bottom: 1px solid #f3f3f3;
}

.submit-proof {
  margin-top: 2rem;
}

.faux-table {
  -webkit-box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.1), 0px 4px 12px 0px rgba(0, 0, 0, 0.1) !important;
}

.error {
  color: #f1552f;
  font-size: 12px;
  display: block;
}

.error-wrap {
  width: 100%;
}

.field-list .error-wrap {
  position: absolute;
  left: auto;
  bottom: -20px;
}

.red-snackbar {
  background: #F44336;
  color: black;
}

.green-snackbar {
  background: #3ce832;
  color: black;
}

.mat-card-header {
  margin-top: 1rem !important;
}

main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content {
  margin: 2% 2em;
  height: auto;
  padding-top: 64px;
}

.mat-progress-bar-buffer {
  background: #f4f4f4 !important;
}

.flat-table {
  width: 100%;
}

mat-select.constypeclass {
  width: 30% !important;
  text-align: left;
  float: right;
}

mat-drawer-content .wrapAnim {
  margin: 0;
}

@media screen and (max-width: 780px) {
  .review-table {
    max-width: 100%;
    overflow: scroll;
  }
}

.max-width-97 {
  max-width: 97%;
  margin: 0 auto;
}

.border-8 {
  border-radius: 8px !important;
}

.card-custom {
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
          box-shadow: 0 0 0 0 transparent !important;
  border-radius: 4px;
}

.card-custom table {
  width: 100%;
  border-collapse: collapse;
}

.card-custom table th {
  padding: 1rem !important;
  font-weight: 400 !important;
  font-size: .9rem;
  text-align: left;
  opacity: .4;
  background-color: #eee;
}

.card-custom table td {
  text-align: left;
  padding: 1rem !important;
}

.card-custom table .clickable {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-custom table .clickable:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.indicator {
  display: inline-block;
}

.indicator .block {
  display: inline-block;
  height: .4rem;
  width: .4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.indicator .orange {
  background: #ff7b00;
}

.indicator .green {
  background: green;
}

.mat-expansion-panel {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 1rem !important;
}

.mat-expansion-panel .mat-expansion-panel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  border-radius: inherit;
}

.full-width {
  width: 100%;
}

.block-label {
  margin-right: .5rem;
  display: inline-block;
}

.mat-chip-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -4px;
}

.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
  margin: 4px;
}

.mat-chip.mat-standard-chip {
  background: rgba(0, 0, 0, 0.1) !important;
  font-weight: 400 !important;
  font-size: 0.9rem !important;
}

.mat-chip.mat-standard-chip {
  background-color: #616161;
  color: #fff;
}

.mat-standard-chip {
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}

.text-pass, .text-pass i {
  color: #57adc7;
}

.text-fail, .text-fail i {
  color: #e99546;
}

.btn-fab {
  position: fixed !important;
  bottom: 1rem;
  right: 2rem;
  z-index: 999;
}

::ng-deep .modal-content {
  border: 0;
}

.cancel-btn {
  background-color: #fa8888;
}

.modal-bcolor-danger {
  background-color: #fa8888;
}

.modal-header .close:focus {
  outline: none;
}

.mat-dialog-container {
  padding: 0 !important;
}

.modal-info {
  margin: 0 !important;
}

.modal-bcolor {
  background-color: #eef5ff;
}

.modal-bcolor .header-margins {
  padding: 0;
}

/*on the way dialog or work started dialog css*/
.modal-info .modal-bcolor-primary {
  background-color: #d9f0fe;
}

.modal-info .modal-bcolor-primary .header-margins {
  padding: 0;
}

.modal-info .addbtn {
  border-radius: 20px;
  float: right;
}

.modal-body .work-content {
  text-align: center;
  padding-left: 10px;
}

.modal-body .work-content .form-control {
  padding-bottom: 11px;
  padding-top: 11px;
  height: 31px;
}

::ng-deep .opinter {
  cursor: pointer;
}

.ngbpicker {
  padding: 15px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}

.ngbpicker .btn-light:not(:disabled):not(.disabled).active {
  color: #ffffff !important;
  background-color: transparent !important;
}

.ngbpicker .ngb-dp-header.customepickheader {
  margin-bottom: 15px;
  width: 100%;
}

.ngbpicker ngb-datepicker.ng-valid.ng-touched.ng-dirty {
  border: none !important;
  outline: none !important;
}

.ngbpicker ngb-datepicker.ng-untouched.ng-pristine.ng-valid {
  border: none;
}

.ngbpicker .ngb-dp-week.ngb-dp-weekdays.ng-star-inserted, .ngbpicker .ngb-dp-header {
  background: transparent !important;
}

.ngbpicker select.custom-select {
  background: transparent;
  color: white;
  border: none;
}

.ngbpicker .ngb-dp-month-name.ng-star-inserted {
  background: transparent;
  color: white;
}

.ngbpicker span.ngb-dp-navigation-chevron {
  color: white;
}

.ngbpicker button.btn.btn-link.ngb-dp-arrow-btn {
  outline: none;
}

.ngbpicker .ngb-dp-weekday.small.ng-star-inserted {
  color: white;
  font-style: normal;
  margin-left: 3px;
  display: inline-block;
  visibility: hidden;
}

.ngbpicker .ngb-dp-weekday.small.ng-star-inserted:first-letter {
  visibility: visible;
}

.ngbpicker .btn-light.ng-star-inserted {
  color: white;
}

.ngbpicker .btn-light.text-muted.outside.ng-star-inserted {
  color: #80c3fe !important;
}

.ngbpicker .btn-light.text-muted.outside.ng-star-inserted:hover {
  background-color: transparent !important;
  pointer-events: none !important;
}

.ngbpicker .btn-light:hover {
  background-color: #3fa6fe !important;
  border-radius: 50%;
}

.ngbpicker .btn-light.ng-star-inserted.bg-primary.text-white {
  border-radius: 50%;
  background-color: #3fa6fe !important;
}

.ngbpicker .ngb-dp-day.ng-star-inserted:focus {
  outline: none;
}

.ngbpicker .btn-light.ng-star-inserted:active, .ngbpicker .btn-light.ng-star-inserted:focus {
  color: white !important;
  background-color: #3fa6fe !important;
  border-radius: 50%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
}

.ngbpicker .day {
  margin: 10px !important;
}

.ngbpicker .ngb-dp-day {
  margin: 10px !important;
}

.ngbpicker .ngb-dp-weekday {
  margin: 10px !important;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #457cfa;
}
/*# sourceMappingURL=styles.css.map */