<div class="container-fluid sub-container" id="my_business">
    <div fxLayout="row wrap" fxLayoutGap="2%" *ngIf="isLoaderAdmin" fxLayoutAlign="center center" class="full-height">
        <img src="../../assets/sc-loader.svg" />
    </div>
    <div id="my-business-top" class="row mx-0 d-flex">
        <div class="col-lg-6 col-md-6 col-sm-12 first d-flex"><span>My Business</span></div>
        <div class="col-lg-6 col-md-6 col-sm-12 second">
            <a (click)="creatNewBusiness()">Add New Business & Location</a>
        </div>
    </div>

    <div class="" id="business-list">
        <div class="row my-4 mx-2">
            
            <div class="business-box">
                <div class="text-center single-business new-business-card pointer" (click)="creatNewBusiness()">
                    <div class="image-round-main d-flex">
                        <div class="AddNewBusinessIcon">
                            <img mat-card-avatar="" src="/assets/images/admin/add.png">
                        </div>
                    </div>
                    <div class="pt-4">
                        <h6>Add New Business & Location</h6>
                    </div>
                    <div class="content">
                        You can add your businesses here. List the locations of your businesses along with the services that will be provided. You can add staff information for each service.
                    </div>
                </div>
            </div>
            <div *ngFor="let allBusiness of allBusiness; let i=index" class="business-box">
                <div class="text-center single-business">
                    <div class="image-round-main d-flex">
                        <div class="SelectBusinessIcon">
                            <img mat-card-avatar="" src="{{allBusiness.image?allBusiness.image:'../../assets/images/admin/multi-building.png'}}">
                        </div>
                    </div>
                    <div class="business-title">
                        <h6 class="text-capitalize">{{allBusiness.business_name}}</h6>
                    </div>
                    <div class="content">
                        {{allBusiness.address}}, {{allBusiness.city.name}}, {{allBusiness.state.name}}-{{allBusiness.zipcode}}, {{allBusiness.country.name}}.
                    </div>
                    <button mat-button class="businness-btn" (click)="fnSelectBusiness(allBusiness.id, allBusiness.business_name)">Select Business</button>
                    <div class="delete-btn">
                        <mat-icon [ngbPopover]="popContent" placement="left" aria-hidden="false" aria-label="Example home icon" class="">more_vert</mat-icon>
                        <ng-template class="popover custom-popover" #popContent>
                            <div (click)="delete(allBusiness.id)" class="align-items-center pop-menu-item d-flex">
                                <i class="fa fa-trash mr-2"></i><span>Delete</span>
                            </div>
                            <div (click)="duplicate(allBusiness.id)" class="align-items-center pop-menu-item d-flex">
                                <i class="fa fa-clone mr-2" aria-hidden="true"></i><span>Duplicate</span>
                            </div>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>