#my-business-top {
  margin-top: 63px;
}

#my-business-top .inner {
  background: #cfe3fc;
  padding: 15px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 99;
}

#my-business-top .inner .first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#my-business-top .inner .first span {
  font-size: 18px;
  font-weight: 500;
}

#my-business-top .inner .second {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#my-business-top .inner .second a {
  background-color: #f87912;
  padding: 7px 20px;
  font-size: 12px;
  color: #fff;
  border-radius: 25px;
}

#my-business-top .inner .second a i {
  margin-right: 10px;
}

#Add-new-business {
  margin-top: 180px;
}

#Add-new-business mat-card {
  border-radius: 20px 20px;
  margin: 0px 16px 20px;
}

#Add-new-business mat-card .business-title h6 {
  font-size: 20px;
}

#Add-new-business mat-card .content {
  font-size: 14px;
  padding: 0;
  margin: 2% 1em;
}

#Add-new-business .SelectBusiness {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

#Add-new-business .SelectBusiness .image-round-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Add-new-business .SelectBusinessIcon {
  background-color: #e6e6e6;
  border-radius: 50%;
  font-size: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100px;
}

#Add-new-business .SelectBusinessIcon img.mat-card-avatar {
  height: 40px;
  width: 60px;
}

#Add-new-business .businness-btn {
  border-radius: 40px 40px;
  padding: 0 25px;
  background-color: #1172f4;
  color: white;
}

#Add-new-business .NewBusiness-matcard {
  background-color: #cfe3fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Add-new-business .business-btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Add-new-business .AddNewBusinessIcon {
  background-color: #97c1fb;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Add-new-business .AddNewBusinessIcon img.mat-card-avatar {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 765px) and (orientation: portrait) {
  mat-card {
    margin-right: 0 !important;
    padding-bottom: 10px;
  }
  .SelectBusiness {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #Add-new-business mat-card {
    margin: 0px 0px 20px;
  }
  ::ng-deep #adminbusiness .inner-pad {
    padding: 10px !important;
  }
  ::ng-deep .form-group {
    margin-bottom: 0;
  }
  ::ng-deep .mat-form-field {
    margin-bottom: 0;
  }
  ::ng-deep .select-hide {
    display: none;
  }
  ::ng-deep .mt-res {
    margin-top: 30px;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    -webkit-transform: translateY(0%) !important;
            transform: translateY(0%) !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #Add-new-business mat-card {
    margin: 0px 0px 20px;
  }
}

::ng-deep #adminbusiness .inner-pad {
  padding: 60px;
}

::ng-deep #adminbusiness h2 {
  color: #1173f4;
  font-weight: bolder;
}

::ng-deep #adminbusiness .admin-business-Submitbutton {
  background-color: #1173f4;
  color: white;
  padding: 2px 45px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 15px 0 15px 10px;
}

::ng-deep .mat-form-field-infix {
  border-top: unset;
}

::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  -webkit-transform: inherit;
          transform: inherit;
}

::ng-deep .mat-form-field-label-wrapper {
  top: -.44375em;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
/*# sourceMappingURL=my-business.component.css.map */