<div class="container mt-5" id="Add-new-business">
	<div class="row">
		<div class="col-12">
			<div class="d-flex flex-wrap">
				<mat-card class="col-lg-4 col-md-6 col-sm-12 text-center SelectBusiness mr-5">
					<div class="pt-3">
						<i class="fa fa-building-o SelectBusinessIcon" aria-hidden="true"></i>
					</div>
					<div class="pt-3">
						<h6>Glass Repair</h6>
					</div>
					<div>
						Akshay Nagar 1st Block 1st cross,Rammurthy nagar, Bangalore-560016,India.
					</div>
					<div class="pt-3">
						<button mat-button class="businness-btn">Select Business</button>
					</div>
				</mat-card>
				<mat-card  class="col-lg-4 col-md-6 col-sm-12 text-center NewBusiness-matcard">
					<div class="pt-5">
						<i class="fa fa-plus AddNewBusinessIcon" aria-hidden="true"></i>
					</div>
					<div class="pt-4">
						<h6>Add New Business/location</h6>
					</div>
					<div class="pb-3">
						Business/Location can be a physical or online address from where services are provided.Each business/location can have its own staff members, resources, services, and settings.
					</div>
				</mat-card>
			</div>	
		</div>
	</div>
</div>