.support_page {
    max-width: 960px;
    margin: auto;
    padding-top: 6%;
    padding-bottom: 20px;
    .mat-card {
        border-radius: 10px;
    }
    .max_width {
        max-width: 550px;
        margin: auto;
    }
    .img_icon {
        max-width: 260px;
    }
    .title {
        color: #333;
        font-size: 24px;
        margin: 5px 0 15px;
        font-weight: 500;
    }
    .des-text {
        padding: 0 20px;
        margin: 20px 0;
    }
    .started-btn {
        background-color: #00A89B;
        color: #fff;
        border-radius: 50px;
        padding: 13px 15px;
        font-size: 16px;
        letter-spacing: 0.5px;
        width: 220px;
        display: block;
        font-weight: 500;
        margin: auto 5px;
    }
    .live-chat {
        background-color: #25c644 !important;
    }
    .live-chat:hover {
        text-decoration: none;
        background-color: #06af26 !important;
        transition: all;
    }
    .started-btn:hover {
        text-decoration: none;
        background-color: #025cbe;
        transition: all;
    }
    .bottom-title {
        font-size: 18px;
        font-weight: 500;
    }
    .color-blue {
        color: #00A89B;
        text-decoration: none;
    }
    .support_btn {
        display: flex;
        justify-content: center;
    }
    .contact-details {
        margin: 15px 0 40px;
        display: flex;
        justify-content: center;
    }
    .contact-details span {
        background-color: #e6f3fc;
        padding: 5px 15px;
        border-radius: 4px;
    }
    .demo-btn {
        background-color: #fff;
        color: #00A89B;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 2;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width: 575px) {
    .support_page {
        padding-top: 20%;
    }
    .support_page .img_icon {
        max-width: 100%;
    }
    .support_page .support_btn,
    .support_page .contact-details {
        display: block;
    }
    .support_page .support_btn .started-btn {
        width: 100%;
        margin-bottom: 5px;
    }
    .support_page .contact-details span {
        padding: 5px;
        margin-bottom: 15px;
        display: block;
        margin-right: 0 !important;
    }
}