<div class="container-fluid">
    <div class="mt-3 mb-3 support_page">
        <mat-card>
            <div class="text-center max_width">

                <img src="/assets/images/admin/support-img.png" class="img_icon mt-3 mb-2">

                <h3 class="title">Are you facing any problem?</h3>
                <div class="des-text">If you need Instant Support then use Live Chat option to reach us quickly. Our Support will reply as soon as possible after you send us a message.</div>

                <div class="mt-3 mb-5 support_btn"><a href="" class="started-btn live-chat"><i class="fa fa-comments" aria-hidden="true" style="font-size: 20px;"></i> Start Live Chat</a>
                    <a href="" class="started-btn"> <i class="fa fa-play demo-btn" aria-hidden="true"></i> Watch Demo</a>
                </div>

                <div class="mt-3 mb-3 bottom-title"> or you can contact at </div>
                <div class="contact-details">
                    <span class="mr-3"> Email: <a href="" class="color-blue"> support@appointment.com</a></span>
                    <span> Phone: <a href="" class="color-blue"> 8888-666-000</a> </span>
                </div>
            </div>
        </mat-card>
    </div>
</div>