
<div class="" id="Discount-Coupon" style="margin-top: 70px;">
    <div class="row mx-0">
        <div class="col-12">
            <div class="d-flex mb-1">
                <h5>Discount Coupon</h5>
                <div>
                    <button mat-button class="discountcoupon-btn"><mat-icon aria-hidden="false">add</mat-icon>Discount Coupon</button>
                </div>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
            <div class="d-flex mb-3">
                <mat-form-field class="dropdown" appearance="outline">
                    <mat-label>All</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option>None</mat-option>
                      <mat-option value="option1">All</mat-option>
                      <mat-option value="option2">Active</mat-option>
                      <mat-option value="option3">Inactive</mat-option>
                      <mat-option value="option3">Expired</mat-option>
                      <mat-option value="option3">Scheduled</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="searchbox mr-2">
                    <form class="serch_input-appoint">							
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback verticalLine"></span>
                            <input type="text" class="form-control searchbox_appointment " placeholder="Search Coupon">
                        </div>												
                    </form>
                  </div>
            </div>
            <div class="col-12 discount-coupon-table" id="">
              <table [dtOptions]="dtOptions" datatable class="row-border hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Coupon Code</th>
                      <th>Created on</th>
                      <th>valid form</th>
                      <th>valid till</th>
                      <th >Maximum<br />Redemptions</th>
                      <th>Used</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                          <p>Diwali Offer</p>
                      </td>
                      <td>
                          <p><span class="couponcode">DIWALI50</span></p>
                      </td>
                      <td> 
                        <p>Sep 24,2019</p>
                      </td>
                      <td> 
                        <p>Sep 24,2019</p>
                      </td>
                      <td>
                        <p>Oct 24,2019</p>
                      </td>
                      <td>
                        <p>100</p>
                      </td>
                      <td>
                        <p>5</p>
                      </td>
                      <td>
                        <p>Active</p>
                      </td>
                      <td>
                        <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <p>New Year Offer</p>
                      </td>
                      <td>
                          <p><span class="couponcode">OFFER10</span></p>
                      </td>
                      <td> 
                        <p>Aug 13,2019</p>
                      </td>
                      <td> 
                        <p>Aug 13,2019</p>
                      </td>
                      <td>
                        <p>Sep 02,2019</p>
                      </td>
                      <td>
                        <p>50</p>
                      </td>
                      <td>
                        <p>20</p>
                      </td>
                      <td>
                        <p>Active</p>
                      </td>
                      <td>
                        <p><mat-slide-toggle>Slide me!</mat-slide-toggle></p>
                      </td>
                    </tr>
                  </tbody>
                  </table>
          </div>
        </div>
    </div>
  </mat-card>

  <mat-card>
  <div class="row">
    <div class="col-lg-8 col-sm-12 col-md-12 col-12">
      <h5>Add Discount Coupon</h5>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 col-sm-12 col-md-6">
          <mat-label>Coupon Name</mat-label>
          <mat-icon matPrefix><i class="fa fa-percent icon-img" aria-hidden="true"></i></mat-icon>
          <input matInput placeholder="Christmas Offer">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 col-sm-12 col-md-6">
          <mat-label>Maximum Redemptions</mat-label>
          <mat-icon matPrefix><i class="fa fa-gift icon-img" aria-hidden="true"></i></mat-icon>
          <input matInput placeholder="CHRISTMAS400">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 col-sm-12 col-md-6">
          <mat-label>Coupon Code</mat-label>
          <mat-icon matPrefix><i class="fa fa-percent icon-img" aria-hidden="true"></i></mat-icon>
          <input matInput placeholder="Christmas Offer">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-6 col-12 col-sm-12 col-md-6">
          <mat-label>Valid Form</mat-label>
          <input matInput [matDatepicker]="picker"  placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-3 col-12 col-sm-12 col-md-3">
          <mat-label>Discount Type</mat-label>
          <mat-icon matPrefix><i class="fa fa-percent icon-img" aria-hidden="true"></i></mat-icon>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">Percentage</mat-option>
            <mat-option value="option2">Fixed Amount</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-lg-3 col-12 col-sm-12 col-md-3">
          <mat-label>Discount</mat-label>
          <mat-icon matPrefix><i class="fa fa-percent icon-img" aria-hidden="true"></i></mat-icon>
          <mat-select [(value)]="selected">
            <mat-option>None</mat-option>
            <mat-option value="option1">50</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline" class="col-lg-6 col-12 col-sm-12 col-md-6">
          <mat-label>Valid Form</mat-label>
          <input matInput [matDatepicker]="picker"  placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
    </div>
    <div class="col-lg-4 col-12 col-md-4">
       <h6>Select Service</h6>
       <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Category,Subcategory,Service">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <ul>
        <li class="bottom-border plr-25">
          <p>Salon<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="bottom-border plr-25">
          <p>Hair<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="bottom-border plr-25">
          <p>Home Cleaning<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="bottom-border plr-25">
          <p>Pest Control<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="bottom-border plr-25">
          <p>Appliances<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="bottom-border plr-25">
          <p>Plumbing<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>
        <li class="">
          <p>Electrical<i class="fa fa-chevron-right" aria-hidden="true"></i></p>
        </li>	
        </ul>		
    </div>
  </div>
</mat-card>
</div>