#Discount-Coupon{
    mat-icon{
        line-height: 1.5;
    }
    .discountcoupon-btn{
        width: 200px;
        height: 37px;
        border-radius: 26px;
        background-color: #1173f4;
        color: white;
    }
}