<div class="container-height" id="Discount-Coupon" style="margin-top: 64px;">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/sc-loader.svg" /></div>
    <div *ngIf="couponCodeListing" class="row mx-0 h-100">
        <div class="col-12 px-0">
            <div class="common-page-heading">
                <div>
                    <h5 class="page-title">Discount Coupon</h5>
                    <p class="page-des">Create a discount coupon & allow customers to redeem it online while making their booking. 
                        <br/>Choose the discount by percentage or fixed amount, coupon validity, & much more.</p>
                </div>
                <div>
                    <button (click)="fnNewCouponCode()" mat-button class="sc-pink-btn">Add Discount Coupon</button>
                </div>
            </div>
            <div class="sc-table-view">
                <div class="d-flex px-3 sc-table-top-bar main-topbar">
                    <div class="searchbox mr-2">
                        <form class="search_input-staff">
                            <div class="form-group has-search">
                                <mat-icon class="form-control-feedback">search</mat-icon>
                                <input type="text" class="form-control searchbox_appointment " (keyup)="Search($event.target.value)" placeholder="Search for items">
                            </div>
                        </form>
                    </div>
                    <div class="right-searchbar">
                        <mat-select class="form-control form-control-transparent" placeholder="All" (selectionChange)="fnStatusChange($event.value)">
                            <mat-option>None</mat-option>
                            <mat-option value="All">All</mat-option>
                            <mat-option value="Active">Active</mat-option>
                            <mat-option value="Inactive">Inactive</mat-option>
                            <mat-option value="Scheduled">Scheduled</mat-option>
                            <mat-option value="Expired">Expired</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-12 px-0 sc-table">
                    <div class="main-table-content main-cust-table-content">
                        <div class="">
                            <div class="sc-table-head" fxLayout="row">
                                <div class="text-left" fxFlex="10">Title</div>
                                <div class="text-left" fxFlex="10">Coupon Code</div>
                                <div class="text-left" fxFlex="10">Created On</div>
                                <div class="text-left" fxFlex="10">Valid From</div>
                                <div class="text-left" fxFlex="10">Valid Till</div>
                                <div class="text-left" fxFlex="20">Maximum Redemptions</div>
                                <div class="text-left" fxFlex="10">Used</div>
                                <div class="text-left" fxFlex="10">Status</div>
                                <div class="text-right" fxFlex="10">Action</div>
                            </div>
                            <div class="sc-table-content" *ngIf="allCouponCode != ''">
                                <div class="final-list" *ngFor="let allCouponCode of allCouponCode; let i=index">

                                    <div class="text-left" fxFlex="10">
                                        <p>{{allCouponCode.coupon_title}}</p>
                                    </div>
                                    <div class="text-left" fxFlex="10">
                                        <p><span class="couponcode">{{allCouponCode.coupon_code}}</span></p>
                                    </div>
                                    <div class="text-left" fxFlex="10">
                                        <p>{{allCouponCode.created_at}}</p>
                                    </div>
                                    <div class="text-left" fxFlex="10">
                                        <p>{{allCouponCode.coupon_valid_from}}</p>
                                    </div>
                                    <div class="text-left" fxFlex="10">
                                        <p>{{allCouponCode.coupon_valid_till}}</p>
                                    </div>
                                    <div class="text-left" fxFlex="20">
                                        <p>{{allCouponCode.coupon_max_redemptions}}</p>
                                    </div>
                                    <div class="text-left" fxFlex="10">
                                        <p>{{allCouponCode.coupon_used}}</p>
                                    </div>
                                    <!-- <div class="text-left" fxFlex="10">
                                        <p class="text-capitalize">{{allCouponCode.status}}</p>
                                    </div> -->
                                    <div class="text-left" fxFlex="10">
                                        
                                        <div *ngIf="allCouponCode.status == 'Active' || allCouponCode.status == 'Inactive'">
                                            <mat-slide-toggle (change)="changeCouponStaus($event,allCouponCode.id)" [checked]="allCouponCode.status == 'Active'"></mat-slide-toggle>
                                        </div>
                                    </div>

                                    <div class="text-left" fxFlex="10">
                                        <div class="table-action-btns">
                                            <button class="sc-table-action-btn" (click)="fnCouponDetails(i, allCouponCode.id)">
                                                <mat-icon class="">visibility</mat-icon>
                                            </button>
                                            <button class="sc-table-action-btn" (click)="fnCouponEdit(i)">
                                                <mat-icon>mode_edit</mat-icon>
                                            </button>
                                            <button class="sc-table-delete-btn" (click)="fnCouponDelete(allCouponCode.id)">
                                                <span class=""><img src="/assets/images/icons/bin.svg" /></span>
                                            </button>
                                        </div>
                                    
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="table_pagination" *ngIf="allCouponCode != ''">
                        <div class="col-3 pull-left">Showing records from {{fromRecord}}-{{toRecord}} ( Total {{totalRecord}} )</div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item nextprev {{current_page==1?'pointernone':''}}" (click)="navigateTo(first_page_url)"><a class="page-link"><i class="fa fa-angle-double-left arrow-icon" aria-hidden="true"></i></a></li>
                                <li class="page-item nextprev {{current_page==1?'pointernone':''}}" (click)="navigateTo(prev_page_url)"><a class="page-link"><i class="fa fa-angle-left arrow-icon" aria-hidden="true"></i></a></li>
                                <li class="page-item" [ngClass]="{'active':current_page == i+1}" *ngFor="let pagenumber of arrayOne(last_page); let i = index;" (click)="navigateToPageNumber(i+1)"><a class="page-link">{{i+1}}</a></li>
                                <li class="page-item nextprev {{arrayOne(last_page).length==current_page?'pointernone':''}}" (click)="navigateTo(next_page_url)"><a class="page-link"><i class="fa fa-angle-right arrow-icon" aria-hidden="true"></i></a></li>
                                <li class="page-item nextprev {{arrayOne(last_page).length==current_page?'pointernone':''}} " (click)="navigateTo(last_page_url)"><a class="page-link"><i class="fa fa-angle-double-right arrow-icon" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="no-coupon-data" *ngIf="allCouponCode == ''">
                        <div class="no-data-badge">
                            <img src="/assets/images/nodata.svg" />
                            <label>No Data Found.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="addNewCouponCode" class="h-100">
        <form [formGroup]="discountCoupon" class="add-coupon-form h-100">
            <div class="row mx-0 h-100">
                <div class="col-lg-9 col-sm-12 col-md-12 col-12 p-0">
                    <div class="form-heading-wrap">
                        <h5 *ngIf="!singleCouponDetail">Create Discount Coupon</h5>
                        <h5 *ngIf="singleCouponDetail">Edit Discount Coupon</h5>
                    </div>
                   

                    <div class="row mx-0">
                        <div class="common-input col-lg-6 col-12 col-sm-12 col-md-6">
                            <label> Coupon Title </label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/coupon.svg" /></span>
                                </div>
                               
                                <input type="text" formControlName="coupan_name" class="form-control" placeholder="Enter Coupon Title">
                            </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('coupan_name').touched || discountCoupon.get('coupan_name').dirty">
                                <small *ngIf="discountCoupon.get('coupan_name').hasError('required')" class="error">Coupon name is required.</small>
                                <small *ngIf="discountCoupon.get('coupan_name').hasError('maxlength')" class="error">Name should be maximum 15 character.</small>

                            </span>
                        </div>
                        <div class="common-input col-lg-6 col-12 col-sm-12 col-md-6">
                            <label> Coupon Code </label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/coupons-code.svg" /></span>
                                </div>
                                <input type="text" formControlName="coupon_code" class="form-control" placeholder="Enter Coupon Code">
                            </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('coupon_code').touched || discountCoupon.get('coupon_code').dirty">
                                <small *ngIf="discountCoupon.get('coupon_code').hasError('required')" class="error">Coupon code is required.</small>   
                                <small *ngIf="discountCoupon.get('coupon_code').hasError('maxlength')" class="error">Coupon code should be maximum 15 character.</small>
                            </span>
                        </div>
                        <div class="common-input col-lg-6 col-12 col-sm-12 col-md-6">
                            <label>Valid From </label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/date-calendar.svg" /></span>
                                </div>
                                <input class="form-control" (dateChange)="fnvalideFrom()" (click)="valid_from_picker.open()" [min]="minDate" [matDatepicker]="valid_from_picker" formControlName="valid_from" placeholder="YYYY/MM/DD">
                                <mat-datepicker #valid_from_picker></mat-datepicker>
                            </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('valid_from').touched || discountCoupon.get('valid_from').dirty">
                                <small *ngIf="discountCoupon.get('valid_from').hasError('required')" class="error">Valid from is required.</small>           
                            </span>
                        </div>
                        <div class="common-input col-lg-6 col-12 col-sm-12 col-md-6">
                            <label>Valid Till </label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/date-calendar.svg" /></span>
                                </div>
                                <input class="form-control" (click)="valid_till_picker.open()" [min]="minTillDate" [matDatepicker]="valid_till_picker" formControlName="valid_till" placeholder="YYYY/MM/DD">
                                <mat-datepicker #valid_till_picker></mat-datepicker>
                            </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('valid_till').touched || discountCoupon.get('valid_till').dirty">
                                <small *ngIf="discountCoupon.get('valid_till').hasError('required')" class="error"> Till date is required.</small>           
                              </span>
                        </div>
                       
                        <div class="common-input col-lg-2 col-12 col-sm-12 col-md-3 pr-2 ">
                            <label>Discount</label>
                            <div class="form-group">
                                <mat-select placeholder="Select Type" (selectionChange)="fnChangeDiscountType($event)" class="form-control" formControlName="discount_type">
                                    <mat-option value="P"> Percentage</mat-option>
                                    <mat-option value="F"> Fixed Amount</mat-option>
                                </mat-select>
                             </div>
                                <span class="error-wrap" *ngIf="discountCoupon.get('discount_type').touched || discountCoupon.get('discount_type').dirty">
                                <small *ngIf="discountCoupon.get('discount_type').hasError('required')" class="error"> Discount type is required.</small>           
                                </span>
                        </div>
                        <div class="common-input mt-2 col-lg-4 col-12 col-sm-12 col-md-3 pl-2">
                           <div class="form-group mt-24">
                            <input (keyup)="discount_check()" class="form-control" formControlName="discount_value" placeholder="Enter Discount">
                           </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('discount_value').touched || discountCoupon.get('discount_value').dirty">
                                <small *ngIf="discountCoupon.get('discount_value').hasError('required')" class="error">Discount value is required.</small>
                                <small *ngIf="discountCoupon.get('discount_value').hasError('pattern')" class="error">Discount value should be only in numbers.</small>
                                <small *ngIf="diccount_error" class="error">Discount Maximum 100%.</small>
                            </span>
                        </div>
                        <div class="common-input col-lg-6 col-12 col-sm-12 col-md-6">
                            <label>Maximum Redemptions</label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/price-tag.svg" /></span>
                                </div>
                                <input type="text" formControlName="max_redemption" class="form-control" placeholder="Enter Maximum Redemptions">
                            </div>
                            <span class="error-wrap" *ngIf="discountCoupon.get('max_redemption').touched || discountCoupon.get('max_redemption').dirty">
                                <small *ngIf="discountCoupon.get('max_redemption').hasError('required')" class="error">Maximum redemptions is required.</small>
                                <small *ngIf="discountCoupon.get('max_redemption').hasError('pattern')" class="error">Maximum redemptions should be only in numbers.</small>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-12 col-md-4 select-service">
                   
                        <h6>Select Service</h6>
                        <div class="searchbox mb-4">
                            <form class="search_input-staff">
                                <div class="form-group has-search">
                                    <mat-icon class="form-control-feedback">search</mat-icon>
                                    <!-- <input type="text" class="form-control searchbox_appointment " (keyup)="Search($event.target.value)" placeholder="Customer,Service Staff" placeholder="Search for items"> -->
                                     <input (keyup)="fnsearchService($event);" class="form-control searchbox_appointment " placeholder="Search">
                                </div>
                            </form>
                        </div>

                        <mat-accordion class="select-service-accordian">
                            <mat-expansion-panel [expanded]="searchedServices" *ngFor="let categoryServiceListval of categoryServiceListTemp; let i=index">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="service-title">
                                        <mat-checkbox (change)="checkServie($event,'category',i)" [checked]="categoryServiceListval.is_selected" *ngIf="categoryServiceListval.getservices.length == 0">{{categoryServiceListval.category_title}}</mat-checkbox>
                                        <mat-checkbox (change)="checkCategoryServie($event.checked,i)" [checked]="categoryServiceListval.is_selected" *ngIf="categoryServiceListval.getservices.length > 0">{{categoryServiceListval.category_title}}</mat-checkbox>

                                        <!-- <mat-checkbox (change)="checkServie($event,'category',i)" [checked]="categoryServiceListval.is_selected">{{categoryServiceListval.category_title}}</mat-checkbox> -->
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-expansion-panel [expanded]="searchedServices" class="my-3" *ngFor="let subcategoryList of categoryServiceListval.subcategory; let sub_index=index">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <mat-checkbox (change)="checkServie($event,'subcategory',i,sub_index)" [checked]="subcategoryList.is_selected">{{subcategoryList.sub_category_name}}</mat-checkbox>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div *ngFor="let serviceList of subcategoryList.services; let service_index=index" class="py-3">
                                        <mat-checkbox [checked]="serviceList.is_selected || categoryServiceCheckServiceId.indexOf(serviceList.id) > -1" (change)="checkServie($event,'service',i,sub_index,service_index)">{{serviceList.service_name}}</mat-checkbox>
                                    </div>
                                </mat-expansion-panel>
                                <div *ngFor="let serviceList of categoryServiceListval.getservices; let service_index=index" class="py-3">
                                    <mat-checkbox [checked]="serviceList.is_selected || categoryServiceCheckServiceId.indexOf(serviceList.id) > -1" (change)="fnNewCheckService($event.checked,serviceList.id,i,service_index)" *ngIf="categoryServiceCheckServiceId.indexOf(serviceList.id) > -1"
                                        checked="true">{{serviceList.service_name}} </mat-checkbox>
                                    <mat-checkbox [checked]="serviceList.is_selected || categoryServiceCheckServiceId.indexOf(serviceList.id) > -1" (change)="fnNewCheckService($event.checked,serviceList.id,i,service_index)" *ngIf="categoryServiceCheckServiceId.indexOf(serviceList.id) < 0">{{serviceList.service_name}}</mat-checkbox>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                </div>
            </div>
            <mat-card class="footer-action-btn">
                <div class="action-btn">
                    <div class="mx-2">
                        <button (click)="fnCancelNewCoupon()" mat-button appearance="fill" class="sc-grey-btn">Cancel</button>
                    </div>
                    <div class="mx-2">
                        <button mat-button type="submit" *ngIf="!singleCouponDetail" appearance="fill" (click)="fnCreateCouponSubmit()" class="sc-pink-btn">Create</button>
                    </div>
                    <div class="mx-2">
                        <button mat-button type="submit" *ngIf="singleCouponDetail" appearance="fill" (click)="fnCreateCouponSubmit()" class="sc-pink-btn">Update</button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>