<mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Appointment Details</h5>
                    <button type="button" (click)="onNoClick(false)" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body modal-bcolor">
                    <div class="order-items">
                        <div *ngFor="let val of myAppoDetailData;let i=index">
                            <div class="px-3 mt-3" *ngIf="val.is_selected==true">
                                <div class="px-3 mt-3 py-2 service-details-title">
                                    <div class="row ">
                                        <div class="col-6">
                                            <span>Service</span>
                                        </div>
                                        <div class="col-3 pr-3">
                                            <span>Price</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-6">
                                        <span>{{val.service.service_name}}</span>
                                    </div>
                                    <div class="col-3 pr-3">
                                        <span > {{ val.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                                    </div>
                                </div>
                                <hr class="my-2">
                            </div>
                        </div>
                    </div>

                    <div class="px-3 mt-2">
                        <div class="row ">
                            <div class="col-12">
                                <span> Subtotal : {{currencySymbol| currencySymbol:'wide'}} {{ pendingSubTotal | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                            </div>
                            <div class="col-12">
                                <span>Tax : <i class="fa fa-rupee pr-1"></i> {{pendingTaxTotal | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                            </div>
                        </div>
                    </div>

                    <hr class="my-2">
                    <div class="px-3 py-2 mt-3 total-bill">
                        <div class="row ">
                            <div class="col-9">
                                <span>Total</span>
                            </div>
                            <div class="col-3 ">
                                <span> {{currencySymbol| currencySymbol:'wide'}} {{ pendingOrderTotal | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                            </div>
                            <div class="col-12 ">
                                <button class="btn btn-primary" [disabled]="myAppoDetailData.length == 0" mat-button (click)="onNoClick(true)">Place</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>