<mat-sidenav-container class = "tp-container">
   <mat-sidenav mode = "side" opened>
<div class="modal-dialog mt-0 mb-0" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Appointment Details</h5>
        <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex">
      <button class="btn btn-warning complete-invoice-btnwidth mt-2 ml-3 pt-1 pb-1 mb-2">Invoice</button>
      <div *ngIf="myAppoDetailData.rating == null"> 
        <button (click)="ratenow(myAppoDetailData.id)" class="btn btn-primary complete-rate-btnwidth mt-2 ml-3 pt-1 pb-1 mb-2 ">Rate Now</button>
      </div>
      <div class="d-flex statick-rating w-100" *ngIf="myAppoDetailData.rating != null">
        <div class="star-rating">
          <input type="radio" [checked]="myAppoDetailData.rating.rating == 5" id="5-stars_{{myAppoDetailData.id}}" name="rating_{{myAppoDetailData.id}}_pop" value="5" />
          <label for="5-stars_{{myAppoDetailData.id}}" class="star">&#9733;</label>
          <input type="radio" [checked]="myAppoDetailData.rating.rating == 4"  id="4-stars_{{myAppoDetailData.id}}" name="rating_{{myAppoDetailData.id}}_1_pop" value="4" />
          <label for="4-stars_{{myAppoDetailData.id}}" class="star">&#9733;</label>
          <input type="radio" [checked]="myAppoDetailData.rating.rating == 3" id="3-stars_{{myAppoDetailData.id}}" name="rating_{{myAppoDetailData.id}}_pop" value="3" />
          <label for="3-stars_{{myAppoDetailData.id}}" class="star">&#9733;</label>
          <input type="radio" [checked]="myAppoDetailData.rating.rating == 2" id="2-stars_{{myAppoDetailData.id}}" name="rating_{{myAppoDetailData.id}}_pop" value="2" />
          <label for="2-stars_{{myAppoDetailData.id}}" class="star">&#9733;</label>
          <input type="radio" [checked]="myAppoDetailData.rating.rating == 1" id="1-star_{{myAppoDetailData.id}}" name="rating_{{myAppoDetailData.id}}_pop" value="1" />
          <label for="1-star_{{myAppoDetailData.id}}" class="star">&#9733;</label>
        </div>   
      </div>
    </div>

    <div class="modal-body modal-bcolor">
      
      <p class="mb-0 font-weight-bold"> {{myAppoDetailData.booking_dateForLabel}}</p>
      <p>Booked On: {{myAppoDetailData.created_atForLabel}}</p>

      <p class="mb-0">Service</p>
      <!-- <p class="font-weight-bold">{{myAppoDetailData.service.service_name}}($ {{myAppoDetailData.service.service_cost}})</p> -->
      <p class="font-weight-bold" *ngIf="currencySymbolPosition=='left'">{{myAppoDetailData.service.service_name}}({{currencySymbol| currencySymbol:'wide'}} {{ myAppoDetailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</p>
      <p class="font-weight-bold" *ngIf="currencySymbolPosition=='right'">{{myAppoDetailData.service.service_name}}({{ myAppoDetailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}})</p>
      <p class="mb-0">Time</p>
      <p class="font-weight-bold">{{myAppoDetailData.booking_timeForLabel}} - {{myAppoDetailData.booking_time_to}} ({{myAppoDetailData.service.service_time}})</p>
     
      <div class="d-flex">
      
        <div class="pl-0">
        <p class="mb-0">Order By</p>
        <p class="font-weight-bold text-capitalize">{{myAppoDetailData.order_by}}</p>
      </div>
      <div class="pl-5">  
        <p class="mb-0">Status</p>
        <p class="font-weight-bold text-capitalize">Completed</p>
      </div>
    
    </div>
    <div>
      <p class="mb-0">Staff</p>
      <p class="mb-0 font-weight-bold" *ngIf="myAppoDetailData.staff_id == null">Not Assigned</p>
      <div class="" *ngIf="myAppoDetailData.staff_id != null">
        <p class="mb-0 font-weight-bold text-capitalize">{{myAppoDetailData.staff.firstname}} {{myAppoDetailData.staff.lastname}}</p>
        <p class="mb-0">Phone NO:{{myAppoDetailData.staff.phone}}</p>
      </div>
    </div>
     </div>    
     <mat-card class="card-body-marginn booking-detail-main mb-0">
       <h6 class="text-left mb-3">Booking Details</h6>
       <div class="row align-items-center">
        <p class="customer-profile-img">SP</p>
        <div class="customer-name pr-3">
          <p class="font-weight-bold mb-0">{{myAppoDetailData.customer.fullname}}</p>
          <p class="address-fontsize mb-0">{{myAppoDetailData.customer.email}}</p>
        </div>

      </div>
        <p class=" address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>{{myAppoDetailData.customer.phone}}</p>
        <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>{{myAppoDetailData.customer.address}}</p>
        <p class="pl-4 address-fontsize">{{myAppoDetailData.customer.city}}, {{myAppoDetailData.customer.state}}, {{myAppoDetailData.customer.zip}}</p>
    </mat-card>
      
    </div>
  </div>
</mat-sidenav>
</mat-sidenav-container>
