<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="loader-main" *ngIf="isLoader">
        <img src="../../../assets/images/step-loader.gif" />
    </div>
    <div class="modal-content">
        <div class="modal-header modal-bcolor-primary">
            <p class="heading lead mb-0 fontfamily">Reschedule Appointment</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
                <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formAppointmentReschedule">
                <p class="mb-0">Service</p>
                <p class="font-weight-bold">{{myAppoDetailData.service.service_name}}</p>
                <input formControlName="rescheduleServiceId" hidden>
                <div class="row">
                    <div class="col-6">
                        <label class="mb-0">Select Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            <!-- <input type="date" class="form-control formcontrol"> -->
                            <input [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date" formControlName="rescheduleDate" class="form-control formcontrol" (click)="picker.open()" (dateChange)="fnDateChange($event)"
                                readonly="true">
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <span class="error-wrap" *ngIf="formAppointmentReschedule.get('rescheduleDate').dirty || formAppointmentReschedule.get('rescheduleDate').touched">
                    <small *ngIf="formAppointmentReschedule.get('rescheduleDate').hasError('required')" class="error">Date is required</small>
                    </span>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="mb-0">Select Time</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                            </div>
                            <!--  <input type="time"   class="form-control formcontrol"> -->
                            <mat-select formControlName="rescheduleTime" class="form-control formcontrol" (selectionChange)="fnChangeTimeSlot($event.value)" [disabled]="">
                                <!-- <mat-option>None</mat-option> -->
                                <mat-option *ngFor="let slot of timeSlotArr" value="{{slot}}">{{slot}}</mat-option>
                            </mat-select>
                        </div>
                        <span class="error-wrap" *ngIf="formAppointmentReschedule.get('rescheduleTime').dirty || formAppointmentReschedule.get('rescheduleTime').touched">
                    <small *ngIf="formAppointmentReschedule.get('rescheduleTime').hasError('required')" class="error">Time is required</small>
                    </span>
                    </div>
                </div>
                <!-- [(value)]="selected" -->
                <label>Staff</label>
                <mat-select class="form-control formcontrol mb-3" formControlName="rescheduleStaff">
                    <mat-option *ngFor="let staff of availableStaff" value="{{staff.id}}">{{staff.name}}</mat-option>
                </mat-select>
                <span class="error-wrap" *ngIf="formAppointmentReschedule.get('rescheduleStaff').dirty || formAppointmentReschedule.get('rescheduleStaff').touched">
            <small *ngIf="formAppointmentReschedule.get('rescheduleStaff').hasError('required')" class="error">Staff is required</small>
            </span>
                <label class="mb-0">Add Note</label>
                <textarea class="form-control mb-2" placeholder="Add Note" formControlName="rescheduleNote"></textarea>
                <span class="error-wrap" *ngIf="formAppointmentReschedule.get('rescheduleNote').dirty || formAppointmentReschedule.get('rescheduleNote').touched">
            <small *ngIf="formAppointmentReschedule.get('rescheduleNote').hasError('required')" class="error">Note is required</small>
            </span>
                <button class="d-block btn btn-primary addbtnred float-right" (click)='formRescheduleSubmit()'>Reschedule</button>
            </form>
        </div>
    </div>
</div>