@import "variables";
// // ::ng-deep .mat-drawer{
// //     max-width: 25%;
// // }example-container
// // ::ng-deep .mat-drawer-content{
// //     max-width: 75%;
// //     margin-left: 288px;
// // }
// .max-width-94{
//     max-width: 94%;
//     margin: 0 auto;
// }

// .example-container{
//     .devider-slim{
//         width: 100%;
//         border-bottom: 1px solid #ccc;
//     }
//     #Customer-list{
//         background-color: #f2f2f2;
//         ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
//             padding: 10px 0 10px 10px;
//         }
//         ::ng-deep  .mat-form-field-infix {
//             border-top: unset;
//         }
//         ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper{
//             transform: inherit;
//         }
//         ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
//             background-color: white;
//             border-radius: 5px;
//         }

::ng-deep .mat-drawer-container .example-container{
    margin-top: 65px !important;
    padding-left: 0px;
    padding-right: 0px;
    .mat-drawer{
        width: 258px !important;
    }
    .mat-drawer-content{
        margin-left: 258px;
    }
}
::ng-deep .mat-drawer-container .example-container .mat-drawer{
    background-color: #fafafa;
}
::ng-deep .mat-drawer-container .example-container .mat-drawer-content{
    background-color: white;
}

.leftarrow-icon{
    // margin-left: auto;
    display: flex;
    .customer-drawer-leftarrow{
        padding: 4px 8px;
        height: auto;
        width: auto;
        text-align: center;
        background-color: #dedede;
            margin-left: auto;
    }
    
}
.cust-reports{
    margin: 2px;;
    font-size: 18px;
}
.cust-icons{
    font-size: 20px;
    .cust-search{
        margin: 20px 15px;
    }
    .cust-print{
        margin: 20px 15px;
    }
    .cust-download{
        margin: 20px 15px;
    }
}
.main-cust-table-content{
    padding: 0;

}

.main-custmer-content{
    padding: 0px 10px 10px;
    background-color: lightblue;
   
}

#Customer-Listing{
    text-align: center;
    padding: 15px;

    .custreports{
        font-size: 18px;
        font-weight: bold;
    }
    .custrecords{
        font-size: 16px;
        font-weight: bold;
        
    }
    .main-table-content{
        padding: 0;
       
    }
   
}
.main-heading-content{
    background-color: #fabb88;
}


.mat-list-icon{
    color:$iconcolors;
}

.matlist{
    display: block !important;
    height: 60px !important;
    width: 100% !important;
    padding: 5px 0 !important;
     &:hover{
             background-color: $bgblue;
        }
}

.menuitem{
    color:#325c98;
    padding-top: 4px;
    &:focus{
            outline:none; 
            }           
}
.mat-list-item{
     &:hover{
                background-color: $bgblue;
                color: #295792;
            }
}
.saleschart{
    margin: 0 14px;
    font-size: 23px;
   
}
.custchart{
    font-size: 24px;
    margin: 0 17px;

}
.salesreportsimg{
    color:$iconcolors;
}
.pointer{
    cursor: pointer;
}