@import "variables";

#Main{
    background-color: #fff;
    .left-col-image-wrap{
       img{
        max-width: 50%;
         position: fixed;
       }
    }
    .right-content-col{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }
    .right-col-wrap{
        height: 100%;
        padding: 50px 8% 0% 7%;
        .logo-wrap{
            display: flex;
            // height: 20px;
            align-items: flex-end;
           img{
              width: 115px;
              height: auto;
           }
        }
        .heading-text-wrap{
            h4{
                text-align: left;
                color: #000;
                margin-top: 35px;
                font-size: 23px;
                font-weight: 500;
            }
            p{
                font-size: 15px;
                font-weight: 500;
                color: #777;
                a{
                    padding-left: 4px;
                    color: #00a89b;
                    text-decoration: underline;
                }
            }
        }
        .input-group-meta{
            height: 46px;
            position: relative;
            // margin: 48px 0px -25px 0px;
            outline: none;
            label{
                font-size: 14px;
                padding: 0 6px;
                font-weight: 400;
                color: #b9b5b0;
                position: absolute;
                left: 20px;
                line-height: 10px;
                top: -5px;
                z-index: 1;
                background: #ffffff;            
            }
            .input-wrap{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                font-size: 16px;
                border:1px solid #00a89b;
                padding: 0 52px 0 20px;
                color: var(--heading);
                background: transparent;
                outline: none;
                &:focus{
                    border: 1px solid #18b4ea;
                    border-radius: 5px;
                }
            }
            .placeholder_icon{
                position: absolute;
                line-height: 46px;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50px;
                text-align: center;
                z-index: 1;
                color: rgba(0,0,0,.45);
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 18px;
                    height: auto;
                }    
                mat-icon{
                    font-size: 25px;
                    color: #000; 
                }      
            }
        }
        .form-check{
            display: flex;
            font-size: 14px;
            padding-left: 0;
            flex-wrap: wrap;
            a{
                color: #00a89b;
                text-decoration: underline;
                padding-left: 5px;
            }
            .mat-accent{
                .mat-checkbox-label{
                    white-space: normal;
                }
            }
        }
        .sign-btn{
            button{
                color: #000;
                background-color: #ffd74b;
                width: 100%;
                margin-top: 15px;
                padding: 2px;            
            }
        }
        .copyright-text{
            p{
                text-align: center;
                color: #575454;
                margin-top: 28px;
                margin-bottom: 0px;
            }
        }
    }
}

::ng-deep .form-check{
  
    .mat-accent{
        .mat-checkbox-label{
            white-space: normal;
        }
    }
}
/*media query starts*/
@media only screen and (min-width: 320px) and (max-width: 520px){
    .custom-padding-wrap{
        padding-left: 15px!important;
    }
    .left-col-image-wrap{
        img{
          max-width: 100%!important;
        }
    }
    .logo-wrap{
        height: unset!important;
        justify-content: center;
    }
    .right-col-wrap{
        padding: 38px 0px 0% 0px!important;
    }
    .form-check{
        flex-direction: column;
    }
    .heading-text-wrap{
        h4{
            text-align: center!important;
        }
    }
}
@media only screen and (min-width: 521px) and (max-width: 767px){
    .custom-padding-wrap{
        padding-left: 15px!important;
    }
    .custom-wrap-center{
        display: block;
        margin: auto;
    }
    .left-col-image-wrap{
        img{
          max-width: 100%!important;
        }
    }
    .logo-wrap{
        height: unset!important;
        justify-content: center;
    }
    .right-col-wrap{
        padding: 38px 0px 0% 0px!important;
    }
    .form-check{
        flex-direction: column;
    }
}
.social-btns {
    margin: 20px auto;
    display: table;
    .social-login {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: 2px 2px 10px #00000070;
        margin: 10px;
        float: left;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.facebook {
            color: #475992;
        }
        &.google_plus {
            color: #f34a38
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .logo-wrap{
        height: unset!important;
        justify-content: center;
    }


}
@media only screen and (min-width: 991px) and (max-width: 1250px){
    .logo-wrap{
        height: unset!important;
        justify-content: center;
    }
}