<div class="container-fluid sub-container" id="payments">
    <div class="row h-100">
        <mat-sidenav-container class="w-100">
            <mat-sidenav mode="side" opened>
                Sidenav content
            </mat-sidenav>
            <mat-sidenav-content class="">
                <mat-card class="payment-gateways">
                    <h5>Payment Gateways</h5>
                    <div class="row mx-0">
                        <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="d-flex">
                                        <div>
                                            <img src="/assets/images/admin/paypal.png" width="100%">
                                        </div>
                                        <div class="payment-toggle-btn">
                                            <mat-slide-toggle class=""></mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0 pt-2">Paypal Express Checkout</p>
                                    </div>
                                    
                                </mat-panel-title>
                                <mat-panel-description>
                                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            
                            <div class="top-border">
                                <div class="d-flex">
                                    <label class="payment-label">API Username</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">API Password</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Signature</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="">Paypal guest payment</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                                <div class="d-flex">
                                    <label class="">Text Mode</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                            </div>
                            
                            </mat-expansion-panel>
                        </mat-accordion>

                        <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                            <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="d-flex">
                                        <div>
                                            <img src="/assets/images/admin/authorize.png" width="100%">
                                        </div>
                                        <div class="payment-toggle-btn">
                                            <mat-slide-toggle class=""></mat-slide-toggle>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="mb-0 pt-2">Authorize.Net Payment Form</p>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            
                            <div class="top-border">
                                <div class="d-flex">
                                    <label class="payment-label">API Login ID</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="payment-label">Transaction Key</label>
                                    <form class="example-form ml-auto">
                                        <mat-form-field class="example-full-width bottom-border-field">
                                        <input  class="ml-auto" matInput placeholder="" value="">
                                        </mat-form-field>
                                    </form>
                                </div>
                                <div class="d-flex">
                                    <label class="">Sandbox Mode</label>
                                    <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                                </div>
                            </div>
                            
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>

                <div class="row mx-0">
                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/stripe.png" width="100%">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">Stripe Payment Form</p>
                                </div>
                                
                            </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Secret Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Publishable Key<</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/checkout.png" width="100%">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">2Checkout Payment Form</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Publishable Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Private key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Seller ID</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="">Test Mode</label>
                                <mat-slide-toggle class="ml-auto"></mat-slide-toggle>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>

                <div class="row mx-0">
                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/payumoney.png" width="100%">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">PayU Money</p>
                                </div>
                                
                            </mat-panel-title>
                            <mat-panel-description>
                            
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Merchant Key</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Salt Key<</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>

                    <mat-accordion class="col-lg-6 col-md-6 col-sm-12">
                        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="d-flex">
                                    <div>
                                        <img src="/assets/images/admin/banktransfer.png" width="100%">
                                    </div>
                                    <div class="payment-toggle-btn">
                                        <mat-slide-toggle class=""></mat-slide-toggle>
                                    </div>
                                </div>
                                <div>
                                    <p class="mb-0 pt-2">Add Your Bank To Transfer</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        
                        <div class="top-border">
                            <div class="d-flex">
                                <label class="payment-label">Bank Name</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Account Name</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Account Number</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">Branch Code</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">IFSC Code</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                    <input  class="ml-auto" matInput placeholder="" value="">
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="d-flex">
                                <label class="payment-label">IFSC Code</label>
                                <form class="example-form ml-auto">
                                    <mat-form-field class="example-full-width bottom-border-field">
                                        <textarea matInput placeholder=""></textarea>
                                    </mat-form-field>
                                </form>
                            </div>
                            
                        </div>
                        
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                      
                </mat-card>

                <mat-card>
                    <h5>Payment Rules</h5>
                    <mat-card>
                        <h5>Currency</h5>
                        <div class="d-flex">
                            <mat-form-field class="bottom-border-field mr-2">
                                <mat-icon matPrefix>attach_money</mat-icon>
                                <mat-label>Select Currency</mat-label>
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="bottom-border-field mr-2">
                                <mat-label>Currency Symbol Position</mat-label>
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">Left</mat-option>
                                  <mat-option value="option2">Right</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="bottom-border-field">
                                <mat-label>Select Currency Format</mat-label>
                                <mat-select [(value)]="selected">
                                  <mat-option>None</mat-option>
                                  <mat-option value="option1">xx,xxx.xx</mat-option>
                                  <mat-option value="option2">xx.xxx,xx</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <div class="d-flex tax-background">
                        <p class="mb-0"><b>Tax</b></p>
                        <div class="mx-2 ml-auto">
                            <button (click)="addTax()" mat-button appearance="fill" class="payment-addtax-btn">Add Tax</button>
                        </div>  
                    </div> 
                    <div class="border mt-3">
                        <div class="tax-background">
                            <p class="my-2"><b>Tax</b></p>
                        </div> 
                        
                        <div class="p-3">
                            <div class="Customer-appointment-table">
                                <div class="main-table-content main-cust-table-content">
                                    <div class="">
                                        <div class="heads main-heading-content example-box header-background" fxLayout="row">
                                            <div class="" fxFlex="40"></div>
                                            <div class="" fxFlex="30"></div>
                                            <div class="" fxFlex="30"></div>
                                        </div>
                                        <div class="content" class="example-list">
                                            <div  class="example-box">
                                                <div class="" fxFlex="40">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0">Tax</p>
                                                    </div>
                                                </div>
                                                <div class="" fxFlex="30">18%</div>
                                                <div class="d-flex" fxFlex="30">
                                                    <button mat-button appearance="fill" class="ml-auto payment-delete-btn">
                                                        <mat-icon aria-hidden="false">delete_outline</mat-icon>
                                                        Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div> 
                       </div> 

                    </div>
                   
                </mat-card>
            </mat-sidenav-content>
        </mat-sidenav-container>
        <mat-card class="w-100  align-items-center d-flex ml-auto">
            <div class="action-btn">
                <div class="mx-2">
                    <button mat-button appearance="fill" class="payment-cancel-btn">Cancel</button>
                </div>
                <div class="mx-2">
                    <button mat-button appearance="fill" class="payment-save-btn">Save</button>
                </div>  
            </div> 
        </mat-card>
     
    </div>
</div>

