<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
        <div class="modal-header modal-bcolor-primary">
            <h5 class="modal-title">Add Note</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form [formGroup]="createNewNote">
            <div class="modal-body pb-0">
                <mat-form-field class="bottom-border-field">
                    <mat-label>Note</mat-label>
                    <textarea [disabled]="viewType === 'only_view'" [readOnly]="viewType === 'only_view'" class="min-h-70" rows="5" matInput formControlName="note_description" placeholder="Type Note Here"></textarea>
                </mat-form-field>
                <span class="error-wrap" *ngIf="createNewNote.get('note_description').dirty || createNewNote.get('note_description').touched"><small *ngIf="createNewNote.get('note_description').hasError('required')" class="error">Note is required.</small></span>
            </div>
            <div class="modal-footer" *ngIf="!viewType || viewType !== 'only_view'">
                <button type="button" mat-button class="btn cancelbtn" data-dismiss="modal" (click)="onNoClick()">Cancel</button>
                <button type="button" mat-button class="btn savebtn" data-dismiss="modal" (click)="onAdd()">Add</button>
            </div>
        </form>
    </div>
</div>