<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="loader-main" *ngIf="isLoaderAdmin">
        <img src="../../../assets/sc-loader.svg" />
    </div>
    <div class="modal-content Appointment-add-form">
        <div class="modal-header modal-bcolor-primary">
            <p class="heading lead mb-0 note-icon-wrap">
                <img src="/assets/images/icons/add-booking-icon.svg" />
                {{dialogTitle}}
            </p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
                <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>
        <div class="modal-body" *ngIf="!secondStep">
            <form class="py-4" [formGroup]="formAddNewAppointmentStaffStep1">
                <div class="common-input col-lg-12 col-12 col-sm-12 col-md-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/images/icons/man.svg" /></span>
                        </div>
                        <input type="text" formControlName="customerFullName" class="form-control"
                            placeholder="Enter Customer Name">
                    </div>
                    <span class="error-wrap"
                        *ngIf="formAddNewAppointmentStaffStep1.get('customerFullName').dirty || formAddNewAppointmentStaffStep1.get('customerFullName').touched">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerFullName').hasError('required')"
                            class="error">Fullname is required.</small>
                    </span>
                </div>
                <div class="common-input col-lg-12 col-12 col-sm-12 col-md-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/images/icons/email.svg" /></span>
                        </div>
                        <input type="text" formControlName="customerEmail" class="form-control"
                            placeholder="Enter Customer Email">
                    </div>
                    <span class="error-wrap"
                        *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').dirty || formAddNewAppointmentStaffStep1.get('customerEmail').touched">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('required')"
                            class="error">Email is required.</small>
                        <small
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('email') || formAddNewAppointmentStaffStep1.get('customerEmail').hasError('pattern')"
                            class="error">Enter a valid email</small>
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('isEmailUnique')"
                            class="error">Email already in use.</small>
                    </span>
                </div>
                <div class="common-input col-lg-12 col-12 col-sm-12 col-md-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/images/icons/calling.svg" /></span>
                        </div>
                        <input type="text" formControlName="customerPhone" class="form-control"
                            placeholder="Enter Customer Contact Number">
                    </div>
                    <span class="error-wrap"
                        *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').dirty || formAddNewAppointmentStaffStep1.get('customerPhone').touched">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').hasError('required')"
                            class="error">Phone is required.</small>
                        <small
                            *ngIf=" formAddNewAppointmentStaffStep1.get('customerPhone').hasError('pattern') || (formAddNewAppointmentStaffStep1.get('customerPhone').hasError('pattern') && (formAddNewAppointmentStaffStep1.get('customerPhone').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerPhone').hasError('maxlength')))"
                            class="error">Enter a valid Phone (Country code is required). </small>
                        <small
                            *ngIf="!formAddNewAppointmentStaffStep1.get('customerPhone').hasError('pattern') && (formAddNewAppointmentStaffStep1.get('customerPhone').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerPhone').hasError('maxlength'))"
                            class="error">Phone number should be 6 to 15 digits long.</small>
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').hasError('isPhoneUnique')"
                            class="error">Phone No is already in use.</small>
                    </span>
                </div>
                <div class="common-input col-lg-12 col-12 col-sm-12 col-md-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/images/icons/location.svg" /></span>
                        </div>
                        <input type="text" formControlName="customerAddress" class="form-control"
                            placeholder="Enter Customer Address">
                    </div>
                    <span class="error-wrap"
                        *ngIf="formAddNewAppointmentStaffStep1.get('customerAddress').dirty || formAddNewAppointmentStaffStep1.get('customerAddress').touched">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAddress').hasError('required')"
                            class="error">Customer address is required.</small>
                    </span>
                </div>

                <div class="form-group common-input row mt-0 px-3 bottom-border-field">
                    <div class="col-4">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerState" class="form-control" placeholder="State">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerState').dirty || formAddNewAppointmentStaffStep1.get('customerState').touched">
                            <small *ngIf="formAddNewAppointmentStaffStep1.get('customerState').hasError('required')"
                                class="error">State is required.</small>
                        </span>
                    </div>

                    <div class="col-4 px-0">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerCity" class="form-control" placeholder="City">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerCity').dirty || formAddNewAppointmentStaffStep1.get('customerCity').touched">
                            <small *ngIf="formAddNewAppointmentStaffStep1.get('customerCity').hasError('required')"
                                class="error">City is required.</small>
                        </span>
                    </div>

                    <div class="col-4 ">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerPostalCode" class="form-control"
                                placeholder="Postal Code">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').dirty || formAddNewAppointmentStaffStep1.get('customerPostalCode').touched">
                            <small
                                *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').hasError('required')"
                                class="error">Postal code is required.</small>
                            <small
                                *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerPostalCode').hasError('maxlength')"
                                class="error">Postal code should be 5 to 7 digits.</small>
                        </span>
                    </div>
                </div>

                <div class="col-12 mt-2 middle-head">
                    <h6>Appointment Address</h6>
                    <div class="w-100 mb-2">
                        <mat-checkbox [checked]="is_checked" class="example-margin mr-0" (change)="sameAddress($event)">
                           Same as above
                        </mat-checkbox>
                    </div>
                </div>

                <div class="common-input col-lg-12 col-12 col-sm-12 col-md-6">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="/assets/images/icons/location.svg" /></span>
                        </div>
                        <input type="text" formControlName="customerAppoAddress" class="form-control"
                            placeholder="Enter Customer Address">
                    </div>
                    <span class="error-wrap"
                        *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoAddress').dirty || formAddNewAppointmentStaffStep1.get('customerAppoAddress').touched">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoAddress').hasError('required')"
                            class="error">Customer address is required.</small>
                    </span>
                </div>
                <div class="form-group common-input row mt-0 px-3 bottom-border-field">
                    <div class="col-4">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerAppoState" class="form-control"
                                placeholder="State">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoState').dirty || formAddNewAppointmentStaffStep1.get('customerAppoState').touched">
                            <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoState').hasError('required')"
                                class="error"> State is required.</small>
                        </span>
                    </div>

                    <div class="col-4 px-0">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerAppoCity" class="form-control"
                                placeholder="City">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoCity').dirty || formAddNewAppointmentStaffStep1.get('customerAppoCity').touched">
                            <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoCity').hasError('required')"
                                class="error"> City is required.</small>
                        </span>
                    </div>

                    <div class="col-4 ">
                        <div class="input-group form-group">
                            <input type="text" formControlName="customerAppoPostalCode" class="form-control"
                                placeholder="Postal Code">
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').dirty || formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').touched">
                            <small
                                *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('required')"
                                class="error"> Postal code is required.</small>
                            <small
                                *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('maxlength')"
                                class="error">Postal code should be 5 to 7 digit.</small>
                            <small
                                *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('isPostalcodeValid')"
                                class="error">We do not provide service at this location.</small>
                        </span>
                    </div>
                </div>

                <button mat-button class="d-block btn btn-primary addbtn" (click)="fnNewAppointment()">Next</button>

            </form>
        </div>
        <div class="modal-body app-custom-body-wrap" *ngIf="secondStep">
            <form class="py-4" [formGroup]="formAddNewAppointmentStaffStep2">
                <div class="row mx-0">
                    <div class="col-6 pr-2 mb-2 common-input">
                        <div class="form-group">
                            <label class="mb-1">Category</label>
                            <mat-select placeholder="Select Category" [(value)]="selectedCatId"
                                (selectionChange)="fnSelectCat($event.value)" class="form-control"
                                formControlName="customerCategory" [disabled]="disableCategory">
                                <mat-option *ngFor="let cat of catdata" value="{{cat.id}}">{{cat.category_title}}
                                </mat-option>
                                <mat-option *ngIf="catdata && catdata.length==0" disabled>No Category Available
                                </mat-option>
                            </mat-select>
                            <span class="error-wrap"
                                *ngIf="formAddNewAppointmentStaffStep2.get('customerCategory').dirty || formAddNewAppointmentStaffStep2.get('customerCategory').touched">
                                <small
                                    *ngIf="formAddNewAppointmentStaffStep2.get('customerCategory').hasError('required')"
                                    class="error">Category is required.</small>
                            </span>
                        </div>
                    </div>

                    <div class="col-6 mb-2 pl-2 common-input" *ngIf="showSubCatDropDown">
                        <div class="form-group">
                            <label class="mb-1">Sub Category</label>
                            <mat-select placeholder="Select Sub Category"
                                class="form-control" [(value)]="selectedSubCatId"
                                (selectionChange)="fnSelectSubCat($event.value)" formControlName="customerSubCategory"
                                [disabled]="disableSubCategory">
                                <mat-option *ngFor="let subcat of subcatdata" value="{{subcat.id}}">
                                    {{subcat.sub_category_name}}</mat-option>
                                <mat-option *ngIf="subcatdata.length==0" disabled>No Sub-Category Available</mat-option>
                            </mat-select>
                            <span class="error-wrap"
                                *ngIf="formAddNewAppointmentStaffStep2.get('customerSubCategory').dirty || formAddNewAppointmentStaffStep2.get('customerSubCategory').touched">
                                <small
                                    *ngIf="formAddNewAppointmentStaffStep2.get('customerSubCategory').hasError('required')"
                                    class="error">Subcategory is required.</small>
                            </span>
                        </div>
                    </div>

                    <div [ngClass]="showSubCatDropDown?'col-12 mb-2 common-input':'col-6 mb-3 common-input'">
                        <div class="form-group">
                            <label class="mb-1">Service</label>
                            <mat-select placeholder="Select Service"
                                class="form-control" [(value)]="selectedServiceId"
                                (selectionChange)="fnSelectService($event.value)" formControlName="customerService"
                                [disabled]="disableService">
                                <mat-option *ngFor="let service of serviceData" value="{{service.id}}">
                                    {{service.service_name}}</mat-option>
                                <mat-option *ngIf="serviceData.length==0" disabled>No Service Available</mat-option>
                            </mat-select>
                            <span class="error-wrap"
                                *ngIf="formAddNewAppointmentStaffStep2.get('customerService').dirty || formAddNewAppointmentStaffStep2.get('customerService').touched">
                                <small
                                    *ngIf="formAddNewAppointmentStaffStep2.get('customerService').hasError('required')"
                                    class="error">Service is required.</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-6 pr-0">
                        <div class="input-group common-input mb-2">
                            <label class="">Select Date</label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img src="/assets/images/icons/date-calendar.svg" />
                                    </span>
                                </div>
                                <input type="text" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter"
                                    [matDatepicker]="picker" formControlName="customerDate" class="form-control"
                                    (click)="picker.open()" (dateChange)="fnDateChange($event)"
                                    placeholder="Choose a date">
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                            <span class="error-wrap"
                                *ngIf="formAddNewAppointmentStaffStep2.get('customerDate').dirty || formAddNewAppointmentStaffStep2.get('customerDate').touched">
                                <small *ngIf="formAddNewAppointmentStaffStep2.get('customerDate').hasError('required')"
                                    class="error">Date is required.</small>
                            </span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group common-input mb-2">
                            <label class="">Select Time</label>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/clock.svg" /></span>
                                </div>
                                <mat-select placeholder="Select Time"
                                    class="form-control formcontrol custom-select-modal" [disabled]=""
                                    formControlName="customerTime" (selectionChange)="fnSelectTime($event.value)">
                                    <mat-option *ngFor="let slot of timeSlotArr; let i=index;" value="{{slot}}">
                                        {{timeSlotArrForLabel[i]}}</mat-option>
                                    <mat-option *ngIf="timeSlotArr.length==0" disabled>No Time Slot Available
                                    </mat-option>
                                </mat-select>
                            </div>
                            <span class="error-wrap"
                                *ngIf="formAddNewAppointmentStaffStep2.get('customerTime').dirty || formAddNewAppointmentStaffStep2.get('customerTime').touched">
                                <small *ngIf="formAddNewAppointmentStaffStep2.get('customerTime').hasError('required')"
                                    class="error">Time is required.</small>
                            </span>
                        </div>
                    </div>
                    <div class="col-12 common-input mb-3">
                        <div class="form-group">
                            <label class="">Select Staff</label>
                            <mat-select placeholder="Select Staff" class="form-control formcontrol custom-select-modal"
                                [disabled]="" formControlName="customerStaff"
                                (selectionChange)="fnSelectStaff($event.value)">
                                <mat-option value="null">Any Staff</mat-option>
                                <mat-option *ngFor="let staff of availableStaff" value="{{staff.id}}">{{staff.name}}
                                </mat-option>
                                <mat-option *ngIf="availableStaff.length==0" disabled>No Staff Available</mat-option>
                            </mat-select>
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerStaff').dirty || formAddNewAppointmentStaffStep2.get('customerStaff').touched">
                                <small *ngIf="formAddNewAppointmentStaffStep2.get('customerStaff').hasError('required')"
                                    class="error">Staff is required.</small>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="row mx-0 " *ngIf="!data.appointmentData">
                    <div class="col-7 common-input">
                        <div class=" form-group">
                            <input class="form-control" formControlName="customerCouponCode" placeholder="Coupon Code">
                        </div>
                    </div>
                    <div class="col-5 d-flex justify-content-end mb-3">
                        <button mat-button class="sc-light-green-btn ml-3" (click)="applyCoupon()">Apply Coupon</button>
                    </div>
                    <div class="col-4" *ngIf="appointmentSubTotal > 0">
                        <span> Sub Total : {{currencySymbol| currencySymbol:'wide'}} {{ appointmentSubTotal |
                            currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                    </div>
                    <div class="col-4" *ngIf="appointmentSubTotal > 0">
                        <span> Discount : {{currencySymbol| currencySymbol:'wide'}} {{ discount_amount |
                            currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                    </div>
                    <div class="col-12" *ngIf="appointmentSubTotal > 0">
                        <span> Total : {{currencySymbol| currencySymbol:'wide'}} {{ appointmentAmountAfterDiscount |
                            currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}</span>
                    </div>
                    <div class="col-12 mb-3 ml-2"></div>
                </div>
                <div class="modal-bottom-action-btn">

                
                
                <button mat-button class="cancel-btn"
                    (click)="onBackClick()">Back</button>
                    <button mat-button class="save-btn"
                    (click)="fnNewAppointmentStep2()">{{(dialogTitle=='Edit Appointment')?'Update':'Create'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>