<mat-sidenav-container class="tp-container">
    <mat-sidenav class="w-100" mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content detail-popup Appointment-modal-wrap">
                <div class="modal-header">
                    <h5 class="modal-title">Booking Details</h5>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="appodetails appodetails-status">
                    <div *ngIf="detailsData.order_status != 'C' && detailsData.order_status != 'CO'">
                        <label class="greenfont pointer" (click)="fnRescheduleAppointment()"
                            *ngIf="detailsData.booking_date_time && minReschedulingTime && detailsData.booking_date_time && minReschedulingTime.getTime() < detailsData.booking_date_time.getTime()"><i
                                class="fa fa-repeat repeat"></i>Reschedule</label>
                        <label class="fontred pl-3 pointer" (click)="fnCancelAppointment()"
                            *ngIf="detailsData.booking_date_time && cancellationBufferTime && detailsData.booking_date_time && cancellationBufferTime.getTime() < detailsData.booking_date_time.getTime()"><i
                                class="fa fa-times-circle-o circle"></i>Cancel</label>
                    </div>

                    <div *ngIf="detailsData.order_status == 'C'">
                        Cancelled
                    </div>

                    <div *ngIf="detailsData.order_status == 'CO'">
                        Completed
                    </div>

                    <button mat-button type="button" *ngIf="detailsData.order_status == 'P'"
                        class="sc-pink-btn" (click)="fnConfirmAppointment()">Confirm</button>

                    <button mat-button type="button" *ngIf="detailsData.order_status == 'AC'"
                        class="sc-pink-btn" (click)="fnWorkStarting()">Work Start</button>

                    <div *ngIf="detailsData.order_status == 'CNF' && detailsData.staff_id == null"
                        class="form-group w-100px">
                        <mat-select class="form-control-transparent form-control" (selectionChange)="fnOnClickStaff($event)" placeholder="select staff">
                            <mat-option *ngFor="let staff of availableStaff" value="{{staff.id}}">{{staff.name}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="modal-body ml-2 p-3">
                    <div class="appointment-details-wrap">
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <h3>
                                    {{detailsData.booking_date}}
                                    <span class="order-id">(Order Id: {{detailsData.id}})</span>
                                </h3>
                                <p>Booked On: {{detailsData.created_atForLabel}}</p>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Time</p>
                                <h3>{{detailsData.booking_timeForLabel}} -
                                    {{detailsData.booking_time_to}} ({{detailsData.service_time}} Min)</h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Service</p>
                                <h3><span *ngIf="currencySymbolPosition=='left'">
                                        {{detailsData.service.service_name}} ({{currencySymbol| currencySymbol:'wide'}}
                                        {{
                                        detailsData.service.service_cost |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})
                                    </span>
                                    <span *ngIf="currencySymbolPosition=='right'">
                                        {{detailsData.service.service_name}} ({{ detailsData.service.service_cost |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol|
                                        currencySymbol:'wide'}})
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Status
                                </p>
                                <h3 class="status-main-wrap">
                                    <p class="" *ngIf="detailsData.order_status == 'P'">Waiting For Confirmation</p>
                                    <p class="" *ngIf="detailsData.order_status == 'CNF'">Confirm</p>
                                    <p class="" *ngIf="detailsData.order_status == 'AC'">Accepted</p>
                                    <p class="" *ngIf="detailsData.order_status == 'RSA'">Rescheduled By You</p>
                                    <p class="" *ngIf="detailsData.order_status == 'RSS'">Rescheduled By Staff</p>
                                    <p class="" *ngIf="detailsData.order_status == 'RSC'">Rescheduled By Customer</p>
                                    <p class="" *ngIf="detailsData.order_status == 'R'">Rejected</p>
                                    <p class="" *ngIf="detailsData.order_status == 'C'">Cancelled</p>
                                    <p class="" *ngIf="detailsData.order_status == 'CC'">Cancelled By Customer</p>
                                    <p class="" *ngIf="detailsData.order_status == 'OW'">On The Way</p>
                                    <p class="" *ngIf="detailsData.order_status == 'WS'">Work Started</p>
                                    <p class="" *ngIf="detailsData.order_status == 'CO'">Completed</p>
                                    <p class="" *ngIf="detailsData.order_status == 'GL'">Getting Late</p>
                                </h3>
                            </div>
                            <div class="appointment-details text-end">
                                <p>Payment Status </p>
                                <h3 class="status-main-wrap">
                                    <p class="text-capitalize" *ngIf="detailsData.payment">
                                        {{detailsData.payment.payment_status}} ({{detailsData.payment.payment_mode}})
                                    </p>
                                    <p class="" *ngIf="detailsData.payment == null || !detailsData.payment">--</p>
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Sub Total
                                </p>
                                <h3 class="">
                                    <span *ngIf="currencySymbolPosition=='left'">
                                        {{currencySymbol|
                                        currencySymbol:'wide'}} {{ detailsData.subtotal |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </span>
                                    <span *ngIf="currencySymbolPosition=='right'">
                                        {{ detailsData.subtotal
                                        | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol|
                                        currencySymbol:'wide'}}
                                    </span>
                                </h3>
                            </div>
                            <div class="appointment-details text-end">
                                <p>Total Amount</p>
                                <h3 class="status-main-wrap">
                                    <span *ngIf="currencySymbolPosition=='left'">
                                        {{currencySymbol| currencySymbol:'wide'}} {{ detailsData.total_cost |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </span>
                                    <span *ngIf="currencySymbolPosition=='right'">
                                        {{detailsData.total_cost |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                        {{currencySymbol| currencySymbol:'wide'}}
                                    </span>
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Tax</p>
                                <h3>
                                    <span *ngIf="currencySymbolPosition=='left' && detailsData.tax != null">
                                        {{currencySymbol|
                                        currencySymbol:'wide'}} {{ taxTotal |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }}
                                    </span>
                                    <span *ngIf="currencySymbolPosition=='right' && detailsData.tax != null">
                                        {{ taxTotal |
                                        currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol|
                                        currencySymbol:'wide'}}
                                    </span>
                                    <span *ngIf="detailsData.tax == null">
                                        --
                                    </span>
                                </h3>
                            </div>
                        </div>

                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Order By</p>
                                <h3 class="text-capitalize">
                                    {{detailsData.order_by == 'self' ?'Customer':detailsData.order_by}}
                                </h3>
                            </div>
                            <div class="appointment-details text-end">
                                <p>Order From</p>
                                <h3 class="text-capitalize">
                                    {{detailsData.order_from}}
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Staff</p>
                                <h3>
                                    <span *ngIf="detailsData.staff !== null">
                                        {{detailsData.staff.firstname}} {{detailsData.staff.lastname}}
                                    </span>
                                    <span *ngIf="detailsData.staff == null">
                                        --
                                    </span>
                                </h3>
                            </div>
                            <div class="appointment-details text-end">
                                <p>Staff Phone No.</p>
                                <h3>
                                    <span *ngIf="detailsData.staff !== null">
                                        {{detailsData.staff.phone}}
                                    </span>
                                    <span *ngIf="detailsData.staff == null">
                                        --
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body-margin ml-2 booking-detail-main mb-0">
                    <div class="common-details-customer pt-0">
                        <h6 class="heading-title">Customer Details</h6>
                        <div class="d-flex align-items-center py-2">
                            <p class="customer-profile-img text-uppercase">{{customerShortName}}</p>
                            <div class="customer-name pr-3">
                                <h3 class="">{{detailsData.customer.fullname}}</h3>
                                <p class="mb-0">{{detailsData.customer.email}}</p>
                            </div>
                        </div>
                        <div class="custom-wrap-modal">
                            <i class="fa fa-phone Appoinment-icon"></i>
                            <p class="">{{detailsData.customer.phone}}</p>
                        </div>
                    </div>
                    <div class="common-details-customer">

                        <div class="main-note-details common-input">
                            <h6 (click)="formSettingPage=!formSettingPage" class="note-add-icon w-fc">Note<i
                                    class="fa fa-plus-circle pl-2 note-icon"></i>
                            </h6>
                            <div *ngIf="formSettingPage" class="form-group">
                                <textarea class="form-control" rows="5" matInput [(ngModel)]="singlenote"
                                    placeholder="Type Note Description Here"></textarea>
                                <div class="text-end">
                                    <button mat-button type="button" class="sc-pink-btn mt-3"
                                        (click)="fnSaveBookingNotes(detailsData.id)">Save</button>
                                </div>

                            </div>

                            <p class="common-note-details" *ngFor="let note of singleBookingNotes; let i=index">
                                {{note.notes}}, <br> Added by {{note.user_type=='A'?'Admin':''}}
                                {{note.user_type=='SM'?'Staff':''}} {{note.user_type=='C'?'Customer':''}}
                                @{{note.created_at | date:'yyyy/MM/dd HH:mm'}}
                            </p>
                        </div>
                    </div>
                    <div class="common-details-customer">
                        <h6 class="heading-title ">Activity Log</h6>
                        <div *ngFor="let log of activityLog" class="activelog-details">
                            {{log.created_at | date:'yyyy/MM/dd HH:mm'}} -
                            {{log.status=='P'?'Pending':''}} {{log.status=='MOD'?'Modified':''}}
                            {{log.status=='CNF'?'Confirmed':''}} {{log.status=='GL'?'Getting Late':''}}
                            {{log.user_type=='A' && log.status=='CNF' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='CNF' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CNF' ? 'By '+ log.user.fullname +' (User)' : ''}}
                            {{log.status=='AC'?'Accepted':''}} {{log.user_type=='A' && log.status=='AC' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' &&  log.status=='AC' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='AC' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='OW'?'On The Way':''}} {{log.status=='WS'?'Work Started':''}}
                            {{log.status=='RSA' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSA' ? 'Rescheduled By '+ log.user.fullname +' (Admin)' :''}} {{log.status=='RSS' && log.customer ?  'Rescheduled By '+ log.customer.fullname : log.status=='RSS' ? 'Rescheduled By '+ log.user.fullname +' (Staff)' :''}} {{log.status=='RSC' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSC' ? 'Rescheduled By Client' :''}} {{log.status=='ITR'?'Intrupted':''}}
                            {{log.status=='C' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='C' ? 'Cancelled' :''}} {{log.status=='CC' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='CC' ? 'Cancelled By Client' :''}} {{log.status=='R'?'Rejected':''}}
                            {{log.user_type=='A' && log.status=='R' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='R' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='R' ? 'By '+ log.user.fullname +' (User)' : ''}}
                            {{log.status=='CO'?'Completed':''}} {{log.user_type=='A' && log.status=='CO' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='CO' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CO' ? 'By '+ log.user.fullname +' (User)' : ''}}
                            {{log.user_type=='A' && log.status=='GL' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='GL' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='GL' ? 'By '+ log.user.fullname +' (User)' : ''}}
                            {{log.status=='GL'?'(Late Time : '+detailsData.gl_time+' Mins)':''}}

                            <p *ngIf="log.notes">
                                <b>Note: </b> {{log.notes}}
                                
                            </p>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>