<div class="container" id="adminbusiness">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/sc-loader.svg" /></div>
    <button type="button" class="close m-3" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
    <div class="row">
        <div class="col-12 inner-pad">
            <div class="text-center ">
                <h2>Welcome To Schedulic</h2>
                <h4>We'll get your booking appointment in no time</h4>
            </div>
            <div>
                <div class="pt-5">
                    <form [formGroup]="createBusiness">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 bottom-border-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>How do customer recognize your business?</mat-label>
                                    <input matInput formControlName="business_name" placeholder="Enter Your business Name">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_name').dirty || createBusiness.get('business_name').touched"><small *ngIf="createBusiness.get('business_name').hasError('required')" class="error">Business name is required.</small>
                                <!-- <small *ngIf="createBusiness.get('business_name').hasError('minlength')"class="error">Business name must be at least 2 character</small>
                                <small *ngIf="createBusiness.get('business_name').hasError('maxlength') "class="error">Business name can not be greater than 20 character.</small> -->
                            </span>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 bottom-border-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Where is your business located?</mat-label>
                                    <input formControlName="business_address" matInput placeholder="Address">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_address').dirty || createBusiness.get('business_address').touched"><small *ngIf="createBusiness.get('business_address').hasError('required')" class="error">Business address is required.</small>
                                <small *ngIf="createBusiness.get('business_address').hasError('minlength')"class="error">Business address must be at least 2 character.</small>
                                <small *ngIf="createBusiness.get('business_address').hasError('maxlength') "class="error">Business address can not be greater than 50 character.</small></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-6 offset-lg-6 col-md-3 col-lg-3 col-sm-6  mb-0 bottom-border-field">
                                <mat-form-field class="mb-0">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="business_country" (selectionChange)="selectCountry($event.value)">
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No record found" [formControl]="countryFilterCtrl"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let country of countryList | async" [value]="country.id">
                                            {{country.name}}
                                        </mat-option>
                                        <!-- <mat-option *ngFor="let allCountry of allCountry" [value]="allCountry.id">
                                            {{allCountry.name}}
                                        </mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_country').dirty || createBusiness.get('business_country').touched">
                           <small *ngIf="createBusiness.get('business_country').hasError('required')" class="error">Country is required.</small></span>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3 col-sm-6 mb-0 bottom-border-field">
                                <mat-form-field>
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="business_state" (selectionChange)="selectStates($event.value)">
                                        <mat-option *ngFor="let allStates of allStates" [value]="allStates.id">
                                            {{allStates.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_state').dirty || createBusiness.get('business_state').touched"><small *ngIf="createBusiness.get('business_state').hasError('required')" class="error">State is required.</small></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mt-res bottom-border-field time-zone-dropdown flex-wrap">

                                <mat-label class="select-hide">&nbsp; </mat-label>
                                <mat-form-field class="d-flex flex-wrap w-100">
                                    <mat-label>Time zone</mat-label>
                                    <mat-select formControlName="business_timezone" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No record found" [formControl]="timeZoneFilterCtrl"></ngx-mat-select-search>
                                        </mat-option>
                                        <!-- <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search> -->
                                        <mat-option *ngFor="let listTimeZone of listTimeZoneList | async" [value]="listTimeZone.name">
                                            ({{listTimeZone.utc}}) {{listTimeZone.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_timezone').dirty || createBusiness.get('business_timezone').touched"><small *ngIf="createBusiness.get('business_timezone').hasError('required')" class="error">Timezone is required.</small></span>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3 col-sm-6 bottom-border-field">
                                <mat-label class="select-hide">&nbsp; </mat-label>
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="business_city">
                                        <mat-option *ngFor="let allCities of allCities" [value]="allCities.id">
                                            {{allCities.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_city').dirty || createBusiness.get('business_city').touched">
                                    <small *ngIf="createBusiness.get('business_city').hasError('required')" class="error">City is required.</small>
                                </span>
                            </div>
                            <div class="form-group col-md-3 col-lg-3 col-sm-6 bottom-border-field">
                                <mat-label class="select-hide">&nbsp; </mat-label>
                                <mat-form-field>
                                    <mat-label>Zip</mat-label>
                                    <input matInput formControlName="business_zip">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_zip').dirty || createBusiness.get('business_zip').touched">
                           <small *ngIf="createBusiness.get('business_zip').hasError('required')" class="error">Zipcode Is required.</small> 
                           <small *ngIf="createBusiness.get('business_zip').hasError('minlength') || createBusiness.get('business_zip').hasError('maxlength')" class="error">Zipcode Minimium 5 maximun 7 Digit.</small></span>
                            </div>
                        </div>
                        <div class="text-center pt-2">
                            <button mat-button class="admin-business-Submitbutton" (click)="fnCreateBusiness()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>