<div class="container" id="adminbusiness">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/step-loader.gif" /></div>
    <button type="button" class="close m-3" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
    <div class="row">
        <div class="col-12 inner-pad">
            <div class="text-center ">
                <h2>Welcome To Go!Appointin</h2>
                <h4>We'll get your booking appointment in no time</h4>
            </div>
            <div>
                <div class="pt-5">
                    <form [formGroup]="createBusiness">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 bottom-border-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>How do customer recognize your business?</mat-label>
                                    <input matInput formControlName="business_name" placeholder="Enter Your business Name">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_name').dirty || createBusiness.get('business_name').touched"><small *ngIf="createBusiness.get('business_name').hasError('required')" class="error">Business Name Is required</small></span>
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 bottom-border-field">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Where is your business located?</mat-label>
                                    <input formControlName="business_address" matInput placeholder="Address">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_address').dirty || createBusiness.get('business_address').touched"><small *ngIf="createBusiness.get('business_address').hasError('required')" class="error">Business Address Is required</small></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group offset-md-6 offset-lg-6 col-md-3 col-lg-3 col-sm-6  mb-0 bottom-border-field">
                                <mat-form-field class="mb-0">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="business_country" (selectionChange)="selectCountry($event.value)">
                                        <mat-option *ngFor="let allCountry of allCountry" [value]="allCountry.id">
                                            {{allCountry.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_country').dirty || createBusiness.get('business_country').touched">
                           <small *ngIf="createBusiness.get('business_country').hasError('required')" class="error">Country Is required</small></span>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3 col-sm-6 mb-0 bottom-border-field">
                                <mat-form-field>
                                    <mat-label>Region</mat-label>
                                    <mat-select formControlName="business_region" (selectionChange)="selectStates($event.value)">
                                        <mat-option *ngFor="let allStates of allStates" [value]="allStates.id">
                                            {{allStates.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_region').dirty || createBusiness.get('business_region').touched"><small *ngIf="createBusiness.get('business_region').hasError('required')" class="error">Region Is required</small></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mt-res bottom-border-field align-bottom">
                                <mat-form-field>
                                    <mat-label>Time zone</mat-label>
                                    <mat-select formControlName="business_timezone">
                                        <mat-option *ngFor="let listTimeZone of listTimeZone" [value]="listTimeZone.zoneName">
                                            {{listTimeZone.zoneName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_timezone').dirty || createBusiness.get('business_timezone').touched"><small *ngIf="createBusiness.get('business_timezone').hasError('required')" class="error">Timezone Is required</small></span>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3 col-sm-6 bottom-border-field">
                                <mat-label class="select-hide">&nbsp; </mat-label>
                                <mat-form-field>
                                    <mat-label>City</mat-label>
                                    <mat-select formControlName="business_city">
                                        <mat-option *ngFor="let allCities of allCities" [value]="allCities.id">
                                            {{allCities.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_city').dirty || createBusiness.get('business_city').touched">
                           <small *ngIf="createBusiness.get('business_city').hasError('required')" class="error">City Is required</small></span>
                            </div>
                            <div class="form-group col-md-3 col-lg-3 col-sm-6 bottom-border-field">
                                <mat-label class="select-hide">&nbsp; </mat-label>
                                <mat-form-field>
                                    <mat-label>zip</mat-label>
                                    <input matInput formControlName="business_zip">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="createBusiness.get('business_zip').dirty || createBusiness.get('business_zip').touched">
                           <small *ngIf="createBusiness.get('business_zip').hasError('required')" class="error">Zipcode Is required</small> 
                           <small *ngIf="createBusiness.get('business_zip').hasError('pattern')" class="error">Enter valid Zipcode</small></span>
                            </div>
                        </div>
                        <div class="text-center pt-2">
                            <button mat-button class="admin-business-Submitbutton" (click)="fnCreateBusiness()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>