<!-- Appointment popup(Hair Cut) -->
<div class="container pl-0 pr-0">
	<div class="">
		<mat-card id="Appointment-pop-up" class="mb-0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex">
				<div class="p-0 text-white col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<p class="mb-0 work-space-font">in {{appointmentDetails.timeToService}} hours</p>
					<h5>{{appointmentDetails.service_name}}({{appointmentDetails.categoryName}})</h5>
				</div>
				<div class="p-0 text-white col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'P'">Pending</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'AC'">Accepted</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'OW'">On The Way</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'WS'">Work Started</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'RSA'">Rescheduled By Admin</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'RSS'">Rescheduled By Staff</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'RSC'">Rescheduled By Client</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'ITR'">Intrupted</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'C'">Cancelled</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'CC'">Cancelled By Client</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'R'">Rejected</p>
					<p class="mb-0 work-space-font" *ngIf="appointmentDetails.order_status == 'CO'">Completed</p>
				</div>
			</div>
		    <div class="d-flex flex-wrap pl-3 pt-3 text-white">
		        <div class="d-flex Time">
		        	<i class="fa fa-clock-o  pr-2" aria-hidden="true"></i>	
		            <p class="work-space-font pt-0">{{appointmentDetails.booking_time}}</p>
		        </div>
		        <div class="d-flex customer-name">
		            <i class="fa fa-user-o pr-2" aria-hidden="true"></i>
		            <p class="work-space-font pt-0 ">{{appointmentDetails.customerName}}</p>
		        </div>
		        <div class="d-flex service-person">
		            <i class="fa fa-briefcase pr-2 " aria-hidden="true"></i>
		            <p class="work-space-font pt-0 ">{{appointmentDetails.staffName}}</p>
		        </div>
		        <div class="money">
		            <p class="work-space-font pt-0 ">$.{{appointmentDetails.total_cost}}.00</p>
		        </div>
		    </div>
		    <div class="d-flex pl-3 btns">
		    	<div class="reschedulebtn-width">
		    	 <button mat-button type="button" class=" Reschedulebtn d-block " (click)="rescheduleAppointment()">Reschedule</button>
		    	</div>
		    	<div class="cancelbtn-width">
		    	 <button mat-button type="button" class=" Reschedulebtn d-block " (click)="fnCancelAppointment()">Cancel</button>
			 	</div>
			 	<div class="acceptbtn-width">
		    	 <button mat-button type="button" class="Reschedulebtn accept-btn d-block" (click)="fnConfirmAppointment()"*ngIf="appointmentDetails.order_status == 'P'">Confirm</button>
		    	 <button mat-button type="button" class="Reschedulebtn accept-btn d-block" (click)="fnCompleteAppointment()"*ngIf="appointmentDetails.order_status == 'AC'">Complete</button>
			  	</div>
		    </div>
		</mat-card>
	</div>
</div>

