
<mat-sidenav-container class = "tp-container">
    <mat-sidenav class="w-100" mode = "side" opened>
<div class="modal-dialog mt-0 mb-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Appointment Details</h5>
          <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="appodetails-assignto">
        <label class="greenfont" (click)="fnRescheduleAppointment()"><i class="fa fa-repeat repeat"></i>Reschedule</label>
        <label class="fontred"><i class="fa fa-times-circle-o circle"></i>Cancel</label>
  
        <mat-form-field  class="bottom-border-field assignto ml-3">
          <mat-label>Assign to</mat-label>
            <mat-select [(value)]="selectedStaff" (selectionChange)="fnOnClickStaff($event)">
              <mat-option *ngFor="let staff of availableStaff" value="{{staff.id}}">{{staff.name}}</mat-option>
            </mat-select>
        </mat-form-field>
      </div>
  
      <div class="modal-body modal-bcolor">
        <p class="mb-0 font-weight-bold">{{detailsData.booking_date}}</p>
        <p>Booked On:{{detailsData.created_at}}</p>
  
        <p class="mb-0">Service</p>
        <p class="font-weight-bold">{{detailsData.service.service_name}} ($.{{detailsData.service.service_cost}})</p>
        <p class="mb-0">Time</p>
        <p class="font-weight-bold">{{detailsData.booking_time}}</p>
       
        <div class="d-flex">
        
          <div class="pl-0">
          <p class="mb-0">Order By</p>
          <p class="font-weight-bold">{{detailsData.order_by}}</p>
        </div>
        <div class="pl-5">  
          <p class="mb-0">Status</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'P'">Waiting For Confirmation</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'AC'">Confirm</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSA'">Rescheduled By Admin</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSS'">Rescheduled</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'RSC'">Rescheduled By Customer</p>
          <p class="text-capitalize font-weight-bold" *ngIf="detailsData.order_status == 'R'">Rejected</p>
        </div>
      
      </div>
      <div >
        <p class="mb-0">Staff</p>
        <div class="" *ngIf="detailsData.staff != null">
        <p class="mb-0 font-weight-bold">Pooja Chakerbarti</p>
        <p class="mb-0">Phone NO:9876543210</p>
        </div>
      </div>
   
       </div>    
       <mat-card class="card-body-marginn booking-detail-main mb-0">
         <h6 class="text-left mb-3">Booking Details</h6>
         <div class="row align-items-center">
          <p class="customer-profile-img">SP</p>
          <div class="customer-name pr-3">
            <p class="font-weight-bold mb-0">{{detailsData.customer.fullname}}</p>
            <p class="address-fontsize mb-0">{{detailsData.customer.email}}</p>
          </div>
  
        </div>
          <p class=" address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>{{detailsData.customer.phone}}</p>
          <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>{{detailsData.customer.address}}</p>
          <!-- <p class="pl-4 address-fontsize">Bank,Bhyandar(west).Mumbai-40010</p> -->
          <p>Appointment Notes</p>
          <textarea class="form-control mb-2" placeholder="Note here"></textarea>
      </mat-card>
        <div  class="p-1-5 bottom-border">
          <h6>Activity Log</h6>
            <div *ngFor="let log of activityLog" class="mb-4">
              {{log.created_at | date:'longDate'}} {{log.created_at | date:'shortTime'}} - 
              {{log.status=='P'?'Pending':''}}
              {{log.status=='MOD'?'Modified':''}}
              {{log.status=='CNF'?'Confirm':''}}
              {{log.status=='AC'?'Accepted':''}}
              {{log.status=='OW'?'On The Way':''}}
              {{log.status=='WS'?'Work Started':''}}
              <!-- {{log.status=='RSA'?'Rescheduled By Admin':''}}
              {{log.status=='RSS'?'Rescheduled By Staff':''}}
              {{log.status=='RSC'?'Rescheduled By Client':''}} -->
              {{log.status=='RSA' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSA' ? 'Rescheduled By Admin' :''}} 
              {{log.status=='RSS' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSS' ? 'Rescheduled By Staff' :''}} 
              {{log.status=='RSC' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSC' ? 'Rescheduled By Client' :''}} 
              {{log.status=='ITR'?'Intrupted':''}}
              <!-- {{log.status=='C'?'Cancelled':''}}
              {{log.status=='CC'?'Cancelled By Client':''}} -->
              {{log.status=='C' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='C' ? 'Cancelled' :''}} 
              {{log.status=='CC' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='CC' ? 'Cancelled By Client' :''}} 
              {{log.status=='R'?'Rejected':''}}
              {{log.status=='CO'?'Completed':''}}

              <p *ngIf="log.notes">
                  <b>Note: </b> {{log.notes}}
              </p>
            </div>
        </div>
      </div>
    </div>
    </mat-sidenav>
    </mat-sidenav-container>