<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="loader-main" *ngIf="isLoaderAdmin">
        <img src="../../../assets/sc-loader.svg" />
    </div>
    <div class="modal-content">
        <div class="modal-header modal-bcolor-red">
            <p class="heading lead mb-0 fontfamily">Reschedule Appointment</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
                <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formAppointmentRescheduleAdmin">
                <p class="mb-0">Service</p>
                <p class="font-weight-bold">{{detailsData.service?detailsData.service.service_name:''}}</p>
                <div class="row">
                    <div class="col-12">
                        <label class="mb-0">Select Date</label>

                        <div class="input-group common-input mb-3">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img
                                            src="/assets/images/icons/date-calendar.svg" /></span>
                                </div>
                                <input class="form-control" matInput [min]="minDate" [matDatepicker]="picker"
                                    placeholder="Choose a date" formControlName="rescheduleDate" (click)="picker.open()"
                                    (dateChange)="fnDateChange($event)">
                                <mat-datepicker #picker></mat-datepicker>
                            </div>
                            <span class="error-wrap"
                                *ngIf="formAppointmentRescheduleAdmin.get('rescheduleDate').dirty || formAppointmentRescheduleAdmin.get('rescheduleDate').touched">
                                <small *ngIf="formAppointmentRescheduleAdmin.get('rescheduleDate').hasError('required')"
                                    class="error">Date is required</small>
                            </span>
                        </div>

                    </div>
                    <div class="col-12">
                        <label class="mb-0">Select Time</label>
                        <div class="input-group common-input mb-3">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><img src="/assets/images/icons/clock.svg" /></span>
                                </div>
                                <mat-select formControlName="rescheduleTime" class="form-control formcontrol"
                                    (selectionChange)="fnChangeTimeSlot($event.value)" [disabled]="">
                                    <!-- <mat-option>None</mat-option> -->
                                    <mat-option *ngFor="let slot of timeSlotArr" value="{{slot}}">{{slot}}</mat-option>
                                </mat-select>
                            </div>
                            <span class="error-wrap"
                                *ngIf="formAppointmentRescheduleAdmin.get('rescheduleTime').dirty || formAppointmentRescheduleAdmin.get('rescheduleTime').touched">
                                <small *ngIf="formAppointmentRescheduleAdmin.get('rescheduleTime').hasError('required')"
                                    class="error">Time is required</small>
                            </span>
                        </div>
                    </div>
                <div class="col-12">
                    <label class="mb-0">Select Staff</label>
                    <div class="input-group common-input mb-3">
                        <div class="input-group form-group">
                            <mat-select class="form-control formcontrol" formControlName="rescheduleStaff">
                                <mat-option *ngFor="let staff of availableStaff" value="{{staff.id}}"> {{staff.name}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <span class="error-wrap"
                            *ngIf="formAppointmentRescheduleAdmin.get('rescheduleStaff').dirty || formAppointmentRescheduleAdmin.get('rescheduleStaff').touched">
                            <small *ngIf="formAppointmentRescheduleAdmin.get('rescheduleStaff').hasError('required')"
                                class="error">Staff is required</small>
                        </span>
                    </div>
                </div>
                <div class="col-12">
                <label class="mb-0">Add Note</label>
                <div class="input-group common-input mb-3">
                    <div class="input-group form-group"> 
                    <textarea class="form-control" placeholder="Add Note" formControlName="rescheduleNote"> </textarea>
                    <span class="error-wrap"
                        *ngIf="formAppointmentRescheduleAdmin.get('rescheduleNote').dirty || formAppointmentRescheduleAdmin.get('rescheduleNote').touched">
                        <small *ngIf="formAppointmentRescheduleAdmin.get('rescheduleNote').hasError('required')"
                            class="error">Note is required</small>
                    </span>
                    </div>  
                </div>
                </div>
            </div>

                <button mat-button  class="sc-pink-btn float-right"
                    (click)='formRescheduleSubmit()'>Reschedule</button>
            </form>
        </div>
    </div>
</div>