<mat-sidenav-container class="tp-container Appointment-modal-wrap view-review-dialog">
    <mat-sidenav class="w-100" mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Booking Details</h5>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body ">
                    <div class="appointment-details-wrap">

                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <h3>
                                    {{orderDataFull.booking_date}}
                                </h3>
                                <p>Booked On: {{orderDataFull.created_at}}</p>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Service</p>
                                <h3>
                                    {{orderDataFull.service.service_name}}
                                    <span *ngIf="currencySymbolPosition=='left'">({{currencySymbol| currencySymbol:'wide'}} {{ orderDataFull.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</span>
                                    <span *ngIf="currencySymbolPosition=='right'">({{currencySymbol| currencySymbol:'wide'}} {{ orderDataFull.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</span>
                                    
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Time</p>
                                <h3>
                                    {{orderDataFull.booking_time}} ({{orderDataFull.service_time}})
                                </h3>
                            </div>
                        </div>
                        <div class="common-appointment-details">
                            <div class="appointment-details">
                                <p>Order By</p>
                                <h3 class="text-capitalize">
                                    {{orderDataFull.order_by}}
                                </h3>
                            </div>
                            <div class="appointment-details text-end">
                                <p>Status</p>
                                <h3 class="status-main-wrap">
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'P'">
                                        Waiting For Confirmation</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'AC'">
                                        Confirm</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'RSA'">
                                        Rescheduled By Admin</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'RSS'">
                                        Rescheduled</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'RSC'">
                                        Rescheduled By Customer</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'R'">
                                        Rejected</p>
                                    <p class="text-capitalize font-weight-bold"
                                        *ngIf="orderDataFull.order_status == 'CO'">
                                        Confirm</p>
                                </h3>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-body-marginn booking-detail-main mb-0">
                <div class="common-details-customer pt-0">
                <h6 class="heading-title">Staff Details</h6>
                <div class="d-flex align-items-center py-2">
                    <p class="customer-profile-img">{{customerShortName}}</p>
                    <div class="customer-name pr-3">
                        <p class="mb-0">{{orderDataFull.staff.firstname}} {{orderDataFull.staff.lastname}}</p>
                        <p class="mb-0">{{orderDataFull.staff.email}}</p>
                    </div>
                </div>
                <div class="custom-wrap-modal">
                    <i class="fa fa-phone Appoinment-icon"></i>
                    <p class="">{{orderDataFull.staff.phone}}</p>
                </div>
                </div>
                <div class="common-details-customer pt-0">
            <div class="booking-detail-main">
                <h6 class="heading-title ">Review</h6>
                <div class="d-flex star-icon ">
                    <div class="d-flex statick-rating w-100" *ngIf="detailsData.rating != null">
                        <div class="star-rating">
                            <input type="radio" [checked]="detailsData.rating == 5"
                                id="5-stars_{{detailsData.order_id}}" name="rating_{{detailsData.order_id}}"
                                value="5" />
                            <label for="5-stars_{{detailsData.order_id}}">&#9733;</label>
                            <input type="radio" [checked]="detailsData.rating == 4"
                                id="4-stars_{{detailsData.order_id}}" name="rating_{{detailsData.order_id}}"
                                value="4" />
                            <label for="4-stars_{{detailsData.order_id}}">&#9733;</label>
                            <input type="radio" [checked]="detailsData.rating == 3"
                                id="3-stars_{{detailsData.order_id}}" name="rating_{{detailsData.order_id}}"
                                value="3" />
                            <label for="3-stars_{{detailsData.order_id}}">&#9733;</label>
                            <input type="radio" [checked]="detailsData.rating == 2"
                                id="2-stars_{{detailsData.order_id}}" name="rating_{{detailsData.order_id}}"
                                value="2" />
                            <label for="2-stars_{{detailsData.order_id}}">&#9733;</label>
                            <input type="radio" [checked]="detailsData.rating == 1" id="1-star_{{detailsData.order_id}}"
                                name="rating_{{detailsData.order_id}}" value="1" />
                            <label for="1-star_{{detailsData.order_id}}">&#9733;</label>
                        </div>
                    </div>

                </div>
                <div class="reviews-details">
                    <h6>{{detailsData.rating_title}}</h6>
                    <p class="">{{detailsData.review}}</p>
                </div>
            </div>
            </div>
        </div>

        </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>