<mat-drawer-content id="company_detail" class="ml-0">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/step-loader.gif" /></div>
    <div class="left-side-menu setting-menu" [ngClass]="{ 'short-menu': settingSideMenuToggle === true }">
        <div class="leftarrow-icon d-flex">
            <mat-icon (click)="fnSettingMenuToggleSmall()" *ngIf="!settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer">arrow_back</mat-icon>
            <mat-icon (click)="fnSettingMenuToggleLarge()" *ngIf="settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer">arrow_forward</mat-icon>
        </div>
        <h6>Resource Management</h6>
        <div routerLink="/admin/settings-resource" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/service.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/service-color.png" />
            </div>
            <p>Services</p>
        </div>
        <div routerLink="/admin/settings-resource/staff" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/staff.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/staff-color.png" />
            </div>
            <p>Staff</p>
        </div>
        <div routerLink="/admin/settings-resource/business-hours" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-hours.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-hours-color.png" />
            </div>
            <p>Business Hours</p>
        </div>
        <div routerLink="/admin/settings-resource/postalcode" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/postalcode.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/postalcode-color.png" />
            </div>
            <p>Postal Codes</p>
        </div>
        <h6 class="pt-3">Account</h6>
        <div routerLink="/admin/settings-account/company-details" class="d-flex setting-menu-item setting-menu-active">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/companydetails.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/companydetails-color.png" />
            </div>
            <p>Company Details</p>
        </div>
        <h6 class="pt-3">Payment</h6>
        <div routerLink="/admin/settings-payment/billing" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/billing.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/billing-color.png" />
            </div>
            <p>Billing</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-gateway" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/paymentgateway.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/paymentgateway-color.png" />
            </div>
            <p>Payment Gateway</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/paymentrules.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/paymentrules-color.png" />
            </div>
            <p>Payment Rules</p>
        </div>
        <h6 class="pt-3">General Setting</h6>
        <div routerLink="/admin/settings-general/appearance" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/appearance.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/appearance-color.png" />
            </div>
            <p>Appearance</p>
        </div>
        <div routerLink="/admin/settings-general/booking-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/bookingrules.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/bookingrules-color.png" />
            </div>
            <p>Booking Rules</p>
        </div>
        <div routerLink="/admin/settings-general/alert-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/alert.png" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/alert-color.png" />
            </div>
            <p>Alert Rules</p>
        </div>
    </div>
    <div class="h-100 setting-right-side-content" [ngClass]="{ 'short-content-area': settingSideMenuToggle === true }">
        <mat-card class="m-0 h-100">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Company Details</h6>
                </div>
            </div>
            <form [formGroup]="companyDetails">
                <div class="row">
                    <div class="col-lg-6 col-6 col-md-4  main-account-company-details">
                        <div class="ml-3 justify-content-center d-flex ">
                            <div class="account-my-profile-img-wrap profile-img-wrap" (click)="companyDetailsImage()">
                                <img *ngIf="(companyDetailsData && !companyDetailsData.image) && !companyDetailsImageUrl" mat-card-avatar class="account-my-profile-img" src="/assets/images/admin/picture.png">
                                <img *ngIf="(companyDetailsData && !companyDetailsData.image) && companyDetailsImageUrl" mat-card-avatar class="account-my-profile-img uploaded" src="{{companyDetailsImageUrl}}">
                                <img *ngIf="(companyDetailsData && companyDetailsData.image) && !companyDetailsImageUrl" mat-card-avatar class="account-my-profile-img uploaded" onerror="this.src='/assets/images/admin/picture.png';" src="{{companyDetailsData.image}}">
                                <img *ngIf="(companyDetailsData && companyDetailsData.image) && companyDetailsImageUrl" mat-card-avatar class="account-my-profile-img uploaded" onerror="this.src='/assets/images/admin/picture.png';" src="{{companyDetailsImageUrl}}">
                                <div class="camera-alt"><i class="material-icons"> camera_alt</i></div>
                            </div>
                        </div>

                        <div class="">
                            <div class="mt-3 text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <input formControlName="company_name" matInput placeholder="Company Name">
                                </mat-form-field>
                                <span class="error-wrap d-flex" *ngIf="companyDetails.get('company_name').dirty || companyDetails.get('company_name').touched">
                                    <small *ngIf="companyDetails.get('company_name').hasError('required')" class="error">Company name is required</small>
                                    <small *ngIf="companyDetails.get('company_name').hasError('minlength') || companyDetails.get('company_name').hasError('maxlength')" class="error">Company name must be between 3 to 255 characters.</small>
                                    <small *ngIf="companyDetails.get('company_name').hasError('whiteSpaceValidation')" class="error">Company name can not consist of white spaces.</small>
                                </span>

                            </div>

                            <div class="mt-2 text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <input formControlName="comp_email" matInput placeholder="Email">
                                </mat-form-field>
                                <span class="error-wrap d-flex" *ngIf="companyDetails.get('comp_email').dirty || companyDetails.get('comp_email').touched">
                                    <small *ngIf="companyDetails.get('comp_email').hasError('required')" class="error">Email is required.</small>
                                    <small *ngIf="companyDetails.get('comp_email').hasError('pattern')" class="error">Email is invalid.</small>
                                </span>
                            </div>

                            <div class="mt-2 text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <input formControlName="comp_website" matInput placeholder="Website">
                                    <span class="error-wrap d-flex" *ngIf="companyDetails.get('comp_website').dirty || companyDetails.get('comp_website').touched">
                                        <small *ngIf="companyDetails.get('comp_website').hasError('required')" class="error">Enter valid wabsite.</small>
                                    </span>
                                </mat-form-field>
                            </div>

                            <div class="mt-2 text-center mb-3 d-flex flex-wrap">


                                <ngx-intl-tel-input class="common-input mobile-intel-input bottom-border-field" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false" [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="true" [selectedCountryISO]="selectedCountryISO" [maxLength]="15" [phoneValidation]="false" [separateDialCode]="separateDialCode" (mousedown)="fnPhoneMouceLeave()" (keyup)="fnenterPhoneNumber()" formControlName="comp_mobile"
                                    placeholder="Mobile">

                                </ngx-intl-tel-input>

                                <span class="text-left w-100" *ngIf="phoneNumberInvalid">
                                <small *ngIf="phoneNumberInvalid == 'required'" class="error">Phone number is required.</small>
                                <small *ngIf="phoneNumberInvalid == 'length'" class="error">Phone number should be 6 to 15 digits long.</small></span>
                                <!-- <mat-form-field class=" bottom-border-field">
                                    <input formControlName="comp_mobile" matInput placeholder="Mobile" (keypress)="numberOnly($event)">
                                </mat-form-field> -->

                                <!-- <span class="error-wrap d-flex" *ngIf="companyDetails.get('comp_mobile').dirty || companyDetails.get('comp_mobile').touched">
                                    <small *ngIf="companyDetails.get('comp_mobile').hasError('required')" class="error">Mobile number is required.</small>
                                    <small *ngIf="companyDetails.get('comp_mobile').hasError('pattern')" class="error">Mobile number is invalid.</small>
                                    <small *ngIf="companyDetails.get('comp_mobile').hasError('minlength') || companyDetails.get('comp_mobile').hasError('maxlength')" class="error">Mobile number should be 6 to 15 digit.</small>
                                </span> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-6 col-md-4  main-account-my-profile">
                        <div class="">
                            <div class="mt-3 text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country" (selectionChange)="selectCountry($event.value)">
                                        <mat-option *ngFor="let allCountry of allCountry" value="{{allCountry.id}}"> {{allCountry.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <span class="error-wrap d-flex" *ngIf="companyDetails.get('country').dirty || companyDetails.get('country').touched">
                                <small *ngIf="companyDetails.get('country').hasError('required')" class="error">Country is required.</small></span>

                            </div>
                            <div class="row">


                                <div class="mt-2 text-center col-3">
                                    <mat-form-field class=" bottom-border-field">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state" (selectionChange)="selectStates($event.value)">
                                            <mat-option *ngFor="let allStates of allStates" value="{{allStates.id}}">
                                                {{allStates.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <span class="error-wrap d-flex" *ngIf="companyDetails.get('state').dirty || companyDetails.get('state').touched">
                                    <small *ngIf="companyDetails.get('state').hasError('required')" class="error">State is required.</small></span>
                                </div>

                                <div class="mt-2 text-center col-6">
                                    <mat-form-field class="bottom-border-field">
                                        <mat-label>City</mat-label>
                                        <mat-select formControlName="city">
                                            <mat-option *ngFor="let allCities of allCities" value="{{allCities.id}}">
                                                {{allCities.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <span class="error-wrap d-flex" *ngIf="companyDetails.get('city').dirty || companyDetails.get('city').touched">
                                     <small *ngIf="companyDetails.get('city').hasError('required')" class="error">City is required.</small></span>
                                </div>

                                <div class="mt-2 text-center col-3">
                                    <mat-form-field class=" bottom-border-field company-zip-feild">
                                        <input formControlName="zip_code" matInput placeholder="Zip">
                                    </mat-form-field>
                                    <span class="error-wrap d-flex" *ngIf="companyDetails.get('zip_code').dirty || companyDetails.get('zip_code').touched">
                                    <small *ngIf="companyDetails.get('zip_code').hasError('required')" class="error">Zip code is required.</small><small *ngIf="companyDetails.get('zip_code').hasError('minlength') || companyDetails.get('zip_code').hasError('maxlength')" class="error">Zip code must be between 5 to 7 characters</small></span>
                                </div>
                            </div>


                            <label class="custom-label">Business Location</label>
                            <div class="text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <mat-label>Address</mat-label>
                                    <input formControlName="comp_address" matInput placeholder="Address">
                                </mat-form-field>
                                <span class="error-wrap d-flex" *ngIf="companyDetails.get('comp_address').dirty || companyDetails.get('comp_address').touched">
                                    <small *ngIf="companyDetails.get('comp_address').hasError('required')" class="error">Address is required.</small></span>
                            </div>

                            <div class="mt-2 text-center">
                                <mat-form-field class=" bottom-border-field">
                                    <mat-label>Description</mat-label>
                                    <textarea formControlName="comp_decs" matInput placeholder="A brief overview of what you're all"></textarea>
                                </mat-form-field>
                                <span class="error-wrap d-flex" *ngIf="companyDetails.get('comp_decs').dirty || companyDetails.get('comp_decs').touched">
                                    <small *ngIf="companyDetails.get('comp_decs').hasError('required')" class="error">Description is required.</small></span>
                            </div>
                            <div class="account-statustoggle">
                                <p>
                                    <mat-slide-toggle formControlName="comp_status">Status</mat-slide-toggle>
                                </p>
                                <p>
                                    <mat-slide-toggle formControlName="comp_private_status">Private</mat-slide-toggle>
                                </p>
                            </div>

                            <mat-card class="row footer-save-container">
                                <div class="company-action-btn">
                                    <div class="mx-2">
                                        <button mat-button class="business-cancel-btn" (click)="fnCancelBusiness()">Cancel</button>
                                        <button mat-button type="submit" (click)="fnUpdateCompanyDetail()" appearance="fill" class="company-save-btn">Update</button>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </form>


        </mat-card>
    </div>
</mat-drawer-content>