<div class="content">
         
        <div fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="center center">
          <div fxFlex='90' fxFill fxFlex.lt-md="100">
            <mat-card fxFlex="100">
                <mat-card-header>
                  <div fxLayoutAlign="end center" fxFlex="100">
                    <div fxFlex="100">
                      <mat-card-title class="text-center">Add New Email Template</mat-card-title>
                    </div>
                    <!-- <div fxFlex="40" fxLayoutAlign="end center"> </div> -->
                    
                  </div>
                </mat-card-header>
                <mat-card-content>
                      <form [formGroup]="EmailFormGroup" class="full-width left_form" fxLayoutGap="5" fxFlex="60" fxFlex.xs="100" fxFlex.sm="100">
                        <ng-template>Add New Email Template</ng-template>
                        <div fxLayoutAlign="start" fxLayout="row wrap" fxFill>
                          <div fxFlex="100">
                            <mat-form-field>
                              <mat-label>Heading for Email from</mat-label>
                              <input matInput #myTextArea1 (click)="getCursorPosition(myTextArea1,'email_from')" (keyup)="getCursorPosition(myTextArea1,'email_from')" [value]="heading"  formControlName="email_from">
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>Email Subject</mat-label>
                              <input matInput #myTextArea2 (click)="getCursorPosition(myTextArea2,'email_subject')" (keyup)="getCursorPosition(myTextArea2,'email_subject')" [value]="subject" formControlName="email_subject">
                            </mat-form-field>
                            <mat-form-field>
                              <mat-label>Email Type</mat-label>
                              <input matInput #myTextArea3 (click)="getCursorPosition(myTextArea3,'email_type')" (keyup)="getCursorPosition(myTextArea3,'email_type')" [value]="type" formControlName="email_type">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Email Header</mat-label>
                                <textarea #myTextArea4 (click)="getCursorPosition(myTextArea4,'email_header')" (keyup)="getCursorPosition(myTextArea4,'email_header')" rows="3" [value]="header" matInput formControlName="email_header"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Email Body</mat-label>
                                <textarea rows="5" #myTextArea5 (click)="getCursorPosition(myTextArea5,'email_body')" (keyup)="getCursorPosition(myTextArea5,'email_body')" [value]="body" matInput formControlName="email_body"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <mat-label>Email Footer</mat-label>
                                <textarea #myTextArea6 (click)="getCursorPosition(myTextArea6,'email_footer')" (keyup)="getCursorPosition(myTextArea6,'email_footer')" rows="4" [value]="footer" matInput formControlName="email_footer"></textarea>
                            </mat-form-field>
                          </div>
                          <div fxFlex="100" fxLayoutAlign="end center">
                            <button mat-raised-button color="primary" (click)="fnSubmit()">Submit</button>
                          </div>
                        </div>
                      </form>
                      <div class="right_box" fxFlex="35">
                          <label>Select Tags</label>
                          <div class="tag_box" >
                            <span (click)="fnSetTag('{{first_name}\}')">{{ "{{first_name}\} "}}</span><br>
                            <span (click)="fnSetTag('{{last_name}\}')">{{ "{{last_name}\} "}}</span><br>
                            <span (click)="fnSetTag('{{reset_link}\}')">{{ "{{reset_link}\} "}}</span>
                          </div>
                        </div>
                </mat-card-content>
            </mat-card>
          </div>
        </div>
        </div>