<div  class="signup-screen d-flex justify-content-center align-items-center"> 
	<div class="card-wrap col-lg-7 col-md-7 col-sm-9 col-xs-11">
		<mat-card class="example-card login-card p-0">
		<mat-card-content class="login-container row">
			<div id="login-form" class="left-side p-2 col-lg-12 col-md-12 col-sm-12 col-12 float-left justify-content-center align-items-center d-flex h-100">
				<form [formGroup]="loginForm" class="w-75">        
					<mat-card-title>
						<h2 class="text-center">Sign In</h2>
						<p class="text-center text-dark">Already have an account <a class="btn-link" routerLink="login">Login?</a></p>
					</mat-card-title>
					<div class="row">
						<div class="input-wrap col-12 col-lg-6 col-sm-12 float-left my-3">
							<input type="text" formControlName="fullname" placeholder="Full Name" class="common-input form-control" />
						</div>
						<div class="input-wrap col-12 col-lg-6 col-sm-12 float-left my-3">
							<input type="email" formControlName="email" placeholder="Email" class="common-input form-control" />
						</div>
						<div class="input-wrap col-12 col-lg-6 col-sm-12 float-left my-3">
							<input type="text" formControlName="phonenumber" placeholder="Phone Number" class="common-input form-control" />
						</div>
						<div class="input-wrap col-12 col-lg-6 col-sm-12 float-left my-3">
							<input type="password" formControlName="Password" placeholder="Password" class="common-input form-control" />
							<div mat-icon-button matSuffix  class="icon-cust-pass">
								<!-- <mat-icon  (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
							</div>
						</div>
						<div class="input-wrap col-12 col my-3 text-center">
							<!-- <button type="submit" color="primary" [disabled]="loading" (click)="onSubmit()" class="common-btn text-white buttion-but px-5" >
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 mt-butn "></span>
								Create Account
							</button> -->
						</div> 
					</div>
				<!-- Traslate -->
				</form>
			</div>
		<div class="or-option">or</div>
		<div id="login-with-social" class="right-side p-2 col-lg-12 col-md-12 col-sm-12 col-12  float-left">
			<div class="w-75 row login-with-social"> 
				<div class="col-12 col-lg-6">  
					<mat-card-title>
						<h2 class="text-center text-white">Sign Up</h2>
						<p class="text-center text-white">With one of your social <br/> account</p>
					</mat-card-title>
				</div>
				<div class="col-12 col-lg-6">  
					<div class="social-btns">
						<a class="social-login facebook" href="#"><i class="fa fa-facebook-f"></i></a>
						<a class="social-login google_plus" href="#"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
		</mat-card-content>
		</mat-card>
	</div>
</div>
      