.subscription-title {
    font-size: 35px;
}

.plan-content {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.plan-name {
    font-size: 24px;
}

.plan-cost .cost {
    font-size: 50px;
}

::ng-deep .card-form-wrap {
    .error-wrap {
        display: flex;
        margin-top: -17px;
    }
    input,
    select,
    mat-select {
        margin-bottom: 17px !important;
    }
}