<mat-sidenav-container class="tp-container">
    <mat-sidenav class="w-100" mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Appointment Details</p>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>


                <div class="modal-body">
                    <p class="mb-0 font-weight-bold"> {{detailData.booking_dateForLabel}}</p>
                    <p>Booked On: {{detailData.created_atForLabel}}</p>
                    <p class="mb-0">Service</p>
                    <!-- <p class="font-weight-bold">{{detailData.service.service_name}}($ {{detailData.service.service_cost}})</p> -->
                    <p class="font-weight-bold" *ngIf="currencySymbolPosition=='left'">{{detailData.service.service_name}}({{currencySymbol| currencySymbol:'wide'}} {{ detailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</p>
                    <p class="font-weight-bold" *ngIf="currencySymbolPosition=='right'">{{detailData.service.service_name}}({{ detailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}})</p>
                    <p class="mb-0">Time</p>
                    <p class="font-weight-bold">{{detailData.booking_timeForLabel}} - {{detailData.booking_time_to}} ({{detailData.service_time}}) Min</p>
                    <div class="d-flex">
                        <div class="pl-0">
                            <p class="mb-0">Order By</p>
                            <p class="font-weight-bold text-capitalize">{{detailData.order_by}}</p>
                        </div>
                        <div class="pl-5">
                            <p class="mb-0">Status</p>
                            <p class="font-weight-bold text-capitalize">Completed</p>
                        </div>
                    </div>
                    <!-- <div>
      <p class="mb-0">Staff</p>
      <div class="" *ngIf="detailData.staff_id != null">
        <p class="mb-0 font-weight-bold text-capitalize">{{detailData.staff.firstname}} {{detailData.staff.lastname}}</p>
        <p class="mb-0">Phone NO:{{detailData.staff.phone}}</p>
      </div>
    </div> -->
                </div>
                <mat-card class="card-body-marginn custom-box-shadow booking-detail-main mb-0">
                    <p class="text-left mb-1">Completed Details</p>
                    <p class="compdetailfs mb-0">Completed Date : {{detailData.updated_atDateForLabel}}</p>
                    <p class="compdetailfs mb-2">Completed Time : {{detailData.updated_atTimeForLabel}}</p>
                    <hr>
                    <div class="row align-items-center">
                        <p class="customer-profile-img">SP</p>
                        <div class="customer-name pr-3">
                            <p class="font-weight-bold mb-0">{{detailData.customer.fullname}}</p>
                            <p class="address-fontsize mb-0">{{detailData.customer.email}}</p>
                        </div>
                    </div>
                    <p class=" address-fontsize"><i class="fa fa-phone pl-1 pr-1 bluephone"></i>{{detailData.customer.phone}}</p>
                    <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pl-1 pr-1"></i>
                        {{detailData.orders_info ? detailData.orders_info.booking_address : ''}}</p>
                    <p class="pl-4 address-fontsize">
                        {{detailData.orders_info ? detailData.orders_info.booking_city : ''}},
                        {{detailData.orders_info ? detailData.orders_info.booking_state : ''}},
                        {{detailData.orders_info ? detailData.orders_info.booking_zipcode : ''}}
                    </p>
                    <div class="mt-2">
                        <p class="address-fontsize mb-0">Appointment Note</p>
                        <p class="address-fontsize " *ngIf="detailData.booking_notes != null">{{detailData.booking_notes}}</p>
                        <p class="address-fontsize " *ngIf="detailData.booking_notes == null">--</p>
                    </div>
                </mat-card>
                <div class="p-1-5 bottom-border">
                    <h6 class="font-weight-bold">Activity Log</h6>
                    <div *ngFor="let log of activityLog" class="mb-2">
                        {{log.created_at | date:'longDate'}} {{log.created_at | date:'shortTime'}} - {{log.status=='P'?'Pending':''}} {{log.status=='MOD'?'Modified':''}} {{log.status=='CNF'?'Confirm':''}} {{log.user_type=='A' && log.status=='CNF' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S'
                        && log.status=='CNF' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CNF' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='AC'?'Accepted':''}} {{log.user_type=='A' && log.status=='AC' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='AC' ? 'By
                        Staff': log.user_type=='C' && log.status=='AC' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='OW'?'On The Way':''}} {{log.status=='WS'?'Work Started':''}}
                        <!-- {{log.status=='RSA'?'Rescheduled By Admin':''}}
        {{log.status=='RSS'?'Rescheduled By Staff':''}}
        {{log.status=='RSC'?'Rescheduled By Client':''}} -->
                        {{log.status=='RSA' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSA' ? 'Rescheduled By '+ log.user.fullname +' (Admin)' :''}} {{log.status=='RSS' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSS' ? 'Rescheduled By '+ log.user.fullname +' (Staff)'
                        :''}} {{log.status=='RSC' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSC' ? 'Rescheduled By Client' :''}} {{log.status=='ITR'?'Intrupted':''}}
                        <!-- {{log.status=='C'?'Cancelled':''}}
        {{log.status=='CC'?'Cancelled By Client':''}} -->
                        {{log.status=='C' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='C' ? 'Cancelled' :''}} {{log.status=='CC' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='CC' ? 'Cancelled By Client' :''}} {{log.status=='R'?'Rejected':''}}
                        {{log.user_type=='A' && log.status=='R' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='R' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='R' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='CO'?'Completed':''}} {{log.user_type=='A' && log.status=='CO'
                        ? 'By Admin' : log.user_type=='S' && log.status=='CO' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CO' ? 'By '+ log.user.fullname +' (User)' : ''}}

                        <p *ngIf="log.notes">
                            <b>Note: </b> {{log.notes}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>