<div class="modal-dialog modal-notify modal-info" role="document">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/step-loader.gif" /></div>
    <div class="modal-content ">
        <div class="modal-header modal-bcolor-primary">
            <p class="heading lead  work-content">New Appointment</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onNoClick()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
        </div>
        <div class="modal-body" *ngIf="!secondStep">
            <form [formGroup]="formAddNewAppointmentStaffStep1">
                <!-- <label class="mb-0">Customer Full Name</label>
           <div class="input-group mb-2">
             <div class="input-group-prepend">
                    <div class="input-group-text"><i class="material-icons">person_outline
                    </i>
                    </div>
                 </div> -->

                <div>
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Customer Full Name</mat-label>
                        <mat-icon matPrefix><i class="material-icons">person_outline</i></mat-icon>
                        <input matInput formControlName="customerFullName" placeholder="Enter Customer Name">
                    </mat-form-field>
                    <!-- <input type="text" formControlName="customerFullName" class="form-control formcontrol" placeholder="Enter Customer Name"> -->
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerFullName').dirty || formAddNewAppointmentStaffStep1.get('customerFullName').touched || formSubmitclicked">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerFullName').hasError('required')" class="error">Fullname is required</small>
                    </span>
                </div>


                <!-- <label class="mb-0">Customer Email</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope-o"></i>
                            </div>
                        </div> -->
                <div>
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Customer Email</mat-label>
                        <mat-icon matPrefix><i class="fa fa-envelope-o"></i></mat-icon>
                        <input matInput formControlName="customerEmail" placeholder="Enter Customer Email">
                    </mat-form-field>
                    <!-- <input type="email" formControlName="customerEmail" class="form-control formcontrol" placeholder="Enter Customer Email"> -->
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').dirty || formAddNewAppointmentStaffStep1.get('customerEmail').touched || formSubmitclicked">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('required')" class="error">Email is required</small><small *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('email') || formAddNewAppointmentStaffStep1.get('customerEmail').hasError('pattern')" class="error">Enter a valid email</small>
                        <small class="error" *ngIf="formAddNewAppointmentStaffStep1.get('customerEmail').hasError('isEmailUnique')">Email already in use</small>
                    </span>
                </div>

                <!-- <label class="mb-0">Customer Contact Number</label>
           <div class="input-group mb-2">
             <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-phone"></i>
                    </div>
                 </div> -->
                <div>
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Customer Contact Number</mat-label>
                        <mat-icon matPrefix><i class="fa fa-phone"></i></mat-icon>
                        <input type="text" matInput formControlName="customerPhone" placeholder="Enter Customer Contact Number" (keypress)="numberOnly($event)">
                    </mat-form-field>

                    <!-- <input type="text" formControlName="customerPhone" class="form-control formcontrol" placeholder="Enter Customer Phone Number"> -->
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').dirty || formAddNewAppointmentStaffStep1.get('customerPhone').touched || formSubmitclicked">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').hasError('required')" class="error">Phone is required</small><small *ngIf=" formAddNewAppointmentStaffStep1.get('customerPhone').hasError('pattern')" class="error">Enter a valid phone</small>
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPhone').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerPhone').hasError('maxlength')" class="error">Phone number should be 10 digits long</small>
                    </span>
                </div>

                <!-- <label class="mb-0">Customer Address</label> -->
                <div>
                    <!-- <div class="input-group mb-3"> -->
                    <!-- <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-map-marker" ></i>
                    </div>
                 </div>
            <input type="email" formControlName="customerAddress" class="form-control formcontrol" placeholder="Enter Customer Address"> -->
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Customer Address</mat-label>
                        <mat-icon matPrefix><i class="fa fa-map-marker"></i></mat-icon>
                        <input matInput formControlName="customerAddress">


                    </mat-form-field>
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerAddress').dirty || formAddNewAppointmentStaffStep1.get('customerAddress').touched || formSubmitclicked">
                        <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAddress').hasError('required')" class="error">Customer address is required</small>
                    </span>
                </div>

                <div class="form-group row mt-3 bottom-border-field">
                    <div class="col-4">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>State</mat-label>
                                <input matInput formControlName="customerState" placeholder="State">
                            </mat-form-field>
                            <!-- <input type="text" formControlName="customerState" class="form-control" placeholder="State"> -->
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerState').dirty || formAddNewAppointmentStaffStep1.get('customerState').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerState').hasError('required')" class="error">State is required</small>
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input matInput formControlName="customerCity" placeholder="City">
                            </mat-form-field>
                            <!-- <input type="text" formControlName="customerCity" class="form-control" placeholder="City"> -->
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerCity').dirty || formAddNewAppointmentStaffStep1.get('customerCity').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerCity').hasError('required')" class="error">City is required</small>
                            </span>
                        </div>
                    </div>

                    <div class="col-4 ">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>Zip Code</mat-label>
                                <input matInput formControlName="customerPostalCode" placeholder="Zip Code">
                            </mat-form-field>
                            <!-- <input type="text" formControlName="customerPostalCode" class="form-control" placeholder="Postal Code"> -->
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').dirty || formAddNewAppointmentStaffStep1.get('customerPostalCode').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').hasError('required')" class="error">Postal code is required</small>
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerPostalCode').hasError('pattern')" class="error">Enter a valid postal code</small>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 text-center mt-4"><h6>Appointment Address</h6></div>
                <div class="col-12 text-center"><input type="checkbox" [checked]= "is_checked" (change)="sameAddress($event)"/><label> &nbsp;&nbsp; Same as above</label></div>

                <mat-form-field class="form-group  bottom-border-field">
                    <mat-label>Address</mat-label>
                    <mat-icon matPrefix><i class="fa fa-map-marker"></i></mat-icon>
                    <input matInput formControlName="customerAppoAddress" placeholder="Enter Customer Address">
                </mat-form-field>
                <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoAddress').dirty || formAddNewAppointmentStaffStep1.get('customerAppoAddress').touched || formSubmitclicked">
                    <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoAddress').hasError('required')" class="error">Customer  address is required</small>
                </span>

                <div class="form-group row mt-3 bottom-border-field">
                    <div class="col-4">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>State</mat-label>
                                <input matInput formControlName="customerAppoState" placeholder="State">
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoState').dirty || formAddNewAppointmentStaffStep1.get('customerAppoState').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoState').hasError('required')" class="error"> State  is required</small>
                            </span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input matInput formControlName="customerAppoCity" placeholder="City">
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoCity').dirty || formAddNewAppointmentStaffStep1.get('customerAppoCity').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoCity').hasError('required')" class="error"> City  is required</small>
                            </span>
                        </div>
                    </div>

                    <div class="col-4 ">
                        <div class="input-group">
                            <mat-form-field>
                                <mat-label>Postal Code</mat-label>
                                <input matInput formControlName="customerAppoPostalCode" placeholder="Postal Code">
                            </mat-form-field>
                            <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').dirty || formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').touched || formSubmitclicked">
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('required')" class="error"> Postal code is required</small>
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('pattern')" class="error"> Enter a valid postal code</small>
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('minlength') || formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('maxlength')" class="error">Postal code should be 6 digit</small>
                                <small *ngIf="formAddNewAppointmentStaffStep1.get('customerAppoPostalCode').hasError('isPostalcodeValid')" class="error">We do not provide service at this location</small>
                            </span>
                        </div>
                    </div> 
                </div>
                
                <button class="d-block btn btn-primary addbtn" (click)="fnNewAppointmentStep1()">Next</button>
            </form>
        </div>


        <div class="modal-body" *ngIf="secondStep">
            <form [formGroup]="formAddNewAppointmentStaffStep2">
                <div class="row">
                    <div class="col-6">
                        <label class="mb-0">Category</label>
                        <mat-select [(value)]="selectedCatId" (selectionChange)="fnSelectCat($event.value)" class="form-control formcontrol" formControlName="customerCategory">
                            <mat-option *ngFor="let cat of catdata" value="{{cat.id}}">{{cat.category_title}}</mat-option>
                            <mat-option *ngIf="catdata && catdata.length==0" disabled>No Category Available</mat-option>
                        </mat-select>
                        <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerCategory').dirty || formAddNewAppointmentStaffStep2.get('customerCategory').touched || formSubmitclicked">
          <small *ngIf="formAddNewAppointmentStaffStep2.get('customerCategory').hasError('required')" class="error">Category is required</small>
          </span>

                    </div>
                    <div class="col-6 mb-3" *ngIf="showSubCatDropDown">
                        <label class="mb-0">Sub Category</label>
                        <mat-select class="form-control formcontrol" [(value)]="selectedSubCatId" (selectionChange)="fnSelectSubCat($event.value)" formControlName="customerSubCategory">
                            <mat-option *ngFor="let subcat of subcatdata" value="{{subcat.id}}">{{subcat.sub_category_name}}</mat-option>
                            <mat-option *ngIf="subcatdata.length==0" disabled>No Sub-Category Available</mat-option>
                        </mat-select>
                        <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerSubCategory').dirty || formAddNewAppointmentStaffStep2.get('customerSubCategory').touched || formSubmitclicked">
              <small *ngIf="formAddNewAppointmentStaffStep2.get('customerSubCategory').hasError('required')" class="error">Subcategory is required</small>
            </span>
                    </div>

                    <div [ngClass]="showSubCatDropDown?'col-12 mb-3':'col-6 mb-3'">
                        <label class="mb-0">Service</label>
                        <mat-select class="form-control formcontrol" [(value)]="selectedServiceId" (selectionChange)="fnSelectService($event.value)" formControlName="customerService">
                            <mat-option *ngFor="let service of serviceData" value="{{service.id}}">{{service.service_name}}</mat-option>
                            <mat-option *ngIf="serviceData.length==0" disabled>No Service Available</mat-option>
                        </mat-select>
                        <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerService').dirty || formAddNewAppointmentStaffStep2.get('customerService').touched || formSubmitclicked">

              <small *ngIf="formAddNewAppointmentStaffStep2.get('customerService').hasError('required')" class="error">Service is required</small>
            </span>
                    </div>
                </div>


                <label class="mb-0">Select Date</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <!-- <input type="date" class="form-control formcontrol"> -->
                    <input mat-input [min]="minDate" [max]="maxDate" [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date" class="form-control formcontrol" (click)="picker.open()" (dateChange)="fnDateChange($event)" formControlName="customerDate" readonly>
                    <mat-datepicker #picker></mat-datepicker>
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerDate').dirty || formAddNewAppointmentStaffStep2.get('customerDate').touched || formSubmitclicked">
              <small *ngIf="formAddNewAppointmentStaffStep2.get('customerDate').hasError('required')" class="error">Date is required</small>
            </span>
                </div>


                <label class="mb-0">Select Time</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-clock-o"></i>
                        </div>
                    </div>
                    <!-- <input type="time" class="form-control formcontrol"> -->
                    <mat-select class="form-control formcontrol" [disabled]="" formControlName="customerTime" (selectionChange)="fnSelectTime($event.value)">
                        <!-- <mat-option>None</mat-option> -->
                        <mat-option *ngFor="let slot of timeSlotArr; let i=index;" value="{{slot}}">{{timeSlotArrForLabel[i]}}</mat-option>
                        <mat-option *ngIf="timeSlotArr.length==0" disabled>No Time Slot Available</mat-option>
                    </mat-select>
                    <span class="error-wrap" *ngIf="formAddNewAppointmentStaffStep2.get('customerTime').dirty || formAddNewAppointmentStaffStep2.get('customerTime').touched || formSubmitclicked">

              <small *ngIf="formAddNewAppointmentStaffStep2.get('customerTime').hasError('required')" class="error">Time is required</small>
            </span>
                </div>
                <button class="d-block btn btn-primary addbtn ml-2" (click)="fnNewAppointmentStep2()">Create</button>
                <button class="d-block btn btn-secondary addbtn float-right" (click)="onBackClick()">Back</button>
            </form>
        </div>
    </div>
</div>