<mat-sidenav-container class = "tp-container">
   <mat-sidenav class="w-100" mode = "side" opened>
<div class="modal-dialog mt-0 mb-0" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Appointment Details</h5>
        <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex m-2">
      <button class="d-block btn btn-danger rejectbtn " (click)="changeBookingStatus(detailData.id, 'R')">Reject</button>
       <button class="d-block btn btn-primary acceptbtn " (click)="changeBookingStatus(detailData.id, 'AC')">Accept</button>
    </div>

    <div class="modal-body modal-bcolor">
      
      <p class="mb-0 font-weight-bold"> {{detailData.booking_dateForLabel}}</p>
      <p>Booked On: {{detailData.created_atForLabel}}</p>

      <p class="mb-0">Service</p>
      <!-- <p class="font-weight-bold">{{detailData.service.service_name}}($ {{detailData.service.service_cost}})</p> -->
      <p class="font-weight-bold" *ngIf="currencySymbolPosition=='left'">{{detailData.service.service_name}}({{currencySymbol| currencySymbol:'wide'}} {{ detailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</p>
      <p class="font-weight-bold" *ngIf="currencySymbolPosition=='right'">{{detailData.service.service_name}}({{ detailData.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}})</p>
      <p class="mb-0">Time</p>
      <p class="font-weight-bold">{{detailData.booking_timeForLabel}} - {{detailData.booking_time_to}} ({{detailData.service_time}})</p>
     
    <div class="d-flex">
      <div class="pl-0">
        <p class="mb-0">Order By</p>
        <p class="font-weight-bold text-capitalize">{{detailData.order_by}}</p>
      </div>
      <div class="pl-5">  
        <p class="mb-0">Status</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'P'">Waiting For Confirmation</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'AC'">Confirm</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'RSA'">Rescheduled By Admin</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'RSS'">Rescheduled</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'RSC'">Rescheduled By Customer</p>
        <p class="text-capitalize" *ngIf="detailData.order_status == 'R'">Rejected</p>
      </div>
    </div>
     </div>    
     <mat-card class="card-body-marginn booking-detail-main mb-0">
       <h6 class="text-left mb-3">Booking Details</h6>
       <div class="row align-items-center">
        <p class="customer-profile-img">SP</p>
        <div class="customer-name pr-3">
          <p class="font-weight-bold mb-0">{{detailData.customer.fullname}}</p>
          <p class="address-fontsize mb-0">{{detailData.customer.email}}</p>
        </div>
      </div>
        <p class="address-fontsize"><i class="fa fa-phone pr-3 bluephone"></i>{{detailData.customer.phone}}</p>
        <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>{{detailData.customer.address}}</p>
        <p class="pl-4 address-fontsize">{{detailData.customer.city}}, {{detailData.customer.state}}, {{detailData.customer.zip}}</p>
        <p>Appointment Notes</p>
        <p>{{detailData.booking_notes}}</p>
    </mat-card>
      <div  class="pl-4 pt-2 bottom-border">
      <h6>Activity Log</h6>
      <div *ngFor="let log of activityLog">{{log.created_at | date:'longDate'}} {{log.created_at | date:'shortTime'}} - {{log.status=='P'?'Pending':''}}{{log.status=='CNF'?'Confirm':''}}{{log.status=='AC'?'Accepted':''}}{{log.status=='OW'?'On The Way':''}}{{log.status=='WS'?'Work Started':''}}{{log.status=='RSA'?'Rescheduled By Admin':''}}{{log.status=='RSS'?'Rescheduled By Staff':''}}{{log.status=='RSC'?'Rescheduled By Client':''}}{{log.status=='ITR'?'Intrupted':''}}{{log.status=='C'?'Cancelled':''}}{{log.status=='CC'?'Cancelled By Client':''}}{{log.status=='R'?'Rejected':''}}{{log.status=='CO'?'Completed':''}}</div>
      </div>
    </div>
  </div>
</mat-sidenav>
</mat-sidenav-container>
