<mat-sidenav-container class="tp-container">
    <div class="loader-main" *ngIf="isLoader">
        <img src="../../../assets/images/sc-loader.svg" /></div>
    <mat-sidenav class="w-100" mode="side" opened>
        <div class="modal-dialog mt-0 mb-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Appointment Details</p>
                    <button type="button" (click)="onNoClick()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>

                <div class="modal-body">

                    <p class="mb-0 font-weight-bold"> {{appoDetail.booking_date}}
                        <span class="order-id">(Order Id: {{appoDetail.id}})</span>
                    </p>
                    <p>Booked On: {{appoDetail.created_at}}</p>

                    <p class="mb-0">Service</p>
                    <!-- <p class="font-weight-bold">{{appoDetail.service.service_name}}($ {{appoDetail.service.service_cost}})</p> -->
                    <p class="font-weight-bold" *ngIf="currencySymbolPosition=='left'">{{appoDetail.service.service_name}}({{currencySymbol| currencySymbol:'wide'}} {{ appoDetail.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }})</p>
                    <p class="font-weight-bold" *ngIf="currencySymbolPosition=='right'">{{appoDetail.service.service_name}}({{ appoDetail.service.service_cost | currency:selectedCurrency:'':'1.2-2':currencySymbolFormat }} {{currencySymbol| currencySymbol:'wide'}})</p>
                    
                    <p class="mb-0" *ngIf="appoDetail.service.service_type=='online'">ID</p>
                    <p class="font-weight-bold" *ngIf="appoDetail.service.service_type=='online'">{{appoDetail.service.service_sub_type}} - {{appoDetail.service.service_sub_type_value}}</p>

                    <p class="mb-0">Time</p>
                    <p class="font-weight-bold">{{appoDetail.booking_time}} - {{appoDetail.booking_time_to}} ({{appoDetail.service.service_time}} Min)</p>

                    <div class="d-flex">
                        <div class="pl-0">
                            <p class="mb-0">Order By</p>
                            <p class="font-weight-bold text-capitalize">{{appoDetail.order_by == 'self' ?'Customer':appoDetail.order_by}}</p>
                        </div>
                        <div class="pl-5">
                            <p class="mb-0">Status</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'P'">Waiting For Confirmation</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'AC'">Confirm</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'RSA'">Rescheduled By Admin</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'RSS'">Rescheduled</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'RSC'">Rescheduled By Customer</p>
                            <p class="text-capitalize" *ngIf="appoDetail.order_status == 'R'">Rejected</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0 mx-3 border-color-wrap">
                <mat-card class="card-body-marginn custom-box-shadow booking-detail-main mb-0">
                    <h6 class="text-left mb-3">Booking Details</h6>
                    <div class="row align-items-center">
                        <p class="customer-profile-img">SP</p>
                        <div class="customer-name pr-3">
                            <p class="font-weight-bold mb-0">{{appoDetail.customer.fullname}}</p>
                            <p class="address-fontsize mb-0">{{appoDetail.customer.email}}</p>
                        </div>
                    </div>
                    <p class=" address-fontsize"><i class="fa fa-phone pl-1 pr-1 bluephone"></i>{{appoDetail.customer.phone}}</p>

                    <p class="mb-0 address-fontsize">
                        <i class="fa fa-map-marker bluemap pl-1 pr-1"></i> {{appoDetail.orders_info ? appoDetail.orders_info.booking_address : ''}}
                    </p>

                    <p class="pl-4 address-fontsize">
                        {{appoDetail.orders_info ? appoDetail.orders_info.booking_city : ''}}, {{appoDetail.orders_info ? appoDetail.orders_info.booking_state : ''}}, {{appoDetail.orders_info ? appoDetail.orders_info.booking_zipcode : ''}}
                    </p>

                    <!-- <p class="mb-0 address-fontsize"><i class="fa fa-map-marker bluemap pr-3"></i>{{appoDetail.customer.address}}</p>
        <p class="pl-4 address-fontsize">{{appoDetail.customer.city}}, {{appoDetail.customer.state}}, {{appoDetail.customer.zip}}</p> -->

                    <p>Appointment Notes</p>
                    <p>{{appoDetail.booking_notes}}</p>
                </mat-card>
                <div class="p-1-5 bottom-border">
                    <h6>Activity Log</h6>
                    <div *ngFor="let log of activityLog" class="mb-4">
                        {{log.created_at | date:'longDate'}} {{log.created_at | date:'shortTime'}} - {{log.status=='P'?'Pending':''}} {{log.status=='MOD'?'Modified':''}} {{log.status=='CNF'?'Confirm':''}} {{log.user_type=='A' && log.status=='CNF' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='CNF' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CNF' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='AC'?'Accepted':''}} {{log.user_type=='A' && log.status=='AC' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='AC' ? 'By  Staff': log.user_type=='C' && log.status=='AC' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='OW'?'On The Way':''}} {{log.status=='WS'?'Work Started':''}}
                        {{log.status=='RSA' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSA' ? 'Rescheduled By '+ log.user.fullname +' (Admin)' :''}} {{log.status=='RSS' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSS' ? 'Rescheduled By '+ log.user.fullname +' (Staff)' :''}} {{log.status=='RSC' && log.customer ? 'Rescheduled By '+ log.customer.fullname : log.status=='RSC' ? 'Rescheduled By Client' :''}} {{log.status=='ITR'?'Intrupted':''}}
                        {{log.status=='C' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='C' ? 'Cancelled' :''}} {{log.status=='CC' && log.customer ? 'Cancelled By '+ log.customer.fullname : log.status=='CC' ? 'Cancelled By Client' :''}} {{log.status=='R'?'Rejected':''}}
                        {{log.user_type=='A' && log.status=='R' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='R' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='R' ? 'By '+ log.user.fullname +' (User)' : ''}} {{log.status=='CO'?'Completed':''}} {{log.user_type=='A' && log.status=='CO' ? 'By '+ log.user.fullname +' (Admin)' : log.user_type=='S' && log.status=='CO' ? 'By '+ log.user.fullname +' (Staff)': log.user_type=='C' && log.status=='CO' ? 'By '+ log.user.fullname +' (User)' : ''}}
                        {{log.user_type=='S' && log.status=='GL' ? 'Getting Late By '+ log.user.fullname +' (Staff)': ''}}
                        {{log.status=='GL'?'(Late Time : '+appoDetail.gl_time+' Mins)':''}}
                        <p *ngIf="log.notes">
                            <b>Note: </b> {{log.notes}}
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>