.container-fluid{
    padding-top: 30px;
    width: 1276px;
}

h4{
    text-align: left;
}

button{
    margin-right: 15px;
    border-radius: 20px;
}

.btn-primary{
    color: #0000ffa6;
    background-color: #007bff54;
    border-color: #007bff54;
}

.input-group-text{
    border-radius: 20% 0 0 20% !important;
}