<div id="Main">
    <div class="container-fluid pl-0 custom-padding-wrap">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pr-0 left-img-wrap">
                <div class="left-col-image-wrap">
                    <img src="../../assets/images/login-banner.svg" c   lass="img-fluid w-100" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12 pl-0 custom-wrap-center right-content-col">
                <div class="right-col-wrap">
                    <div class="logo-wrap">
                        <img src="../../assets/images/logo-black.svg" alt="logo">
                    </div>
                    <div class="heading-text-wrap">
                        <h4>Forgot your password?</h4>
                        <p>We'll email you a password reset link with instructions.</p>
                        <p>Return to <a (click)="login()">Sign In</a></p>
                    </div>
                    <div class="form-field-main">
                        <form [formGroup]="forgotForm">
                            <div class="input-group-meta mt-4 mb-2">
                                <label>Email</label>
                                <input formControlName="email" placeholder="Enter your email address" type="text"
                                    class="ng-untouched input-wrap ng-pristine ng-invalid">
                                <span *ngIf="!forgotForm.get('email').hasError('required') && !forgotForm.get('email').hasError('pattern')" class="placeholder_icon valid-sign"><img alt="" src="../../assets/images/Path.png"></span>
                                <span class="error-wrap" *ngIf="forgotForm.get('email').dirty || forgotForm.get('email').touched"><small *ngIf="forgotForm.get('email').hasError('required')" class="error">Email is required.</small><small *ngIf="forgotForm.get('email').hasError('pattern')" class="error">Invalid email address.</small></span>
                            </div>
                            <div class="sign-btn">
                                <button mat-button color="primary" (click)="forgotPwdSubmit()">Send Email</button>
                            </div>
                        </form>
                    </div>
                    <div class="copyright-text">
                        <p>© Copyright 2021 Schedulic. A Product of Weberr Technologies Inc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>