@import "variables";
.main-getting-content {
    margin: 30px;
}

.appearance-save-btn {
    width: 110px;
    height: 39px;
    margin: 30px;
    // background-color: #1173f4;
    background-color: #f04589;
    color: white;
}

.image-upload-btn {
    background-color: #ffe482;
    color: #000;
}

.widget-image-preview {
    margin: 0 30px;
    img {
        width: 250px;
        height: auto;
    }
}

.card-content {
    margin: 0px 30px 0px 30px;
    background-color: #edf4fe;
    display: flex;
    box-shadow: unset !important;
    align-items: center;
    padding: 0px 19px !important;
    font-size: 14px;
}

.contact-field-toggle {
    float: right;
}

.colorpicker-wrap {
    margin-left: auto;
}

.custom-content-wrap {
    h6 {
        font-size: 14px;
        color: #000;
        margin-bottom: 17px;
    }
}
::ng-deep .form-setting-list {
    padding: 16px 4px;
    .common-check-wrap {
        border: 1px solid #00a89b;
        border-radius: 4px;
        padding: 12px 20px;
        .round {
            border-bottom: 1px solid #00a89b4d;
            padding-bottom: 12px;
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;
            .check-label {
                margin-bottom: 0px;
            }
        }
        .mat-checkbox {
            .mat-checkbox-layout {
                flex-direction: row-reverse;
                width: 100%;
                margin-bottom: 0px;
            }
        }
    }
}

.custom-check-box {
    padding: 4px 10px;
    //border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    // &.header-background{
    //     //background-color: #f7f7f7;
    // }
    .checked {
        background-color: $btnlightblue;
        height: 35px;
        width: 120px;
        border-radius: 50px;
        padding: 5px 0 5px 8px;
    }
    .round {
        position: relative;
    }
    .round label {
        background-color: #ffffff;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 27px;
        left: 0;
        position: absolute;
        top: 0;
        width: 29px;
        margin: 4px;
    }
    .round label:after {
        border: 2px solid #1172f4;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;
        transform: rotate(-45deg);
        width: 12px;
    }
    .round input[type="checkbox"] {
        visibility: hidden;
    }
    .round input[type="checkbox"]:checked + label {
        background-color: #fff;
        border-color: #fff;
    }
    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
    .check-label {
        float: left;
        text-indent: 30px;
        padding: 0 6px;
        color: #1173f4;
    }
}

.save-btn {
    width: 100px;
    height: 34px;
    border-radius: 50px;
    background-color: #3ab54a;
    color: white;
}

.form-save-btn {
    width: 100px;
    height: 39px;
    margin: 30px;
    background-color: #1173f4;
    color: white;
    float: right;
}

.common-form-setting-wrap {
    margin: 26px;
    box-shadow: unset !important;
    background-color: #eaf7f6;
    padding: 25px;
    .top-heading-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #00a89b40;
        padding-bottom: 32px;
        margin-bottom: 14px;
        h5 {
            font-size: 16px;
            color: #000;
            margin-bottom: 4px;
        }
        p {
            font-size: 15px;
            color: #777;
            margin-bottom: 0px;
        }
    }
}
.color_box {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.form_field_checkbox {
    ::ng-deep .mat-checkbox-layout {
        background-color: #ffffff;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 27px;
        left: 0;
        position: absolute;
        top: 0;
        width: 29px;
        margin: 4px;
        .mat-checkbox-frame {
            border: 0;
        }
        .mat-checkbox-inner-container {
            height: 100%;
            width: 100%;
        }
        svg {
            path {
                stroke: #00a89b !important;
            }
        }
        .mat-checkbox-background {
            background-color: transparent;
        }
    }
}

.content-btn-links-wrap {
    box-shadow: unset !important;
    background-color: transparent !important;
    margin: 15px;
    .bg-wrap {
        background-color: #edf4fe;
    }
}
.service-boking-text-wrap{
    box-shadow: unset!important;
    padding: 0px 30px;
    .bg-wrap{
        background-color: #eaf7f6;
        padding: 20px 30px!important;
        h5{
           font-size: 16px;
           color: #0e0e0e;
        }
        p{
            font-size: 14px;
            color: #565657;
        }
    }
}
#appearance {
    .setting-right-side-content {
        .save-cencel-footer {
            padding: 0;
            position: fixed;
            bottom: 0;
            width: calc(100% - 300px);
            margin: 0;
            box-shadow: 0 3px 17px rgb(0 168 155 / 25%), 0 4px 5px 0 rgb(0 168 155 / 25%) !important;
            right: 0;
            .save-footer-btn {
                display: flex;
                justify-content: flex-end;
            }
        }
        &.short-content-area {
            .save-cencel-footer {
                width: calc(100% - 70px);
            }
        }
    }
}

.theme-div {
    height: 150px;
    border-radius: 5px;
    background-image: url("../../../../assets/images/admin/theme1.png");
    background-size: cover;
    background-position: center;
    &.theme-1 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme1.png");
    }
    &.theme-2 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme2.png");
    }
    &.theme-3 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme3.png");
    }
    &.theme-4 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme4.png");
    }
    &.theme-5 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme5.png");
    }
    &.theme-6 {
        background-image: url("../../../../assets/images/admin/appearance-theme/theme6.png");
    }
}

.theme-active {
    border: 5px solid #00a89b;
    position: relative;
    .check-icon {
        position: absolute;
        left: 0;
        top: 0;
        display: block !important;
        background-color: #00a89b;
        width: 25px;
        height: 25px;
        border-radius: 0 0 5px;
        mat-icon {
            color: #fff;
            font-size: 22px;
        }
    }
}

.checkbox {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #00a89b;
}

.theme-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.theme-div:hover .theme-btn-div {
    display: block;
}

.theme-btn-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.theme-btn-sub-div {
    width: 70%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.theme-btn-sub-div button {
    width: 100%;
    border-radius: 30px;
}

.preview-color {
    background-color: olive;
    color: #fff;
}

.set-default-color {
    background-color: #003cff;
    color: #fff;
}

.btn-editlink {
    background-color: #f04589;
    color: #fff;
}

.service-booking-link-active {
    background-color: #ffe482;
    color: #000;
}

.html-btn-title {
    background-color: #f6f6f6;
}

.service-booking-link {
    background-color: #e1e1e1;
    color: #000000;
}

.btn-color-dummy {
    text-decoration: underline;
    color: #00a89b;
}

.btn-color-one {
    background-color: #003cff;
    color: #fff;
}

.btn-color-two {
    background-color: #008aff;
    color: #fff;
}

.btn-color-three {
    background-color: #009315;
    color: #fff;
}

.btn-color-four {
    background-color: #ffa800;
    color: #fff;
}

.btn-color-five {
    background-color: #ff008a;
    color: #fff;
}

.btn-color-six {
    background-color: #8a00ff;
    color: #fff;
}

.btn-color-seven {
    background-color: #ff0000;
    color: #fff;
}

.btn-color-eight {
    background-color: #000000;
    color: #fff;
}

.btn-color-nine {
    background-color: #666666;
    color: #fff;
}

.btn-color-ten {
    background-color: #fdfdfd;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
}

#preview_container {
    font-family: $selected-font-family;
    .datepicker-main {
        background: $primary-gradient-color;
        ::ng-deep .ngbpicker {
            .btn-light.ng-star-inserted {
                color: $text-bg;
            }
            .btn-light.ng-star-inserted:focus {
                color: $text-bg;
            }
            .btn-light.text-muted.outside.ng-star-inserted {
                color: $text-bg;
            }
            .ngb-dp-weekday.small.ng-star-inserted {
                color: $text-bg;
            }
            span.ngb-dp-navigation-chevron {
                color: $text-bg;
            }
            .ngb-dp-month-name.ng-star-inserted {
                color: $text-bg;
            }
            select.custom-select {
                color: $text-bg;
            }
            // .btn-light:not(:disabled):not(.disabled).active {}
        }
    }
    @media only screen and (max-width: 600px) {
        .datepicker-main {
            overflow-x: scroll;
        }
    }

    .timing {
        display: inline-block;
    }
    @media only screen and (max-width: 600px) {
        .slot-list {
            align-items: center;
            text-align: center;
        }
    }
}

.cart-btn {
    width: 45px;
    height: 45px;
    background: $primary-gradient-color;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 14px -2px #3969fb;
    position: absolute;
    top: calc(99% - 60px);
    z-index: 0;
    right: 20px;
    i {
        font-size: 23px;
        color: $text-bg;
        line-height: 2.1;
    }
}

.appearance-tabs-group {
    height: calc(100vh - 120px);
}

// @media only screen and (max-width: 1024px){
::ng-deep .datepicker-main {
    .ngbpicker {
        margin-top: 20px !important;
    }
    .ngb-dp-weekday {
        margin: 5px 5px !important;
    }
    .ngbpicker .ngb-dp-day {
        margin: 5px 5px !important;
    }
}

// }

.profile-img-wrap {
    border-radius: 100%;
    height: 120px;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;
    &:hover .camera-alt {
        transition: 0.3s all;
        display: flex;
    }
    .customer-profile-img {
        width: 100%;
        height: 100%;
    }
    .camera-alt {
        display: none;
        position: absolute;
        top: 0;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        background-color: #00000070;
        justify-content: center;
        align-items: center;
        i {
            font-size: 45px;
            width: auto;
            color: #ffffff;
        }
    }
}

::ng-deep .upload-preview-img {
    max-width: 200px;
    margin: 0 auto;
    display: table;
}

/* Image Upload Dialog */

::ng-deep .modal-info {
    margin: 0 !important;
    .modal-bcolor-primary {
        background-color: #d9f0fe;
        padding-bottom: 0px;
        .header-margins {
            padding: 0;
        }
    }
    ::ng-deep .modal-body {
        .work-content {
            text-align: center;
            padding-left: 10px;
            .form-control {
                padding-bottom: 11px;
                padding-top: 11px;
                height: 31px;
            }
        }
    }
}

::ng-deep .mat-dialog-container {
    padding: 0 !important;
}

::ng-deep .theame-modal {
    position: relative;
    .close-theame {
        display: flex;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0;
        background-color: #fff;
        border-radius: 50%;
        opacity: 1;
        margin: 10px 14px;
        align-items: center;
        justify-content: center;
        .material-icons-outlined {
            font-size: 22px;
        }
    }
}

.appearance-wrap {
    padding: 20px 30px;
    .left-side {
        background-color: #eaf7f6;
        border-radius: 5px;
        padding: 20px 30px;
        .color-field {
            border-bottom: 1px solid rgba(0, 168, 155, 0.23);
            padding: 15px 0;
            align-items: center;
            label {
                color: #0e0e0e;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
    .right-side {
        padding-left: 30px;
        .main-datetime-selection {
            box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
            .timeslot-main {
                .top-back-btn {
                    background-color: #e0e0e0;
                    width: 40px;
                    height: 40px;
                    ::ng-deep .mat-button-wrapper {
                        padding: 0;
                    }
                }
                .selected-date {
                    text-align: center;
                    margin: 15px;
                    font-size: $fs-26;
                    font-weight: $fw-400;
                }
                .slot-list {
                    margin: 10px auto;
                    display: table;
                    input[type="radio"] {
                        display: none;
                    }
                    input[type="radio"]:checked + .single-slot {
                        background: $primary-gradient-color;
                        color: $text-bg;
                        border-color: $front-primary-color;
                    }
                    .single-slot {
                        border: 2px solid $grey-3;
                        padding: 20px;
                        font-size: $fs-18;
                        color: $secondary-color;
                        text-align: center;
                        line-height: 1;
                        width: 130px;
                        margin: 7px;
                        cursor: pointer;
                        border-radius: 8px;
                    }
                }
                .next-action {
                    margin: 15px;
                    text-align: center;
                    .continue-btn {
                        font-size: $fs-16;
                        background-color: $grey-3;
                        padding: 6px 25px;
                        margin: 10px;
                        color: $text-color;
                    }
                }
            }
        }
    }
}
