<mat-drawer-content id="appearance" class="ml-0">
    <div class="loader-main" *ngIf="isLoaderAdmin"><img src="../../../assets/images/sc-loader.svg" /></div>
    <div class="left-side-menu setting-menu" [ngClass]="{ 'short-menu': settingSideMenuToggle === true }">
        <div class="leftarrow-icon d-flex align-items-center">
            <h6 class="mb-0">Resource Management</h6>
            <span (click)="fnSettingMenuToggleSmall()" *ngIf="!settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer material-icons-outlined">arrow_circle_left</span>
            <span (click)="fnSettingMenuToggleLarge()" *ngIf="settingSideMenuToggle" class="customer-drawer-leftarrow ml-auto pointer material-icons-outlined">arrow_circle_right</span>
        </div>
        <div routerLink="/admin/settings-resource" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/service.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/service-active.svg" />
            </div>
            <p>Services</p>
        </div>
        <div routerLink="/admin/settings-resource/staff" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/staff.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/staff-active.svg" />
            </div>
            <p>Staff</p>
        </div>
        <div routerLink="/admin/settings-resource/business-hours" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-hours.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-hours-active.svg" />
            </div>
            <p>Business Hours</p>
        </div>
        <div routerLink="/admin/settings-resource/postalcode" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/postal-code.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/postal-code-active.svg" />
            </div>
            <p>Postal Codes</p>
        </div>
        <h6 class="pt-3">Account</h6>
        <div routerLink="/admin/settings-account/company-details" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/business-detail.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/business-detail-active.svg" />
            </div>
            <p>Business Details</p>
        </div>
        <h6 class="pt-3">Payment</h6>
        <div routerLink="/admin/settings-payment/billing" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/billing.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/billing-active.svg" />
            </div>
            <p>Billing</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-gateway" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/payment-gateway.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/payment-gateway-active.svg" />
            </div>
            <p>Payment Gateway</p>
        </div>
        <div routerLink="/admin/settings-payment/payment-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/payment-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/payment-rules-active.svg" />
            </div>
            <p>Payment Rules</p>
        </div>
        <h6 class="pt-3">General Setting</h6>
        <div routerLink="/admin/settings-general/appearance" class="d-flex setting-menu-item setting-menu-active">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/appearance.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/appearance-active.svg" />
            </div>
            <p>Appearance</p>
        </div>
        <div routerLink="/admin/settings-general/booking-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/booking-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/booking-rules-active.svg" />
            </div>
            <p>Booking Rules</p>
        </div>
        <div routerLink="/admin/settings-general/alert-rules" class="d-flex setting-menu-item">
            <div class="menu-icon">
                <img class="normal" src="../../../../assets/images/admin/settings-menu/alert-rules.svg" />
                <img class="colored" src="../../../../assets/images/admin/settings-menu/alert-rules-active.svg" />
            </div>
            <p>Alert Rules</p>
        </div>
    </div>
    <div class="setting-right-side-content without-footer" [ngClass]="{ 'short-content-area': settingSideMenuToggle === true }">
        <mat-tab-group [(selectedIndex)]="selectedtab" class="common-tab-group">
            <!-- --------------------------------- Themes ---------------------------------- -->
            <mat-tab label="Theme">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center pt-5">
                            <div class="col-3 d-inline-block m-3 theme-div theme-1" [ngClass]="{'theme-active':defaultTheme === '1'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class="p-2 theme-title">
                                    Theme 1
                                </div>
                                <div *ngIf="defaultTheme !== '1'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('1')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('1')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-3 d-inline-block m-3 theme-div theme-2" [ngClass]="{'theme-active':defaultTheme === '2'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class="p-2 theme-title">
                                    Theme 2
                                </div>
                                <div *ngIf="defaultTheme !== '2'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('2')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('2')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-3 d-inline-block m-3 theme-div theme-3" [ngClass]="{'theme-active':defaultTheme === '3'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class=" p-2 theme-title">
                                    Theme 2
                                </div>
                                <div *ngIf="defaultTheme !== '3'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('3')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('3')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="col-12 text-center p-3">
                            <div class="col-3 d-inline-block m-3 theme-div theme-4" [ngClass]="{'theme-active':defaultTheme === '4'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class=" p-2 theme-title">
                                    Theme 3
                                </div>
                                <div *ngIf="defaultTheme !== '4'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('4')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('4')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3 d-inline-block m-3 theme-div theme-5" [ngClass]="{'theme-active':defaultTheme === '5'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class="p-2 theme-title">
                                    Theme 4
                                </div>
                                <div *ngIf="defaultTheme !== '5'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('5')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('5')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3 d-inline-block m-3 theme-div theme-6" [ngClass]="{'theme-active':defaultTheme === '6'}">
                                <div class="check-icon d-none">
                                    <mat-icon>check</mat-icon>
                                </div>
                                <div class="p-2 theme-title">
                                    Theme 5
                                </div>
                                <div *ngIf="defaultTheme !== '6'" class="theme-btn-div">
                                    <div class="theme-btn-sub-div">
                                        <button (click)="fnThemePreview('6')" class="btn preview-color mb-1"><i class="fa fa-eye pr-2"></i>Preview</button>
                                        <button (click)="fnChnageTheme('6')" class="btn set-default-color mt-1"><i class="fa fa-check pr-2"></i>Set Default</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <!-- --------------------------------- Getting Started ---------------------------------- -->
            <mat-tab label="Getting Started">
                <div>
                    <div class="main-getting-content custom-content-wrap">
                        <h5 class="mb-1 page-title">Embed Web Widget</h5>
                        <p class="page-des">Click to Copy Code below script and paste it in your web page.</p>
                        <!-- <mat-radio-group aria-label="Select an option">
                        <mat-radio-bu   tton value="1">Script</mat-radio-button>
                        <mat-radio-button value="2">Script with Autologin</mat-radio-button>
                    </mat-radio-group> -->
                        <h6 class="mt-4">To embed the widget on your website, follow these guidelines.</h6>
                        <p class="page-des">1. Copy the code by simply clicking on the script once.</p>
                        <p class="page-des">2. Go to your website's HTML file and paste in before the last
                            < body>
                                tag</p>
                        <p class="page-des">3. Now, the users visiting those websites or applications can see the Appointment Widget. </p>
                        <p class="page-des">4. If you are still unsure, send the code to someone to assist you with the configuration.
                        </p>
                    </div>
                    <mat-card class="card-content">
                        {{embededCode}}
                        <!-- <iframe height="100%" width="100%" src="http://localhost:4200/booking?business_id=34"></iframe> -->
                        <div *ngIf="isTextCopie==false">
                            <button mat-button type="submit" (click)="copyEmbedCode(embededCode)" class="appearance-save-btn">Copy Code</button>
                        </div>
                        <div *ngIf="isTextCopie==true">
                            <button mat-button type="submit" class="appearance-save-btn">
                                 <span class="material-icons-outlined">done</span> Copied </button>
                        </div>
                    </mat-card>
                    <!-- <div>
                        <button mat-button type="submit" (click)="copyEmbedCode(embededCode)" class="appearance-save-btn">Copy Code</button>
                    </div> -->
                </div>
                <div class="mt-4">
                    <div class="main-getting-content">
                        <h5 class="mb-3 page-title">Widget Background Image</h5>
                        <button mat-button type="submit" (click)="uploadWidgetBGImage()" class="image-upload-btn">Upload Image</button>
                    </div>

                    <div class="widget-image-preview">
                        <img src="{{widgetBGImage}}">
                    </div>
                </div>
            </mat-tab>
            <!-- --------------------------------- Appearance --------------------------------------- -->
            <mat-tab label="Appearance">
                <div class="row m-0 appearance-wrap">
                    <div class="left-side appearance-side col-4" [formGroup]="Appearance">
                        <div class="color-field d-flex ">
                            <label>Primary Color</label>
                            <div class="colorpicker-wrap">
                                <input [style.background]="primarycolor" class="color_box" [(colorPicker)]="primarycolor" (colorPickerChange)="onChangePrimaryColor($event)" />
                            </div>
                        </div>
                        <div class="color-field d-flex">
                            <label>Primary Gradient</label>
                            <div class="colorpicker-wrap d-flex">
                                <input [style.background]="primarygradient1" class="color_box" [(colorPicker)]="primarygradient1" (colorPickerChange)="onChangePrimaryGradient1($event)" />
                                <input [style.background]="primarygradient2" class="color_box" [(colorPicker)]="primarygradient2" (colorPickerChange)="onChangePrimaryGradient2($event)" />
                            </div>
                        </div>
                        <div class="color-field d-flex">
                            <label>Text Color</label>
                            <div class="colorpicker-wrap">
                                <input [style.background]="textcolor" class="color_box" [(colorPicker)]="textcolor" (colorPickerChange)="onChangeTextColor($event)" />
                            </div>
                        </div>
                        <div class="color-field d-flex">
                            <label>Text Color On Background</label>
                            <div class=" colorpicker-wrap">
                                <input [style.background]="textbgcolor" class="color_box" [(colorPicker)]="textbgcolor" (colorPickerChange)="onChangeTextBgColor($event)" />
                            </div>
                        </div>
                        <div class="common-input mt-3">
                            <label>Font</label>
                            <mat-select class="form-control form-control-transparent" (selectionChange)="fnChangeFont($event)" formControlName="font">
                                <mat-option value="Poppins, sans-serif">Poppins</mat-option>
                                <mat-option value="Roboto, sans-serif">Roboto</mat-option>
                                <mat-option value="'Cairo', sans-serif">Cairo</mat-option>
                                <mat-option value="'Dosis', sans-serif">Dosis</mat-option>
                                <mat-option value="'Fira Sans', sans-serif">Fira Sans</mat-option>
                                <mat-option value="Lato, sans-serif">Lato</mat-option>
                                <mat-option value="Montserrat, sans-serif">Montserrat</mat-option>
                                <mat-option value="Open Sans, sans-serif">Open Sans</mat-option>
                                <mat-option value="Quicksand, sans-serif">Quicksand</mat-option>
                                <mat-option value="Raleway, sans-serif">Raleway</mat-option>
                                <mat-option value="Ubuntu, sans-serif">Ubuntu</mat-option>
                            </mat-select>
                        </div>

                    </div>
                    <div id="preview_container" class="right-side pr-0 py-3 appearance-side col-8">
                        <div class="row mx-0 main-datetime-selection h-100">
                            <div class="col-12 col-lg-6 col-sm-12 datepicker-main">
                                <div class="ngbpicker">
                                    <div class="ngb-dp-header customepickheader">
                                        <div class="ngb-dp-month-name ng-star-inserted">Pick Date & Time</div>
                                    </div>
                                    <ngb-datepicker class='' #dp [(ngModel)]="model"></ngb-datepicker>
                                </div>

                            </div>
                            <div class="col-12 col-lg-6 col-sm-12 timeslot-main py-3">
                                <button mat-fab color="" class="top-back-btn float-right">
                                <i class="material-icons" color="">close</i>
                            </button>
                                <h3 class="selected-date">Wed, Sep 19</h3>
                                <div class="slot-list">
                                    <div class=" timing">
                                        <label>
                                        <input name="timeslot" type="radio" checked/>
                                        <div class="single-slot" popover-is-open="true" [mdePopoverTriggerFor]="selectstaff" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">10:30</div>
                                    </label>
                                        <mde-popover #selectstaff="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                                            <mat-card class="staff-select-box p-0" style="width: 200px">
                                                <mat-card-content class="py-2 px-3 mt-0">
                                                    <div class="row">
                                                        <div class="col staff-selection">
                                                            <mat-radio-group aria-label="Select Staff">
                                                                <mat-radio-button checked class="m-0" value="">Any Staff</mat-radio-button>
                                                                <mat-radio-button class="text-capitalize m-0" value="1">Meet Shah</mat-radio-button>
                                                                <mat-radio-button class="text-capitalize m-0" value="2">Parth Jadhav</mat-radio-button>
                                                                <mat-radio-button class="text-capitalize m-0" value="3">Sumit Yedekar</mat-radio-button>
                                                                <mat-radio-button class="text-capitalize m-0" value="4">Mubin Shaikh</mat-radio-button>
                                                            </mat-radio-group>

                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </mde-popover>
                                    </div>
                                </div>
                                <div class="next-action">
                                    <button mat-button class="round-btn continue-btn">Add More Services</button>
                                    <button mat-button class="round-btn continue-btn">Book Now</button>
                                </div>
                                <div class="">

                                    <div class="cart-btn">
                                        <i class="material-icons">add_shopping_cart</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-card class="save-cencel-footer">
                    <div class="d-flex py-2 save-footer-btn">
                        <button mat-button (click)="fnCancelAppearance()" class="sc-grey-btn mr-2">Cancel</button>
                        <button mat-button class="sc-pink-btn mr-2" (click)="fnSaveAppearanceSettings()">Save</button>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Form Setting">
                <mat-card class="main-form-setting-content common-form-setting-wrap">
                    <div class="top-heading-wrap">
                        <div>
                            <h5>Contact Fields</h5>
                            <p>Select which form field will show on your booking page.</p>
                        </div>
                       
                        <div class="contact-field-toggle">
                            <mat-slide-toggle (change)="fnChangeContactFormStatus($event.checked)" [checked]="formArr['contact_field_status']"></mat-slide-toggle>
                        </div>
                    </div>
                   
                    <div class="form-setting-table" *ngIf="formArr['contact_field_status']">
                        <div class="main-table-content main-cust-table-content">
                            
                                <div class="content" class="form-setting-list row">
                                    <div class="col-3">
                                        <div class="common-check-wrap"> 
                                       <div class="checked round">
                                                <p class="check-label">Name</p>
                                                <mat-slide-toggle (change)="fnChangeFieldStatus($event.checked,'nameField')" class="form_field_checkbox" [checked]="formArr['nameField'].status=='1'" [disabled]="true">
                                                </mat-slide-toggle>
                                        </div>
                                        <div class="" *ngIf="formArr['nameField'].status=='1'">
                                            <mat-checkbox (change)="fnChangeRequiredStatus($event.checked,'nameField')" [checked]="formArr['nameField'].required=='1'" [disabled]="true">
                                                Required</mat-checkbox>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="common-check-wrap"> 
                                            <div class="checked round">
                                                <p class="check-label">Number</p>
                                                <mat-slide-toggle (change)="fnChangeFieldStatus($event.checked,'numberField')" class="form_field_checkbox" [checked]="formArr['numberField'].status=='1'" [disabled]="true">
                                                </mat-slide-toggle>
                                                
                                            </div>
                                        
                                        <div class="" *ngIf="formArr['numberField'].status=='1'">
                                            <div>
                                                <mat-checkbox (change)="fnChangeRequiredStatus($event.checked,'numberField')" [checked]="formArr['numberField'].required=='1'" [disabled]="true">
                                                    Required</mat-checkbox>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="common-check-wrap">
                                            <div class="checked round">
                                                <p class="check-label">Email</p>
                                                <mat-slide-toggle (change)="fnChangeFieldStatus($event.checked,'emailField')" class="form_field_checkbox" [checked]="formArr['emailField'].status=='1'" [disabled]="true">
                                                </mat-slide-toggle>
                                               
                                            </div>
                                       
                                        <div class="" *ngIf="formArr['emailField'].status=='1'">
                                            <div>
                                                <mat-checkbox (change)="fnChangeRequiredStatus($event.checked,'emailField')" [checked]="formArr['emailField'].required=='1'" [disabled]="true">
                                                    Required</mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="common-check-wrap">
                                            <div class="checked round">
                                                <p class="check-label">Address</p>
                                                <mat-slide-toggle (change)="fnChangeFieldStatus($event.checked,'addressField')" class="form_field_checkbox" [checked]="formArr['addressField'].status=='1'"></mat-slide-toggle>
                                               
                                            </div>
                                       
                                        <div class="" *ngIf="formArr['addressField'].status=='1'">
                                            <div>
                                                <mat-checkbox (change)="fnChangeRequiredStatus($event.checked,'addressField')" [checked]="formArr['addressField'].required=='1'">Required
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <button mat-button appearance="fill" class="sc-pink-btn pink-btn-md mt-3" (click)="fnFormSetting()">Save</button>
                        </div>
                    </div>
                </mat-card>
                
                <!-- <mat-card class="save-cencel-footer">
                    <div class="d-flex py-2 save-footer-btn">
                        <button mat-button (click)="fnCancelAppearance()" class="sc-grey-btn mr-2">Cancel</button>
                        <button mat-button class="sc-pink-btn mr-2" (click)="fnFormSetting()">Save</button>
                    </div>
                </mat-card> -->
            </mat-tab>
            <!-- ------------------------------Buttons & Links -------------------------------------- -->
            <mat-tab label="Buttons & Links">
                <mat-card class="main-form-setting-content content-btn-links-wrap">
                    <h5 class="page-title">Buttons and Links</h5>
                    <p class="page-des">Promote your pages (Facebook & Twitter) with buttons for booking appointments. We will provide you with a unique booking link that you can share online with customers on social media.</p>
                </mat-card>

                <mat-card class="main-form-setting-content service-boking-text-wrap">

                    <div class="container p-3 bg-wrap rounded">
                        <div class="row">
                            <div class="col-6">
                                <h5>Service Booking link</h5>
                            </div>
                            <!-- <div class="col-6 text-right"><button class="btn btn-editlink">Edit Link Setting</button></div> -->

                            <div class="col-10">
                                <p>
                                    Add this service booking link on your website and social media pages to accept bookings.
                                </p>
                            </div>
                            <div class="col-12 mb-2">
                                <!-- <mat-form-field class=" bottom-border-field "> -->
                                    <input [value]="frontBookingUrl" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly>
                                <!-- </mat-form-field> -->
                            </div>

                            <a mat-button [href]="frontBookingUrl" target="_blank" class="btn service-booking-link-active ml-3 m-2 pr-3"><i class="fa fa-external-link mr-2"></i>Test link</a>
                            <button mat-button (click)="fnShare('facebook');" class="btn service-booking-link m-2 pr-3"><i class="fa fa-facebook mr-2"></i>Share It</button>
                            <button mat-button (click)="fnShare('twitter');" class="btn service-booking-link m-2 pr-3"><i class="fa fa-twitter mr-2"></i>Tweet It</button>
                        </div>
                    </div>
                </mat-card>


                <mat-card class="main-form-setting-content service-boking-text-wrap">

                    <div class="container p-3 bg-wrap rounded">
                        <div class="row">
                            <div class="col-6 ">
                                <h5>HTML Buttons</h5>
                            </div>
                            <div class="col-12">
                                <p>Add different colored “Book now” HTML buttons on your website. You can copy the code and add it to your blog and website.</p>
                            </div>

                            <div class="col-12 html-sample-btns">
                                <div class="row html-btn-title">
                                    <div class="col-4 py-3 pl-5">
                                        Sample
                                    </div>
                                    <div class="col-8 py-3 ">
                                        Code to Copy
                                    </div>
                                </div>

                                <div class="row pt-2">
                                    <div class="col-4 pt-4 pb-1 pl-5">
                                        <a class="btn-color-dummy cursor-default">Book Now</a>
                                    </div>
                                    <div class="col-8 pt-0 pb-1 pr-5">
                                        
                                        <input value="<a style='color: #00a89b;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly>
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-one cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                       <textarea value="<a style='background-color: #003cff;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="{{frontBookingUrl}}" readonly></textarea>
                                    
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-two cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                        
                                        <textarea value="<a style='background-color: #008aff;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                      
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-three cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                        
                                        <textarea value="<a style='background-color: #009315;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-four cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                        
                                        <textarea value="<a style='background-color: #ffa800;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-five cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                        <textarea value="<a style='background-color: #ff008a;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                        
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-six cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                        
                                        <textarea value="<a style='background-color: #8a00ff;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                      
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-seven cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                        <textarea value="<a style='background-color: #ff0000;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-eight cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                        <textarea value="<a style='background-color: #000000;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                       
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-nine cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                        <textarea value="<a style='background-color: #666666;color: #fff;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                      
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4 pt-1 pl-5 d-flex align-items-center">
                                        <button class="btn btn-color-ten cursor-default">BOOK NOW</button>
                                    </div>
                                    <div class="col-8 pt-0 pr-5">
                                       
                                        <textarea value="<a style='background-color: #fdfdfd;border: 1px solid #b5b5b5;color: #000;display: inline-block;padding: 10px 15px;text-decoration: none;border-radius: 5px;' href='{{frontBookingUrl}}'>BOOK NOW</a>" class="form-control form-control-transparent border pl-2" matInput placeholder="https://app.schedulic.com/book/service" readonly></textarea>
                                       
                                    </div>
                                </div>
                                <hr>

                            </div>


                        </div>
                    </div>
                </mat-card>

            </mat-tab>
        </mat-tab-group>
    </div>
</mat-drawer-content>