<div id="booking_flow" class="front-booking-main d-flex justify-content-center">
    <div class="card-wrap main-front-container">
        <mat-card class="p-0">
            <form [formGroup]="frontbooking" class="h-100">
                <div id="service_list" class="main-step step_1 p-0" *ngIf="subcatselection">
                    <div class="step-top-head"></div> 
                    <mat-card-title class="p-4 mx-0 row d-flex">
                        <label class="col-lg-6 col-sm-12 col-12 float-left">Salon At Home</label>
                        <div class="col-lg-6 col-sm-12 col-12 right-check-postal-form float-left">
                            <form class="check-aval-postal sm-py-2" [ngClass]="validpostalcode == true ? 'valid' : 'not-valid'">
                                <i class="fa fa-map-marker"></i>
                                <input type="text" [(ngModel)]="postalcode" class="postcode-input" placeholder="Enter the postal code to get our service" />
                                <input type="submit" (click)="fncheckpostalcode($event)" value="Check" class="inline-btn" id="check_postal_code"/>
                                <i class="material-icons">check_circle</i>
                            </form>
                        </div>
                    </mat-card-title>
                    <mat-card-content class="p-4 mt-0 mb-2">
                        <div class="row service-list">
                            <label *ngFor="let subcategory of subcatdata; let i = index" for="sub_cat_{{i}}" class="col-lg-4 col-sm-6 col-12" >
                                <input type="radio" formControlName="sub_category" (change)="fnsubcategory($event,subcategory.id)" id="sub_cat_{{i}}" class="d-none" />
                                <div class="single-service" *ngIf="subcategory.sub_category_status == 'E'">
                                    <img class="service-img" src="../../assets/images/services/{{subcategory.sub_category_image}}" />
                                    <h3 class="service-title">{{subcategory.sub_category_name}}</h3>
                                    <p class="service-dec">{{subcategory.sub_category_description}}</p>
                                </div>
                            </label>
                        </div>
                </mat-card-content>
            </div>
            <!-- <div id="check_postal_code" class="main-step w-100 step_2 p-0" *ngIf="checkpostalcode">
                <mat-card-content class="p-4 mb-2">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-12 check-postal float-left">
                            <i class="fa fa-map-marker"></i>
                            <input type="text" class="postcode-input" placeholder="Enter the postal code to get our service" />
                            <input type="submit" value="Check" class="inline-btn" />
                            <i class="material-icons">check_circle</i>
                        </div>
                    </div>
                </mat-card-content>
            </div> -->
            <div id="sub-service_list" class="main-step step_3 p-0" *ngIf="serviceselection">
                <div class="step-top-head"></div> 
                <mat-card-title class="px-4 py-3 d-flex">
                    <div class="col-lg-6 col-sm-12 col-12 top-title float-left">
                        <button mat-fab color="primary" class="top-back-btn" (click)="fnbackfromservice()">
                            <i class="material-icons" color="primary">keyboard_arrow_left</i>
                        </button>
                        Service Name
                    </div>
                </mat-card-title>
                <mat-card-content class="p-4 mb-2 mt-0">
                        <div class="row service-list">
                            <label class="col-lg-4 col-sm-6 col-12" *ngFor="let services of servicedata; let i = index" for="service_{{i}}">
                                <input type="radio" formControlName="service" (change)="fnserviceselection($event,services.id)" id="service_{{i}}" class="d-none" />
                                <div class="single-service" *ngIf="services.status == 'E'">
                                    <img class="service-img" src="../../assets/images/services/{{services.service_image}}" />
                                    <h3 class="service-title">{{services.service_name}}</h3>
                                    <p class="service-dec">{{services.service_name}}</p>
                                </div>
                            </label>
                        </div>
                </mat-card-content>
            </div>
            <div id="addon_list" class="main-step step_4 p-0" *ngIf="subserviceselection">
                <div class="step-top-head"></div> 
                <mat-card-title class="px-4 py-3 d-flex">
                    <div class="col-lg-6 col-sm-12 col-12 top-title float-left">
                        <button mat-fab color="primary" class="top-back-btn" (click)="fnbackfromsubservice()">
                            <i class="material-icons" color="primary">keyboard_arrow_left</i>
                        </button>
                        Hair Cut - Select Service
                    </div>
                </mat-card-title>
                <mat-card-content class="p-4 mb-2 mt-0">
                        <div class="addon-list">
                            <div class="col-lg-12 col-sm-12 col-12 addon-container">
                                <div class="single-addon d-flex align-items-center justify-content-center">
                                    <div class="addon-img">
                                        <img class="" src="../../assets/images/services/service-1.jpg" />
                                    </div>
                                    <div class="addon-data">
                                        <h3 class="addon-title">Hair Cut</h3>
                                        <p class="addon-dec">It is a long established fact that a reader will be distracted by the readable content of . </p>
                                    </div>
                                    <div class="price-cart">
                                        <label>₹ 2500</label>
                                        <button mat-button class="round-btn addon-cart-btn">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12 addon-container">
                                <div class="single-addon d-flex align-items-center justify-content-center">
                                    <div class="addon-img">
                                        <img class="" src="../../assets/images/services/service-1.jpg" />
                                    </div>
                                    <div class="addon-data">
                                        <h3 class="addon-title">Hair Cut</h3>
                                        <p class="addon-dec">It is a long established fact that a reader will be distracted by the readable content of . </p>
                                    </div>
                                    <div class="price-cart">
                                        <label>₹ 2500</label>
                                        <button mat-button class="round-btn addon-cart-btn">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12 addon-container">
                                <div class="single-addon d-flex align-items-center justify-content-center">
                                    <div class="addon-img">
                                        <img class="" src="../../assets/images/services/service-1.jpg" />
                                    </div>
                                    <div class="addon-data">
                                        <h3 class="addon-title">Hair Cut</h3>
                                        <p class="addon-dec">It is a long established fact that a reader will be distracted by the readable content of . </p>
                                    </div>
                                    <div class="price-cart">
                                        <label>₹ 2500</label>
                                        <button mat-button class="round-btn addon-cart-btn">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12 col-12 addon-container">
                                <div class="single-addon d-flex align-items-center justify-content-center">
                                    <div class="addon-img">
                                        <img class="" src="../../assets/images/services/service-1.jpg" />
                                    </div>
                                    <div class="addon-data">
                                        <h3 class="addon-title">Hair Cut</h3>
                                        <p class="addon-dec">It is a long established fact that a reader will be distracted by the readable content of . </p>
                                    </div>
                                    <div class="price-cart">
                                        <label>₹ 2500</label>
                                        <button (click)="fnshowcounter($event)" *ngIf="addonaddtocart" mat-button class="round-btn addon-cart-btn">Add To Cart</button>
                                        <div class="qty-counter" *ngIf="addoncount">
                                            <button mat-fab class="action-btn qty-minus" (click)="remove()">-</button>
                                            <input type="text" class="qty_value" value="{{minVal}}" readonly/>
                                            <button mat-fab class="action-btn qty-minus" (click)="add()">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <input type="text" ng-model="date" ng-flat-datepicker> -->
                        <!-- <ngb-datepicker #d></ngb-datepicker> -->

                        <div class="bottom-ctn-btn">
                            <button (click)="fnsubserviceselection($event)"  mat-button class="round-btn continue-btn">Continue<i class="material-icons">keyboard_arrow_right</i></button>
                        </div>
                </mat-card-content>
            </div>

            <div id="datetime_select" class="main-step step_5 p-0 h-100" *ngIf="dateselection">
                <div class="row ml-0 mr-0 main-datetime-selection h-100">
                    <div class="col-12 col-lg-6 col-sm-12 datepicker-main">
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                    </div>
                    <div class="col-12 col-lg-6 col-sm-12 timeslot-main">
                        <h3 class="selected-date">Wed Jan 20</h3>
                        <div class="slot-list">
                            <label>
                                <input type="radio" />
                                <div class="single-slot" [mdePopoverTriggerFor]="selectstaff" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">12.00 AM</div>
                            </label>
                            <mde-popover #selectstaff="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                                <mat-card class="staff-select-box p-0" style="width: 200px">
                                    <mat-card-content class="py-2 px-3 mt-0">
                                        <div class="row">
                                            <div class="col staff-selection">
                                                <mat-checkbox>Any Staff</mat-checkbox>
                                                <mat-checkbox>Staff 1</mat-checkbox>
                                                <mat-checkbox>Staff 2</mat-checkbox>
                                                <mat-checkbox>Staff 3</mat-checkbox>
                                                <mat-checkbox>Staff 4</mat-checkbox>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </mde-popover>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                            <label>
                                <input type="radio" />
                                <div class="single-slot">12.00 AM</div>
                            </label>
                        </div>
                        <div class="next-action">
                            <button mat-button (click)="fnbacktosubservice($event)" class="round-btn continue-btn">Add More Services</button>
                            <button mat-button (click)="fndatetimeselection($event)" class="round-btn continue-btn">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="personal_info" class="main-step step_6 p-0" *ngIf="personalinfo">
                <div class="step-top-head"></div> 
                <mat-card-title class="p-4 d-flex">
                    <div class="col-lg-12 col-sm-12 col-12 top-title float-left">
                        Your Personal Details
                    </div>
                </mat-card-title>
                <mat-card-content class="p-4 mt-0 mb-2">
                    <div class="user-type-selection">
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button checked (click)="fnexistinguser($event)" value="exist-user">Existing User</mat-radio-button>
                            <mat-radio-button (click)="fnnewuser($event)" value="new-user">New User</mat-radio-button>
                        </mat-radio-group>
                    </div>
                        <div id="existing_user" *ngIf="existinguser" class="">
                            <div class="field-list mr-0 ml-0 row">
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Email</label>
                                    <input class="common-input" type="email" />
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Password</label>
                                    <input class="common-input" type="password" />
                                </div>
                                <div class="col">
                                    <button id="login_submit" mat-button class="round-btn float-right continue-btn">Log In</button>
                                </div>
                            </div>
                        </div>
                        <div id="new_user" *ngIf="newuser" class="">
                            <div class="field-list mr-0 ml-0 row">
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Email</label>
                                    <input formControlName="email" class="common-input" type="email" />
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Password</label>
                                    <input formControlName="password" class="common-input" type="password" />
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Full Name</label>
                                    <input formControlName="fullname" class="common-input" type="text" />
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-6">
                                    <label>Phone</label>
                                    <input formControlName="phone" class="common-input" type="text" />
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                    <label>Address</label>
                                    <textarea formControlName="address" class="common-input" rows="3" ></textarea>
                                </div>
                                <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                    <label>State</label>
                                    <input formControlName="state" class="common-input" type="text" />
                                </div>
                                <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                    <label>City</label>
                                    <input formControlName="city" class="common-input" type="text" />
                                </div>
                                <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                    <label>Zip Code</label>
                                    <input formControlName="zipcode" class="common-input" type="text" />
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                                    <label>Special request (Notes)</label>
                                    <textarea formControlName="srequest" class="common-input" rows="3" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-ctn-btn">
                            <button (click)="fnpersonalinfo($event)"  mat-button class="round-btn continue-btn">Continue<i class="material-icons">keyboard_arrow_right</i></button>
                        </div>
                </mat-card-content>
            </div>
            <div id="appointment_info" class="main-step step_7 p-0" *ngIf="appointmentinfo">
                <div class="step-top-head"></div> 
                <mat-card-title class="px-4 pt-3 d-flex flex-wrap">
                    <div class="col-lg-12 col-sm-12 col-12 top-title float-left">
                        Appointment Details
                    </div>
                    <div class="col-lg-12 col-sm-12 col-12 float-left">
                        <mat-checkbox class="same-check">Same as Above</mat-checkbox>
                    </div>
                </mat-card-title>
                <mat-card-content class="p-4 mt-0 mb-2">
                    <div class="field-list mr-0 ml-0 row">
                        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                            <label>Address</label>
                            <textarea formControlName="appo_address" class="common-input" rows="3" ></textarea>
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                            <label>State</label>
                            <input formControlName="appo_state" class="common-input" type="text" />
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                            <label>City</label>
                            <input formControlName="appo_city" class="common-input" type="text" />
                        </div>
                        <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                            <label>Zip Code</label>
                            <input formControlName="appo_zipcode" class="common-input" type="text" />
                        </div>
                    </div>
                    <div class="bottom-ctn-btn">
                        <button (click)="fnappointmentinfo($event)"  mat-button class="round-btn continue-btn">Confirm</button>
                    </div>
                </mat-card-content>
            </div>
            <div id="coupon_code" class="main-step step_8 p-0" *ngIf="couponcode">
                <div class="step-top-head"></div> 
                <mat-card-content class="py-4 px-0 mt-0 mb-2">
                    <div class="row booking-summary">
                        <div class="col-lg-8 p-0 left-side">
                            <label class="service-title float-left">Chandelier Layers</label>
                            <p class="float-left"><i class="fa fa-calendar"></i> September 18 2019</p>
                            <p class="float-left"><i class="fa fa-clock-o"></i> 12:30 am</p>
                            <p class="booking-des w-100">It is a long established fact that a reader will be distracted by the readable content of.It is a long established fact that a reader will be distracted by the readable content of.</p>
                        </div>
                        <div class="col-lg-4 p-0 right-side">
                            <div class="qty-counter" *ngIf="addoncount">
                                <button mat-fab class="action-btn qty-minus" (click)="remove()">-</button>
                                <input type="text" class="qty_value" value="{{minVal}}" readonly/>
                                <button mat-fab class="action-btn qty-minus" (click)="add()">+</button>
                            </div>
                            <label class="price">₹ 2500</label>
                        </div>
                    </div>
                    <div class="row p-3 mx-0 total-amount">
                        <div class="col-lg-8 px-0 py-1 left-side">
                            <h3>Total Number of Services</h3>
                        </div>
                        <div class="col-lg-4 px-0 py-1 right-side">
                            <label class="price">3</label>
                        </div>
                        <div class="col-lg-8 px-0 py-1 left-side">
                            <h3>Total</h3>
                        </div>
                        <div class="col-lg-4 px-0 py-1 right-side">
                            <label class="price">₹ 5000</label>
                        </div>
                        <div class="col-lg-8 px-0 py-1 left-side">
                            <h3>Discount</h3>
                        </div>
                        <div class="col-lg-4 px-0 py-1 right-side">
                            <label class="price">₹ 500</label>
                        </div>
                        <div class="col-lg-6 px-0 py-1 promocode-main">
                            <h3><i class="fa fa-percent"></i>Apply Coupon</h3>
                        </div>
                        <div class="col-lg-6 px-0 py-1 promocode-main">
                            <input mat-input type="text" class="coupon-code-input" />
                            <button (click)="fncheckcouponcodebtn($event)" class="coupon-code-submit"><i class="material-icons">check</i></button>
                        </div>
                    </div>
                    <div class="row p-3 mx-0 Order-total">
                        <div class="col-lg-8 px-0 py-1 left-side">
                            <h3 class="text-left">Order Total</h3>
                        </div>
                        <div class="col-lg-4 px-0 py-1 right-side">
                            <label class="price text-right d-block">₹ 4800</label>
                        </div>
                    </div>
                    <div class="bottom-ctn-btn">
                        <button (click)="fncouponcode($event)"  mat-button class="round-btn continue-btn proceed">Proceed</button>
                    </div>
                </mat-card-content>
            </div>
            
            <div id="payment_method" class="main-step step_9 p-0" *ngIf="paymentmethod">
                <div class="step-top-head"></div>
                <mat-card-title class="px-4 mx-4 pt-3 d-flex flex-wrap">
                    <div class="col-lg-12 col-sm-12 col-12 top-title px-0 float-left">
                       Payment Method
                    </div>
                </mat-card-title> 
                <mat-card-content class="py-2 px-4 mt-0 mb-2">
                    <mat-radio-group formControlName="paymentgateway">
                        <mat-radio-button (change)="fncashpayment($event)" class="payment-radio px-3 mb-0 col-12 w-auto mt-y mx-4 p-4 cash-payment single-pay" value="pay1">Cash Payment
                            <img src="../../assets/icons/cash-symbol.png" class="payment-gtw-icon cash-payment" />
                        </mat-radio-button>
                        <mat-radio-button (change)="fncreditcard($event)" class="col-12 w-auto mt-4 mx-4 p-4 credit-payment single-pay payment-radio px-3 mb-0" value="pay2">Credit Card
                            <img src="../../assets/icons/card-images.png" class="payment-gtw-icon cash-payment" />
                        </mat-radio-button>
                        <div *ngIf="creditcardform" class="field-list mx-4 row credit-card-form ">
                            <div class="col-12 left-side col-lg-6">
                                <div class="col-12">
                                    <label>Card Holder Name</label>
                                    <input class="common-input" type="text" />
                                </div>
                                <div class="col-12">
                                    <label>Card Number</label>
                                    <input class="common-input" type="text" />
                                </div>
                                <div class="col-6 float-left">
                                    <label>Expiry Date</label>
                                    <input class="common-input" type="text"/>
                                </div>
                                <div class="col-6 float-left">
                                    <label>CVV Code</label>
                                    <input class="common-input" type="password" />
                                </div>
                            </div>
                            <div class="col-12 right-side col-lg-6">
                                <img src="../../assets/icons/credit-card.png" />
                            </div>
                        </div>
                    </mat-radio-group>
                    <div class="bottom-ctn-btn">
                        <button (click)="fnaddonselection($event)"  mat-button class="round-btn continue-btn proceed">Pay Now</button>
                    </div>
                </mat-card-content>
            </div>
            <!-- common footer -->  
            <div class="common-footer">
                <div class="cart-btn" [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                    <i class="material-icons">add_shopping_cart</i>
                </div>
                <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdePopoverCloseOnClick]="false">
                    <mat-card class="booking-summary p-0" style="width: 380px">
                        <mat-card-title class="py-2 px-3">
                            <label class="mb-0">Summary</label><button mat-button class="round-btn continue-btn">Continue<i class="material-icons">keyboard_arrow_right</i></button>
                        </mat-card-title>
                        <mat-card-content class="py-2 px-3 mt-0">
                            <div class="row">
                                <div class="col-lg-8 left-side">
                                    <label class="service-title">Chandelier Layers</label>
                                    <p><i class="fa fa-calendar"></i> September 18 2019</p>
                                    <p><i class="fa fa-clock-o"></i> 12:30 am</p>
                                </div>
                                <div class="col-lg-4 right-side">
                                    <label class="price">₹ 2500</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 left-side">
                                    <label class="service-title">Chandelier Layers</label>
                                    <p><i class="fa fa-calendar"></i> September 18 2019</p>
                                    <p><i class="fa fa-clock-o"></i> 12:30 am</p>
                                </div>
                                <div class="col-lg-4 right-side">
                                    <label class="price">₹ 2500</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 left-side">
                                    <label class="service-title">Sub Total</label>
                                </div>
                                <div class="col-lg-4 right-side">
                                    <label class="price">₹ 3400</label>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mde-popover>

            </div>
            </form>
        </mat-card>
    </div>
</div>
