
  
  @import "variables";
  .customer-profile-background{
    background-color: #e8e8e8;
    padding: 30px;
    width: 110px;
    height: 110px;
    border-radius: 80px;
    .profile-image{
        width: 50px;
        height: 50px;
    }
}

.leftarrow-icon{
  // margin-left: auto;
  display: flex;
  .customer-drawer-leftarrow{
      padding: 4px 8px;
      height: auto;
      width: auto;
      text-align: center;
      background-color: #dedede;
       margin-left: auto;
  }
 
}

.mat-list-icon{
    color:$iconcolors;
}
.mat-list-item{
    &:hover{
               background-color: $bgblue;
               color: #295792;
           }
   }

.matlist{
display: block !important;
height: 60px !important;
width: 100% !important;
padding: 5px 0 !important;
 &:hover{
         background-color: $bgblue;
    }
}

.menuitem{
color:#325c98;
padding-top: 4px;
&:focus{
        outline:none; 
        }           
}

.saleschart{
    margin: 0 14px;
    font-size: 18px;
   
}
.statustoggle{

    margin: 30px;
}
.service-cancel-btn{
    width: 100px;
    height: 39px;
    border-radius: 7px;
    background-color: #dddddd;
}
.service-create-btn{
    width: 109px;
    height: 39px;
    border-radius: 7px;
    background-color: #1173f4;
    color: white;
}

.action-btn{
    margin-left: auto;
    display: flex;
}


.services-matlist{
    display: block !important;
    height: 60px !important;
    width: 100% !important;
    padding: 5px 0 !important;
     &:hover{
             background-color: $bgblue;
             color: white;
        }
    }
    
    .services-menuitem{
    // color:#325c98;
    padding-top: 4px;
    &:focus{
            outline:none; 
            }           
    }

    .service-list{
        &:hover{
                   background-color:$bgblue;
                   color: black;
                //    border: 1px solid;
                //    /* margin: 0px; */
                //    border-radius: 9px;
                //    margin: 0px;
                  
               }
       }
       .main-subcategory-content{
           margin: 20px;
       .AddSubcategory-matcard{
		background-color: #cfe3fc;
		display: flex;
		flex-direction: column;
        justify-content: center;
        border-radius: 15px;
    }
    .addsubcategory-btn{
	    border-radius: 40px 40px;
		padding: 0 25px;
		background-color: #1172f4;
		color: white;
    }
}
.main-hairsubcategory-content{
    margin: 20px;
.AddhairSubcategory-matcard{
 background-color: #cfe3fc;
 display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 15px;
}
.addhairsubcategory-btn{
 border-radius: 40px 40px;
 padding: 0 25px;
 background-color: #1172f4;
 color: white;
}
}
    .content{
        font-size: 14px;
        padding: 0;
        margin: 1%;
    }

    
       .service-profile-image{
        width: 100%;
        height: 100%;
        border-radius: 100%;
}


.salon-edit-btn{
    background-color: #e9e3e3;
    border-radius: 3px;
    border: none;
}

.salon-cancel-btn{
    background-color:#e9e3e3;
    border-radius: 3px;
    border: none;
}
.salon-icon{
    padding: 5px;
}
.public-button{
    background: none;
    border-radius: 50px 50px;
    /*padding: 0px 24px;*/
    color: green;
    line-height: 1.5;
    //margin: 4px;
    border: 1px solid green;
    font-size: 12px;
    margin: 10px;

}
.icon-img{
    opacity: 40%;
}

.discount-coupon-table{
    .couponcode{
        border: 2px dashed #b2b2b2;
        padding: 5px;
        color: #5499f7;
        text-align: center;
        display: block;
        border-radius: 5px;
    }
}
.addservice-btn{
    //width: 200px;
    //height: 37px;
    border-radius: 26px;
    background-color: #1173f4;
    color: white;
    //right: 50px;
    z-index: 10;
    position: absolute;
    height: 35px;
}
.note-icon{
    color: #1172f4;
    font-size: 30px;
    margin: auto;
}
.example-list {
    width: 100%;
    border: solid 1px #ccc;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .handler{
    cursor: move;
}