<div class="content">

    <div fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center center" class="header-intro">
        <div fxFlex="50" fxFlex.lt-md="80" fxFlex.lt-sm="90">
            <!-- <div *ngIf="loading" class="spinner-border spinner-border-sm"></div> -->
            
            <!-- <h4>Welcome<span *ngIf="userFromApi"> {{userFromApi.firstName}} {{userFromApi.lastName}}</span></h4> -->
            <h4>Welcome</h4>
            <h2>What would you like to do today?</h2>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="0" fxLayoutAlign="center top">

            <mat-card fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="90">
                <mat-card-header>
                    <mat-card-title>Maturity Assessment</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
        
                <mat-card-content>
                    <button mat-raised-button color="primary" routerLink="maturity/assessment/select">Start Assessment</button>
                    <button mat-raised-button color="primary" routerLink="maturity/reporting/practices" *ngIf='isManagerUser()'>Reporting</button>
                    <button mat-raised-button color="primary" routerLink="maturity/performance" *ngIf='isManagerUser()'>Evaluate Performance</button>
                    <button mat-raised-button color="primary" routerLink="maturity/improvement-focus-area" *ngIf='isManagerUser()'>Action Plan</button>
                    <button mat-raised-button color="primary" routerLink="maturity/setup" *ngIf='isManagerUser()'>Create Questions</button>
                </mat-card-content>
            </mat-card>
            
            <mat-card fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="90">
                <mat-card-header>
                    <mat-card-title>Reporting & Action Management</mat-card-title>
                    <!-- <mat-card-subtitle></mat-card-subtitle> -->
                </mat-card-header>
        
                <mat-card-content>
                    <button mat-raised-button color="secondary">Coming soon...</button>
                </mat-card-content>
            </mat-card>

    </div>    

    <p class="text-center">Your role is: <strong>{{currentUser.role}}</strong>.</p>
</div>         
          
           