<div class="loader-main" *ngIf="isLoader">
    <img src="../../../assets/images/step-loader.gif" /></div>
<div class="profile-main col-12">
    <mat-card-title class="title">My Profile</mat-card-title>
    <mat-card class="row mx-0 d-flex">
        <div class="col-6">
    <form [formGroup]="myProfile">
            <div class="card-body row ">
                <div class="col-lg-3 col-sm-12 col-md-3 col-12">
                    <div class="profile-img-wrap" (click)="ImgUpload()">
                        <img mat-card-avatar *ngIf="profiledata.image != '' && profileImage" class="customer-profile-img" src="{{profileImage}}">
                        <img mat-card-avatar *ngIf="profiledata.image != '' && !profileImage" class="customer-profile-img" src="{{profiledata.image}}">
                        <img mat-card-avatar *ngIf="profiledata.image == '' && profileImage" class="customer-profile-img" src="{{profileImage}}">
                        <img mat-card-avatar *ngIf="profiledata.image == '' && !profileImage" class="customer-profile-img" src="/src/assets/images/default.png">
                        <div class="camera-alt"><i class="material-icons"> camera_alt</i></div>
                    </div>
                </div>
                <div class="col-lg-9 col-sm-12 col-md-9 col-12">
                    <div class="form-group row">
                            <div>
                                <mat-form-field class="form-group  bottom-border-field">
                                    <mat-label>First Name</mat-label>
                                    <mat-icon matPrefix><i class="material-icons">person_outline</i></mat-icon>
                                    <input matInput formControlName="user_FirstName" value="" placeholder="Enter First Name">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="myProfile.get('user_FirstName').touched || myProfile.get('user_FirstName').dirty">
									<small *ngIf="myProfile.get('user_FirstName').hasError('required')" class="error">Firstname is required</small>
								 </span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <div>
                                <mat-form-field class="form-group  bottom-border-field">
                                    <mat-label>Last Name</mat-label>
                                    <mat-icon matPrefix><i class="material-icons">person_outline</i></mat-icon>
                                    <input matInput formControlName="user_LastName" value="" placeholder="Enter Last Name">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="myProfile.get('user_LastName').touched || myProfile.get('user_LastName').dirty">
									<small *ngIf="myProfile.get('user_LastName').hasError('required')" class="error">Lastname is required</small>
								 </span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <div>
                                <mat-form-field class="form-group  bottom-border-field">
                                    <mat-label> Email</mat-label>
                                    <mat-icon matPrefix><i class="fa fa-envelope-o"></i></mat-icon>
                                    <input matInput readonly disabled formControlName="user_Email" value="" placeholder="Enter Email">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="myProfile.get('user_Email').touched || myProfile.get('user_Email').dirty">
									<small *ngIf="myProfile.get('user_Email').hasError('required')" class="error">Email address is required</small>
									<small *ngIf="myProfile.get('user_Email').hasError('email') || myProfile.get('user_Email').hasError('emailFormat')" class="error">Email address is not valid</small>
								 </span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <div>
                                <mat-form-field class="form-group  bottom-border-field">
                                    <mat-label>Mobile</mat-label>
                                    <mat-icon matPrefix><i class="fa fa-phone"></i></mat-icon>
                                    <input matInput formControlName="user_Mobile" value="" placeholder="Enter Mobile Number">
                                </mat-form-field>
                                <span class="error-wrap" *ngIf="myProfile.get('user_Mobile').touched || myProfile.get('user_Mobile').dirty">
									<small *ngIf="myProfile.get('user_Mobile').hasError('required')" class="error">Mobile number is required</small>
									<small *ngIf="myProfile.get('user_Mobile').hasError('minLength') || myProfile.get('user_Mobile').hasError('maxLength')" class="error">Mobile number shoud be 10 digit</small>
									<small *ngIf="myProfile.get('user_Mobile').hasError('onlynumeric')" class="error">Mobile number should be Number only</small>
								 </span>
                            </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-lg-12">
                            <button class="d-block btn btn-primary details" (click)="onSubmit($event)">Save</button>
                        </div>
                    </div>

                </div>
            </div>

        
    </form>
</div>
    <div class="change-password-container col-6">
               
        <form [formGroup]="changePwd" class="with-validation">
            <div class="row mx-0 mt-4">
                <div class="col-12 mb-3">
                    <!-- <label for="old-pwd" class="">Old Password</label>
                    <div class="input-with-icon">
                        <input  [type]="hide1 ? 'text' : 'password'" class="form-control" formControlName="oldPassword">
                        <mat-icon class="hide-show-pswd pointer" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </div> -->
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Old Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <span class="error-wrap" *ngIf="changePwd.get('oldPassword').touched || changePwd.get('oldPassword').dirty">
                        <small *ngIf="changePwd.get('oldPassword').hasError('required')" class="error">Old password is required.</small>
                    </span>
                </div>
                <div class="col-12 mb-3">
                    <!-- <label for="new-pwd" class="">New Password</label>
                    <div class="input-with-icon">
                        <input  [type]="hide2 ? 'text' : 'password'" class="form-control" formControlName="newPassword">
                        <mat-icon class="hide-show-pswd pointer" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </div> -->
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="newPassword">
                        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <span class="error-wrap" *ngIf="changePwd.get('newPassword').touched || changePwd.get('newPassword').dirty">
                        <small *ngIf="changePwd.get('newPassword').hasError('required')" class="error">New Password is required.</small>
                        <small *ngIf="changePwd.get('newPassword').hasError('minlength')" class="error">New Password should be minimum 8 character.</small>
                    </span>
                </div>
                <div class="col-12 mb-3">
                    <!-- <label for="new-pwd" class="">Confirm New Password</label>
                    <input type="password" formControlName="ReNewPassword" placeholder="Re-Enter New Password" class="common-input form-control" /> -->
                    <mat-form-field class="form-group  bottom-border-field">
                        <mat-label>Confirm New Password</mat-label>
                        <input type="password"  matInput formControlName="ReNewPassword" value="" placeholder="Re-Enter New Password">
                    </mat-form-field>
                    <span class="error-wrap" *ngIf="changePwd.get('ReNewPassword').dirty || changePwd.get('ReNewPassword').touched">
                        <small *ngIf="changePwd.get('ReNewPassword').hasError('required') || (changePwd.get('ReNewPassword').hasError('required') && changePwd.hasError('notSame'))" class="error text-left">Confirm password is required.</small>
                        <small *ngIf="!changePwd.get('ReNewPassword').hasError('required') && changePwd.hasError('notSame')" class="error text-left">Passwords do not match.</small>
                    </span>
                </div>
                <div class="col-12 mb-3">
                    <div class="d-block">
                        <button mat-flat-button class=" px-3 d-block ml-auto mr-2 bg-primary text-light" (click)="fnChangePassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    
</mat-card>
</div>